include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include ContributorAgreement.txt
include SUPPORT.md
include MANIFEST.in

include src/sasctl/pzmm/template_files/*.json
include src/sasctl/pzmm/template_files/clf_jsons/*.json
include src/sasctl/pzmm/template_files/reg_jsons/*.json