{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T15:46:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2MTY4MDQsImlhdCI6MTY2MzYwMjQwNCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiYTFjOTNhMTgxMTIzNDc1N2I5MTYzZGUxMmFiNGU3MTUiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjAyNDAzNDE5LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiIzOTM2OTFiMyIsInVzZXJfaWQiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdXRoX3RpbWUiOjE2NjM2MDI0MDR9.GOArNO7Vs9mnsBUEOhFxYkBVBc043RTJJumYW9Bt0p0uu9vLQd52Bnok-ltnXR9nVYp4aoBeUojtUztaHmn1J7FwNhQDErYryv3WZ8kdQH8HESdVgXBnu6ssB9K9rlSH1ChdQ7bfboxt9mhJK7pbbez3KZd3HWr3Lm6KZGL2fFVok297tkJQ3n3_Mj4ZE9jMMOQpvBCEifhxGIU6lBIeKO3B1CZkR8VlZElfakDTNJZ3s5dfOCz5nsHa8fP7iIT2RE_0eY_XQbE0uwoXGbtyjZbmFBdzYFZ04SB8-Inc6rxLSL3w15lJEIcd4IPys3tpc_cTajyw5pfav2mV-wyJQQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"a1c93a1811234757b9163de12ab4e715\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T15:46:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-19T15:46:33.822Z\",\"modifiedTimeStamp\":\"2022-09-19T15:46:42.810Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/contents\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/variables\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"name\":\"AStore Model\",\"projectId\":\"d9961d50-c0e6-4944-9c31-4965f23f0c18\",\"projectName\":\"SASCTL AStore Test Project\",\"projectVersionId\":\"10289b5f-269a-4209-9b5c-cb877dd50c7d\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"54a88443-8d88-421f-85d8-83d27da3b203\",\"repositoryId\":\"009240a4-4a95-4fbc-b01a-e1b30fbe3cc6\",\"function\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"2.1\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      }
    },
    {
      "recorded_at": "2022-09-19T15:46:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-19T15:47:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\"}],\"name\":\"items\",\"items\":[{\"name\":\"_B734BA52F070171537CB0C17C_AST\",\"uri\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~ModelStore/tables/_B734BA52F070171537CB0C17C_AST\",\"key\":\"B734BA52F070171537CB0C17C9FF58E202A75581\",\"caslib\":\"ModelStore\",\"location\":\"file:///models/astores/viya/_B734BA52F070171537CB0C17C_AST.astore\",\"host\":\"sas-launcher-639100dd-356c-4e68-9ba8-64689968cab1-ck857\",\"fullPath\":\"/opt/sas/viya/config/data/modelsvr/astore/_B734BA52F070171537CB0C17C_AST.astore\",\"state\":\"pending\",\"version\":1,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore/_B734BA52F070171537CB0C17C_AST\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore/_B734BA52F070171537CB0C17C_AST\"},{\"method\":\"PUT\",\"rel\":\"copy\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore/_B734BA52F070171537CB0C17C_AST\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore/_B734BA52F070171537CB0C17C_AST\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore\"},{\"method\":\"GET\",\"rel\":\"model\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\"}]}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/analyticStore"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}