{
  "http_interactions": [
    {
      "recorded_at": "2019-08-10T01:19:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint gelupdates scim.read esvakmcriskconsumers SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us esvakmcorionconsultforecastconsumers intcawebcertreq ANALYSIS esvakmcorionriskconsumers USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers SIMSEdit midena rdtcaccess uscompresales Safari_list DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion salessupportcredittech DomainEmployees AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers esvakmcorionriskaccess bareosdeploy KSA_mail_list revegyusercommunity EsriUsers uaa.admin clients.admin AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter SalesXchange EMINERS sas92_install ApplicationAdministrators techoffice COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS birdrace KSA_ADGroup ITatSAS HADOOP-L democenterusers RE_PYTHON clients.write scim.write\",\"jti\":\"67bfa7f7d43b4fd6bbdc37568ab6dc27\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-10T01:19:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":19,\"items\":[{\"creationTimeStamp\":\"2019-04-17T19:49:10.757Z\",\"modifiedTimeStamp\":\"2019-06-10T20:14:05.942Z\",\"createdBy\":\"sorowl\",\"modifiedBy\":\"sorowl\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\"}],\"version\":2,\"id\":\"85188865-14b3-4569-93da-dfcb47e2abed\",\"name\":\"sorowl\",\"repositoryId\":\"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"folderId\":\"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/BANK_PRODUCT_OWNERSHIP\",\"targetVariable\":\"IMP_FEED\",\"targetEventValue\":\"1\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-04-03T19:25:49.146Z\",\"modifiedTimeStamp\":\"2019-04-03T19:25:49.671Z\",\"createdBy\":\"yongma\",\"modifiedBy\":\"yongma\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/861043a4-714e-44a2-ab3c-b6cc1f7ab43e\",\"uri\":\"/modelRepository/projects/861043a4-714e-44a2-ab3c-b6cc1f7ab43e\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/861043a4-714e-44a2[...]
    {
      "recorded_at": "2019-08-10T01:19:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/b61840df-0799-4025-a5dd-8815fa9e282d"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2019-08-10T01:19:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-02-20T18:16:09.174Z\",\"modifiedTimeStamp\":\"2019-02-20T18:16:14.788Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"uri\":\"/folders/folders/eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"name\":\"Repository 1\",\"description\":\"This is the default model repository.\",\"folderId\":\"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"defaultRepository\":true}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      }
    },
    {
      "recorded_at": "2019-08-10T01:19:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
[...]
    {
      "recorded_at": "2019-08-10T01:19:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000p\ufffd\tO\ufffd\ufffd\u0019\u0011\ufffd\u0000\u0000\u0000\ufffd\u0000\u0000\u0000\u0013\u0000\u0000\u0000AstoreMetadata.json[\r\n {\r\n  \"name\": \"_FA17424BE7BC4F3083D402676\",\r\n  \"caslib\": \"ModelStore\",\r\n  \"uri\": \"/dataTables/dataSources/cas~fs~cas-shared-default~fs~ModelStore/tables/_FA17424BE7BC4F3083D402676\",\r\n  \"key\": \"E40F757167DF8A290ABF80A5CC5BB9DAE718C10F\"\r\n }\r\n]PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000p\ufffd\tOw\ufffd\ufffd\ufffd\u0014\u0005\u0000\u0000\u0014\u0005\u0000\u0000\u001a\u0000\u0000\u0000dmcas_packagescorecode.saspackage ds2score / overwrite=yes;\r\n    dcl package score _cbd6b24ea9af46c4835aac9c6062f255();\r\n  dcl double \"SepalLength\";\r\n  dcl double \"SepalWidth\";\r\n  dcl double \"PetalLength\";\r\n  dcl double \"PetalWidth\";\r\n  dcl double \"Species\";\r\n  dcl dou[...]
