{
  "http_interactions": [
    {
      "recorded_at": "2019-07-04T19:42:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/\",\"uri\":\"/casManagement/\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"uri\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"}],\"name\":\"servers\",\"accept\":\"application/vnd.sas.cas.server\",\"start\":0,\"count\":1,\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"fsds-viya19w04-primary-controller.fsl.sashq-d.openstack.sas.com\",\"port\":5570,\"restPort\":8777,\"restProtocol\":\"https\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-d[...]
    {
      "recorded_at": "2019-07-04T19:42:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"name\":\"cas-shared-def[...]
    {
      "recorded_at": "2019-07-04T19:42:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs?filter=eq($primary,name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "s[...]
    {
      "recorded_at": "2019-07-04T19:42:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables?filter=eq($primary,name,%20%22COMPLAINTS%22)"
      },
      "response": {
        "body": {
          "encoding": "UT[...]
    {
      "recorded_at": "2019-07-04T19:42:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputUri\": \"/casManagement/servers/cas-shared-default/caslibs/Public/tables/COMPLAINTS\", \"documentIdVariable\": \"__uniqueid__\", \"textVariable\": \"Consumer_complaint_narrative\", \"version\": 1}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.text.categorization.job.request+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/categorization/jobs"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":0,\"message\":\"The request is not valid.\",\"details\":[\"correlator: e1c80043-8bc8-40c0-a156-cddb88d640c7\",\"traceId: 76ae8d9643002bbb\",\"path: /categorization/jobs\"],\"remediation\":\"Correct the errors and retry the request.\",\"errors\":[{\"errorCode\":1020,\"message\":\"\\\"null\\\" is not a valid value for the member \\\"modelUri\\\". Reason: Must not be empty.\",\"links\":[],\"version\":2,\"httpStatusCode\":400}],\"links\":[],\"version\":2,\"httpStatusCode\":400}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 400,
          "message": ""
        },
        "url": "https://hostname.com/categorization/jobs"
      }
    },
    {
      "recorded_at": "2019-09-06T13:47:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"2b53291e23294c0e978c18d324aded93\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
[...]
    {
      "recorded_at": "2019-09-06T14:24:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"3e486b7baa0f47b28ed2625a47ada735\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}