{
  "http_interactions": [
    {
      "recorded_at": "2019-12-13T20:44:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1NzYzMDU4OTUsImlhdCI6MTU3NjI2OTg5NSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI2NTVlODMyODIwZmY0YjRkYjk3ODhjZjgxMTc2MjNlNyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzYyNjk2NTU5MjUsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE1NzYyNjk4OTV9.hyaOJSCATcV9v-tqui-vgw2jK2iFjHxyyCQw1_pMZ2XXUR4Rb5F6-F00_m5aQuiPP2PdKgdntDInXx6XpCSQNfQGdzonZV9O0QKnqVQavLoRN0sOODFn_eAX99k9T9K9CJKUKqw5IfzOlQkEZSzcqWRfpgDwGzqm-FaJW0eGj9_23UzvBni0XREYGexAl_kPctkKoFVRlEDFZ-Ee6tJwvoakW-6PmDqVZRDKhCcbXzhAGj5EIL4a-VE0TDPgxCAo_9nf_E28yJijcIN0w2orNSAYP7_FLkUBPIi0tiFqiyB6moLBuIYp7cg1tfpPNt4yHR-uCabcGuh1YEAAtvuR_A\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"655e832820ff4b4db9788cf8117623e7\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-12-13T20:44:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--6162636465666768696a6b6c6d6e6f70\r\nContent-Disposition: form-data; name=\"sasctl_test_pickle_file\"; filename=\"sasctl_test_pickle_file\"\r\n\r\n\ufffd\u0003X\u0017\u0000\u0000\u0000Some test file content.q\u0000.\r\n--6162636465666768696a6b6c6d6e6f70--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=6162636465666768696a6b6c6d6e6f70"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/files/files#multipartUpload"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-12-13T20:44:56.738Z\",\"modifiedTimeStamp\":\"2019-12-13T20:44:56.738Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"f81433e8-0407-462e-ab9f-2091abce3d8a\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/copy\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"version\":3}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.file+json; version=1;charset=UTF-8"
          ],
          "ETag": [
            "\"k44mecde\""
          ],
          "Last-Modified": [
            "Fri, 13 Dec 2019 20:44:56 GMT"
          ],
          "Location": [
            "/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/files/files#multipartUpload"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}