{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T18:45:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJiZDdlMTM3Zi04MTJlLTQzOTQtOGI2Yi0yY2QxNjA0MjQ0NWEiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2Mjc1MzksImlhdCI6MTY2MzYxMzEzOSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiYjMyZDVlMzM4YTkxNDE4ODk3NzRkZGQwM2I2YzQ3YTQiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjEzMTA5NTQyLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI3ZDQ1MWIwMCIsInVzZXJfaWQiOiJiZDdlMTM3Zi04MTJlLTQzOTQtOGI2Yi0yY2QxNjA0MjQ0NWEiLCJhdXRoX3RpbWUiOjE2NjM2MTMxMzl9.AhQCKL06P0rw2sZ3t_NQxEiaGYYlospgukhoPiaAGJaH9wyyA7hBxJ3rvkNZN9OxndAaj8btFR2NeTW51Tdyl09IpLvKHFqI-h-kOZCMiQExeF-B4BJxwQhnJWCpsh-6SpFVYvFgv33pJ6CYYap8bnfP9N5wVPWkbl4vgjdrPAsZGejDFicQ-7oucs7MX7Hd46uEOHfSTx9AngG7CiUN90YcuJ1jVX1jKDr3XxCENjqUBnkkIt21YmOCo0Eqbc1A7gBOC6HyBMKT2P6vIL6WCyFx5gVdeTKqnwwbfcUzA9A9AE_FqvTTCqcrhgNmsNdjL7TJNhmOliaT4JBG8iGYMg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"b32d5e338a9141889774ddd03b6c47a4\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T18:45:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22maslocal%22%29\",\"uri\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22maslocal%22%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestination\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination\",\"responseType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestinationCAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.cas\",\"responseType\":\"application/vnd.sas.models.publishing.destination.cas+json\"},{\"method\":\"POST\",\"rel\":\"createDestinationMAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.[...]
    {
      "recorded_at": "2022-09-19T18:45:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2022-09-19T12:22:04.221343Z\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\",\"id\":\"05af3d2f-c69d-4685-8af0-4af041bf72d1\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2022-09-19T12:22:04.221343Z\",\"name\":\"maslocal\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1663590124221343000\""
          ],
          "Last-Modified": [
            "Mon, 19 Sep 2022 12:22:04 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/maslocal"
      }
    },
    {
      "recorded_at": "2022-09-19T18:45:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Pipeline%20Sklearn%20Iris%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-19T18:45:04.597Z\",\"modifiedTimeStamp\":\"2022-09-19T18:45:39.426Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214\",\"uri\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214\",\"uri\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214/contents\",\"uri\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214/variables\",\"uri\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"685e2ad4-1045-4161-a21e-e3586f82a214\",\"name\":\"sasctl_testing Pipeline Sklearn Iris Model\",\"description\":\"GradientBoostingClassifier()\",\"projectId\":\"1072a3d4-b769-4d08-b472-701e768709b6\",\"projectName\":\"sasctl_testing Pipeline Classification Project\",\"projectVersionId\":\"28ec5263-24b9-4213-aeed-5773d64f8cbd\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"e53c50fa-a9f2-4d32-95e7-d0d4a8a5644e\",\"indirectFolderId\":\"e53c50fa-a9f2-4d32-95e7-d0d4a8a5644e\",\"repositoryId\":\"810131b4-7113-41e8-96dc-11331678d7a3\",\"function\":\"classification\",\"algorithm\":\"Gradient boosting\",\"tool\":\"Python 3.7\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"publishTimeStamp\":\"2022-09-19T18:45:38.208Z\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"2.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Pipeline%20Sklearn%20Iris%20Model%22)"
      }
    },
    {
      "recorded_at": "2022-09-19T18:45:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-19T18:45:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Pipeline Sklearn Iris Model\", \"notes\": \"GradientBoostingClassifier()\", \"modelContents\": [{\"modelName\": \"sasctl_testingPipelineSklearnIrisModel\", \"sourceUri\": \"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=True&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-09-19T18:45:41.179659664Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-19T18:45:41.179659664Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"9910c6c9-7d61-4138-b424-1d09328af39a\",\"name\":\"sasctl_testingPipelineSklearnIrisModel\",\"publishName\":\"sasctl_testingPipelineSklearnIrisModel\",\"publishType\":\"mas\",\"verified\":false,\"principalId\":\"685e2ad4-1045-4161-a21e-e3586f82a214\",\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/685e2ad4-1045-4161-a21e-e3586f82a214\",\"projectId\":\"1072a3d4-b769-4d08-b472-701e768709b6\",\"projectVersionId\":\"28ec5263-24b9-4213-aeed-5773d64f8cbd\",\"modelId\":\"685e2ad4-1045-4161-a21e-e3586f82a214\",\"modelVersionId\":\"2.0\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a\",\"uri\":\"/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/9910c6c9-7d61-4138-b424-1d0[...]
    {
      "recorded_at": "2022-09-19T18:45:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
    {
      "recorded_at": "2022-09-19T18:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a/log"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-19T18:45:41.198856Z\",\"destinationName\":\"maslocal\",\"id\":\"4ea12e35-727a-4698-bc16-330abbaaca1f\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a\",\"uri\":\"/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a/log\",\"uri\":\"/modelPublish/models/9910c6c9-7d61-4138-b424-1d09328af39a/log\",\"type\":\"application/json\"}],\"log\":\"SUCCESS=== {{2022-09-19 18:45:41.738 +0000 UTC USERNAME 2022-09-19 18:45:57.306 +0000 UTC USERNAME} 6cc80543-c716-4d50-b559-982bccb3ad52 1  sasctl_testingpipelinesklearniri completed [] [Method: GET Rel: up URI: /microanalyticScore/jobs MediaType: application/vnd.sas.collection\\n Method: GET Rel: self URI: /microanalyticScore/jobs/6cc80543-c716-4d50-b559-982bccb3ad52 MediaType: application/vnd.sas.microanalytic.job\\n Method: GET Rel: source URI: /microanalyticScore/jobs/6cc80543-c716-4d50-b5[...]
    {
      "recorded_at": "2022-09-19T18:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testingpipelinesklearniri"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2022-09-19T18:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testingpipelinesklearniri/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"link[...]
    {
      "recorded_at": "2022-09-19T18:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testingpipelinesklearniri/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{[...]
