{
  "http_interactions": [
    {
      "recorded_at": "2019-09-11T12:51:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint gelupdates scim.read esvakmcriskconsumers SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS esvakmcorionriskconsumers USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers esvakmcorionriskaccess bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter SalesXchange EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"cae8e406af19472597298c61e6454aa9\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-11T12:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Test%20Project)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=10000\",\"uri\":\"/modelRepository/projects?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":17,\"items\":[{\"creationTimeStamp\":\"2019-04-17T19:49:10.757Z\",\"modifiedTimeStamp\":\"2019-06-10T20:14:05.942Z\",\"createdBy\":\"sorowl\",\"modifiedBy\":\"sorowl\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\"}],\"version\":2,\"id\":\"85188865-14b3-4569-93da-dfcb47e2abed\",\"name\":\"sorowl\",\"repositoryId\":\"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"folderId\":\"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/BANK_PRODUCT_OWNERSHIP\",\"targetVariable\":\"IMP_FEED\",\"targetEventValue\":\"1\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-04-03T19:25:49.146Z\",\"modifiedTimeStamp\":\"2019-04-03T19:25:49.671Z\",\"createdBy\":\"yongma\",\"modifiedBy\":\"yongma\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/861043a4-714e-44a2-ab3c-b6cc1f7ab43e\",\"uri\":\"/modelRepository/projects/861043a4-714e-44a2-ab3c-b6cc1f7ab43e\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/861043a4-714e-44a2[...]
    {
      "recorded_at": "2019-09-11T12:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=10000\",\"uri\":\"/modelRepository/repositories?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-02-20T18:16:09.174Z\",\"modifiedTimeStamp\":\"2019-02-20T18:16:14.788Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"uri\":\"/folders/folders/eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"name\":\"Repository 1\",\"description\":\"This is the default model repository.\",\"folderId\":\"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-02-28T20:42:12.378Z\",\"modifiedTimeStamp\":\"2019-02-28T20:42:14.704Z\",\"createdBy\":\"vagoba\",\"modifiedBy\":\"vagoba\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/e0b09e48-f1e1-40d9-9517-9aef703ad6b7\",\"uri\":\"/modelRepository/repositories/e0b09e48-f1e1-40d9-9517-9aef703ad6b7\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositorie[...]
    {
      "recorded_at": "2019-09-11T12:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2019-09-11T12:51:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Test Project\", \"repositoryId\": \"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\", \"folderId\": \"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\", \"variables\": [{\"name\": \"SepalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"targetLevel\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-09-11T12:51:04.939Z\",\"modifiedTimeStamp\":\"2019-09-11T12:51:[...]
    {
      "recorded_at": "2019-09-11T12:51:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='multinomial', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Classification\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"multinomial\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"},[...]
    {
      "recorded_at": "2019-09-11T12:51:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--47aae96372ea3016a16e351d4bd8f905\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--47aae96372ea3016a16e351d4bd8f905\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--47aae96372ea3016a16e351d4bd8f905\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
