{
  "http_interactions": [
    {
      "recorded_at": "2019-07-11T21:14:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates esvakmcriskconsumers SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS esvakmcorionriskconsumers USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers esvakmcorionriskaccess bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"0f29e6c80a2a4f34a29d57a2180ab9c9\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-07-11T21:14:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": \"sasctl_test\", \"type\": \"text/vnd.sas.source.ds2\", \"description\": null, \"source\": \"package _46D5D5FFE0B548289141B1D892019BA / overwrite=yes;\\n    dcl package pymas py;\\n    dcl package logger logr('App.tk.MAS');\\n    dcl varchar(67108864) character set utf8 pycode;\\n    dcl int revision;\\n\\n    method score(\\n        double a,\\n        double b,\\n        in_out double out1,\\n        in_out double out2,\\n        in_out integer rc,\\n        in_out char msg\\n        );\\n    \\n        if null(py) then do;\\n            py = _new_ pymas();\\n            rc = py.us[...]
    {
      "recorded_at": "2019-07-11T21:14:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_test\",\"uri\":\"/microanalyticScore/modules/sasctl_test\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"source\",\"href\":\"/microanalyticScore/modules/sasctl_test/source\",\"uri\":\"/microanalyticScore/modules/sasctl_test/source\",\"type\":\"application/vnd.sas.microanalytic.module.source\"},{\"method\":\"GET\",\"rel\":\"steps\",\"href\":\"/microanalyticScore/modules/sasctl_test/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_test/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"submodules\",\"href\":\"/microanalyticScore/modules/sasctl_test/submodules\",\"uri\":\"/microanalyticScore/modules/sasctl_test/submodules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.submodule\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/microanalyticScore/modules/sasctl_test\",\"uri\":\"/microanalyticScore/modules/sasctl_test\",\"type\":\"application/vnd.sas.microanalytic.module\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/microanalyticScore/modules/sasctl_test\",\"uri\":\"/microanalyticScore/modules/sasctl_test\"}],\"version\":2,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2019-07-11T21:14:50.758Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2019-07-11T21:14:50.758Z\",\"id\":\"sasctl_test\",\"name\":\"_46D5D5FFE0B548289141B1D892019BA\",\"revision\":0,\"scope\":\"public\",\"language\":\"ds2\",\"stepIds\":[\"score\"],\"warnings\":[]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jxz67rba\""
          ],
          "Last-Modified": [
            "Thu, 11 Jul 2019 21:14:50 GMT"
          ],
          "Location": [
            "/microanalyticScore/modules/sasctl_test"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_test"
      }
    },
    {
      "recorded_at": "2019-07-11T21:14:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"a\", \"value\": 10}, {\"name\": \"b\", \"value\": 0.5}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"sasctl_test\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"out1\"},{\"name\":\"out2\"},{\"name\":\"rc\",\"value\":-1958743884},{\"name\":\"msg\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_test/steps/score"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}