{
  "http_interactions": [
    {
      "recorded_at": "2020-01-20T19:45:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk1ODU1NDksImlhdCI6MTU3OTU0OTU0OSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJkZTRhNWNmMDc0NTU0MzRhOWZkMDhhYTdjYTIwODdhOSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk1NDk1NDkyMTMsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTU0OTU0OSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.VPLvc-qIvcf9-m-mRZJsE4ydoPsYA-adDi-PgUseiXKWpyoe4mAznYSdMoCCPtUIbO2fQBQbj6ywPc83WDaS8pCyPdv-3K2EuAK0of6iAn3YEiRR-sU0148lcu--fT_ndvb3TW29FB-ocuoJs2Z4_rfqAXLyW9kItU9bYWObzMEqUByAdtyutKr5COBViOY4msFLliDh-NN8kIQymsMRmw0EHzAPn_jOReer9ymmJNFyP-Xk97wSuMoHeCYt2FkIjXOCpV653nftwZVpXYuyP0ey2--ygfdUzswdrBxtrH565Ljx9h6M9ALLZMUqLcj6rlpI6otQjdDZrrznE5DHyA\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"de4a5cf07455434a9fd08aa7ca2087a9\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-20T19:45:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20AStore%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-20T19:45:47.739Z\",\"modifiedTimeStamp\":\"2020-01-20T19:45:47.739Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148\",\"uri\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148\",\"uri\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148/contents\",\"uri\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148/variables\",\"uri\":\"/modelRepository/models/03585f23-9354-452a-a810-696f0754c148/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"03585f23-9354-452a-a810-696f0754c148\",\"name\":\"AStore Model\",\"description\":\"None\",\"projectId\":\"9d425b80-81bf-48a8-9b03-4eb4bc8e0c5a\",\"projectName\":\"SASCTL AStore Test Project\",\"projectVersionId\":\"6d8c9816-df9b-4e5a-991c-7fa270f55ad3\",\"projectVersionName\":\"Version 2\",\"projectVersionNum\":\"2.0\",\"indirectFolderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"function\":\"prediction\",\"algorithm\":\"Gradient boosting\",\"tool\":\"SAS Visual Data Mining and Machine Learning\",\"toolVersion\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"\",\"externalModelId\":\"\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20AStore%20Model)"
      }
    },
    {
      "recorded_at": "2020-01-20T19:45:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/03585f23-9354-452a-a810-696f0754c148"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2020-01-20T19:45:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/03585f23-9354-452a-a810-696f0754c148/contents"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[[...]
