{
  "http_interactions": [
    {
      "recorded_at": "2019-10-03T19:33:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"388abe514c4748979760eadcf828f021\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-10-03T19:33:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=10000\",\"uri\":\"/modelRepository/projects?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)&limit=10000"
      }
    },
    {
      "recorded_at": "2019-10-03T19:33:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=10000\",\"uri\":\"/modelRepository/repositories?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-08-12T16:39:04.478Z\",\"modifiedTimeStamp\":\"2019-08-12T16:39:04.739Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"uri\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/reposit[...]
    {
      "recorded_at": "2019-10-03T19:33:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[[...]
    {
      "recorded_at": "2019-10-03T19:33:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2019-10-03T19:33:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Housing\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"function\": \"Prediction\", \"targetLevel\": \"Interval\", \"predictionVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-10-03T19:33:16.367Z\",\"modifiedTimeStamp\":\"2019-10-03T19[...]
    {
      "recorded_at": "2019-10-03T19:33:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2019-10-03T19:33:16.367Z\", \"modifiedTimeStamp\": \"2019-10-03T19:33:16.802Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2019-10-03T19:33:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}, {\"name\": \"env_atomicwrites\", \"value\": \"1.3.0\"}, {\"name\": \"env_attrs\", \"value\": \"19.1.0\"}, {\"name\": \"env_betamax\", \"value\": \"0.8.1\"}, {\"name\": \"env_betamax-serializers\", \"value\": \"0.2.1\"}, {\"name\": \"env_certifi\", \"value\": \"2019.6.16\"}, {\"name\": \"env_chardet\", \"value\": \"3.0.4\"}, {\"name\": \"env[...]
    {
      "recorded_at": "2019-10-03T19:33:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--0f9c5c71f31c564a1d4e7b8e3a2a03b8\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--0f9c5c71f31c564a1d4e7b8e3a2a03b8\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--0f9c5c71f31c564a1d4e7b8e3a2a03b8\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
    {
      "recorded_at": "2019-10-03T19:33:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Boston%20Regression)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"li[...]
    {
      "recorded_at": "2019-10-03T19:33:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/98140f05-43cb-492f-9b28-f468f6a84afe"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2019-10-03T19:33:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"projectId\": \"9b1be0c7-8976-41e4-a539-4e8d8974b690\", \"name\": \"Boston Regression Performance\", \"modelIds\": [\"98140f05-43cb-492f-9b28-f468f6a84afe\"], \"championMonitored\": false, \"challengerMonitored\": false, \"maxBins\": 10, \"resultLibrary\": \"ModelPerformanceData\", \"includeAllData\": false, \"scoreExecutionRequired\": false, \"performanceResultSaved\": true, \"loadPerformanceResult\": false, \"dataLibrary\": \"Public\", \"description\": \"Performance definition for model Boston Regression\", \"casServerId\": \"cas-shared-default\", \"dataPrefix\": \"boston\", \"traceOn\": false, \"inputVariables\": [\"AGE\", \"B\", \"CHAS\", \"CRIM\", \"DIS\", \"INDUS\", \"LSTAT\", \"NOX\", \"PTRATIO\", \"RAD\", \"RM\", \"TAX\", \"ZN\"], \"outputVariables\": [\"var1\"]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.performance.task+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-10-03T19:33:21.799Z\",\"modifiedTimeStam[...]
    {
      "recorded_at": "2019-10-03T19:33:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\[...]
    {
      "recorded_at": "2019-10-03T19:33:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-05-24T21:38:55.2[...]
[...]
    {
      "recorded_at": "2019-10-03T19:33:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Regression\", \"notes\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"modelContents\": [{\"modelName\": \"BostonRegression\", \"sourceUri\": \"/modelRepository/models/98140f05-43cb-492f-9b28-f468f6a84afe\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-10-03T19:33:23.187Z\",\"modifiedTimeStamp\":\"2019-10-03T19:33:23.250Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"c256a7f2-edcb-425a-a8bf-8b07b6c91e7d\",\"publishName\":\"BostonRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-10-03T19:33:23.187Z\",\"modifiedTimeStamp\":\"2019-10-03T19:33:23.187Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"002109ea-8aeb-4bb8-93c5-5da844be86e4\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"98140f05-43cb-492f-9b28-f468f6a84afe\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/98140f05-43cb-492f-9b28-f468f6a84afe\",\"modelId\":\"98140f05-43cb-492f-9b28-f468f6a84afe\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d\",\"uri\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d\",\"uri\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d/log\",\"uri\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d/log\",\"type\":\"application/json\"}],\"name\":\"BostonRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k1b3ku5u\""
          ],
          "Last-Modified": [
            "Thu, 03 Oct 2019 19:33:23 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2019-10-03T19:33:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2019-10-03T19:33:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-10-03T19:33:23.336Z\",\"modifiedTimeStamp\":\"2019-10-03T19:33:34.453Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d\",\"uri\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d/log\",\"uri\":\"/modelPublish/models/c256a7f2-edcb-425a-a8bf-8b07b6c91e7d/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"e02cbb97-23c3-400c-8c2f-9be6ad401d63\",\"publishName\":\"Boston Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"98140f05-43cb-492f-9b28-f468f6a84afe\",\"modelName\":\"BostonRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/adbe060c-6fd5-4d2c-a533-2f9881cfae05\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/adbe060c-6fd5-4d2c-a533-2f9881cfae05\[...]
    {
      "recorded_at": "2019-10-03T19:33:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel[...]
    {
      "recorded_at": "2019-10-03T19:33:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2019-10-03T19:33:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"crim\", \"value\": 4.22239}, {\"name\": \"zn\", \"value\": 0.0}, {\"name\": \"indus\", \"value\": 18.1}, {\"name\": \"chas\", \"value\": 1.0}, {\"name\": \"nox\", \"value\": 0.77}, {\"name\": \"rm\", \"value\": 5.803}, {\"name\": \"age\", \"value\": 89.0}, {\"name\": \"dis\", \"value\": 1.9047}, {\"name\": \"rad\", \"value\": 24.0}, {\"name\": \"tax\", \"value\": 666.0}, {\"name\": \"ptratio\", \"value\": 20.2}, {\"name\": \"b\", \"value\": 353.04}, {\"name\": \"lstat\", \"value\": 14.64}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"bostonregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\",\"value\":19.685571534176937},{\"name\":\"rc\",\"value\":0},{\"name\":\"msg\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      }
    },
[...]
    {
      "recorded_at": "2019-10-03T19:33:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\[...]
    {
      "recorded_at": "2019-10-03T19:33:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET[...]
[...]
