{
  "http_interactions": [
    {
      "recorded_at": "2019-06-18T14:47:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey GLOBALPRESALES intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"3fdc862de7c64ccab1cafeb6427a0120\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-06-18T14:47:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"next\",\"href\":\"/files/files?sortBy=name&start=10&limit=10\",\"uri\":\"/files/files?sortBy=name&start=10&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":2662,\"items\":[{\"creationTimeStamp\":\"2019-05-03T18:47:47.478Z\",\"modifiedTimeStamp\":\"2019-05-03T18:47:47.586Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"parentUri\":\"/jobExecution/jobs/85a0e69d-c36b-49d5-b656-f37e6ceab0a0\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4/content\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4/content\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4/copy\",\"uri\":\"/files/files/6b4048ab-76d7-4900-92d0-2ee8fc8b7ec4/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"#LN00008\",\"size\":5037,\"version\":2},{\"creationTimeStamp\":\"2019-05-17T13:03:01.823Z\",\"modifiedTimeStamp\":\"2019-05-17T13:03:01.972Z\",\"createdBy\":\"jifwei\",\"modifiedBy\":\"jifwei\",\"id\":\"86219138-3b2e-4666-8cb9-1f93f84d7b40\",\"parentUri\":\"/jobExecution/jobs/b617c0a6-5fcb-4f90-a798-e7be881e839c\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/86219138-3b2e-4666-8cb9-1f93f84d7b40\",\"uri\":\"/files/files/86219138-3b2e-4[...]
