{
  "http_interactions": [
    {
      "recorded_at": "2020-01-15T19:58:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1NzkxNTQyOTcsImlhdCI6MTU3OTExODI5NywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIzZWIyYTc1OWJmNWQ0ZWYzYWQ0YzQzMWE5ODQyYjM3ZCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkxMTgyOTE3MjIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE1NzkxMTgyOTd9.s6QcI4xrvGmk6i8ydiVnXnKSM1TxgA6igpXoqUCDibQ9XjBpB6i02nmW2KUhqn1FhXAoSOAUB0JYyYSEKCC6x9ij3aTq3QO8Jf1KjaqYR5ogiD6JgIUoTpxuv1DKZCTvhl5s74s8Ng9hGzRYtDkGZIryEk-e8KaYLhizZY08MBXUDajPeH2HCIErhLSLW5YeoL_BPJfLEkmBHBXLsmIWyxP14lsLXktXTepvxUncYhT4K_cVcf2wJu_E7UMBunttjPPY2tgSK2jzvit5G3udxBZV6s-LbhFT90BSffju2a7dD_VOUxk1F49OtWaTVbsSwhSikGT7PpC8b2-Irv-29g\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"3eb2a759bf5d4ef3ad4c431a9842b37d\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-15T19:58:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Boston%20Housing)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=10000\",\"uri\":\"/modelRepository/projects?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-15T19:58:13.526Z\",\"modifiedTimeStamp\":\"2020-01-15T19:58:15.081Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/3ec60d72-0cc6-436f-9664-8403d2e6dcb4\",\"uri\":\"/modelRepository/projects/3ec60d72-0cc6-436f-9664-8403d2e6dcb4\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/3ec60d72-0cc6-436f-9664-8403d2e6dcb4\",\"uri\":\"/modelRepository/projects/3ec60d72-0cc6-436f-9664-8403d2e6dcb4\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/3ec60d72-0cc6-436f-9664-8403d2e6dcb4\",\"uri\":\"/modelRepository/projects/3ec60d72-0cc6-436f-9664-8403d2e6dcb4\"}],\"version\":2,\"id\":\"3ec60d72-0cc6-436f-9664-8403d2e6dcb4\",\"name\":\"sasctl_testing Boston Housing\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"function\":\"prediction\",\"candidateChampionHonored\":false,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Boston%20Housing)&limit=10000"
      }
    },
    {
      "recorded_at": "2020-01-15T19:58:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/3ec60d72-0cc6-436f-9664-8403d2e6dcb4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
[...]
    {
      "recorded_at": "2020-01-15T19:58:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=10000\",\"uri\":\"/modelRepository/models?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-15T19:58:14.791Z\",\"modifiedTimeStamp\":\"2020-01-15T19:58:16.832Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7\",\"uri\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7\",\"uri\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7/contents\",\"uri\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7/variables\",\"uri\":\"/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7\",\"name\":\"sasctl_testing Scikit Linear Model\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\",\"projectId\":\"3ec60d72-0cc6-436f-9664-8403d2e6dcb4\",\"projectName\":\"sasctl_testing Boston Housing\",\"projectVersionId\":\"a584b84a-c764-4d8b-b1ee-814eeb50d17d\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"indirectFolderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"function\":\"prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)&limit=10000"
      }
    },
    {
      "recorded_at": "2020-01-15T19:58:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2020-01-15T19:58:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"projectId\": \"3ec60d72-0cc6-436f-9664-8403d2e6dcb4\", \"name\": \"sasctl_testing Scikit Linear Model Performance\", \"modelIds\": [\"cf5d1bc0-ffc4-4648-9aa1-0f7e2ac482d7\"], \"championMonitored\": false, \"challengerMonitored\": false, \"maxBins\": 10, \"resultLibrary\": \"ModelPerformanceData\", \"includeAllData\": false, \"scoreExecutionRequired\": false, \"performanceResultSaved\": true, \"loadPerformanceResult\": false, \"dataLibrary\": \"Public\", \"description\": \"Performance definition for model sasctl_testing Scikit Linear Model\", \"casServerId\": \"cas-shared-default\", \"dataPrefix\": \"boston\", \"traceOn\": false, \"inputVariables\": [\"AGE\", \"B\", \"CHAS\", \"CRIM\", \"DIS\", \"INDUS\", \"LSTAT\", \"NOX\", \"PTRATIO\", \"RAD\", \"RM\", \"TAX\", \"ZN\"], \"outputVariables\": [\"var1\"]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.performance.task+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-15T19:58:18.313Z\",\"modifiedTimeStam[...]
