{
  "http_interactions": [
    {
      "recorded_at": "2021-09-15T21:33:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIyM2I3NDJhOS1jN2IyLTRkNGUtYjBlYy0xZDJhNjdjNjIwOTMiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2MzE3Nzc1ODcsImlhdCI6MTYzMTc0MTU4NywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJKb25hdGhhbi5XYWxrZXJAc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIwZDk3ZGJhMzlkODA0ZGE1ODAwNTFlZDgwNmZhZmQ2YiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2MzE3NDEwODY4MjQsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoiam96d2FsIiwicmV2X3NpZyI6ImUxODA1M2MiLCJhdXRoX3RpbWUiOjE2MzE3NDE1ODYsInVzZXJfaWQiOiIyM2I3NDJhOS1jN2IyLTRkNGUtYjBlYy0xZDJhNjdjNjIwOTMifQ.EZzKmxWtQltEED6ZPlUCYs1Wfk9VxB525cceP_4MwuytgUfoC4MxY3879oc_KQngXhcFeMfj2lmyJPSadYXFILBY0lRfjZJGHyh6dUvWfrQC2vNAkN_UNbcNr7KdEAwEgEai8NG9fbPWmTtSFuQMrhulBhDedMdPXRiZIA5D3DTwu9SCM0FG9hatBOpeEx-KX-QcTHxtiQM56_GM7ds2ut6byczqhOQmdyleriGYHASZ31VcM3Xc796tZHYNO5nl6WV7SQhKRGnlBD0dXP6K9px13IOSnGXidUZQtqrdWV8xfY9lRwPdfvEm1DbM8tw7v2CATuqFI_qCBv55dN6aRQ\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess sviusrs SCR viyapython mismakeordertstval CARYEMPS SAS_Visa_TE esvanemeainstructorconsumers harrisindirectreports rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess orcoevasrv02 COESRV tksem AWSSandboxAccount01 cloudacadusers modelmanager uaa.resource otggenrnd RNDSIMSUsers openid domainemps1 gelupdates OR_RD_COE scim.read sasvspusers esvakmcriskconsumers SASAdministrators OneDriveUsers openstackusers CASDiscussion scr_us acoe_server_group scr_ci es[...]
    {
      "recorded_at": "2021-09-15T21:33:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/compute/contexts"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/compute/contexts\",\"uri\":\"/compute/contexts\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.compute.context.summary\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/compute/contexts?start=0&limit=10\",\"uri\":\"/compute/contexts?start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.compute.context.summary\"},{\"method\":\"POST\",\"rel\":\"createContext\",\"href\":\"/compute/contexts\",\"uri\":\"/compute/contexts\",\"type\":\"application/vnd.sas.compute.context.request\",\"responseType\":\"application/vnd.sas.compute.context.summary\"}],\"name\":\"items\",\"accept\":\"application/vnd.sas.compute.context.summary\",\"start\":0,\"count\":7,\"items\":[{\"createdBy\":\"sas.import9\",\"id\":\"9fbc2c5f-884a-4f01-a941-6ab020d7e7de\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de\",\"uri\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de\",\"type\":\"application/vnd.sas.compute.context\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de\",\"uri\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de\",\"type\":\"application/vnd.sas.compute.context.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de\",\"uri\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de\"},{\"method\":\"POST\",\"rel\":\"createSession\",\"href\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de/sessions\",\"uri\":\"/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de/sessions\",\"type\":\"application/vnd.sas.compute.session.request\",\"responseType\":\"application/vnd.sas.compute.session\"}],\"version\":2,\"name\":\"Import 9 service compute context\"},{\"createdBy\":\"sas.casFormats\",\"id\":\"2cd8325f-f4ca-4c8d-8aed-90dd9ea78d0a\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/compute/contexts/2cd8325f-f4ca-4c8d-8aed-90dd9ea78d0a\",\"uri\":\"/compute/contexts/2cd8325f-f4ca-4c8d-8aed-90dd9ea78d0a\",\"type\":\"application/vnd.sas.compute.context\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/compute/contexts/2cd8325f-f4ca-4c8d-8aed-90dd9ea78d0a\",\"uri\":\"/compute/context[...]
    {
      "recorded_at": "2021-09-15T21:33:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/compute/contexts/9fbc2c5f-884a-4f01-a941-6ab020d7e7de/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"owner\":\"USERNAME\",\"state\":\"pending\",\"attributes\":{\"homeDirectory\":\"/opt/sas/viya/config/var/run/compsrv/default/d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8\",\"sessionInactiveTimeout\":900},\"serverId\":\"d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8\",\"creationTimeStamp\":\"2021-09-15T21:33:08.000Z\",\"applicationName\":\"sas.ec\",\"sessionConditionCode\":0,\"stateElapsedTime\":0,\"id\":\"d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8-ses0000\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/compute/sessions/d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8-ses0000\",\"uri\":\"/compute/sessions/d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8-ses0000\",\"type\":\"application/vnd.sas.compute.session\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/compute/sessions/d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8-ses0000\",\"uri\":\"/compute/sessions/d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8-ses0000\",[...]
    {
      "recorded_at": "2021-09-15T21:33:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\": 3, \"name\": \"sasctl test job\", \"description\": \"Test job execution from sasctl\", \"environment\": {}, \"variables\": null, \"code\": [\"\", \"        ods html style=HTMLBlue;\", \"        proc print data=sashelp.class(OBS=5); \", \"        run; \", \"        quit;\", \"        ods html close;\", \"        \"], \"resources\": [], \"attributes\": {}}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/compute/sessions/d5dbd7dc-d84e-4535-aa1c-94c459e6eeb8-ses0000/jobs"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2021-09-15T21:33:08Z\",\"id\":\"D9[...]
