{
  "http_interactions": [
    {
      "recorded_at": "2019-06-18T15:26:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey GLOBALPRESALES intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"88dc80c309b44499a52db033be61500a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-06-18T15:26:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_file%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-06-18T15:26:21.086Z\",\"modifiedTimeStamp\":\"2019-06-18T15:26:21.086Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/content\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/content\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/copy\",\"uri\":\"/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_file\",\"size\":23,\"version\":2}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_file%22)"
      }
    },
    {
      "recorded_at": "2019-06-18T15:26:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-06[...]
    {
      "recorded_at": "2019-06-18T15:26:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/content"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "Some test file content."
        },
        "headers": {
          "Content-Range": [
            "bytes 0-22/23"
          ],
          "Content-Type": [
            "text/plain; charset=UTF-8"
          ],
          "ETag": [
            "\"jx1ymzz2\""
          ],
          "Last-Modified": [
            "Tue, 18 Jun 2019 15:26:21 GMT"
          ],
          "Location": [
            "/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files/4d3bdb17-2f49-4fbc-9311-1fae74aab13e/content"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}