{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:44:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODgyNTEsImlhdCI6MTY2MzE3Mzg1MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNjZjYmYzMGQ0MTIwNDZkN2EwOTcwNjUzZGE2MWNhODIiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTczODUxMTExLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzM4NTF9.Swo9U7QrEtwM7SVo3wNdnSWE-MQlvn7nQ-lrrg_3XJzwC5mu8k84xOWnqHA2qDZ0HAE5oK0kG0SO4MnT5D3kHm5-zc1lSauJlc-fsOlf9_9IqXWGuru_n5CPo2g6fOs3UtBTlWBiQJYpONgprqZ_AmRlMhsYm_9v7jHniWdY1ldJwsrtMuV8mIap_jGTXF_irMUjQUPc1avX4APMn4qeMkigagabppNCnbLKlozwpDxmpvisxocGC6TCEQzDt9Lm8izgTLedUa7kzhutixi4f6MwUGk9Zf5AQ_qILxfUR-isf8RnzbJPyms7xdpce8s1Fug6-liGxkldVgu_9jqhwQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"66cbf30d412046d7a0970653da61ca82\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/dataSources/providers/cas"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"id\":\"cas\",\"version\":2,\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/dataSources/providers\",\"uri\":\"/dataSources/providers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.data.provider.summary\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/dataSources/providers/cas\",\"uri\":\"/dataSources/providers/cas\",\"type\":\"application/vnd.sas.data.provider\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/dataSources/providers/cas\",\"uri\":\"/dataSources/providers/cas\",\"type\":\"application/vnd.sas.data.provider.summary\"},{\"method\":\"GET\",\"rel\":\"dataSources\",\"href\":\"/dataSources/providers/cas/sources\",\"uri\":\"/dataSources/providers/cas/sources\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.data.source\"}],\"apiVersion\":2,\"usesSessions\":true,\"sourceDefinitionsSupport\":\"none\"}\n"
        },
        "headers": {
          "Content-Location": [
            "/dataSources/providers/cas"
          ],
          "Content-Type": [
            "application/vnd.sas.data.provider+json; charset=utf-8"
          ],
          "Etag": [
            "\"-62135596800\""
          ],
          "Location": [
            "/dataSources/providers/cas"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/dataSources/providers/cas"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/dataSources/providers/cas/sources"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<a href=\"/casManagement/providers/cas/sources?limit=10&amp;sortBy=name%3Aascending&amp;start=0\">Found</a>.\n\n"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "/casManagement/providers/cas/sources?limit=10&sortBy=name%3Aascending&start=0"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://hostname.com/dataSources/providers/cas/sources"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/providers/cas/sources?limit=10&sortBy=name%3Aascending&start=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.data.source application/vnd.sas.data.source.summary\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"sources\",\"items\":[{\"version\":1,\"id\":\"cas-shared-default\",\"name\":\"cas-shared-default\",\"type\":\"casServer\",\"providerId\":\"cas\",\"description\":\"controller\",\"hasTables\":false,\"hasEngines\":false,\"attributes\":{\"host\":\"sas-cas-server-default-client\",\"port\":5570},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/dataSources/providers/cas/sources\",\"uri\":\"/dataSources/providers/cas/sources\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.data.source\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/dataSources/providers/cas/sources/cas-shared-default\",\"uri\":\"/dataSources/providers/cas/sources/cas-shared-default\",\"type\":\"application/vnd.sas.data.source\"},{\"method\":\"GET\",\"rel\":\"alternate\",\[...]
