{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T15:43:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2MTY1OTgsImlhdCI6MTY2MzYwMjE5OCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNWIwMGEyODU2ZWYzNDI5MzhjYjgyZDc5MTcyZDhiZGQiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjAyMTk3OTk1LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiIzOTM2OTFiMyIsInVzZXJfaWQiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdXRoX3RpbWUiOjE2NjM2MDIxOTh9.nClkOdlPLYrLgQAGIPsf_LsWKylo69QeGAFi7Hlu5eIY3-anxnWjmtY7aDUFZv7HF_NQDnFN-S2g78IRz8VdKhUJwM6alxO8hMiTstndMBz_UX-jROUf6shw-2RBm9nenLM39HHr60Matcgm5SF5ZO_yfzsDasZw9Lb-sYgCFGlzDASIJtOzA4er3Flz_V8XrytHm1DJQ6RZpYTQIDedj_yLrMl2W-on5wc9fqpNXhvgy9WFZmvqHTrYGIHjy3iJi8h_uHlRoVMDTYsJWW41lHaviKM4VeT_V2Ypre1Sl4OXmsE2DOAQKedtqQR6CuYKArWYrgYR3ZGky8sdEV-bAg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"5b00a2856ef342938cb82d79172d8bdd\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T15:43:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22sasctl_test_cas%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22sasctl_test_cas%22%29\",\"uri\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22sasctl_test_cas%22%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestination\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination\",\"responseType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestinationCAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.cas\",\"responseType\":\"application/vnd.sas.models.publishing.destination.cas+json\"},{\"method\":\"POST\",\"rel\":\"createDestinationMAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.[...]
    {
      "recorded_at": "2022-09-19T15:43:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/sasctl_test_cas"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"casLibrary\":\"Public\",\"casServerName\":\"cas-shared-default\",\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-19T15:43:18.104664Z\",\"destinationTable\":\"sasctl_test_model_table\",\"destinationType\":\"cas\",\"id\":\"9755efdd-2a04-4e9c-ba8b-98b685cd5d97\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-19T15:43:18.104664Z\",\"name\":\"sasctl_test_cas\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1663602198104664000\""
          ],
          "Last-Modified": [
            "Mon, 19 Sep 2022 15:43:18 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/sasctl_test_cas"
      }
    },
    {
      "recorded_at": "2022-09-19T15:43:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing_pipeline_ASTORE_model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-19T15:43:12.503Z\",\"modifiedTimeStamp\":\"2022-09-19T15:43:14.504Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\",\"uri\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\",\"uri\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee/contents\",\"uri\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee/variables\",\"uri\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\",\"name\":\"sasctl_testing_pipeline_ASTORE_model\",\"projectId\":\"37b88ad5-6fcd-4a8f-9c2a-04886383d1af\",\"projectName\":\"sasctl_testing_pipeline_project\",\"projectVersionId\":\"887b179c-bee6-49cd-98ab-0af968d23eee\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"54a88443-8d88-421f-85d8-83d27da3b203\",\"repositoryId\":\"009240a4-4a95-4fbc-b01a-e1b30fbe3cc6\",\"function\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing_pipeline_ASTORE_model%22)"
      }
    },
    {
      "recorded_at": "2022-09-19T15:43:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-19T15:43:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing_pipeline_ASTORE_model\", \"notes\": null, \"modelContents\": [{\"modelName\": \"sasctl_testing_pipeline_ASTORE_model\", \"sourceUri\": \"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\", \"publishLevel\": \"model\"}], \"destinationName\": \"sasctl_test_cas\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=True"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-09-19T15:43:21.146763551Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-19T15:43:21.146763551Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"1edad967-8212-40df-8910-8a0f0427c8cc\",\"name\":\"sasctl_testing_pipeline_ASTORE_model\",\"publishName\":\"sasctl_testing_pipeline_ASTORE_model\",\"publishType\":\"casModel\",\"verified\":false,\"principalId\":\"cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\",\"destinationName\":\"sasctl_test_cas\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"analyticStore\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\",\"projectId\":\"37b88ad5-6fcd-4a8f-9c2a-04886383d1af\",\"projectVersionId\":\"887b179c-bee6-49cd-98ab-0af968d23eee\",\"modelId\":\"cc06fdc8-28c7-4a5c-8109-9fdcfe143bee\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/1edad967-8212-40df-8910-8a0f0427c8cc\",\"uri\":\"/modelPublish/models/1edad967-8212-40df-8910-8a0f0427c8cc\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/1edad967-8212-40df-8910-8a0[...]
    {
      "recorded_at": "2022-09-19T15:43:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/1edad967-8212-40df-8910-8a0f0427c8cc"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
