{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T14:44:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTM4ODEsImlhdCI6MTY2MzMzOTQ4MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMDVhMDg0OTQ5ZTU3NDA4MmIyMDlmZTI3NWU3YWM1OWEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzM5NDY1OTE4LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzOTQ4MSwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.Te-R8DLY9C1svjM1wLmHbx1OjJOQGBXyxrPNz74jC5jMYTXfSwhUR7eveeHY172neCWrYJTho-LF1TOiFsM1H5DjgSW2h2zqMImzaBoOYP8W1Og4HZ_f25oBeVddC6lWnEiO98rHEgqTe8803hHOrE3JfeMSvqDLlsZVDh6mjfRpDK-kg3jEUmIkpcsHucE-3VmpWtGNwmnGD-WxJjKuxnAAuzieYddaIbTgr_sGxm1qL2n6HtwrpLV5ZRL8I__qjtwgm6yjTzlObO1lbXmnRV1nwqLTsIaUxwfsJLNxQlK_EUr2dZvzJBN0d7h0laMyOdJOcJ-p4iArMPlmFKH5ig\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"05a084949e574082b209fe275e7ac59a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--6162636465666768696a6b6c6d6e6f70\r\nContent-Disposition: form-data; name=\"sasctl_test_file\"; filename=\"sasctl_test_file\"\r\n\r\nSome test file content.\r\n--6162636465666768696a6b6c6d6e6f70--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=6162636465666768696a6b6c6d6e6f70"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/files/files#multipartUpload"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16T14:44:41.662Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:41.662Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/copy\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_file\",\"size\":23,\"searchable\":true,\"fileStatus\":\"unlocked\",\"fileVersion\":0,\"version\":4,\"virusDetected\":false,\"urlDetected\":false,\"quarantine\":false}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.file+json;version=1"
          ],
          "ETag": [
            "\"l84ldq2m\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 14:44:41 GMT"
          ],
          "Location": [
            "/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/files/files#multipartUpload"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}