{
  "http_interactions": [
    {
      "recorded_at": "2022-08-16T18:27:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI4NGE5NjU2ZC02MzRkLTRlYzItYjA4ZS1iNDE5YzZiODE0NTkiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjA2ODg4NDEsImlhdCI6MTY2MDY3NDQ0MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJtbWRldkB1c2VyLmZyb20ubGRhcC5jZiIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI3NDJlOGNhYjFlMGQ0Yzk3YWJjYjYzYWY0Yzk3NmMyMSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2NjA2NzM2ODA5MjAsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoibW1kZXYiLCJyZXZfc2lnIjoiNGE1N2NkZTMiLCJ1c2VyX2lkIjoiODRhOTY1NmQtNjM0ZC00ZWMyLWIwOGUtYjQxOWM2YjgxNDU5IiwiYXV0aF90aW1lIjoxNjYwNjc0NDQxfQ.so5FRXJnFQTR17pZ7UEf9U2zxd0wkuapOQzsLef2pCki3aroVv3sCm_zStWjEhoW6IlUWi4HblqVsGA2q_c4DiCZqUhBNxtefv1nlJf7_DXMAzjzKtEuh_gNnrDtukJjMRniiKWZL_t3OnuUeCZZMcqKzfauIOIoM4w2-WVO16cUuRqc1l541yl2-2M-MQ9d8SlB9KL4M8i4cDq32KDqKMMB3s46yHe0zaJHnreHqx1yzpZhsVK_NerFfAc6-hh7X7j05YuPjOfnMr6yz0qGgdzSPrLH5jkJwbkcYO3GEQ39FHn7MZehtdOz9GIApR0Qt1YOkkfiaK3cpLCMCzhEgA\",\"expires_in\":14399,\"scope\":\"unix_r&d openid\",\"jti\":\"742e8cab1e0d4c97abcb63af4c976c21\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-08-16T18:27:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Pipeline%20Project)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.project+json\",\"count\":2,\"start\":0,\"limit\":20,\"name\":\"projects\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T16:15:18.063821Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T16:15:18.811505Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"name\":\"Iris\",\"function\":\"classification\",\"targetLevel\":\"binary\",\"eventProbabilityVariable\":\"var1\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/eed0927a-f0d2-4902-9b2a-f8ec801c276a\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"challengerModels\":null,\"tags\":null,\"globalTags\":null,\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/projects/\",\"uri\":\"/modelRepository/projects/\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas[...]
    {
      "recorded_at": "2022-08-16T18:27:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"count\":1,\"start\":0,\"limit\":20,\"name\":\"repositories\",\"items\":[{\"creationTimeStamp\":\"2022-08-15T17:26:38.466236Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedTimeStamp\":\"2022-08-15T17:26:38.466237Z\",\"modifiedBy\":\"sas.modelRepository\",\"version\":0,\"id\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"defaultRepository\":true,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"uri\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"uri\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}]}],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"}]}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json; charset=utf-8"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelRepository/repositories"
      }
    },
    {
      "recorded_at": "2022-08-16T18:27:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Pipeline Project\", \"repositoryId\": \"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\", \"folderId\": \"20d9142a-158c-4c91-a500-0eb14668454a\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"predictionVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-08-16T18:27:25.962173Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:27:26.366526Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"e0d15225-2741-44c4-85a8-f3f9689d1132\",\"name\":\"sasctl_testing Pipeline Project\",\"function\":\"prediction\",\"predictionVariable\":\"var1\",\"targetLevel\":\"interval\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/616418f0-33c8-4529-9e31-ae7f239bddc7\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"location\":\"/Model Repositories/Public\",\"variables\":[{\"creationTimeStamp\":\"2022-08-16T18:27:25.971797Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:27:26.330827Z\",\"modifiedBy\":\"USERNAME\",\"name\":\"RM\",\"description\":\"\",\"role\":\"input\",\"type\":\"decimal\",\"level\":\"\",\"format\":\"\",\"aggregation\":\"\",\"length\":0,\"id\":\"0cd11f3f-8380-4bc5-b53f-cb1b36046d8f\",\"holderId\":\"e0d15225-2741-44c4-85a8-f3f9689d1132\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/projects/e0d15225-2741-44c4-85a8-f3f9689d1132/variables/0cd11f3f-8380-4bc5-b53f-cb1b36046d8f\",\"uri\":\"/modelRepository/projects/e0d15225-2741-44c4-85a8-f3f9689d1132/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.variable\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/e0d15225-2741-44c4-85a8-f3f[...]
    {
      "recorded_at": "2022-08-16T18:27:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"GradientBoostingRegressor()\", \"algorithm\": \"Gradient boosting\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.8\", \"properties\": [{\"name\": \"alpha\", \"value\": \"0.9\"}, {\"name\": \"ccp_alpha\", \"value\": \"0.0\"}, {\"name\": \"criterion\", \"value\": \"friedman_mse\"}, {\"name\": \"init\", \"value\": \"None\"}, {\"name\": \"learning_rate\", \"value\": \"0.1\"}, {\"name\": \"loss\", \"value\": \"squared_error\"}, {\"name\": \"max_depth\", \"value\": \"3\"}, {\"name\": \"max_features\", \"value\": \"None\"}, {\"name\": \"max_leaf_nodes\", \"value\": \"None\"}, {\"name\": \"min_impurity_decrease\", \"value\": \"0.0\"}, {\"name\": \"min_samples_leaf\",[...]
    {
      "recorded_at": "2022-08-16T18:27:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--1da375ef15d4d57074f57e2f7d096bac\r\nContent-Disposition: form-data; name=\"files\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-stream\r\n\r\n\ufffd\u0004\ufffd\u0000\u0000\u0001\u0000\u0000\u0000\u0000\u0000\ufffd\u0014sklearn.ensemble._gb\ufffd\ufffd\u0019GradientBoostingRegressor\ufffd\ufffd\ufffd)\ufffd\ufffd}\ufffd(\ufffd\fn_estimators\uf[...]
    {
      "recorded_at": "2022-08-16T18:27:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--1ac24a4e17fc5e52792816e82ffaa427\r\nContent-Disposition: form-data; name=\"files\"; filename=\"requirements.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nsasctl==1.7.2\nwcwidth==0.2.5\ntraitlets==4.3.3\ntornado==6.0.4\nsix==1.15.0\nscipy==1.8.1\npyzmq==19.0.2\nPyYAML==6.0\npytz==2022.1\npython-dateutil==2.8.1\nPygments==2.6.1\nprompt-toolkit==3.0.5\npic[...]
    {
      "recorded_at": "2022-08-16T18:27:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--c7f5011ea21f0cdc68e13cd714684a9d\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_packagescorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _76918741B86E4C1CAF9B76EC75A949B / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl[...]
[...]
