{
  "http_interactions": [
    {
      "recorded_at": "2020-01-10T22:42:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzg3MzIxMzgsImlhdCI6MTU3ODY5NjEzOCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJhYTJhNTNhYTBkNjM0YTMwODUzNDc3ZjcwMzE0OTM4NiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzg2OTYwOTY0MjksImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3ODY5NjEzOCwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.xoHaac8RONGKtZoaRxKIIxMUPELM5TbKG1QB6SPfHCe3Bp3MVNYDdxUXwi9c7ZfaLSmxIxK78h6aG4WKv8aYbHO-ZjvhAlqrHPaUsZAazh1zuGgwAiuE9YDgmf3ivM27a3G-w6vrJ7x9PoNv3JGfO8LOC5YnqsOJ8Q_Bfby2DZnHDsFkCQcD8SYfOoPzZPe03FHUleiQHzmkHoeHpdjgz9o0S2GNMtdB0qJyi8FavIHxqCthfjky1pwxbsa-thqD4FUibQhYCFiRewnE1EggIU9VPX46Q9LaG652d6vonKNxHIyPgDQqQP5bJryLz_6SxhZn-i4ZrxLwmYQN8CCLnQ\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"aa2a53aa0d634a30853477f703149386\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-10T22:42:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-10T22:41:36.337Z\",\"modifiedTimeStamp\":\"2020-01-10T22:41:36.337Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/copy\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"version\":3}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      }
    },
    {
      "recorded_at": "2020-01-10T22:42:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01[...]
    {
      "recorded_at": "2020-01-10T22:42:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\ufffd\u0003X\u0017\u0000\u0000\u0000Some test file content.q\u0000."
        },
        "headers": {
          "Content-Range": [
            "bytes 0-32/33"
          ],
          "Content-Type": [
            "application/octet-stream"
          ],
          "ETag": [
            "\"k58qw7yp\""
          ],
          "Last-Modified": [
            "Fri, 10 Jan 2020 22:41:36 GMT"
          ],
          "Location": [
            "/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}