{
  "http_interactions": [
    {
      "recorded_at": "2020-01-14T19:45:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"9b58db388c3449449fd46f66cf984a72\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-14T19:45:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": \"sasctl_test\", \"type\": \"text/vnd.sas.source.ds2\", \"description\": null, \"source\": \"package _339841ADA39B4806896DAE8D08EF251 / overwrite=yes;\\n    dcl package pymas py;\\n    dcl package logger logr('App.tk.MAS');\\n    dcl varchar(67108864) character set utf8 pycode;\\n    dcl int revision;\\n\\n    method init();\\n    \\n        dcl integer rc;\\n        if null(py) then do;\\n            py = _new_ pymas();\\n            rc = py.useModule('339841ADA39B4806896DAE8D08EF2516', 1);\\n            if rc then do;\\n                rc = py.appendSrcLine('try:');\\n             [...]
    {
      "recorded_at": "2020-01-14T19:45:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_test\",\"uri\":\"/microanalyticScore/modules/sasctl_test\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"source\",\"href\":\"/microanalyticScore/modules/sasctl_test/source\",\"uri\":\"/microanalyticScore/modules/sasctl_test/source\",\"type\":\"application/vnd.sas.microanalytic.module.source\"},{\"method\":\"GET\",\"rel\":\"steps\",\"href\":\"/microanalyticScore/modules/sasctl_test/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_test/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"submodules\",\"href\":\"/microanalyticScore/modules/sasctl_test/submodules\",\"uri\":\"/microanalyticScore/modules/sasctl_test/submodules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.submodule\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/microanalyticScore/modules/sasctl_test\",\"uri\":\"/microanalyticScore/modules/sasctl_test\",\"type\":\"application/vnd.sas.microanalytic.module\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/microanalyticScore/modules/sasctl_test\",\"uri\":\"/microanalyticScore/modules/sasctl_test\"}],\"version\":2,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2020-01-14T19:45:21.374Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2020-01-14T19:45:21.374Z\",\"id\":\"sasctl_test\",\"name\":\"_339841ADA39B4806896DAE8D08EF251\",\"revision\":0,\"scope\":\"public\",\"language\":\"ds2\",\"stepIds\":[\"predict\"],\"warnings\":[]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k5eacyxq\""
          ],
          "Last-Modified": [
            "Tue, 14 Jan 2020 19:45:21 GMT"
          ],
          "Location": [
            "/microanalyticScore/modules/sasctl_test"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_test"
      }
    },
    {
      "recorded_at": "2020-01-14T19:45:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"zn\", \"value\": 18.0}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"age\", \"value\": 65.2}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"lstat\", \"value\": 4.98}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"sasctl_test\",\"stepId\":\"predict\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\",\"value\":30.0038433770168}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_test/steps/predict"
      }
    },
[...]
    {
      "recorded_at": "2020-01-14T19:45:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=UTF-8"
          ]
        },
        "status": {
          "code": 204,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_test"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}