{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:44:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODgyNTcsImlhdCI6MTY2MzE3Mzg1NywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiYzhjZWVhZGM4NTE1NDIxYjkyNGQ5MzcyODcxZGI5ZTMiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTczODUyMTg4LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzM4NTd9.YswqiJQ41ZMVgSaIk6oqsJe7U4dcwhGmLds4E8NggtuWY8wnfrOIQNDwQGbE2YGJPC13C66DW0tGa2xjn7dSJht9USG3Hlubhk7Z1j_64u0eAE-5pCtjOq85S4EgTOC2xlJfou73KkFpwy5wVR_r5Q7MCzwplluIy0wjQ7Q1CgmwqRLsVmSnAeTyXYvp26QdS1BU_HtumSVx7oXorf_-yCBURSca-8UCggj7P4O5KOpzu_d9WhiPMzlMNBosqfV-kwW9TJ5D0tSP6OsUYvN9FY3Tkq6lHx3TrX5GJ__1GbavWH0N3axC8CKbBUGC7-yFul-d9CRuqe6WYm1qWLJVSA\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"c8ceeadc8515421b924d9372871db9e3\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/dataSources/providers/cas"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"id\":\"cas\",\"version\":2,\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/dataSources/providers\",\"uri\":\"/dataSources/providers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.data.provider.summary\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/dataSources/providers/cas\",\"uri\":\"/dataSources/providers/cas\",\"type\":\"application/vnd.sas.data.provider\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/dataSources/providers/cas\",\"uri\":\"/dataSources/providers/cas\",\"type\":\"application/vnd.sas.data.provider.summary\"},{\"method\":\"GET\",\"rel\":\"dataSources\",\"href\":\"/dataSources/providers/cas/sources\",\"uri\":\"/dataSources/providers/cas/sources\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.data.source\"}],\"apiVersion\":2,\"usesSessions\":true,\"sourceDefinitionsSupport\":\"none\"}\n"
        },
        "headers": {
          "Content-Location": [
            "/dataSources/providers/cas"
          ],
          "Content-Type": [
            "application/vnd.sas.data.provider+json; charset=utf-8"
          ],
          "Etag": [
            "\"-62135596800\""
          ],
          "Location": [
            "/dataSources/providers/cas"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/dataSources/providers/cas"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/dataSources/providers/cas/sources"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<a href=\"/casManagement/providers/cas/sources?limit=10&amp;sortBy=name%3Aascending&amp;start=0\">Found</a>.\n\n"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "/casManagement/providers/cas/sources?limit=10&sortBy=name%3Aascending&start=0"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://hostname.com/dataSources/providers/cas/sources"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/providers/cas/sources?limit=10&sortBy=name%3Aascending&start=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.data.source application/vnd.sas.data.source.summary\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"sources\",\"items\":[{\"version\":1,\"id\":\"cas-shared-default\",\"name\":\"cas-shared-default\",\"type\":\"casServer\",\"providerId\":\"cas\",\"description\":\"controller\",\"hasTables\":false,\"hasEngines\":false,\"attributes\":{\"host\":\"sas-cas-server-default-client\",\"port\":5570},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/dataSources/providers/cas/sources\",\"uri\":\"/dataSources/providers/cas/sources\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.data.source\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/dataSources/providers/cas/sources/cas-shared-default\",\"uri\":\"/dataSources/providers/cas/sources/cas-shared-default\",\"type\":\"application/vnd.sas.data.source\"},{\"method\":\"GET\",\"rel\":\"alternate\",\[...]
    {
      "recorded_at": "2022-09-14T16:44:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/dataSources/providers/cas/sources/cas-shared-default/children?filter=eq(name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<a href=\"/casManagement/providers/cas/sources/cas-shared-default/children?filter=eq%28name%2C+%22Public%22%29&amp;limit=10&amp;sortBy=name%3Aascending&amp;start=0\">Found</a>.\n\n"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "/casManagement/providers/cas/sources/cas-shared-default/children?filter=eq%28name%2C+%22Public%22%29&limit=10&sortBy=name%3Aascending&start=0"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://hostname.com/dataSources/providers/cas/sources/cas-shared-default/children?filter=eq(name,%20%22Public%22)"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/providers/cas/sources/cas-shared-default/children?filter=eq%28name%2C+%22Public%22%29&limit=10&sortBy=name%3Aascending&start=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.data.source\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"sources\",\"items\":[{\"version\":1,\"id\":\"Public\",\"name\":\"Public\",\"type\":\"caslib\",\"providerId\":\"cas\",\"description\":\"Shared and writeable caslib, accessible to all users.\",\"hasTables\":true,\"hasEngines\":false,\"attributes\":{\"active\":false,\"caslibType\":\"PATH\",\"path\":\"/cas/data/caslibs/public/\",\"personal\":false,\"scope\":\"global\",\"subDirs\":false,\"transient\":false},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/dataSources/providers/cas/sources/cas-shared-default/children\",\"uri\":\"/dataSources/providers/cas/sources/cas-shared-default/children\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.data.source\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/dataSources/providers/cas/sources/cas-shared-default~fs~Public\",\"uri\":\"/dataSources/providers/cas/sources/cas-shared-default~fs~Public\",\"type\":\"a[...]
