{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T15:46:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2MTY3OTksImlhdCI6MTY2MzYwMjM5OSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNmIxMDUzZWM1YmI5NDZjYzg2YzM2ZDhjYzNiYTMyMTAiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjAyMzk5MDEzLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiIzOTM2OTFiMyIsInVzZXJfaWQiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdXRoX3RpbWUiOjE2NjM2MDIzOTl9.G3wVb4C-itWVtJuRoVXablYQY-RQO6nCbqzAfL7YX_3d5drOASGRSXy57wqWjFlZtlAAHdtfU_0nh8ZhrWDoB6GoI5zeB6iBW3FT6wpblt06vVeGWn1j5Ruha8huLMZ4ieZp2VoUyd9C9L7siDwJLJRJqzY4phbZsVTlorFY6cMc8vGPf5zgVzDJON4dyjrxp0tu7jq1wxjELjdSekhSgjWJyZyo7IErUcOAEQUfL8tE_Zn9jBHK8gsCO53naZV1O8EMv578qnSNbzvPDbLcnA_49FFH_cCDr-sOKl4JDz0DhHXfYeRicbtlO9sUla1eor6yNPF1CS1tbLkHC3Wgcw\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"6b1053ec5bb946cc86c36d8cc3ba3210\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T15:46:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-19T15:46:33.822Z\",\"modifiedTimeStamp\":\"2022-09-19T15:46:35.942Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/contents\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/variables\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"name\":\"AStore Model\",\"projectId\":\"d9961d50-c0e6-4944-9c31-4965f23f0c18\",\"projectName\":\"SASCTL AStore Test Project\",\"projectVersionId\":\"10289b5f-269a-4209-9b5c-cb877dd50c7d\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"54a88443-8d88-421f-85d8-83d27da3b203\",\"repositoryId\":\"009240a4-4a95-4fbc-b01a-e1b30fbe3cc6\",\"function\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      }
    },
    {
      "recorded_at": "2022-09-19T15:46:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-19T15:46:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"option\": \"major\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/modelVersions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-19T15:46:40.341Z\",\"modifiedTim[...]
[...]
