{
  "http_interactions": [
    {
      "recorded_at": "2019-08-15T00:25:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"ed378812feb04e8292605441d075e50d\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-15T00:25:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Test%20Project)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-08-15T00:17:27.048Z\",\"modifiedTimeStamp\":\"2019-08-15T00:17:30.047Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/2c9b145a-0828-42cc-b62e-a059657a90d1\",\"uri\":\"/modelRepository/projects/2c9b145a-0828-42cc-b62e-a059657a90d1\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/2c9b145a-0828-42cc-b62e-a059657a90d1\",\"uri\":\"/modelRepository/projects/2c9b145a-0828-42cc-b62e-a059657a90d1\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/2c9b145a-0828-42cc-b62e-a059657a90d1\",\"uri\":\"/modelRepository/projects/2c9b145a-0828-42cc-b62e-a059657a90d1\"}],\"version\":2,\"id\":\"2c9b145a-0828-42cc-b62e-a059657a90d1\",\"name\":\"Boston Housing\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"function\":\"prediction\",\"candidateChampionHonored\":false,\"targetVariable\":\"Price\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-15T00:19:17.740Z\",\"modifiedTimeStamp\":\"2019-08-15T00:19:18.570Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/cc10f2d7-50db-4ad3-a32b-69f46965730e\",\"uri\":\"/modelRepository/projects/cc10f2d7-50db-4ad3-a32b-69f46965730e\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/cc10f2d7-50db-[...]
    {
      "recorded_at": "2019-08-15T00:25:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/03b3c16e-cada-4197-9a25-1175729d807a"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2019-08-15T00:25:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      }
    },
    {
      "recorded_at": "2019-08-15T00:25:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2019-08-15T00:25:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
[...]
    {
      "recorded_at": "2019-08-15T00:25:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='multinomial', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Classification\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"multinomial\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"}, {\"name\": \"solver\", \"value\": \"lbfgs\"}, {\"name\": \"tol\", \"value\": \"0.0001\"}, {\"name\": \"verbose\", \"value\": \"0\"}, {\"name\": \"warm_start\", \"value\": \"False\"}], \"name\": \"Scikit Model\", \"inputVariables\": [{\"name\": \"SepalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}], \"outputVariables\": [{\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"projectId\": \"03b3c16e-cada-4197-9a25-1175729d807a\", \"modeler\": \"USERNAME\", \"champion\": null, \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"version\": \"2\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creat[...]
    {
      "recorded_at": "2019-08-15T00:25:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--36c6fb739699ddd2884302ade630368e\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--36c6fb739699ddd2884302ade630368e\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--36c6fb739699ddd2884302ade630368e\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
