{
  "http_interactions": [
    {
      "recorded_at": "2019-07-03T23:05:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"bc4280f0af334762b6328f1838094648\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-07-03T23:05:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/\",\"uri\":\"/casManagement/\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"uri\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"}],\"name\":\"servers\",\"accept\":\"application/vnd.sas.cas.server\",\"start\":0,\"count\":1,\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"fsds-viya19w04-primary-controller.fsl.sashq-d.openstack.sas.com\",\"port\":5570,\"restPort\":8777,\"restProtocol\":\"https\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-d[...]
    {
      "recorded_at": "2019-07-03T23:05:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"name\":\"cas-shared-def[...]
    {
      "recorded_at": "2019-07-03T23:05:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs?filter=eq($primary,name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "s[...]
    {
      "recorded_at": "2019-07-03T23:05:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables?filter=eq($primary,name,%20%22COMPLAINTS%22)"
      },
      "response": {
        "body": {
          "encoding": "UT[...]
    {
      "recorded_at": "2019-07-03T23:05:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputUri\": \"/casManagement/servers/cas-shared-default/caslibs/Public/tables/COMPLAINTS\", \"documentIdVariable\": \"__uniqueid__\", \"textVariable\": \"Consumer_complaint_narrative\", \"version\": 1, \"language\": \"en\", \"includeStandardEntities\": false, \"includeNounGroups\": false, \"minimumDocumentCount\": 10, \"enableSpellChecking\": false}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.text.parsing.job.request+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/parsing/jobs"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"language\":\"en\",\"includeStandardEntities\":false,\"includeNounGroups\":false,\"minimumDocumentCount\":10,\"enableSpellChecking\":false,\"inputUri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/COMPLAINTS\",\"documentIdVariable\":\"__uniqueid__\",\"textVariable\":\"Consumer_complaint_narrative\",\"id\":\"0914b462-c640-4cdd-9491-9a3731f2299d\",\"state\":\"pending\",\"creationTimeStamp\":\"2019-07-03T23:05:59.226Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d\",\"uri\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d\",\"type\":\"application/vnd.sas.text.parsing.job\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d\",\"uri\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state\",\"uri\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state\",\"type\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"log\",\"href\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/log\",\"uri\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/log\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"cancel\",\"href\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state?value=canceled\",\"uri\":\"/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state?value=canceled\",\"responseType\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"caslib\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.text.parsing.job+json;charset=UTF-8"
          ],
          "Location": [
            "https://hostname.com/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/parsing/jobs"
      }
    },
    {
      "recorded_at": "2019-07-03T23:05:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "running"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state"
      }
    },
[...]
    {
      "recorded_at": "2019-07-03T23:06:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "completed"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/parsing/jobs/0914b462-c640-4cdd-9491-9a3731f2299d/state"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}