{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:27:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTg4NTEsImlhdCI6MTU3OTM4Mjg1MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI0MjZlNWU4MGM5YmM0N2E2YTgzNDMxMDI5ZTcwMjA5NSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODI4NTE0NTgsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4Mjg1MSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.uS6fEhMp29VZM32gSwTQcFBcJ0UBAJ4qPngSGhcpBNCDYidwfl7SjhqzediY_LnvJQLR6so52rcDCb-7qMEE2qrTuAk9ZAsn4u3zENPvSNUmD9wF95sRD8tUQSWltFU4oRHDlPy31rnl8vQWjKbuFYbBH9Qvw9CjlNhnnBDWG6jk-8Nqr5rKhjUpUzz1kGV10j067cDqVeXLZ9XHx88gxv_-SZ3selAWJpxvglwDCdZxjOYxIXbdbIPaHPsybpKFmwPT2mRE7oecxjGWpadu_ZmaGFdewZrPs_kCTVF38EwbEYe7_kO-2xsaVJ6YRUhWcDpZ-XOIP_fJ_FfWIR63Vw\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"426e5e80c9bc47a6a83431029e702095\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-18T21:27:31.288Z\",\"modifiedTimeStamp\":\"2020-01-18T21:27:31.288Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/copy\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"version\":3}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01[...]
    {
      "recorded_at": "2020-01-18T21:27:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\ufffd\u0003X\u0017\u0000\u0000\u0000Some test file content.q\u0000."
        },
        "headers": {
          "Content-Range": [
            "bytes 0-32/33"
          ],
          "Content-Type": [
            "application/octet-stream"
          ],
          "ETag": [
            "\"k5k3rrh4\""
          ],
          "Last-Modified": [
            "Sat, 18 Jan 2020 21:27:31 GMT"
          ],
          "Location": [
            "/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}