{
  "http_interactions": [
    {
      "recorded_at": "2020-01-20T19:46:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk1ODU1NjQsImlhdCI6MTU3OTU0OTU2NCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJmYzc3YWExMDk3MzY0ODdmOWQwOTJhZTUzNDY3YjhmMiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk1NDk1NjI0NzMsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTU0OTU2NCwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.hwIq8xqYMbIT4AA93_Ge3osy_lddnXZjEfbodZ3EAHktxou734ez2OjKY2YYGFbuGuim9QEeI7vmMEgXs6Gcnj8wsKLRM9mPSkbeE72D90I6nMvF9NrFIRVWirZPOI5rdI5TDffoiZYQDPRpd0X3fn-BHjZu3eZIi1PBcSWXdjxz0ocVqEj9y7PzFwNdMqe-yACYMMg6kBtCVnINf1nxEZdY-2unOdmn6dhQs17ptg1U4gMeMfHhZm44qzMpoCb-elPzudSIHVckBcYeeDzW0R8HPIkRU-i8o9VOWNBnSLlP0tOveMwnFQzL_QK6uO-KY73R5tYNmBBJ8wW-3hRQ_g\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"fc77aa109736487f9d092ae53467b8f2\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-20T19:46:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":9,\"items\":[{\"creationTimeStamp\":\"2020-01-20T19:45:59.867Z\",\"modifiedTimeStamp\":\"2020-01-20T19:46:01.976Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca\",\"uri\":\"/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca\",\"uri\":\"/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca\",\"uri\":\"/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca\"}],\"version\":2,\"id\":\"44e01fba-a50c-4226-92c9-2d1d212f53ca\",\"name\":\"SASCTL Basic Test Project\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"candidateChampionHonored\":false,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-12-03T19:12:30.686Z\",\"modifiedTimeStamp\":\"2019-12-04T22:03:06.464Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"uri\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"uri\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"uri\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\"}],\"version\":2,\"id\":\"65548ca1-13d7-4f40-88d6-31bea984761b\",\"name\":\"Fleet Management Report\",\"description\":\"predict trucks with Maintenance_Flag=1\\n\",\"repositoryId\":\"09948ca7-c4da-4b8a-8032-896929a33bb1\",\"folderId\":\"3d55d356-6b50-4d6a-8c71-49bfa4932286\",\"function\":\"classification\",\"externalProjectId\":\"7de5848c-bb54-4280-a305-7501c8cb5dd2\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/FLEET_TEST\",\"targetVariable\":\"Maintenance_Flag\",\"targetEventValue\":\"1\",\"classTargetValues\":\"1,0\",\"eventProbabilityVariable\":\"EM_EVENTPROBABILITY\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"retrainUri\":\"/dataMining/projects/7de5848c-bb54-4280-a305-7501c8cb5dd2/retrainJobs?action=batch&dataUri={dataUri}\",\"retrainStatusUri\":\"/dataMining/projects/7de5848c-bb54-4280-a305-7501c8cb5dd2/retrainJobs?retrainingState={retrainingState}\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-12-04T16:29:40.663Z\",\"modifiedTimeStamp\":\"2019-12-04T23:12:31.730Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/c4e24bf6-3eea-4e37-a610-2093a7cdc3e9\",\"uri\":\"/modelRepository/projects/c4e24bf6-3eea-4e37-a610-2093a7cdc3e9\",\"ty[...]
    {
      "recorded_at": "2020-01-20T19:46:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20SASCTL%20Basic%20Test%20Project)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"[...]
    {
      "recorded_at": "2020-01-20T19:46:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
[...]
    {
      "recorded_at": "2020-01-20T19:46:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20SASCTL%20Basic%20Test%20Project)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20SASCTL%20Basic%20Test%20Project)"
      }
    },
[...]
