{
  "http_interactions": [
    {
      "recorded_at": "2020-02-24T02:43:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"5bb6e742e94a4f2fb87382b8b7812f05\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-02-24T02:43:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20AStore%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-02-24T02:43:03.677Z\",\"modifiedTimeStamp\":\"2020-02-24T02:43:12.874Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/contents\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/variables\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"5c956ddc-48ec-41fe-820c-9eb6eab03204\",\"name\":\"AStore Model\",\"description\":\"None\",\"projectId\":\"c4a52406-96c9-4299-be28-c243c5658bf8\",\"projectName\":\"SASCTL AStore Test Project\",\"projectVersionId\":\"c2c8cc88-79e3-4727-9689-daf2f98c32c0\",\"projectVersionName\":\"Version 2\",\"projectVersionNum\":\"2.0\",\"indirectFolderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"function\":\"classification\",\"algorithm\":\"Gradient boosting\",\"tool\":\"SAS Visual Data Mining and Machine Learning\",\"toolVersion\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"\",\"externalModelId\":\"\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"2.1\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20AStore%20Model)"
      }
    },
    {
      "recorded_at": "2020-02-24T02:43:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2020-02-24T02:43:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\"}],\"name\":\"items\",\"items\":[{\"name\":\"_88E7DD0A812E4C8E848FFC54C\",\"uri\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~ModelStore/tables/_88E7DD0A812E4C8E848FFC54C\",\"key\":\"5CF22B1D62F3B530F318D7968A943913A670254A\",\"caslib\":\"ModelStore\",\"location\":\"file:///models/astores/viya/_88E7DD0A812E4C8E848FFC54C.astore\",\"host\":\"sasserver.demo.sas.com\",\"fullPath\":\"/opt/sas/viya/config/data/modelsvr/astore/_88E7DD0A812E4C8E848FFC54C.astore\",\"state\":\"pending\",\"version\":1,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore/_88E7DD0A812E4C8E848FFC54C\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore/_88E7DD0A812E4C8E848FFC54C\"},{\"method\":\"PUT\",\"rel\":\"copy\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore/_88E7DD0A812E4C8E848FFC54C\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore/_88E7DD0A812E4C8E848FFC54C\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore\"},{\"method\":\"GET\",\"rel\":\"model\",\"href\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\",\"uri\":\"/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\"}]}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204/analyticStore"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}