{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T19:55:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxOTk3MjMsImlhdCI6MTY2MzE4NTMyMywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiM2Q1Njc2NWVjMDAzNDJjNTlhZmU2YjMwZDI1YTM3ZDYiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTg0NzU3NjY4LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxODUzMjN9.AVZcVaJvjhhfjrVqeO_b5LwlaHcF-mFTr0pbM087ugjPfWQDLRmbbH-1WpJPwbIMdpXM-4XMbqqwwBubrVT25zN1Ttr2YiAHkXeoGA99oeVEm2ximYdA5l-PNtmOKUESOYnGMSeV03YibufwvINNbj_TjUAn1M4GeJ4g-rl1PZFJyGyBVgtYfaaeda9yANCeTEchRtXDdnwe2l_RBB0E13Y7jUhGzkpvN-2I0TDIBAxA0_ZcAa5DRaBr8YN-eJnUr25KVdnMEeQ-RuqG6Nijjue8zDrS73EzX-ypST7OmDXK98sEYCRcqHoWMTEQyGdPRB7xhkpawL6RI6tIeqHqfg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"3d56765ec00342c59afe6b30d25a37d6\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T19:55:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--9e0493e295249b1417d6aa136e5509df\r\nContent-Disposition: form-data; name=\"tableName\"\r\n\r\nTEST_TABLE\r\n--9e0493e295249b1417d6aa136e5509df\r\nContent-Disposition: form-data; name=\"containsHeaderRow\"\r\n\r\nTrue\r\n--9e0493e295249b1417d6aa136e5509df\r\nContent-Disposition: form-data; name=\"format\"\r\n\r\ncsv\r\n--9e0493e295249b1417d6aa136e5509df\r\nContent-Disposition: form-data; name=\"delimiter\"\r\n\r\n;\r\n--9e0493e295249b1417d6aa136e5509df\r\nContent-Disposition: form-data; name=\"file\"; filename=\"TEST_TABLE\"\r\n\r\nA;B\n\nentry1;entry2\n\nentry3;entry4\r\n--9e0493e295249b1417d6aa136e5509df--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=9e0493e295249b1417d6aa136e5509df"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibName\":\"Public\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-14T19:55:25.153Z\",\"createdBy\":\"USERNAME\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-14T19:55:25.228Z\",\"lastModified\":\"2022-09-14T19:55:25.234Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"type\":\"application/vnd.sas.cas.table\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\"},{\"method\":\"PUT\",\"rel\":\"updateState\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state\",\"responseType\":\"application/json,text/plain\"},{\"method\":\"GET\",\"rel\":\"columns\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/columns\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/columns\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.column\"},{\"method\":\"GET\",\"rel\":\"dataTable\",\"href\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~Public/tables/TEST_TABLE\",\"uri\":\"[...]
    {
      "recorded_at": "2022-09-14T19:55:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"attributes\":{\"encryption\":\"NONE\",\"group\":\"sas\",\"owner\":\"sas\",\"permission\":\"-rwxr-xr-x\",\"size\":12,\"time\":\"2022-09-14T19:55:27+00:00\"},\"caslibName\":\"Public\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-14T19:55:25.153Z\",\"createdBy\":\"USERNAME\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-14T19:55:26.697Z\",\"lastModified\":\"2022-09-14T19:55:25.234Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tabl[...]
    {
      "recorded_at": "2022-09-14T19:55:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state?value=unloaded"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "unloaded"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state?value=unloaded"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}