{
  "http_interactions": [
    {
      "recorded_at": "2019-09-24T12:56:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{ \"session\": \"817e283f-fe17-6c47-ac67-bc6f3bf7421d\" }\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.session.id+json"
          ],
          "Location": [
            "http://hostname.com/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions"
      }
    },
    {
      "recorded_at": "2019-09-24T12:56:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"builtins.help\": false\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000337,\n    \"cpuUserTime\": 0,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 135332311040,\n    \"systemNodes\": 1,\n    \"systemCores\": 10,\n    \"memory\": 222208,\n    \"osMemory\": 8179712,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 8179712,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2019-09-24T12:56:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.queryname"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"action\": \"help\",\n        \"actionSet\": \"builtins\"\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.00042,\n    \"cpuUserTime\": 0.001,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 135332311040,\n    \"systemNodes\": 1,\n    \"systemCores\": 10,\n    \"memory\": 224800,\n    \"osMemory\": 8179712,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 8179712,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.queryname"
      }
    },
    {
      "recorded_at": "2019-09-24T12:57:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\", \"showhidden\": true, \"actionset\": \"builtins\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"desc\": \"Adds a machine to the server\",\n                          \"label\": \"Add node\",\n                          \"name\": \"addNode\",\n                          \"params\":   [\n                                  {\n                                      \"allowedValues\":   [\n                                            \"controller\",\n                                            \"worker\"\n                                          ],\n                                      \"desc\": \"specifies the role for the machine. Controllers are added as backup controllers. Only two controllers are supported.\",\n                                      \"label\": \"Role\",\n                                      \"name\": \"role\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"default\": [ ],\n                                      \"desc\": \"specifies the host names of the machines to add to the server.\",\n                                      \"hasInclMin\": true,\n                                      \"label\": \"Node\",\n                                      \"name\": \"node\",\n                                      \"parmType\": \"value_list\",\n                                      \"type\": 11,\n                                      \"valueMin\": 1\n                                    }\n                              ]\n                        },\n                      {\n                          \"desc\": \"Remove one or more machines from the server\",\n                          \"label\": \"Remove node\",\n                          \"name\": \"removeNode\",\n                          \"params\":   [\n                                  {\n                                      \"default\": [ ],\n                                      \"[...]
    {
      "recorded_at": "2019-09-24T12:57:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"showhidden\": true, \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.help"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"accessControl\": \n          {\n            \"_ctb\": true,\n            \"label\": \"\",\n            \"title\": \"\",\n            \"name\": \"accessControl\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Name\",\"format\": \"\",\"type\": \"string\",\"width\": 64,\"attributes\": \n              {}\n               },\n              { \"name\": \"description\",\"label\": \"Description\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"help\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1884934620.9503 }\n            },\n            \"rows\": [\n              [ \"accessPersonalCaslibs\", \"Provides administrative access to all personal caslibs (CASUSER and CASUSERHDFS)\" ],\n              [ \"assumeRole\", \"Assumes a role\" ],\n              [ \"dropRole\", \"Relinquishes a role\" ],\n              [ \"showRolesIn\", \"Shows the currently active role\" ],\n              [ \"showRolesAllowed\", \"Shows the roles that a user is a member of\" ],\n              [ \"isInRole\", \"Shows whether a role is assumed\" ],\n              [ \"i[...]
    {
      "recorded_at": "2019-09-24T12:57:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"py-session-1\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/se[...]
    {
      "recorded_at": "2019-09-24T12:57:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.serverstatus"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"About\":   {\n              \"CAS\": \"Cloud Analytic Services\",\n              \"Copyright\": \"Copyright \u00a9 2014-2018 SAS Institute Inc. All Rights Reserved.\",\n              \"ServerTime\": \"2019-09-24T12:57:02Z\",\n              \"System\":   {\n                    \"Hostname\": \"sasserver\",\n                    \"Linux Distribution\": \"CentOS release 6.9 (Final)\",\n                    \"Model Number\": \"x86_64\",\n                    \"OS Family\": \"LIN X64\",\n                    \"OS Name\": \"Linux\",\n                    \"OS Release\": \"2.6.32-696.18.7.el6.x86_64\",\n                    \"OS Version\": \"#1 SMP Thu Jan 4 17:31:22 UTC 2018\"\n                  },\n              \"Version\": \"3.04\",\n              \"VersionLong\": \"V.03.04M0P07122018\",\n              \"license\":   {\n                    \"expires\": \"24May2020:00:00:00\",\n                    \"gracePeriod\": 45,\n                    \"maxCPUs\": 9999,\n                    \"site\": \"DEMOCENTER - Production 19W21\",\n                    \"siteNum\": 70180938,\n                    \"warningPeriod\": 46\n                  }\n            },\n        \"nodestatus\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Node Status\",\n            \"title\": \"\",\n            \"name\": \"nodes\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Node Name\",\"format\": \"\",\"type\": \"string\",\"width\": 64,\"attributes\": \n              {}\n               },\n              { \"name\": \"role\",\"label\": \"Role\",\"format\": \"\",\"type\": \"string\",\"width\": 10,\"attributes\": \n              {}\n               },\n              { \"name\": \"uptime\",\"label\": \"Uptime (Sec)\",\"format\": \"\",\"type\": \"double\",\"width\": 8,\"attributes\": \n              {}\n               },\n              { \"name\": \"running\",\"label\": \"Running\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"stalled\",\"label\": \"Stalled\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"serverStatus\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1884934622.43603 }\n            },\n            \"rows\": [\n              [ \"sasserver.demo.sas.com\", \"controller\", 10.051, 0, 0 ]\n            ]\n          }\n,\n        \"server\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Server Status\",\n            \"title\": \"\",\n            \"name\": \"server\",\n            \"schema\": [\n              { \"name\": \"nodes\",\"label\": \"Node Count\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"actions\",\"label\": \"Total Actions\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n    [...]
    {
      "recorded_at": "2019-09-24T12:57:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"session.endsession\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"session.endsession\": false\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000424,\n    \"cpuUserTime\": 0,\n    \"cpuSystemTime\": 0.001,\n    \"systemTotalMemory\": 135332311040,\n    \"systemNodes\": 1,\n    \"systemCores\": 10,\n    \"memory\": 222208,\n    \"osMemory\": 10014720,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 12111872,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d/actions/builtins.queryactionset"
      }
    },
[...]
    {
      "recorded_at": "2019-09-24T12:57:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_apptag\": \"UI\", \"_messagelevel\": \"error\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac[...]
    {
      "recorded_at": "2019-09-24T12:57:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/817e283f-fe17-6c47-ac67-bc6f3bf7421d"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}