{
  "http_interactions": [
    {
      "recorded_at": "2020-01-10T22:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzg3MzI1MjcsImlhdCI6MTU3ODY5NjUyNywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIzMzczNGEyYzEzM2U0MmVjYTVmZWYzZTdlYTRkNDQxZCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzg2OTY1Mjc1NDUsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3ODY5NjUyNywidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.QLU6VaKtlltlp37sjzXq4WJxZm5dVLU1reHK2gNCMiMDn9JdwMHQCEBo6HmW-zIU52g_cfrGo3XniGBvCqOYmSVBUMerztgkZ-OKfQGwxXS69J6wbW0Go-CqPSdtDvpzLqrX369gtI6DNEUCVWWjf4To54Iu9R4s81spUggml_L5r7MzJ-n6AZRVkmWvueTQPeLJ5k1pg5Ag_aTa0b8R9M8K5WTfevdTnyrUoDX2iPCnWOVh_ZpBybO3XOwvyVLE7XA-ANr5lwts3qxhdp55u2T0-V5AWdggYg_1oRZU7Uur3Xmnyo9Kc64daFITyOXH3GSm766uDQjOpS5cJk8uvw\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"33734a2c133e42eca5fef3e7ea4d441d\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-10T22:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--6162636465666768696a6b6c6d6e6f70\r\nContent-Disposition: form-data; name=\"dummy_file\"; filename=\"dummy_file\"\r\n\r\nSome test file content.\r\n--6162636465666768696a6b6c6d6e6f70--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=6162636465666768696a6b6c6d6e6f70"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/files/files#multipartUpload"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-10T22:48:47.850Z\",\"modifiedTimeStamp\":\"2020-01-10T22:48:47.850Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"412b1674-9548-4f82-9748-761a7e643cbc\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc/content\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc/content\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc/copy\",\"uri\":\"/files/files/412b1674-9548-4f82-9748-761a7e643cbc/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"dummy_file\",\"size\":23,\"version\":3}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.file+json; version=1;charset=UTF-8"
          ],
          "ETag": [
            "\"k58r5gx6\""
          ],
          "Last-Modified": [
            "Fri, 10 Jan 2020 22:48:47 GMT"
          ],
          "Location": [
            "/files/files/412b1674-9548-4f82-9748-761a7e643cbc"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/files/files#multipartUpload"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}