{
  "http_interactions": [
    {
      "recorded_at": "2019-07-23T22:35:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates esvakmcriskconsumers SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS esvakmcorionriskconsumers USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers esvakmcorionriskaccess bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"dad155b4d2ad4fee99f5d696466c8d80\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-07-23T22:35:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Iris%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":13,\"items\":[{\"creationTimeStamp\":\"2019-04-17T19:49:10.757Z\",\"modifiedTimeStamp\":\"2019-06-10T20:14:05.942Z\",\"createdBy\":\"sorowl\",\"modifiedBy\":\"sorowl\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\",\"uri\":\"/modelRepository/projects/85188865-14b3-4569-93da-dfcb47e2abed\"}],\"version\":2,\"id\":\"85188865-14b3-4569-93da-dfcb47e2abed\",\"name\":\"sorowl\",\"repositoryId\":\"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"folderId\":\"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/BANK_PRODUCT_OWNERSHIP\",\"targetVariable\":\"IMP_FEED\",\"targetEventValue\":\"1\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-04-03T19:25:49.146Z\",\"modifiedTimeStamp\":\"2019-04-03T19:25:49.671Z\",\"createdBy\":\"yongma\",\"modifiedBy\":\"yongma\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/861043a4-714e-44a2-ab3c-b6cc1f7ab43e\",\"uri\":\"/modelRepository/projects/861043a4-714e-44a2-ab3c-b6cc1f7ab43e\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/861043a4-714e-44a2[...]
    {
      "recorded_at": "2019-07-23T22:35:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/bb21d331-39ce-4d1b-b848-e58b414c457b"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2019-07-23T22:35:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-02-20T18:16:09.174Z\",\"modifiedTimeStamp\":\"2019-02-20T18:16:14.788Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"uri\":\"/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"uri\":\"/folders/folders/eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"name\":\"Repository 1\",\"description\":\"This is the default model repository.\",\"folderId\":\"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"defaultRepository\":true}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      }
    },
    {
      "recorded_at": "2019-07-23T22:35:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/6cabbbe1-680d-413e-b2c8-a5b972fdd6d8"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
[...]
    {
      "recorded_at": "2019-07-23T22:35:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='warn', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='warn', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Classification\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"C\", \"value\": 1.0}, {\"name\": \"class_weight\", \"value\": null}, {\"name\": \"dual\", \"value\": false}, {\"name\": \"fit_intercept\", \"value\": true}, {\"name\": \"intercept_scaling\", \"value\": 1}, {\"name\": \"l1_ratio\", \"value\": null}, {\"name\": \"max_iter\", \"value\": 100}, {\"name\": \"multi_class\", \"value\": \"warn\"}, {\"name\": \"n_jobs\", \"value\": null}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": null}, {\"name\": \"solver\", \"value\": \"warn\"}, {\"name\": \"tol\", \"value\": 0.0001}, {\"name\": \"verbose\", \"value\": 0}, {\"name\": \"warm_start\", \"value\": false}], \"name\": \"Iris Regression\", \"inputVariables\": [{\"name\": \"SepalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}], \"outputVariables\": [{\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"projectId\": \"bb21d331-39ce-4d1b-b848-e58b414c457b\", \"modeler\": \"USERNAME\", \"champion\": null, \"role\": \"Challenger\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\[...]
    {
      "recorded_at": "2019-07-23T22:35:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--499c3f9795fbf996e8e1ed751c7c0b7c\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--499c3f9795fbf996e8e1ed751c7c0b7c\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--499c3f9795fbf996e8e1ed751c7c0b7c\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
    {
      "recorded_at": "2019-07-23T22:35:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22Iris%20Regression%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"[...]
    {
      "recorded_at": "2019-07-23T22:35:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/811086a4-9fb7-483c-92b5-bd112091f7b8"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2019-07-23T22:35:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris Regression\", \"notes\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='warn', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='warn', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"modelContents\": [{\"modelName\": \"IrisRegression\", \"sourceUri\": \"/modelRepository/models/811086a4-9fb7-483c-92b5-bd112091f7b8\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-07-23T22:35:18.282Z\",\"modifiedTimeStamp\":\"2019-07-23T22:35:18.509Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"b14585b4-d9c5-4bdc-ae48-5af095aa2037\",\"publishName\":\"IrisRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-07-23T22:35:18.283Z\",\"modifiedTimeStamp\":\"2019-07-23T22:35:18.283Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"7b65ebc3-b0cc-484a-8a2f-2587d1a8a112\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"811086a4-9fb7-483c-92b5-bd112091f7b8\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/811086a4-9fb7-483c-92b5-bd112091f7b8\",\"modelId\":\"811086a4-9fb7-483c-92b5-bd112091f7b8\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037\",\"uri\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037\",\"uri\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037/log\",\"uri\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037/log\",\"type\":\"application/json\"}],\"name\":\"IrisRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jygedgfh\""
          ],
          "Last-Modified": [
            "Tue, 23 Jul 2019 22:35:18 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False"
      }
    },
    {
      "recorded_at": "2019-07-23T22:35:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2019-07-23T22:35:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-07-23T22:35:19.137Z\",\"modifiedTimeStamp\":\"2019-07-23T22:35:24.075Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037\",\"uri\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037/log\",\"uri\":\"/modelPublish/models/b14585b4-d9c5-4bdc-ae48-5af095aa2037/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"efaf8f01-a619-472f-ae05-bc7e08dc706e\",\"publishName\":\"Iris Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"811086a4-9fb7-483c-92b5-bd112091f7b8\",\"modelName\":\"IrisRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/89b1d272-60e6-4353-ac5c-b1942f78fc49\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/89b1d272-60e6-4353-ac5c-b1942f78fc49\[...]
    {
      "recorded_at": "2019-07-23T22:35:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\"[...]
    {
      "recorded_at": "2019-07-23T22:35:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"G[...]
    {
      "recorded_at": "2019-07-23T22:35:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"sepallength\", \"value\": 5.1}, {\"name\": \"sepalwidth\", \"value\": 3.5}, {\"name\": \"petallength\", \"value\": 1.4}, {\"name\": \"petalwidth\", \"value\": 0.2}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"irisregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\"},{\"name\":\"rc\",\"value\":-1958743937},{\"name\":\"msg\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/irisregression/steps/score"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}