{
  "http_interactions": [
    {
      "recorded_at": "2021-08-20T18:00:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2Mjk1MTg0MjIsImlhdCI6MTYyOTQ4MjQyMiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI3ZWUwOGE0MWY0MDk0ZWI4YmJhZDQ3MDAxZjc5N2RjYSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2Mjk0ODIzMTUyODcsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE2Mjk0ODI0MjJ9.c0-0bSuYAiiuRv-lsGbltV54LW29WIb64oPNSD-dAorgLJjX4e-0UrkLGar2hxkokeliCvpQEdCgJWUvEpuU6HTCFah2KeFzMx6EU4MG_spAwEcMg8r1YJEjRxsimTqtpudY0elBNob5hjK5WwMFMaOafe7DAXFJb-d-hNe5EcTF-tMLToiqW_bYHjnZ7rIXU_Gruk-K1iPE-9bcIKIAAtrure7Z7D-HI65XAgUGEXUtYFabyBw9Xb94vTBJRTdNdDEjd3kC77nq8DqMFn1TyJ16LVef06YNOPrl283893r0XwH8ktm-QlFxkJPU3fZtfBD89GiH0BVWntQri-3m1Q\",\"expires_in\":35999,\"scope\":\"DataBuilders HealthMapperManager szpkAdministrator riskDataAdmin qasDataAdmin qasFQAAnalyst riskModelValidator qasAPAAnalyst DemandPlanningForecastAnalyst AdaptiveLearningUsers szpfViewer roBusinessSuperUser HealthCohortAdministrators uaa.resource openid EsriUsers uaa.admin clients.admin scim.read SASAdministrators HealthMapper szpfAnalyst CASHostAccountRequired HealthMapperAdministrator szpkViewer ApplicationAdministrators riskDataAnalyst roBusinessUser SASScoreUsers qasInfoConsumer szpfAdministrator clients.read roBusinessAdministrator clients.secret PlanningAdministrators riskModeler riskDataConfigUsers HealthCohortAnalysts qasPQAAnalyst PlanningUsers clients.write qasAppAdmin scim.write szpkAnalyst roTechnicalAdministrator\",\"jti\":\"7ee08a41f4094eb8bbad47001f797dca\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2021-08-20T18:00:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_test_Boston_Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_test_Boston_Housing)"
      }
    },
[...]
    {
      "recorded_at": "2021-08-20T18:00:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"uri\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-11-19T02:06:38.585Z\",\"modifiedTimeStamp\":\"2019-11-19T02:06:38.808Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"uri\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelReposi[...]
    {
      "recorded_at": "2021-08-20T18:00:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_test_Boston_Housing\", \"repositoryId\": \"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\", \"folderId\": \"9e8bb64e-f359-4c37-ab42-167ebabd564c\", \"variables\": [{\"name\": \"AGE\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"B\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"CHAS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"CRIM\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"DIS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"INDUS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"LSTAT\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"NOX\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"PTRATIO\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"RAD\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"RM\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"TAX\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"ZN\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"P_Price\", \"length\": 8, \"type\": \"decimal\", \"role\": \"output\"}], \"function\": \"prediction\", \"targetLevel\": \"\", \"predictionVariable\": \"P_Price\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2021-08-20T18:00:56.475Z\",\"modifiedTimeStamp\":\"2021-08-20[...]
    {
      "recorded_at": "2021-08-20T18:00:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2021-08-20T18:00:56.475Z\", \"modifiedTimeStamp\": \"2021-08-20T18:00:56.866Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2021-08-20T18:01:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000\u001bp\u0014S\u0402\u0001\ufffd\ufffd\u0002\u0000\u0000\ufffd\u0002\u0000\u0000\u0015\u0000\u0000\u0000dmcas_epscorecode.sasdata sasep.out;\n  dcl package score sc();\n  dcl double \"AGE\";\n  dcl double \"B\";\n  dcl double \"CHAS\";\n  dcl double \"CRIM\";\n  dcl double \"DIS\";\n  dcl double \"INDUS\";\n  [...]
[...]
    {
      "recorded_at": "2021-08-20T18:01:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,\\n         normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}, {\"name\": \"env_alabaster\", \"value\": \"0.7.12\"}, {\"name\": \"env_async-generator\", \"value\": \"1.10\"}, {\"name\": \"env_atomicwrites\", \"value\": \"1.3.0\"}, {\"name\": \"env_attrs\", \"value\": \"19.2.0\"}, {\"name\": \"env_Babel\", \"value\": \"2.8.0\"}, {\"name\": \"env_betamax\", \"value\": \"0.8.1\"}, {\"name\": \"env_betamax[...]
    {
      "recorded_at": "2021-08-20T18:01:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--b3a672384144c2084e51f4a8b9c1d9ed\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--b3a672384144c2084e51f4a8b9c1d9ed\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--b3a672384144c2084e51f4a8b9c1d9ed\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-s[...]
[...]
    {
      "recorded_at": "2021-08-20T18:01:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--15efa55dfa27f50293a4a41244d0e977\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\ninsult.txt\r\n--15efa55dfa27f50293a4a41244d0e977\r\nContent-Disposition: form-data; name=\"insult.txt\"; filename=\"insult.txt\"\r\n\r\nAnd your father smelt of elderberries!\r\n--15efa55dfa27f50293a4a41244d0e977--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=15efa55dfa27f50293a4a41244d0e977"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models/3b437515-f75a-47be-acac-04ec1b15f197/contents"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":0,\"message\":\"The filename \\\"insult.txt\\\" already exists.\",\"details\":[\"traceId: e5345ce84d0ba7ce\",\"path: /modelRepository/models/3b437515-f75a-47be-acac-04ec1b15f197/contents\"],\"links\":[],\"version\":2,\"httpStatusCode\":409}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 409,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/3b437515-f75a-47be-acac-04ec1b15f197/contents"
      }
    },
    {
      "recorded_at": "2021-08-20T18:01:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/3b437515-f75a-47be-acac-04ec1b15f197"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2021-08-20T18:01:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/modelRepository/models/3b437515-f75a-47be-acac-04ec1b15f197/contents/27325f6a-7985-4a7a-a5ff-74790ad33ab3"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
        },
        "status": {
          "code": 204,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/3b437515-f75a-47be-acac-04ec1b15f197/contents/27325f6a-7985-4a7a-a5ff-74790ad33ab3"
      }
    },
[...]
    {
      "recorded_at": "2021-08-20T18:01:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2021-08-20T18:01:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-11-19T02:10:59.2[...]
    {
      "recorded_at": "2021-08-20T18:01:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_test_SAS_Boston_regression\", \"notes\": \"None\", \"modelContents\": [{\"modelName\": \"sasctl_test_SAS_Boston_regression\", \"sourceUri\": \"/modelRepository/models/7bac363c-514b-4e4d-b16a-1c5d11be5ba9\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=True&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2021-08-20T18:01:31.353Z\",\"modifiedTimeStamp\":\"2021-08-20T18:01:31.444Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"a76d5dd6-64a2-41d1-a05f-bb8877405dd6\",\"publishName\":\"sasctl_test_SAS_Boston_regression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2021-08-20T18:01:31.354Z\",\"modifiedTimeStamp\":\"2021-08-20T18:01:31.354Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"9066523f-7ef6-47d7-93be-1f233973baff\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"7bac363c-514b-4e4d-b16a-1c5d11be5ba9\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/7bac363c-514b-4e4d-b16a-1c5d11be5ba9\",\"modelId\":\"7bac363c-514b-4e4d-b16a-1c5d11be5ba9\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6\",\"uri\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6\",\"uri\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6/log\",\"uri\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6/log\",\"type\":\"application/json\"}],\"name\":\"sasctl_test_SAS_Boston_regression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"ksknsx84\""
          ],
          "Last-Modified": [
            "Fri, 20 Aug 2021 18:01:31 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=True&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2021-08-20T18:01:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2021-08-20T18:01:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2021-08-20T18:01:31.649Z\",\"modifiedTimeStamp\":\"2021-08-20T18:01:34.807Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6\",\"uri\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6/log\",\"uri\":\"/modelPublish/models/a76d5dd6-64a2-41d1-a05f-bb8877405dd6/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"06fbe1b9-841f-42f3-8602-7b8fb987a2e4\",\"publishName\":\"sasctl_test_SAS_Boston_regression\",\"destinationName\":\"maslocal\",\"modelId\":\"7bac363c-514b-4e4d-b16a-1c5d11be5ba9\",\"modelName\":\"sasctl_test_SAS_Boston_regression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/6967b610-8ae7-4491-9314-827675dc4923\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/6967b610-8ae7-4491-9314-827675dc4923\[...]
    {
      "recorded_at": "2021-08-20T18:01:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2021-08-20T18:01:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\[...]
[...]
    {
      "recorded_at": "2021-08-20T18:01:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_scikit_boston_regres"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2021-08-20T18:01:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_scikit_boston_regres/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"link[...]
    {
      "recorded_at": "2021-08-20T18:01:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"age\", \"value\": 65.2}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"lstat\", \"value\": 4.98}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"zn\", \"value\": 18.0}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"sasctl_test_sas_boston_regressio\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"P_Price\",\"value\":30.003843377016896}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio/steps/score"
      }
    },
[...]
    {
      "recorded_at": "2021-08-20T18:01:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/modelRepository/projects/d9534888-e413-4ad9-a29d-5a99b1e54ddb"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
        },
        "status": {
          "code": 204,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects/d9534888-e413-4ad9-a29d-5a99b1e54ddb"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}