{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:48:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODg0ODAsImlhdCI6MTY2MzE3NDA4MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMTE2MGYyY2EyMTVhNDc1M2E1YmI3MzJjYjI0MzhmZGQiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTc0MDc5NTgxLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzQwNzl9.fZCh7pJMVe51I-dDFBneksk6hW8tkzJeM9l-E3eiq74U5ckHDmvF56ZYm_niKrZyuvRS4WVnJLgyjBCe8Zdvd4OMndURvU0nTLblvpyjucUtb-_jeb0pNvPZ_VbGRKCePLlSovn5ZlhoqribOjfeHGEmlZA4yL7bvm1FNcYDLrs2G02UtQruFBXQFDztMkKIYFL-ha0NtbpNEaliLZU1yGfzirKfwXJ-emSq6oeIJfN3PGEC6dY_zRYKXBgX9n6QV_ciBJw9Dpdtw9EtYhgNGHInSQfxW5zsKtRgF1vdfNtOxF22XEYHOa69R0g2EL2eKgu3FERwC1imAGjNppLdAA\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"1160f2ca215a4753a5bb732cb2438fdd\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:48:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testmodule"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"steps\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"submodules\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/submodules\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/submodules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.submodule\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule\",\"type\":\"application/vnd.sas.microanalytic.module\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule\"}],\"version\":2,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-14T16:47:57.091Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-14T16:47:57.091Z\",\"id\":\"sasctl_testmodule\",\"name\":\"myfunction\",\"revision\":0,\"scope\":\"public\",\"language\":\"python\",\"stepIds\":[\"myfunction\",\"myfunction2\"],\"warnings\":[]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module+json;charset=UTF-8"
          ],
          "ETag": [
            "\"l81uwj37\""
          ],
          "Last-Modified": [
            "Wed, 14 Sep 2022 16:47:57 GMT"
          ],
          "Location": [
            "/microanalyticScore/modules/sasctl_testmodule"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_testmodule"
      }
    },
    {
      "recorded_at": "2022-09-14T16:48:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testmodule/steps"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps?start=0&limit=20\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"POST\",\"rel\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"type\":\"application/vnd.sas.microanalytic.module.definition\",\"responseType\":\"application/vnd.sas.microanalytic.module\"}],\"name\":\"steps\",\"accept\":\"application/vnd.sas.microanalytic.module.step\",\"count\":2,\"items\":[{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps/myfunction\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps/myfunction\",\"type\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"POST\",\"rel\":\"execute\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps/myfunction\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps/myfunction\",\"type\":\"application/vnd.sas.microanalytic.module.step.input\",\"responseType\":\"application/vnd.sas.microanalytic.module.step.output\"},{\"method\":\"POST\",\"rel\":\"validateStepInput\",\"href\":\"/microanalyticScore/commons/validations/modules/sasctl_testmodule/steps/myfunction\",\"uri\":\"/microanalyticScore/commons/validations/modules/sasctl_testmodule/steps/myfunction\",\"type\":\"application/vnd.sas.microanalytic.module.step.input\",\"responseType\":\"application/vnd.sas.validation\"}],\"version\":1,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-14T16:47:57.091Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-14T16:47:57.091Z\",\"id\":\"myfunction\",\"moduleId\":\"sasctl_testmodule\",\"inputs\":[{\"name\":\"var1\",\"type\":\"any\",\"dim\":0,\"size\":0},{\"name\":\"var2\",\"type\":\"any\",\"dim\":0,\"size\":0}],\"outputs\":[{\"name\":\"out1\",\"type\":\"any\",\"dim\":0,\"size\":0},{\"name\":\"out2\",\"type\":\"any\",\"dim\":0,\"size\":0}]},{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/ste[...]
