{
  "http_interactions": [
    {
      "recorded_at": "2022-08-12T11:09:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"authenticationType\": \"OAuth\", \"name\": \"SessionSimulation\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"id\":\"63d525c1-72c6-ca47-b755-b4c871c2c14e\",\"name\":\"SessionSimulation:Fri Aug 12 11:09:22 2022\",\"state\":\"Connected\",\"transactionState\":\"none\",\"authenticationType\":\"OAuth\",\"owner\":\"stzsil\",\"locale\":\"en\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e\",\"type\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e\"},{\"method\":\"POST\",\"rel\":\"startPermissionsTransaction\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e?action=start\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e?action=start\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.session+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      }
    },
    {
      "recorded_at": "2022-08-12T11:09:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/63d525c1-72c6-ca47-b755-b4c871c2c14e"
      }
    },
    {
      "recorded_at": "2022-08-12T11:09:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions?filter=startsWith%28name%2CSessionSimulation%29"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.session.summary\",\"count\":0,\"start\":0,\"limit\":10,\"name\":\"sessions\",\"items\":[],\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions?start=0\\u0026limit=10\\u0026filter=startsWith%28name%2CSessionSimulation%29\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions?start=0\\u0026limit=10\\u0026filter=startsWith%28name%2CSessionSimulation%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions?filter=startsWith%28name%2CSessionSimulation%29"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}