{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T13:47:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"3369912169754a859b7dddf29847cb84\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T13:47:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testmethod"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"steps\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"submodules\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/submodules\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/submodules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.submodule\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod\",\"type\":\"application/vnd.sas.microanalytic.module\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod\"}],\"version\":2,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2019-09-06T13:47:05.845Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2019-09-06T13:47:05.845Z\",\"id\":\"sasctl_testmethod\",\"name\":\"myfunction\",\"revision\":0,\"scope\":\"public\",\"language\":\"python\",\"stepIds\":[\"myfunction\"],\"warnings\":[]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k086bi7p\""
          ],
          "Last-Modified": [
            "Fri, 06 Sep 2019 13:47:05 GMT"
          ],
          "Location": [
            "/microanalyticScore/modules/sasctl_testmethod"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_testmethod"
      }
    },
    {
      "recorded_at": "2019-09-06T13:47:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testmethod/steps"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/steps?start=0&limit=20\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/steps?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"POST\",\"rel\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"type\":\"application/vnd.sas.microanalytic.module.definition\",\"responseType\":\"application/vnd.sas.microanalytic.module\"}],\"name\":\"steps\",\"accept\":\"application/vnd.sas.microanalytic.module.step\",\"count\":1,\"items\":[{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/steps/myfunction\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/steps/myfunction\",\"type\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"POST\",\"rel\":\"execute\",\"href\":\"/microanalyticScore/modules/sasctl_testmethod/steps/myfunction\",\"uri\":\"/microanalyticScore/modules/sasctl_testmethod/steps/myfunction\",\"type\":\"application/vnd.sas.microanalytic.module.step.input\",\"responseType\":\"application/vnd.sas.microanalytic.module.step.output\"},{\"method\":\"POST\",\"rel\":\"validateStepInput\",\"href\":\"/microanalyticScore/commons/validations/modules/sasctl_testmethod/steps/myfunction\",\"uri\":\"/microanalyticScore/commons/validations/modules/sasctl_testmethod/steps/myfunction\",\"type\":\"application/vnd.sas.microanalytic.module.step.input\",\"responseType\":\"application/vnd.sas.validation\"}],\"version\":1,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2019-09-06T13:47:05.845Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2019-09-06T13:47:05.845Z\",\"id\":\"myfunction\",\"moduleId\":\"sasctl_testmethod\",\"inputs\":[{\"name\":\"var1\",\"type\":\"any\",\"dim\":0,\"size\":0},{\"name\":\"var2\",\"type\":\"any\",\"dim\":0,\"size\":0}],\"outputs\":[{\"name\":\"out1\",\"type\":\"any\",\"dim\":0,\"size\":0},{\"name\":\"out2\",\"type\":\"any\",\"dim\":0,\"size\":0}]}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_testmethod/steps"
      }
    },
[...]
