{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T18:04:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"96f7bedcc87b4932abb4d307c1b9ca54\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T18:04:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22dummy_file%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10000\",\"uri\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-09-06T14:14:22.436Z\",\"modifiedTimeStamp\":\"2019-09-06T14:14:22.436Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e/content\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e/content\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e/copy\",\"uri\":\"/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"dummy_file\",\"size\":23,\"version\":2},{\"creationTimeStamp\":\"2019-09-06T14:23:35.667Z\",\"modifiedTimeStamp\":\"2019-09-06T14:23:35.667Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"f8fc4eda-b16d-4339-9cbc-11300bc2d11b\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/f8fc4eda-b16d-4339-9cbc-11300bc2d11b\",\"uri\":\"/files/files/f8fc4eda-b16d-4339-9cbc-11300bc2d11b\",\"type\":\"application/vnd.sas.file\"},{\"meth[...]
    {
      "recorded_at": "2019-09-06T18:04:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/c9d8fc07-734b-4500-ac1d-d7b4e37cd57e"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-09[...]
