{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T15:18:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTU5MDUsImlhdCI6MTY2MzM0MTUwNSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNmVkZTVjNmExNDBmNDcxYzkxNjk0YzZhMWI1NDk3YzkiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzQwOTk1Nzg2LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM0MTUwNSwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.UcVI8quA3V9Mkmjh8Z52PuXm5ga0XtRfDDRdfTgmdXH951XFfuZmC8wezcbBanvXHAIQnCVUZcMiCmPHCF3XPrXk4uHfJlqXH2d1-MXKqa1qmADo9T3JuBrG1jdAaKwvAGw44S7Jdggm2WSObkdfDXmv_6S59ICGu4IeYkDJIx7aIqsPvojcNBn_GnyncZRq4bkIZR3wEY9zJTSGGipA9tnm9gwj-zdJ4FNL66hlGZUvIJ_zM0hHhTgI5bXQ-BlDVWNoKoCMaHPJGw15DJXyRFruQaTpxvY8MOwOpvkEFAjfN0uPPfUb-5r1DOvuS07ikrmStds3pFUnsY5bppv9KQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"6ede5c6a140f471c91694c6a1b5497c9\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T15:18:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":270,\"start\":0,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-16T10:56:25.089527Z\",\"createdBy\":\"qstinst\",\"modifiedTimeStamp\":\"2022-09-16T10:56:25.089528Z\",\"modifiedBy\":\"qstinst\",\"version\":1,\"id\":\"3cbc39a0-e13c-46c1-9f24-ea49279fe584\",\"name\":\"qstinst\",\"parentFolderUri\":\"/folders/folders/68ac086c-38d0-47de-82ef-8e275558f6e5\",\"description\":\"The user folder for qstinst\",\"type\":\"userFolder\",\"memberCount\":1,\"properties\":{\"allowMove\":\"false\",\"hidden\":\"true\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584\",\"uri\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584\",\"uri\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584\"},{\"method\":\"DELETE\",\"rel\":\"deleteRecursively\",\"href\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584?recursive=true\",\"uri\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584?recursive=true\"},{\"method\":\"GET\",\"rel\":\"members\",\"href\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584/members\",\"uri\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584/members\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"addMember\",\"href\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584/members\",\"uri\":\"/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584/members\",\"type\":\"application/vnd.sas.content.folder.member\",\"responseType\":\"application/vnd.sas.content.folder.member\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/folders/folders/68ac086c-38d0-47de-82ef-8e275558f6e5\",\"uri\":\"/folders/folders/68ac086c-38d0-47de-82ef-8e275558f6e5\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"GET\",\"rel\":\"ancestors\",\"href\":\"/folders/ancestors?childUri=/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584\",\"uri\":\"/folders/ancestors?childUri=/folders/folders/3cbc39a0-e13c-46c1-9f24-ea49279fe584\",\"typ[...]
    {
      "recorded_at": "2022-09-16T15:18:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders?start=20&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas[...]
[...]
    {
      "recorded_at": "2022-09-16T15:18:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders?start=80&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":270,\"start\":80,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-16T12:48:20.145964Z\",\"createdBy\":\"emduser3\",\"modifiedTimeStamp\":\"2022-09-16T12:48:20.145964Z\",\"modifiedBy\":\"emduser3\",\"version\":1,\"id\":\"540a15b4-efd2-4fb2-b8b3-6e9ffa7cc8cc\",\"name\":\"AACSGateway_ContractSpec20220916124624284(1)-544acdee-141d-4391-8cf7-1a4d87c4db16\",\"parentFolderUri\":\"/folders/folders/b9e82207-a2c2-41e8-9968-a4c9aa18c1c4\",\"description\":\"Test Project\",\"type\":\"hiddenFolder\",\"memberCount\":5,\"properties\":{\"containerMediaType\":\"application/vnd.sas.analytics.project\",\"folderLifecycleStatus\":\"CREATED\",\"projectId\":\"ddb08841-781b-4c2e-b51d-205bda2bd509\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/540a15b4-efd2-4fb2-b8b3-6e9ffa7cc8cc\",\"uri\":\"/folders/folders/540a15b4-efd2-4fb2-b8b3-6e9ffa7cc8cc\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/folders/folders/540a15b4-efd2-4fb2-b8b3-6e9ffa7cc8cc\",\"uri\":\"/folders/folders/540a15b4-efd2-4fb2-b8b3-6e9ffa7cc8cc\",\"type\":\"application/vnd.sas.content.folder\",\"respon[...]
    {
      "recorded_at": "2022-09-16T15:18:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders?start=100&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":270,\"start\":100,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-16T11:03:37.974902Z\",\"createdBy\":\"sas.riskCirrusObjects\",\"modifiedTimeStamp\":\"2022-09-16T11:03:37.974903Z\",\"modifiedBy\":\"sas.riskCirrusObjects\",\"version\":1,\"id\":\"4235ab24-daea-4982-a285-a807feccc873\",\"name\":\"Ratemaking - Frequency Model (Pipeline 1)\",\"parentFolderUri\":\"/folders/folders/afa2d7b5-8d71-4076-a37c-070e49c2d4de\",\"type\":\"folder\",\"memberCount\":1,\"iconUri\":\"sas-icon://modelRepository/Folder\",\"properties\":{\"mmType\":\"mmModel\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/4235ab24-daea-4982-a285-a807feccc873\",\"uri\":\"/folders/folders/4235ab24-daea-4982-a285-a807feccc873\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/folders/folders/4235ab24-daea-4982-a285-a807feccc873\",\"uri\":\"/folders/folders/4235ab24-daea-4982-a285-a807feccc873\",\"type\":\"application/vnd.sas.content.folder\",\"responseType\":\"application/vnd.sa[...]
[...]
