{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T19:45:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxOTkxNTcsImlhdCI6MTY2MzE4NDc1NywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNWNlMzZmMjA2MzA5NDcxMjhiYmYwZTRlZjI0MTRkNWUiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTc0OTU4NjIxLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxODQ3NTd9.ZxTgJFeKfK2Wvx2p--HSH3hJNyxM5VbGQZroDRexI8gcAbqCM8RBXnGGBh2LWlFsY_c5jVXLOILZ378PtRH71uOhig7XoZAEENcK0hic4BSL0fOHgQgbCLQ_VVavgEiXsVLv5UghTS01n8JbsqIjPxPpcl2jorCPsFq6uPfNcRH3SafsyALCpijNuR89CcVe1g36RaeHu4mFghkq9SmofMKNZ-44d-slYRAC9c0AimBYi7GQWNafk_9BPnQGiyTDlYGQbSQX06sAuXLgQdZd9I_BesmZjw2wlw4EhYqsUJxj4tHFhq6EAx1pj8-OAwmAOqknWRR-vJaih_tRxwfbIQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"5ce36f20630947128bbf0e4ef2414d5e\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T19:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"authenticationType\": \"OAuth\", \"name\": \"SessionSimulation\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"id\":\"f1c341a7-8ac9-ad4a-8ce5-b509e6622e76\",\"name\":\"SessionSimulation:Wed Sep 14 19:45:57 2022\",\"state\":\"Connected\",\"transactionState\":\"none\",\"authenticationType\":\"OAuth\",\"owner\":\"USERNAME\",\"locale\":\"en\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76\",\"type\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76\"},{\"method\":\"POST\",\"rel\":\"startPermissionsTransaction\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76?action=start\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76?action=start\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.session+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      }
    },
    {
      "recorded_at": "2022-09-14T19:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/f1c341a7-8ac9-ad4a-8ce5-b509e6622e76"
      }
    },
    {
      "recorded_at": "2022-09-14T19:46:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions?filter=eq%28id%2C%27f1c341a7-8ac9-ad4a-8ce5-b509e6622e76%27%29"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.session.summary\",\"count\":0,\"start\":0,\"limit\":10,\"name\":\"sessions\",\"items\":[],\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions?start=0\\u0026limit=10\\u0026filter=eq%28id%2C%27f1c341a7-8ac9-ad4a-8ce5-b509e6622e76%27%29\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions?start=0\\u0026limit=10\\u0026filter=eq%28id%2C%27f1c341a7-8ac9-ad4a-8ce5-b509e6622e76%27%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions?filter=eq%28id%2C%27f1c341a7-8ac9-ad4a-8ce5-b509e6622e76%27%29"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}