{
  "http_interactions": [
    {
      "recorded_at": "2022-09-01T11:21:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"authenticationType\": \"OAuth\", \"name\": \"SessionSimulation\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"id\":\"b4ca2c56-650d-b444-b0eb-8cfbb771e76c\",\"name\":\"SessionSimulation:Thu Sep  1 11:21:40 2022\",\"state\":\"Connected\",\"transactionState\":\"none\",\"authenticationType\":\"OAuth\",\"owner\":\"X1064007\",\"locale\":\"en\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c\",\"type\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c\"},{\"method\":\"POST\",\"rel\":\"startPermissionsTransaction\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c?action=start\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c?action=start\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.session+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      }
    },
    {
      "recorded_at": "2022-09-01T11:21:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--4c69eb5fbca623ac39525bdd6c9335a8\r\nContent-Disposition: form-data; name=\"tableName\"\r\n\r\nTEST_TABLE\r\n--4c69eb5fbca623ac39525bdd6c9335a8\r\nContent-Disposition: form-data; name=\"containsHeaderRow\"\r\n\r\nTrue\r\n--4c69eb5fbca623ac39525bdd6c9335a8\r\nContent-Disposition: form-data; name=\"format\"\r\n\r\ncsv\r\n--4c69eb5fbca623ac39525bdd6c9335a8\r\nContent-Disposition: form-data; name=\"sessionId\"\r\n\r\nb4ca2c56-650d-b444-b0eb-8cfbb771e76c\r\n--4c69eb5fbca623ac39525bdd6c9335a8\r\nContent-Disposition: form-data; name=\"delimiter\"\r\n\r\n;\r\n--4c69eb5fbca623ac39525bdd6c9335a8\r\nContent-Disposition: form-data; name=\"scope\"\r\n\r\nsession\r\n--4c69eb5fbca623ac39525bdd6c9335a8\r\nContent-Disposition: form-data; name=\"file\"; filename=\"TEST_TABLE\"\r\n\r\nA;B\nentry1;entry2\nentry3;entry4\r\n--4c69eb5fbca623ac39525bdd6c9335a8--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=4c69eb5fbca623ac39525bdd6c9335a8"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Samples/tables"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibName\":\"Samples\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-01T11:21:40.646Z\",\"createdBy\":\"X1064007\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-01T11:21:40.646Z\",\"lastModified\":\"2022-09-01T11:21:40.646Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE\",\"type\":\"application/vnd.sas.cas.table\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE\"},{\"method\":\"PUT\",\"rel\":\"updateState\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE/state\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE/state\",\"responseType\":\"application/json,text/plain\"},{\"method\":\"GET\",\"rel\":\"columns\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE/columns\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE/columns\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.column\"},{\"method\":\"GET\",\"rel\":\"dataTable\",\"href\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~Samples/tables/TEST_TABLE\",\"uri\"[...]
    {
      "recorded_at": "2022-09-01T11:21:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE/state?value=unloaded&sessionId=b4ca2c56-650d-b444-b0eb-8cfbb771e76c"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "unloaded"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Samples/tables/TEST_TABLE/state?value=unloaded&sessionId=b4ca2c56-650d-b444-b0eb-8cfbb771e76c"
      }
    },
    {
      "recorded_at": "2022-09-01T11:21:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/b4ca2c56-650d-b444-b0eb-8cfbb771e76c"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}