{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T18:44:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{ \"session\": \"b708cfa1-efb8-7c43-978e-0b8d3dd893c1\" }\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.session.id+json"
          ],
          "Location": [
            "httpshttps%3A//controller%2Esas%2Dcas%2Dserver%2Ddefault%2Emon%2Esvc%2Ecluster%2Elocal%3A8777/cas/sessions/b708cfa1%2Defb8%2D7c43%2D978e%2D0b8d3dd893c1"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com:443/cas-shared-default-http/cas/sessions"
      }
    },
    {
      "recorded_at": "2022-09-19T18:44:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_apptag\": \"UI\", \"_messagelevel\": \"error\", \"showhidden\": true}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ],
          "tkhttp-id": [
            "iI3EvX1iV9lUYKAhSjMaqCBZhKxwZt6gj6KgDaTim8KQRpussOJeNvo1WZL7R5fmO1WMCRLSM.oUjN.loQpTvRhCd8g4rbMKiCI8W4neH.LKvAbYj4MyOuGgq53vriOsm2cEF/u5Z2ejXS54WVKXnVpbZtGwKGtj/bnidZIlHAr6gsgx3O3AzjxWIy/0fRkda/7P39J6077Rd7eqpL6Z9NX.yN9iWNmpcE567HBjrF/3muKkiNGRK0yFs7ICPbo4YhZdMGsLgVsJ1EPei0R.qQ"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/builtins.help"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"accessControl\": \n          {\n            \"_ctb\": true,\n            \"label\": \"\",\n            \"title\": \"\",\n            \"name\": \"accessControl\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Name\",\"format\": \"\",\"type\": \"string\",\"width\": 64,\"attributes\": \n              {}\n               },\n              { \"name\": \"description\",\"label\": \"Description\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"help\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1979232297.35038 }\n            },\n            \"rows\": [\n              [ \"accessPersonalCaslibs\", \"Provides administrative access to all personal caslibs (CASUSER and CASUSERHDFS)\" ],\n              [ \"assumeRole\", \"Assumes a role\" ],\n              [ \"dropRole\", \"Relinquishes a role\" ],\n              [ \"showRolesIn\", \"Shows the currently active role\" ],\n              [ \"showRolesAllowed\", \"Shows the roles that a user is a member of\" ],\n              [ \"isInRole\", \"Shows whether a role is assumed\" ],\n              [ \"i[...]
    {
      "recorded_at": "2022-09-19T18:44:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_apptag\": \"UI\", \"_messagelevel\": \"error\", \"name\": \"py-session-22\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ],
          "tkhttp-id": [
            "iI3EvX1iV9lUYKAhSjMaqCBZhKxwZt6gj6KgDaTim8KQRpussOJeNvo1WZL7R5fmO1WMCRLSM.oUjN.loQpTvRhCd8g4rbMKiCI8W4neH.LKvAbYj4MyOuGgq53vriOsm2cEF/u5Z2ejXS54WVKXnVpbZtGwKGtj/bnidZIlHAr6gsgx3O3AzjxWIy/0fRkda/7P39J6077Rd7eqpL6Z9NX.yN9iWNmpcE567HBjrF/3muKkiNGRK0yFs7ICPbo4YhZdMGsLgVsJ1EPei0R.qQ"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/session.sessionname"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000314,\n    \"cpuUserTime\": 0.000294,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 101207146496,\n    \"systemNodes\": 1,\n    \"systemCores\": 16,\n    \"memory\": 212768,\n    \"osMemory\": 13864960,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 13864960,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/session.sessionname"
      }
    },
    {
      "recorded_at": "2022-09-19T18:44:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_apptag\": \"UI\", \"_messagelevel\": \"error\", \"actionset\": \"builtins.serverstatus\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ],
          "tkhttp-id": [
            "iI3EvX1iV9lUYKAhSjMaqCBZhKxwZt6gj6KgDaTim8KQRpussOJeNvo1WZL7R5fmO1WMCRLSM.oUjN.loQpTvRhCd8g4rbMKiCI8W4neH.LKvAbYj4MyOuGgq53vriOsm2cEF/u5Z2ejXS54WVKXnVpbZtGwKGtj/bnidZIlHAr6gsgx3O3AzjxWIy/0fRkda/7P39J6077Rd7eqpL6Z9NX.yN9iWNmpcE567HBjrF/3muKkiNGRK0yFs7ICPbo4YhZdMGsLgVsJ1EPei0R.qQ"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"builtins.serverstatus\": false\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000316,\n    \"cpuUserTime\": 0.000234,\n    \"cpuSystemTime\": 0.000042,\n    \"systemTotalMemory\": 101207146496,\n    \"systemNodes\": 1,\n    \"systemCores\": 16,\n    \"memory\": 212768,\n    \"osMemory\": 13864960,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 13864960,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2022-09-19T18:44:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_apptag\": \"UI\", \"_messagelevel\": \"error\", \"name\": \"builtins.serverstatus\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ],
          "tkhttp-id": [
            "iI3EvX1iV9lUYKAhSjMaqCBZhKxwZt6gj6KgDaTim8KQRpussOJeNvo1WZL7R5fmO1WMCRLSM.oUjN.loQpTvRhCd8g4rbMKiCI8W4neH.LKvAbYj4MyOuGgq53vriOsm2cEF/u5Z2ejXS54WVKXnVpbZtGwKGtj/bnidZIlHAr6gsgx3O3AzjxWIy/0fRkda/7P39J6077Rd7eqpL6Z9NX.yN9iWNmpcE567HBjrF/3muKkiNGRK0yFs7ICPbo4YhZdMGsLgVsJ1EPei0R.qQ"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/builtins.queryname"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"action\": \"serverStatus\",\n        \"actionSet\": \"builtins\"\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000468,\n    \"cpuUserTime\": 0.000352,\n    \"cpuSystemTime\": 0.000065,\n    \"systemTotalMemory\": 101207146496,\n    \"systemNodes\": 1,\n    \"systemCores\": 16,\n    \"memory\": 212768,\n    \"osMemory\": 13864960,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 13864960,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/builtins.queryname"
      }
    },
    {
      "recorded_at": "2022-09-19T18:45:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_apptag\": \"UI\", \"_messagelevel\": \"error\", \"actionset\": \"builtins\", \"showhidden\": true}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ],
          "tkhttp-id": [
            "iI3EvX1iV9lUYKAhSjMaqCBZhKxwZt6gj6KgDaTim8KQRpussOJeNvo1WZL7R5fmO1WMCRLSM.oUjN.loQpTvRhCd8g4rbMKiCI8W4neH.LKvAbYj4MyOuGgq53vriOsm2cEF/u5Z2ejXS54WVKXnVpbZtGwKGtj/bnidZIlHAr6gsgx3O3AzjxWIy/0fRkda/7P39J6077Rd7eqpL6Z9NX.yN9iWNmpcE567HBjrF/3muKkiNGRK0yFs7ICPbo4YhZdMGsLgVsJ1EPei0R.qQ"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"desc\": \"Shows the parameters for an action or lists all available actions\",\n                          \"label\": \"Help\",\n                          \"name\": \"help\",\n                          \"params\":   [\n                                  {\n                                      \"desc\": \"specifies the name of the action for which you want help. The name can be in the form 'actionSetName.actionName' or just 'actionName.\",\n                                      \"label\": \"Action\",\n                                      \"name\": \"action\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"desc\": \"specifies the name of the action set for which you want help. This parameter is ignored if the action parameter is specified.\",\n                                      \"label\": \"Action set\",\n                                      \"name\": \"actionSet\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"default\": true,\n                                      \"desc\": \"when set to True, provides more detail for each parameter.\",\n                                      \"label\": \"Verbose\",\n                                      \"name\": \"verbose\",\n                                      \"parmType\": \"boolean\",\n                                      \"type\": 5\n                                    }\n                              ]\n                        },\n                      {\n            [...]
    {
      "recorded_at": "2022-09-19T18:45:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_apptag\": \"UI\", \"_messagelevel\": \"error\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ],
          "tkhttp-id": [
            "iI3EvX1iV9lUYKAhSjMaqCBZhKxwZt6gj6KgDaTim8KQRpussOJeNvo1WZL7R5fmO1WMCRLSM.oUjN.loQpTvRhCd8g4rbMKiCI8W4neH.LKvAbYj4MyOuGgq53vriOsm2cEF/u5Z2ejXS54WVKXnVpbZtGwKGtj/bnidZIlHAr6gsgx3O3AzjxWIy/0fRkda/7P39J6077Rd7eqpL6Z9NX.yN9iWNmpcE567HBjrF/3muKkiNGRK0yFs7ICPbo4YhZdMGsLgVsJ1EPei0R.qQ"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1/actions/builtins.serverstatus"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"About\":   {\n              \"CAS\": \"Cloud Analytic Services\",\n              \"CASCacheLocation\": \"CAS Disk Cache\",\n              \"CASHostAccountRequired\": \"OPTIONAL\",\n              \"Copyright\": \"Copyright \u00a9 2014-2022 SAS Institute Inc. All Rights Reserved.\",\n              \"ServerTime\": \"2022-09-19T18:45:01Z\",\n              \"System\":   {\n                    \"Hostname\": \"controller.sas-cas-server-default.mon.svc.cluster.local\",\n                    \"Linux Distribution\": \"Red Hat Enterprise Linux release 8.6 (Ootpa)\",\n                    \"Model Number\": \"x86_64\",\n                    \"OS Family\": \"LIN X64\",\n                    \"OS Name\": \"Linux\",\n                    \"OS Release\": \"3.10.0-957.el7.x86_64\",\n                    \"OS Version\": \"#1 SMP Thu Nov 8 23:39:32 UTC 2018\"\n                  },\n              \"Transferred\": \"NO\",\n              \"Version\": \"4.00\",\n              \"VersionLong\": \"V.04.00M0P09152022\",\n              \"Viya Release\": \"20220919.1663583657520\",\n              \"Viya Version\": \"Fast 2020\",\n              \"license\":   {\n                    \"expires\": \"13Dec2022:00:00:00\",\n                    \"gracePeriod\": 45,\n                    \"site\": \"DDT DAILY RV ORDER WITH DYNACTMODORD, SINGLESTORE,\",\n                    \"siteNum\": 70180938,\n                    \"warningPeriod\": 46\n                  }\n            },\n        \"nodestatus\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Node Status\",\n            \"title\": \"\",\n            \"name\": \"nodes\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Node Name\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               },\n              { \"name\": \"role\",\"label\": \"Role\",\"format\": \"\",\"type\": \"string\",\"width\": 10,\"attributes\": \n              {}\n            [...]
    {
      "recorded_at": "2022-09-19T18:45:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ],
          "tkhttp-id": [
            "iI3EvX1iV9lUYKAhSjMaqCBZhKxwZt6gj6KgDaTim8KQRpussOJeNvo1WZL7R5fmO1WMCRLSM.oUjN.loQpTvRhCd8g4rbMKiCI8W4neH.LKvAbYj4MyOuGgq53vriOsm2cEF/u5Z2ejXS54WVKXnVpbZtGwKGtj/bnidZIlHAr6gsgx3O3AzjxWIy/0fRkda/7P39J6077Rd7eqpL6Z9NX.yN9iWNmpcE567HBjrF/3muKkiNGRK0yFs7ICPbo4YhZdMGsLgVsJ1EPei0R.qQ"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com:443/cas-shared-default-http/cas/sessions/b708cfa1-efb8-7c43-978e-0b8d3dd893c1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}