{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T12:56:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNDc0MTQsImlhdCI6MTY2MzMzMzAxNCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiOWVkY2QyNGU1NWI4NGM3YjhiOTE5ZmMzZmRlY2FjNzIiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzMzMDEzOTA0LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzMzAxNCwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.Og6cotugDqAaBA2PnajpkjDncSnShizKuNA-ajJxoKsiLAwB_pkR4EcsL5GnAlpapkZNdxfFiuepXQodLzA5mLihQ-0OkSWqQ2LrI9H5NuqgzXzMDIT4fUtQ7wQplquW1rudJt9l0k74urdCdoGaLxRmDMBtu4r70VPejKZU2yifTw3aYkq759tz6qHlUJOD2vOwCb89RclBdDKx2b1zgaD7CBcnufNAkcM7ZuoHhabZAJgnsweZiXqXmwXLE2_w_WtiTLA4I1Westhe1i-uv0YvlSzet9ojZBRlol_VmivCUuTQ6j_Pbf0LvWoITDpgoAFnztdUXhZx1ky-XhmNSw\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"9edcd24e55b84c7b8b919fc3fdecac72\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T12:56:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Iris%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T12:54:54.606Z\",\"modifiedTimeStamp\":\"2022-09-16T12:56:48.019Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/b8554836-ee7c-45bb-bdc9-edd342d2cb53\",\"uri\":\"/modelRepository/projects/b8554836-ee7c-45bb-bdc9-edd342d2cb53\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/b8554836-ee7c-45bb-bdc9-edd342d2cb53\",\"uri\":\"/modelRepository/projects/b8554836-ee7c-45bb-bdc9-edd342d2cb53\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/b8554836-ee7c-45bb-bdc9-edd342d2cb53\",\"uri\":\"/modelRepository/projects/b8554836-ee7c-45bb-bdc9-edd342d2cb53\"}],\"version\":2,\"id\":\"b8554836-ee7c-45bb-bdc9-edd342d2cb53\",\"name\":\"Iris\",\"repositoryId\":\"13361dd9-e88e-4835-9890-562db461d03b\",\"folderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"eventProbabilityVariable\":\"P_Speciessetosa\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"publishTimeStamp\":\"2022-09-16T12:56:47.915Z\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Iris%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T12:56:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/b8554836-ee7c-45bb-bdc9-edd342d2cb53"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
    {
      "recorded_at": "2022-09-16T12:56:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":2,\"items\":[{\"creationTimeStamp\":\"2022-09-16T10:43:50.309Z\",\"modifiedTimeStamp\":\"2022-09-16T10:44:42.977Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"type\":\"applica[...]
[...]
    {
      "recorded_at": "2022-09-16T12:56:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression()\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Binary\", \"function\": \"classification\", \"tool\": \"Python 3.7\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"auto\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"}, {\"nam[...]
    {
      "recorded_at": "2022-09-16T12:56:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--9771d8cfbf2358fea1a32e6667effd40\r\nContent-Disposition: form-data; name=\"files\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-stream\r\n\r\n\ufffd\u0003csklearn.linear_model._logistic\nLogisticRegression\nq\u0000)\ufffdq\u0001}q\u0002(X\u0007\u0000\u0000\u0000penaltyq\u0003X\u0002\u0000\u0000\u0000l2q\u0004X\u0004\u0000\u0000\u0000dualq\u000[...]
    {
      "recorded_at": "2022-09-16T12:56:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--eb063867ca310fd60747c6be89849181\r\nContent-Disposition: form-data; name=\"files\"; filename=\"requirements.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nsasctl==1.7.2\nblack==22.8.0\nclick==8.1.3\nisort==4.3.21\nlightgbm==3.3.2\npylint==2.5.3\nplatformdirs==2.5.2\nastroid==2.4.2\nsix==1.15.0\nwrapt==1.12.1\ntyped-ast==1.5.4\nlazy-object-proxy==1.4.3\np[...]
    {
      "recorded_at": "2022-09-16T12:56:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--2385a6d7c06d572f6060e5335b243b02\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_packagescorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _5A1EE2667DCA441ABECAAA1B569D763 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl[...]
    {
      "recorded_at": "2022-09-16T12:56:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--300e18ece953aee22eaa9f3d5fb7b1a9\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_epscorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _5A1EE2667DCA441ABECAAA1B569D763 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl int [...]
[...]
    {
      "recorded_at": "2022-09-16T12:57:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"m[...]
    {
      "recorded_at": "2022-09-16T12:57:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2022-09-16T10:45:04.12493Z\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\",\"id\":\"f1b8dd19-ef71-4e01-ad0b-0e6aced45a23\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2022-09-16T10:45:04.12493Z\",\"name\":\"maslocal\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1663325104124930000\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 10:45:04 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/maslocal"
      }
    },
    {
      "recorded_at": "2022-09-16T12:57:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22Iris%20Regression%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"met[...]
    {
      "recorded_at": "2022-09-16T12:57:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/8a37a577-49d6-4025-979e-58eb64db477a"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-16T12:57:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris Regression\", \"notes\": \"LogisticRegression()\", \"modelContents\": [{\"modelName\": \"IrisRegression\", \"sourceUri\": \"/modelRepository/models/8a37a577-49d6-4025-979e-58eb64db477a\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-09-16T12:57:03.095177314Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-16T12:57:03.095177314Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"a14a534f-531d-48ae-913b-8fd111eb0e12\",\"name\":\"IrisRegression\",\"publishName\":\"IrisRegression\",\"publishType\":\"mas\",\"verified\":false,\"principalId\":\"8a37a577-49d6-4025-979e-58eb64db477a\",\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/8a37a577-49d6-4025-979e-58eb64db477a\",\"projectId\":\"b8554836-ee7c-45bb-bdc9-edd342d2cb53\",\"projectVersionId\":\"a2082b14-ac6d-4c73-a73b-3aaffd169582\",\"modelId\":\"8a37a577-49d6-4025-979e-58eb64db477a\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12\",\"uri\":\"/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/[...]
    {
      "recorded_at": "2022-09-16T12:57:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
    {
      "recorded_at": "2022-09-16T12:57:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12/log"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-16T12:57:03.154965Z\",\"destinationName\":\"maslocal\",\"id\":\"2277360f-c45a-47aa-a7b5-d06bb9d8a298\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12\",\"uri\":\"/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12/log\",\"uri\":\"/modelPublish/models/a14a534f-531d-48ae-913b-8fd111eb0e12/log\",\"type\":\"application/json\"}],\"log\":\"SUCCESS=== {{2022-09-16 12:57:03.404 +0000 UTC USERNAME 2022-09-16 12:57:15.678 +0000 UTC USERNAME} 557ef48a-42ec-47f1-8c56-9d1ea3221413 1  irisregression completed [] [Method: GET Rel: up URI: /microanalyticScore/jobs MediaType: application/vnd.sas.collection\\n Method: GET Rel: self URI: /microanalyticScore/jobs/557ef48a-42ec-47f1-8c56-9d1ea3221413 MediaType: application/vnd.sas.microanalytic.job\\n Method: GET Rel: source URI: /microanalyticScore/jobs/557ef48a-42ec-47f1-8c56-9d1ea3221413/so[...]
    {
      "recorded_at": "2022-09-16T12:57:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\"[...]
    {
      "recorded_at": "2022-09-16T12:57:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2022-09-16T12:57:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"meth[...]
    {
      "recorded_at": "2022-09-16T12:57:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"sepallength\", \"value\": 5.1}, {\"name\": \"sepalwidth\", \"value\": 3.5}, {\"name\": \"petallength\", \"value\": 1.4}, {\"name\": \"petalwidth\", \"value\": 0.2}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"irisregression\",\"stepId\":\"predict\",\"executionState\":\"completed\",\"metadata\":{\"module_id\":\"irisregression\",\"step_id\":\"predict\"},\"outputs\":[{\"name\":\"var1\",\"value\":\"setosa\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}