{
  "http_interactions": [
    {
      "recorded_at": "2019-08-14T10:59:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"252b7379801242d2ae081e7a6c8fa5de\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-14T10:59:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Boston%20Housing%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Boston%20Housing%22)"
      }
    },
    {
      "recorded_at": "2019-08-14T10:59:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      }
    },
    {
      "recorded_at": "2019-08-14T10:59:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Public%22)"
      }
    },
    {
      "recorded_at": "2019-08-14T10:59:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2019-08-14T10:59:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Housing\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-14T10:59:56.792Z\",\"modifiedTimeStamp\":\"2019-08-14T10:59:[...]
    {
      "recorded_at": "2019-08-14T10:59:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}], \"name\": \"Boston Regression\", \"inputVariables\": [{\"name\": \"CRIM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"outputVariables\": [{\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"projectId\": \"6eed78b1-ddeb-4f5a-8f94-1f791e37b3df\", \"modeler\": \"USERNAME\", \"champion\": null, \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"version\": \"2\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creat[...]
    {
      "recorded_at": "2019-08-14T10:59:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--8ddf7b0e1714b67fc0c9106f1643c8b4\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--8ddf7b0e1714b67fc0c9106f1643c8b4\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--8ddf7b0e1714b67fc0c9106f1643c8b4\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
    {
      "recorded_at": "2019-08-14T10:59:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/6eed78b1-ddeb-4f5a-8f94-1f791e37b3df"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
[...]
    {
      "recorded_at": "2019-08-14T10:59:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Boston%20Regression)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"me[...]
    {
      "recorded_at": "2019-08-14T10:59:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/fcd0e4ce-1adc-4c3c-8631-c3ead2cbfc52"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2019-08-14T10:59:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"projectId\": \"6eed78b1-ddeb-4f5a-8f94-1f791e37b3df\", \"name\": \"Boston Regression Performance\", \"modelIds\": [\"fcd0e4ce-1adc-4c3c-8631-c3ead2cbfc52\"], \"championMonitored\": false, \"challengerMonitored\": false, \"maxBins\": 10, \"resultLibrary\": \"ModelPerformanceData\", \"includeAllData\": false, \"scoreExecutionRequired\": false, \"performanceResultSaved\": true, \"loadPerformanceResult\": false, \"dataLibrary\": \"Public\", \"description\": \"Performance definition for model Boston Regression\", \"casServerId\": \"cas-shared-default\", \"dataPrefix\": \"boston\", \"traceOn\": false, \"inputVariables\": [\"AGE\", \"B\", \"CHAS\", \"CRIM\", \"DIS\", \"INDUS\", \"LSTAT\", \"NOX\", \"PTRATIO\", \"RAD\", \"RM\", \"TAX\", \"ZN\", \"var1\"], \"outputVariables\": [\"var1\"]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.performance.task+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/perf[...]
    {
      "recorded_at": "2019-08-14T10:59:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2019-08-14T11:00:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-05-24T21:38:55.2[...]
[...]
    {
      "recorded_at": "2019-08-14T11:00:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Regression\", \"notes\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"modelContents\": [{\"modelName\": \"BostonRegression\", \"sourceUri\": \"/modelRepository/models/fcd0e4ce-1adc-4c3c-8631-c3ead2cbfc52\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-14T11:00:01.209Z\",\"modifiedTimeStamp\":\"2019-08-14T11:00:01.264Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"b09b5838-d6c9-41f1-9de3-7eb02220d896\",\"publishName\":\"BostonRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-08-14T11:00:01.210Z\",\"modifiedTimeStamp\":\"2019-08-14T11:00:01.210Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"2df89317-0b60-49ff-b73e-6439a893ed27\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"fcd0e4ce-1adc-4c3c-8631-c3ead2cbfc52\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/fcd0e4ce-1adc-4c3c-8631-c3ead2cbfc52\",\"modelId\":\"fcd0e4ce-1adc-4c3c-8631-c3ead2cbfc52\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896\",\"uri\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896\",\"uri\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896/log\",\"uri\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896/log\",\"type\":\"application/json\"}],\"name\":\"BostonRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jzb581v4\""
          ],
          "Last-Modified": [
            "Wed, 14 Aug 2019 11:00:01 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2019-08-14T11:00:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2019-08-14T11:00:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-14T11:00:01.477Z\",\"modifiedTimeStamp\":\"2019-08-14T11:00:03.150Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896\",\"uri\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896/log\",\"uri\":\"/modelPublish/models/b09b5838-d6c9-41f1-9de3-7eb02220d896/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"cd22ecac-a60c-485c-995b-5d708f420441\",\"publishName\":\"Boston Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"fcd0e4ce-1adc-4c3c-8631-c3ead2cbfc52\",\"modelName\":\"BostonRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/fdcf4141-f5cf-4810-a09d-3b22b9be910d\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/fdcf4141-f5cf-4810-a09d-3b22b9be910d\[...]
    {
      "recorded_at": "2019-08-14T11:00:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel[...]
    {
      "recorded_at": "2019-08-14T11:00:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2019-08-14T11:00:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"zn\", \"value\": 18.0}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"age\", \"value\": 65.2}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"lstat\", \"value\": 4.98}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"bostonregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\",\"value\":29.962639411888304},{\"name\":\"rc\",\"value\":0},{\"name\":\"msg\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      }
    },
[...]
    {
      "recorded_at": "2019-08-14T11:00:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\[...]
    {
      "recorded_at": "2019-08-14T11:00:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET[...]
[...]
