{
  "http_interactions": [
    {
      "recorded_at": "2019-07-23T20:50:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":43199,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"108a77123ff24973af5dabc78724b67a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-07-23T20:50:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/folders/folders\",\"uri\":\"/folders/folders\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders?start=0&limit=20\",\"uri\":\"/folders/folders?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"POST\",\"rel\":\"createFolder\",\"href\":\"/folders/folders\",\"uri\":\"/folders/folders\",\"type\":\"application/vnd.sas.content.folder\",\"responseType\":\"application/vnd.sas.content.folder\"},{\"method\":\"GET\",\"rel\":\"next\",\"href\":\"/folders/folders?start=20&limit=20\",\"uri\":\"/folders/folders?start=20&limit=20\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"folders\",\"accept\":\"application/vnd.sas.content.folder\",\"start\":0,\"count\":348,\"items\":[{\"creationTimeStamp\":\"2019-07-09T14:19:28.698Z\",\"modifiedTimeStamp\":\"2019-07-09T14:19:31.334Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"3bc1f3c1-bae2-4a8c-9990-e525ef19a372\",\"name\":\"HMEQ - GradBoost (SAS)\",\"parentFolderUri\":\"/folders/folders/8bdd4d71-bdfc-41e0-86a1-939a69887ae4\",\"type\":\"folder\",\"memberCount\":1,\"iconUri\":\"sas-icon://modelRepository/Folder\",\"properties\":{\"mmType\":\"mmModel\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/3bc1f3c1-bae2-4a8c-9990-e525ef19a372\",\"uri\":\"/folders/folders/3bc1f3c1-bae2-4a8c-9990-e525ef19a372\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/folders/folders/8bdd4d71-bdfc-41e0-86a1-939a69887ae4\",\"uri\":\"/folders/folders/8bdd4d71-bdfc-41e0-86a1-939a69887ae4\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"validateRe[...]
