{
  "http_interactions": [
    {
      "recorded_at": "2020-07-29T20:06:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1OTYwODkxNzYsImlhdCI6MTU5NjA1MzE3NiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIzYzEwYmNmNmM4ZWE0Y2IzODhjNzI3ZjhmYmQxYTg4NyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1OTYwNTI3MjI5MTMsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU5NjA1MzE3NiwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.R8q0Ar4-bfdruCyeLDytHtg95dqbfCvaVfH7xLSdS7fsB2EDJbHmB8M6OeyQlVoHh96K5DrAYohDvy-jYeKqtQG8lddJM1OZs1xvQl1jTX2N_kjFqxPs6eYsVpk2usuXNGiSogpgKSxMKoHHrGrElFZUa-oTErH-12BqZ9HxjV9xwUSFy0JYe935gbv2jkIx7c7_rO52Iab7hKKziObkUOuwQXGPiprBpUEqnDOjERmNZuNeOcbjRW5SpcxLemON-0szokNMr0EWG3C1nrzlrZ65-trd26Di_STUIn5M2HFIF37kk-BD4FcQ2XoMN2CSDGvupuWDMDlT7ag2MT_cyQ\",\"expires_in\":35999,\"scope\":\"DataBuilders openid EsriUsers SASScoreUsers\",\"jti\":\"3c10bcf6c8ea4cb388c727f8fbd1a887\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-07-29T20:06:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-07-29T19:43:43.536Z\",\"modifiedTimeStamp\":\"2020-07-29T19:43:47.592Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/f7056f95-f63d-41ef-895e-9f2c2b8c329b\",\"uri\":\"/modelRepository/projects/f7056f95-f63d-41ef-895e-9f2c2b8c329b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/f7056f95-f63d-41ef-895e-9f2c2b8c329b\",\"uri\":\"/modelRepository/projects/f7056f95-f63d-41ef-895e-9f2c2b8c329b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/f7056f95-f63d-41ef-895e-9f2c2b8c329b\",\"uri\":\"/modelRepository/projects/f7056f95-f63d-41ef-895e-9f2c2b8c329b\"}],\"version\":2,\"id\":\"f7056f95-f63d-41ef-895e-9f2c2b8c329b\",\"name\":\"SASCTL AStore Test Project\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"eventProbabilityVariable\":\"P_Species1\",\"challengerModels\":[],\"latestVersion\":\"Version 2\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects"
      }
    },
    {
      "recorded_at": "2020-07-29T20:06:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"uri\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-11-19T02:06:38.585Z\",\"modifiedTimeStamp\":\"2019-11-19T02:06:38.808Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"uri\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folder[...]
    {
      "recorded_at": "2020-07-29T20:06:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":403,\"details\":[\"traceId: 675d2f53def69141\",\"path: /modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\"],\"links\":[],\"version\":2,\"httpStatusCode\":403}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 403,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681"
      }
    },
[...]
