{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:27:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTg4NTAsImlhdCI6MTU3OTM4Mjg1MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJkNWFiMDllZTI5MTg0MGQxOGU4YjczNjEzZGFhZWExOSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODI4NDk5NzYsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4Mjg1MCwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.XOvZ88FEWbGJLCVT1ia58JWWWg5Oeoza251MnSi98bAhYeMuo_9tLv1bRHPYGsvvMZu8qXhMzYkcAkOmyNYiBDCbHFKfTEBRecfHWyIVxjqHEFrSRrRF9IJfDBz0fRlu0oFKVo9JQLpGbMrQGDfd1W7DVE0JjO_TicK7zPdra-QrGUxQmk2voG0G8mFwFRLiXt27mIvsHY_7-d-6ro6Iy9cTGaS271HQj_BuA34tr3CaebgDAUT7ksG_MLYTk6zZlOXfSyVV10O5crKUtQs31eeye_ZAsCt1uPGavbu8Dxz5uiZeLf3Q78u_LHLyU_hCq6TS67ZtiRSN17-qsFdcaQ\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"d5ab09ee291840d18e8b73613daaea19\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22dummy_file%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-18T21:27:30.026Z\",\"modifiedTimeStamp\":\"2020-01-18T21:27:30.026Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"cb165c23-6568-4f69-9d4b-651187fcec09\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09/content\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09/content\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09/copy\",\"uri\":\"/files/files/cb165c23-6568-4f69-9d4b-651187fcec09/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"dummy_file\",\"size\":23,\"version\":3}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22dummy_file%22)"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/cb165c23-6568-4f69-9d4b-651187fcec09"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01[...]
