{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T17:49:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNjQ5NzAsImlhdCI6MTY2MzM1MDU3MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMzEyOGMyZmEzNjYxNDcyY2E4YzdkZDk4NWY1MDJhYWUiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzUwNTY2NDkxLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM1MDU3MCwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.NGPNObDO1RMHOP0OK-h-4JDDqgbuUp4UWVl80Gcr0sIpjFbkMqvStYywHx7-RMsT9jUgIvCPBnWZCwiF0j9y5RMmaQ3ir8U8R_H75QOS56-qFwvBRzzn7fMA3s8rKd2csvAiuTa_7VchoQklHTmE1DobTp48_pmRv5RiHtdn9RtHXboGhKPcH8M_wrRlQj2IIZl1BEJ9KRj-FNNgF5ufjVPOMNrIleW_7FMOfVoW2Uye68dh89CC4rd9Ar32hvU8ttVOqoOwiEZOYBHB0npIe6-DUuK9yDA6fIb1raQJcXOgxKpgeHDd1qKWM8124i5TBqaiLFTqAC73NfsH07QKIw\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"3128c2fa3661472ca8c7dd985f502aae\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Scikit%20Linear%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T17:49:23.760Z\",\"modifiedTimeStamp\":\"2022-09-16T17:49:25.881Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/contents\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/variables\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"name\":\"sasctl_testing Scikit Linear Model\",\"description\":\"LinearRegression()\",\"projectId\":\"c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"projectName\":\"sasctl_testing Boston Housing\",\"projectVersionId\":\"d962ad7a-c54e-465d-b08f-25ae4594d638\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"indirectFolderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"repositoryId\":\"13361dd9-e88e-4835-9890-562db461d03b\",\"function\":\"prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.7\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Scikit%20Linear%20Model%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-16T17:49:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
    {
      "recorded_at": "2022-09-16T17:49:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelManagement/performanceTasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"accept\":\"application/vnd.sas.models.performance.task+json\",\"count\":2,\"items\":[{\"binMethod\":\"ADAPTIVE\",\"casServerId\":\"cas-shared-default\",\"challengerMonitored\":false,\"championMonitored\":true,\"createdBy\":\"qstadm1\",\"creationTimeStamp\":\"2022-09-16T13:07:14.660213Z\",\"dataLibrary\":\"cltui_acc_modman\",\"dataPrefix\":\"hmeqperf\",\"function\":\"classification\",\"id\":\"b1849760-67a1-4ec8-9ca6-8f087ccafd16\",\"includeAllData\":false,\"inputVariables\":[\"CLAGE\",\"CLNO\",\"DEBTINC\",\"DELINQ\",\"DEROG\",\"JOB\",\"NINQ\",\"REASON\",\"VALUE\",\"YOJ\"],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/b1849760-67a1-4ec8-9ca6-8f087ccafd16\",\"uri\":\"/modelManagement/performanceTasks/b1849760-67a1-4ec8-9ca6-8f087ccafd16\"}],\"loadPerformanceResult\":true,\"maxBins\":10,\"modifiedBy\":\"qstadm1\",\"modifiedTimeStamp\":\"2022-09-16T13:14:33.261429Z\",\"name\":\"modman_perfmon_acc_1559_Performance\",\"outputVariables\":[\"EM_CLASSIFICATION\",\"EM_EVENTPROBABILITY\",\"EM_PROBABILITY\",\"I_BAD\",\"P_BAD0\",\"P_BAD1\"],\"performanceResultSaved\":true,\"projectId\":\"980631c9-5699-4f38-9b7e-4ab93d6d9a30\",\"relatedProperties\":[\"tarVar_-_BAD\",\"tarEveVar_-_1\",\"tarLev_-_binary\",\"eveProVar_-_EM_EVENTPROBABILITY\"],\"resultLibrary\":\"ModelPerformanceData\",\"scoreExecutionRequired\":true,\"traceOn\":false,\"version\":2},{\"casServerId\":\"cas-shared-default\",\"challengerMonitored\":false,\"championMonitored\":false,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-16T17:49:27.929414Z\",\"dataLibrary\":\"Public\",\"dataPrefix\":\"boston\",\"description\":\"Performance definition for model sasctl_testing Scikit Linear Model\",\"id\":\"47ba52e8-b006-47c1-b1ac-03e487e9c51b\",\"includeAllData\":false,\"inputVariables\":[\"AGE\",\"B\",\"CHAS\",\"CRIM\",\"DIS\",\"INDUS\",\"LSTAT\",\"NOX\",\"PTRATIO\",\"RAD\",\"RM\",\"TAX\",\"ZN\"],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/47ba52e8-b006-47c1-b1ac-03e487e9c51b\",\"uri\":\"/modelManagement/performanceTasks/47ba52e8-b006-47c1-b1ac-03e487e9c51b\"}],\"loadPerformanceResult\":false,\"maxBins\":10,\"modelIds\":[\"02d1efe7-2bfb-4da5-a1a1-baccd2acd353\"],\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-16T17:49:27.929415Z\",\"name\":\"sasctl_testing Scikit Linear Model Performance\",\"outputVariables\":[\"var1\"],\"performanceResultSaved\":true,\"projectId\":\"c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"resultLibrary\":\"ModelPerformanceData\",\"scoreExecutionRequired\":false,\"traceOn\":false,\"version\":2}],\"limit\":20,\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelManagement/performanceTasks\",\"uri\":\"/modelManagement/performanceTasks\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.performance.task\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks?start=0\\u0026limit=20\",\"uri\":\"/modelManagement/performanceTasks?start=0\\u0026limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.performance.task\"}],\"name\":\"items\",\"start\":0,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelManagement/performanceTasks"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks/47ba52e8-b006-47c1-b1ac-03e487e9c51b"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"accept\[...]
