{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"2aa1ecd0549c44378e95da96bc66d45d\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=10000\",\"uri\":\"/modelRepository/models?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":2,\"items\":[{\"creationTimeStamp\":\"2019-09-06T18:10:32.065Z\",\"modifiedTimeStamp\":\"2019-09-06T18:10:35.532Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/contents\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/variables\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"name\":\"AStore Model\",\"description\":\"None\",\"projectId\":\"8c3cedad-0145-465d-9004-883551c88f03\",\"projectName\":\"SASCTL AStore Test Project\",\"projectVersionId\":\"39d23dcf-3182-4f86-bb09-8e3721461de9\",\"projectVersionName\":\"Version 2\",\"projectVersionNum\":\"2.0\",\"indirectFolderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"function\":\"\",\"algorithm\":\"\",\"tool\":\"\",\"toolVersion\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"\",\"externalModelId\":\"\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"2.1\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-20T20:32:37.595Z\",\"modifiedTimeStamp\":\"2019-08-20T20:32:38.034Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205\",\"uri\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205\",\"uri\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205/contents\",\"uri\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205/variables\",\"uri\":\"/modelRepository/models/9c4c9a92-59ec-480a-96cc-2776de8ae205/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"9c4c9a92-59ec-480a-96cc-2776de8ae205\",\"name\":\"VA_BAD_Report 1_1566333157198\",\"folderId\":\"72414d18-2721-42a3-adb5-4424f3acb0cf\",\"indirectFolderId\":\"72414d18-2721-42a3-adb5-4424f3acb0cf\",\"repositoryId\":\"f483a23c-6fe4-44f5-b611-649d051423c7\",\"function\":\"classification\",\"algorithm\":\"logisticreg\",\"tool\":\"SAS\u00ae Visual Analytics\",\"toolVersion\":\"8.3.1\",\"scoreCodeType\":\"dataStep\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?limit=10000"
      }
    },
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20SASCTL%20Basic%20Test%20Project)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "s[...]
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/66e51d8a-ae85-4f73-a1c7-329ad3a59133"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Basic Model\", \"projectId\": \"66e51d8a-ae85-4f73-a1c7-329ad3a59133\", \"modeler\": \"USERNAME\", \"description\": null, \"function\": null, \"algorithm\": null, \"tool\": null, \"champion\": null, \"properties\": [], \"scoreCodeType\": null, \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"inputVariables\": [], \"outputVariables\": [], \"version\": \"2\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creatio[...]
[...]
