{
  "http_interactions": [
    {
      "recorded_at": "2022-08-16T18:35:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI4NGE5NjU2ZC02MzRkLTRlYzItYjA4ZS1iNDE5YzZiODE0NTkiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjA2ODkzMzcsImlhdCI6MTY2MDY3NDkzNywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJtbWRldkB1c2VyLmZyb20ubGRhcC5jZiIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJjODgyZDBkYWFkOWU0MDZjYjgxZTQ3Y2NiMDI1Y2Q3OCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2NjA2NzQ5MzA1MjksImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoibW1kZXYiLCJyZXZfc2lnIjoiNGE1N2NkZTMiLCJ1c2VyX2lkIjoiODRhOTY1NmQtNjM0ZC00ZWMyLWIwOGUtYjQxOWM2YjgxNDU5IiwiYXV0aF90aW1lIjoxNjYwNjc0OTM3fQ.UkymIZ8DbzWHtgyJ6PQSpPr-Wdj8YK12w2JC7wiS3vzJLCSJWQW2hG6umdHPmYituQcRKFGe5RApucz6Lj8OetqHVS0v4DJjzAT7q1ymqwzRJZN8hVT4PbJZUvokeurmW8q-_ionB4mhRin0c9KVHc6PTAI-LQXTWT2UBzyOvV-xRW1_UB2gh-DciLLqlDs_0_gwVWFANdpWoydxMmTwUdzjlDCEnDRDH7F9PusZy-1F9Pf_UvCVfQNt13ZSOYWj2-Gj4oVcA9BBhrSvlA2-tIo72BEaVZ8AmoS2hzQrIIkGzxayjffw6rwkuKGsgQLeZeOQpPhIXFoJ77kcXMetsw\",\"expires_in\":14399,\"scope\":\"unix_r&d openid\",\"jti\":\"c882d0daad9e406cb81e47ccb025cd78\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-08-16T18:35:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Task%20Project)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.project+json\",\"count\":4,\"start\":0,\"limit\":20,\"name\":\"projects\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T16:15:18.063821Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T16:15:18.811505Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"name\":\"Iris\",\"function\":\"classification\",\"targetLevel\":\"binary\",\"eventProbabilityVariable\":\"var1\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/eed0927a-f0d2-4902-9b2a-f8ec801c276a\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"challengerModels\":null,\"tags\":null,\"globalTags\":null,\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/projects/\",\"uri\":\"/modelRepository/projects/\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas[...]
    {
      "recorded_at": "2022-08-16T18:35:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"count\":1,\"start\":0,\"limit\":20,\"name\":\"repositories\",\"items\":[{\"creationTimeStamp\":\"2022-08-15T17:26:38.466236Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedTimeStamp\":\"2022-08-15T17:26:38.466237Z\",\"modifiedBy\":\"sas.modelRepository\",\"version\":0,\"id\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"defaultRepository\":true,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"uri\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"uri\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}]}],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"}]}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json; charset=utf-8"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelRepository/repositories"
      }
    },
    {
      "recorded_at": "2022-08-16T18:35:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Task Project\", \"repositoryId\": \"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\", \"folderId\": \"20d9142a-158c-4c91-a500-0eb14668454a\", \"variables\": [{\"name\": \"SepalLength\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"targetLevel\": \"Binary\", \"function\": \"classification\", \"eventProbabilityVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-08-16T18:35:38.587723Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:35:38.913617Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"65a28ffe-a392-4cee-abc6-597d411d54fc\",\"name\":\"sasctl_testing Task Project\",\"function\":\"classification\",\"targetLevel\":\"binary\",\"eventProbabilityVariable\":\"var1\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/e0defbcc-dbef-4521-b709-d93959aef729\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"location\":\"/Model Repositories/Public\",\"variables\":[{\"creationTimeStamp\":\"2022-08-16T18:35:38.591896Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:35:38.887159Z\",\"modifiedBy\":\"USERNAME\",\"name\":\"PetalLength\",\"description\":\"\",\"role\":\"input\",\"type\":\"decimal\",\"level\":\"\",\"format\":\"\",\"aggregation\":\"\",\"length\":0,\"id\":\"55098837-8e6e-4395-8392-2f036b6dc697\",\"holderId\":\"65a28ffe-a392-4cee-abc6-597d411d54fc\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/projects/65a28ffe-a392-4cee-abc6-597d411d54fc/variables/55098837-8e6e-4395-8392-2f036b6dc697\",\"uri\":\"/modelRepository/projects/65a28ffe-a392-4cee-abc6-597d411d54fc/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.variable\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/65a28ffe-a392-4cee-abc6-597[...]
    {
      "recorded_at": "2022-08-16T18:35:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression(multi_class='multinomial')\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Binary\", \"function\": \"classification\", \"tool\": \"Python 3.8\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"multinomial\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"},[...]
    {
      "recorded_at": "2022-08-16T18:35:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--1b1e2ee7173169721bb83374418a68c9\r\nContent-Disposition: form-data; name=\"files\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-stream\r\n\r\n\ufffd\u0004\ufffd\ufffd\u0003\u0000\u0000\u0000\u0000\u0000\u0000\ufffd\u001esklearn.linear_model._logistic\ufffd\ufffd\u0012LogisticRegression\ufffd\ufffd\ufffd)\ufffd\ufffd}\ufffd(\ufffd\u0007penalty\[...]
    {
      "recorded_at": "2022-08-16T18:35:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--9ad547d921a345a5f3cb75796b70fb45\r\nContent-Disposition: form-data; name=\"files\"; filename=\"requirements.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nsasctl==1.7.2\nwcwidth==0.2.5\ntraitlets==4.3.3\ntornado==6.0.4\nsix==1.15.0\nscipy==1.8.1\npyzmq==19.0.2\nPyYAML==6.0\npytz==2022.1\npython-dateutil==2.8.1\nPygments==2.6.1\nprompt-toolkit==3.0.5\npic[...]
    {
      "recorded_at": "2022-08-16T18:35:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--ab240ce29293866c76a41b3189b12fee\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_packagescorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _83814AD329CB4428B2A7BD29905BF5C / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl[...]
    {
      "recorded_at": "2022-08-16T18:35:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--9c5b6e69c01e2cf6978b16ebd7728147\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_epscorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _83814AD329CB4428B2A7BD29905BF5C / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl int [...]
[...]
    {
      "recorded_at": "2022-08-16T18:35:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/d973a232-fc2c-4825-bd05-b2f0e22bab05/contents"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":1,\"accept\":\"application/vnd.sas.models.model.content+json\",\"count\":5,\"start\":0,\"limit\":20,\"name\":\"modelFiles\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T18:35:40.79033Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:35:40.790331Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"017443a5-7b0e-446d-994e-822fbdb12fcd\",\"name\":\"model.pkl\",\"role\":\"Python Pickle\",\"fileUri\":\"/files/files/32e20ed1-4803-4673-b0c8-1803f840d021\",\"modelId\":\"d973a232-fc2c-4825-bd05-b2f0e22bab05\",\"links\":[{\"method\":\"GET\",\"rel\":\"UP\",\"href\":\"/modelRepository/models/d973a232-fc2c-4825-bd05-b2f0e22bab05\",\"uri\":\"/modelRepository/models/d973a232-fc2c-4825-bd05-b2f0e22bab05\",\"itemType\":\"application/vnd.sas.models.model.content\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/d973a232-fc2c-4825-bd05-b2f0e22bab05/contents/017443a5-7b0e-446d-994e-822fbdb12fcd\",\"uri\":\"/modelRepository/models/d973a232-fc2c-48[...]
