{
  "http_interactions": [
    {
      "recorded_at": "2019-07-22T19:16:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":6,\"items\":[{\"creationTimeStamp\":\"2019-07-18T20:54:29.810Z\",\"modifiedTimeStamp\":\"2019-07-18T20:54:31.249Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/contents\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/variables\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"name\":\"Linear Regression\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\",\"projectId\":\"32cdda16-1532-4db2-99de-9a79d811557b\",\"projectName\":\"sasctl_full\",\"projectVersionId\":\"2eac0078-6d2c-4d5d-8989-dd78d611fc68\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"88365cfa-8f77-4f47-a14f-3b97a79d22c1\",\"indirectFolderId\":\"88365cfa-8f77-4f47-a14f-3b97a79d22c1\",\"repositoryId\":\"26cc88db-6a25-4066-a15d-6c5aff1dc58b\",\"function\":\"Prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"challenger\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-07-09T13:34:37.192Z\",\"modifiedTimeStamp\":\"2019-07-09T13:34:37.192Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cfc173d3-9fe5-48ef-8dd7-0c2b55fc75d2\",\"uri\":\"/modelRepository/models/cfc173d3-9fe5-48ef-8dd7-0c2b55fc75d2\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cfc173d3-9fe5-48ef-[...]
    {
      "recorded_at": "2019-07-22T19:16:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2019-07-22T19:16:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"AStore Model\", \"notes\": \"None\", \"modelContents\": [{\"modelName\": \"AStoreModel\", \"sourceUri\": \"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-07-22T19:16:44.784Z\",\"modifiedTimeStamp\":\"2019-07-22T19:16:44.959Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"18f8195c-a815-4402-baed-35d5653dc370\",\"publishName\":\"AStoreModel\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-07-22T19:16:44.796Z\",\"modifiedTimeStamp\":\"2019-07-22T19:16:44.796Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"99a420bb-439a-4b63-ab3f-3053aa3f6359\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"34bd7814-1d38-4370-8b5c-4626ac982cf2\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2\",\"modelId\":\"34bd7814-1d38-4370-8b5c-4626ac982cf2\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370\",\"uri\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370\",\"uri\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370/log\",\"uri\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370/log\",\"type\":\"application/json\"}],\"name\":\"AStoreModel\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jyeru97j\""
          ],
          "Last-Modified": [
            "Mon, 22 Jul 2019 19:16:44 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False"
      }
    },
    {
      "recorded_at": "2019-07-22T19:16:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-07-22T19:16:44.995Z\",\"modifiedTimeStamp\":\"2019-07-22T19:16:44.995Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370\",\"uri\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370/log\",\"uri\":\"/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"e7ed37b9-c088-46c0-81ae-501dfa21643f\",\"publishName\":\"AStore Model\",\"destinationName\":\"maslocal\",\"modelId\":\"34bd7814-1d38-4370-8b5c-4626ac982cf2\",\"modelName\":\"AStoreModel\",\"log\":\"ERROR===500 \"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelPublish/models/18f8195c-a815-4402-baed-35d5653dc370/log"
      }
    },
    {
      "recorded_at": "2019-09-06T14:10:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"f7a863284866410dba7b9b10543a229b\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
[...]
    {
      "recorded_at": "2019-09-06T14:23:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"aff3a0edd2974cd3a05468f89dbaf487\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}