{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T17:49:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNjQ5NjEsImlhdCI6MTY2MzM1MDU2MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiODYyY2MzNGQwZWViNGEzY2FkZGViNjM0YzdjM2IzOTUiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzUwNTUwMjgwLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM1MDU2MSwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.ILJefQCQtbi6olM0Ru1po8qlA0AvUOA8oYrQ2Zw_iTRuS7lMvHxTQNoZPP9AbI1SE8KoqJq2yR8YWarVHlz7JOqfDMaQc9xgliFuisCxxqPxj6ipP-dXA5WCTcmOA4IeSOgwdTeTwYkYgNPclqvXhY7WbHMJP499VEHtQxvhy4S74jG7k9iSsyhD5RkiB3xulslMrZfpZ0Nvmxm5xJxX6oKaEhWwq5UvhqAg3Hhzn7ETsOjD0X9Y4TLCfoa2SypFarVMaQQkB_BNvDnhVuT_SxafFLa8ODgwFuRopPt-v3pZod4Oq_y_-NzPIbVm_k3klKQAKAi3LYbSf6zHd9o7hQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"862cc34d0eeb4a3caddeb634c7c3b395\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testing_scikit_model\",\"uri\":\"/microanalyticScore/modules/sasctl_testing_scikit_model\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"source\",\"href\":\"/microanalyticScore/modules/sasctl_testing_scikit_model/source\",\"uri\":\"/microanalyticScore/modules/sasctl_testing_scikit_model/source\",\"type\":\"application/vnd.sas.microanalytic.module.source\"},{\"method\":\"GET\",\"rel\":\"steps\",\"href\":\"/microanalyticScore/modules/sasctl_testing_scikit_model/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testing_scikit_model/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"submodules\",\"href\":\"/microanalyticScore/modules/sasctl_testing_scikit_model/submodules\",\"uri\":\"/microanalyticScore/modules/sasctl_testing_scikit_model/submodules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.submodule\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/microanalyticScore/modules/sasctl_testing_scikit_model\",\"uri\":\"/microanalyticScore/modules/sasctl_testing_scikit_model\",\"type\":\"application/vnd.sas.microanalytic.module\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/microanalyticScore/modules/sasctl_testing_scikit_model\",\"uri\":\"/microanalyticScore/modules/sasctl_testing_scikit_model\"}],\"version\":2,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-16T17:49:08.344Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-16T17:49:18.524Z\",\"id\":\"sasctl_testing_scikit_model\",\"name\":\"sasctl_testing_scikit_model\",\"revision\":0,\"scope\":\"public\",\"language\":\"ds2\",\"stepIds\":[\"predict\",\"predict_proba\"],\"properties\":[{\"name\":\"sourceURI\",\"value\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1\"}],\"warnings\":[]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module+json;charset=UTF-8"
          ],
          "ETag": [
            "\"l84rz518\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 17:49:18 GMT"
          ],
          "Location": [
            "/microanalyticScore/modules/sasctl_testing_scikit_model"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[[...]
    {
      "recorded_at": "2022-09-16T17:49:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"lin[...]
    {
      "recorded_at": "2022-09-16T17:49:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"sepallength\", \"value\": 2.0}, {\"name\": \"sepalwidth\", \"value\": 1.0}, {\"name\": \"petallength\", \"value\": 3.0}, {\"name\": \"petalwidth\", \"value\": 4.0}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"sasctl_testing_scikit_model\",\"stepId\":\"predict\",\"executionState\":\"completed\",\"metadata\":{\"module_id\":\"sasctl_testing_scikit_model\",\"step_id\":\"predict\"},\"outputs\":[{\"name\":\"var1\",\"value\":\"virginica\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model/steps/predict"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}