{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:25:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTg3NDEsImlhdCI6MTU3OTM4Mjc0MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJjMWI0ZWQ5MmJkNGM0ZjVhOWQ0YmI1M2I1NDRkMjQ2YSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODI3MzkxMzgsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4Mjc0MSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.w7w2eBdlvSdIhI5maBS7ubA3q5_BL4ObghsuBpgu7_dDY1k9SwxgvGPhkHmSfca29dP_g6YouHZrDEQSpFWGiELPnOba7S2iceoFKE4GucCqVmpVmRLdmsqZMa1EJjG9YXEi7hvUE9liw-lEQnXjmWf18TWWCJj0navnV6qdF_TOBem4NBQOlMF2ItcA9y7pOX9GCBto7lmU6YNH06YtdmU6HtMW7i3BRMRwyFmZFfgx9bAvdwBxC3um14GW9ZoZnXMCq4-lhr_FSLGuw91NAhf3LFTq0Qbz3tRr7qsz--iB3ymqZsTG5ND07Qu4pN9L8UHxDE8579NX3OZOnASyjw\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"c1b4ed92bd4c4f5a9d4bb53b544d246a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:25:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/\",\"uri\":\"/casManagement/\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"uri\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"}],\"name\":\"servers\",\"accept\":\"application/vnd.sas.cas.server\",\"start\":0,\"count\":1,\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"sasserver.demo.sas.com\",\"port\":5570,\"restPort\":8777,\"restProtocol\":\"http\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-de[...]
    {
      "recorded_at": "2020-01-18T21:25:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"name\":\"cas-shared-def[...]
    {
      "recorded_at": "2020-01-18T21:25:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs?filter=eq($primary,name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "s[...]
    {
      "recorded_at": "2020-01-18T21:25:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables?filter=eq($primary,name,%20%22airline_tweets%22)"
      },
      "response": {
        "body": {
          "encoding":[...]
    {
      "recorded_at": "2020-01-18T21:25:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputUri\": \"/casManagement/servers/cas-shared-default/caslibs/Public/tables/AIRLINE_TWEETS\", \"documentIdVariable\": \"tweet_id\", \"textVariable\": \"text\", \"version\": 1, \"language\": \"en\", \"includeStandardEntities\": false, \"includeNounGroups\": false, \"minimumDocumentCount\": 10, \"enableSpellChecking\": false}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.text.parsing.job.request+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/parsing/jobs"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"language\":\"en\",\"includeStandardEntities\":false,\"includeNounGroups\":false,\"minimumDocumentCount\":10,\"enableSpellChecking\":false,\"inputUri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/AIRLINE_TWEETS\",\"documentIdVariable\":\"tweet_id\",\"textVariable\":\"text\",\"id\":\"6c1c7a9a-294a-446a-b539-1e21c38a99a4\",\"state\":\"pending\",\"creationTimeStamp\":\"2020-01-18T21:25:46.569Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4\",\"uri\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4\",\"type\":\"application/vnd.sas.text.parsing.job\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4\",\"uri\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state\",\"uri\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state\",\"type\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"log\",\"href\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/log\",\"uri\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/log\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"cancel\",\"href\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state?value=canceled\",\"uri\":\"/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state?value=canceled\",\"responseType\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"caslib\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.text.parsing.job+json;charset=UTF-8"
          ],
          "Location": [
            "https://hostname.com/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/parsing/jobs"
      }
    },
    {
      "recorded_at": "2020-01-18T21:25:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "pending"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state"
      }
    },
[...]
    {
      "recorded_at": "2020-01-18T21:25:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "completed"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/parsing/jobs/6c1c7a9a-294a-446a-b539-1e21c38a99a4/state"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}