{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:21:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTg0OTQsImlhdCI6MTU3OTM4MjQ5NCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI0NzY2OWIyNTc1ZWI0NGM0ODEwYjc1YzM2M2FjZjdjOSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODI0OTQzMjAsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4MjQ5NCwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.FZFBR7mO7O5vz-ChvoxCHkBIWCcHExjyondp21exQmo6AdEoBJPyu2qx1BMV7BZTkOC1VKaz77yTjibhU-ToRF430lt0FRrRRkcAZ82F12-V06-PxQZAMRAv3S89MnxXvFrJbQfkPFvvsUT-y-Jc5SPeBYOZPUg9NPLGM6kYnQMlbINJubQojJNP7wcad6xUwVQnrTZaoRZfDvDqU5hoImnKzw0Km7KFr4Cj9l1TzJb5D94RiqnUaIhx7SWrktpHjkKOmX0u5oN9fIWYsxwuufxaS6o2c0ifet_NycyidVQ3Du-lp3gpEb8gTfQ5Y2iRbfdvOiymAXVQjAY8F080Tg\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"47669b2575eb44c4810b75c363acf7c9\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:21:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/\",\"uri\":\"/casManagement/\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"uri\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"}],\"name\":\"servers\",\"accept\":\"application/vnd.sas.cas.server\",\"start\":0,\"count\":1,\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"sasserver.demo.sas.com\",\"port\":5570,\"restPort\":8777,\"restProtocol\":\"http\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-de[...]
    {
      "recorded_at": "2020-01-18T21:21:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"name\":\"cas-shared-def[...]
    {
      "recorded_at": "2020-01-18T21:21:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs?filter=eq($primary,name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "s[...]
    {
      "recorded_at": "2020-01-18T21:21:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibUri\": \"/casManagement/servers/cas-shared-default/caslibs/Public\", \"documents\": [\"Oh yes, the, uh, the Norwegian Blue. What's wrong with it?\", \"I'll tell you what's wrong with it, my lad. He's dead, that's what's wrong with it!\", \"No, no, he's uh,...he's resting.\", \"Look, matey, I know a dead parrot when I see one, and I'm looking at one right now.\", \"No no he's not dead, he's, he's resting! Remarkable bird, the Norwegian Blue, isn't it? Beautiful plumage!\", \"The plumage don't enter into it. It's stone dead.\"], \"version\": 1, \"language\": \"en\", \"enableFacts\": false}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.text.concepts.job.request.documents+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/concepts/jobs#data"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":1,\"language\":\"en\",\"matchType\":\"all\",\"enableFacts\":false,\"inputUri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/USERNAME-ba0586e1-dd0f-4a60-b3df-7fd9be004096\",\"documentIdVariable\":\"id\",\"textVariable\":\"text\",\"id\":\"7da5f9a2-8ec1-4195-a82b-ff2c3aa94376\",\"state\":\"pending\",\"creationTimeStamp\":\"2020-01-18T21:21:35.017Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376\",\"uri\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376\",\"type\":\"application/vnd.sas.text.concepts.job\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376\",\"uri\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state\",\"uri\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state\",\"type\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"log\",\"href\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/log\",\"uri\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/log\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"cancel\",\"href\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state?value=canceled\",\"uri\":\"/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state?value=canceled\",\"responseType\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"caslib\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.text.concepts.job+json;charset=UTF-8"
          ],
          "Location": [
            "https://hostname.com/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs#data"
      }
    },
    {
      "recorded_at": "2020-01-18T21:21:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "running"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state"
      }
    },
[...]
    {
      "recorded_at": "2020-01-18T21:21:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "completed"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs/7da5f9a2-8ec1-4195-a82b-ff2c3aa94376/state"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}