{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T15:48:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2MTY4OTcsImlhdCI6MTY2MzYwMjQ5NywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNTQxZWVlMTAwZDlmNGU5NmI3YjUxZjUyNjg3MjBiMzEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjAyNDk1ODM4LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiIzOTM2OTFiMyIsInVzZXJfaWQiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdXRoX3RpbWUiOjE2NjM2MDI0OTd9.tqsIiTqb5mcaWZOasBgg3Uz44ywwoE2k77fFrIsO-uEEczsFDkLxe-H6DbDD156PO0-JCiEnw8VlL794fxffFOn5JbrWg0czCURvgVe7OaHjxDEUij-9_ehQl31Bk_4-mH_EUUOjIWODmsCMu6hsZfcj6zRBm8HjK22ikb2D78JgBpYhGrrERv-3ftENFb_0b31awzQVLgL57HDCP9OZ8gAULq6BfDObEu78qFzi-2B_EPJLbmScCO-OsFT3KA-nN8M0Nmb-l7NiqKeTcD3IKnWAUmvbVaJ5lj2rG6Uq33BSWMtrLevL7RBYqfM_Sbj4qM0cBo7mZQF21miM8zIVJg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"541eee100d9f4e96b7b51f5268720b31\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T15:48:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":13,\"items\":[{\"creationTimeStamp\":\"2022-09-19T12:21:52.144Z\",\"modifiedTimeStamp\":\"2022-09-19T12:21:52.144Z\",\"createdBy\":\"sas.riskCirrusObjects\",\"modifiedBy\":\"sas.riskCirrusObjects\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc\",\"uri\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc\",\"uri\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc/contents\",\"uri\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc/variables\",\"uri\":\"/modelRepository/models/0d05a60c-e505-4f36-8200-1233875be3fc/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"0d05a60c-e505-4f36-8200-1233875be3fc\",\"name\":\"Ratemaking - Severity Model - OD (Pipeline 1)\",\"projectId\":\"e74a27b6-bb51-44c8-9ec7-5c2c8cc86517\",\"projectName\":\"Own_Damage_Sev_Model (By MLPA 2DhSg)\",\"projectVersionId\":\"73a14f8c-46e0-467a-a700-0142a54180f1\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"54a88443-8d88-421f-85d8-83d27da3b203\",\"repositoryId\":\"009240a4-4a95-4fbc-b01a-e1b30fbe3cc6\",\"function\":\"prediction\",\"algorithm\":\"cs_ratemaking\",\"tool\":\"Model Studio\",\"toolVersion\":\"V2022.1.4\",\"scoreCodeType\":\"dataStep\",\"modeler\":\"sas.riskCirrusObjects\",\"externalModelId\":\"3866153e-ddac-456e-bb8c-18c430dd6bf5\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"champion\",\"immutable\":false,\"modelVersionName\":\"1.1\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2022-09-19T12:21:53.417Z\",\"modifiedTimeStamp\":\"2022-09-19T12:21:53.417Z\",\"createdBy\":\"sas.riskCirrusObjects\",\"modifiedBy\":\"sas.riskCirrusObjects\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/4fc064ac-a06d-40fb-a60e-8852912ef06b\",\"uri\":\"/modelRepository/models/4fc064ac-a06d-40fb-a60e-8852912ef06b\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/[...]
    {
      "recorded_at": "2022-09-19T15:48:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2022-09-19T15:48:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-19T15:48:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      }
    },
    {
      "recorded_at": "2022-09-19T15:48:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":21206,\"message\":\"The model ID \\\"fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\\\" is invalid. Enter a valid value for the model \\\"id\\\" parameter.\",\"details\":[\"traceId: 3fa399e02fc0e612\",\"path: /modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\"],\"links\":[],\"version\":2,\"httpStatusCode\":404}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json;version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 404,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      }
    },
[...]
