{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:44:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODgyNDIsImlhdCI6MTY2MzE3Mzg0MiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNGM2OGM5ZTFjMGVhNDY5N2EzNzk3M2FhOTcxZGEwYzQiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTczODQxNzM0LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzM4NDJ9.Ty4TsdS9DXmfbsfYEDU-VgVYp_i_KiPN0hWZSsusojCpW7f4b5W1mpywwU5sHVC2FXdVIpp0TTeMNIFujRR7N3zDUOK5SMx_ZQuIt7_l-dc5FpPawOikjMSTLxv3v2v_3S79NHe2b6Bzi-wUJ6laiGchZLaBUHVTJnfGb1jJmqMO7Y6FlZRqLAhLJGl6VHgdGDK4jwt9T66Cq9IleRQxHBDA_yrAjU-pxRyMy7lGaGTNVwOq4hgbARX7soP2djOVM_iEZ75C4FnnJz5gZW7AnpZ5FdrAGwNkOKIPaCdlKAu9rNNy23gkM1KZmX7NgiRYLBQmiLz6bOul8IiWlYfoGg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"4c68c9e1c0ea4697a37973aa971da0c4\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.server\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"servers\",\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"sas-cas-server-default-client\",\"port\":5570,\"backupHost\":\"sas-cas-server-default-client\",\"restPort\":8777,\"restProtocol\":\"https\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-default/connection\",\"uri\":\"/casManagement/servers/cas-shared-default/connection\",\"type\":\"application/vnd.sas.cas.server.connection\"},{\"method\":\"GET\",\"rel\":\"state\",\"hre[...]
    {
      "recorded_at": "2022-09-14T16:44:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"name\":\"cas-shared-defaul[...]
    {
      "recorded_at": "2022-09-14T16:44:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs?filter=eq($primary,name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.caslib\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"caslibs\",\"items\":[{\"version\":3,\"name\":\"Public\",\"type\":\"PATH\",\"description\":\"Shared and writeable caslib, accessible to all users.\",\"scope\":\"global\",\"path\":\"/cas/data/caslibs/public/\",\"hidden\":false,\"transient\":false,\"attributes\":{\"active\":false,\"personal\":false,\"subDirs\":false},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\",\"responseType\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\"},{\"method\":\"GET\",\"rel\":\"tables\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"[...]
    {
      "recorded_at": "2022-09-14T16:44:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibUri\": \"/casManagement/servers/cas-shared-default/caslibs/Public\", \"documents\": [\"Oh yes, the, uh, the Norwegian Blue. What's wrong with it?\", \"I'll tell you what's wrong with it, my lad. He's dead, that's what's wrong with it!\", \"No, no, he's uh,...he's resting.\", \"Look, matey, I know a dead parrot when I see one, and I'm looking at one right now.\", \"No no he's not dead, he's, he's resting! Remarkable bird, the Norwegian Blue, isn't it? Beautiful plumage!\", \"The plumage don't enter into it. It's stone dead.\"], \"version\": 1, \"language\": \"en\", \"enableFacts\": false}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.text.concepts.job.request.documents+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/concepts/jobs#data"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "{\"version\":1,\"language\":\"en\",\"matchType\":\"all\",\"enableFacts\":false,\"inputUri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/USERNAME-0f40fc0a-8ff9-430e-a9cf-576ca304bf60\",\"documentIdVariable\":\"id\",\"textVariable\":\"text\",\"id\":\"054bd4b0-6ef5-41cd-bf20-4d90681b00a9\",\"state\":\"pending\",\"creationTimeStamp\":\"2022-09-14T16:44:05.128Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9\",\"uri\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9\",\"type\":\"application/vnd.sas.text.concepts.job\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9\",\"uri\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state\",\"uri\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state\",\"type\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"log\",\"href\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/log\",\"uri\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/log\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"cancel\",\"href\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state?value=canceled\",\"uri\":\"/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state?value=canceled\",\"responseType\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"caslib\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.text.concepts.job+json"
          ],
          "Location": [
            "https://hostname.com/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs#data"
      }
    },
    {
      "recorded_at": "2022-09-14T16:44:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "running"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state"
      }
    },
[...]
    {
      "recorded_at": "2022-09-14T16:44:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "completed"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs/054bd4b0-6ef5-41cd-bf20-4d90681b00a9/state"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}