{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:31:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTkwOTUsImlhdCI6MTU3OTM4MzA5NSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIzZGUyNjU5MmQ1NTM0ODA3YWVjZDNjMTg2MjNiMGM2ZiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODMwOTE1NzgsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4MzA5NSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.haAUU6txLuz_Dle4tFrYn8htCFKG-3bUYzPAptVTwrnUaHHDx7TjeDJ05wYlJEi1H5nyovHQ3YtwSH1BOrEwpHdsrI1danEd3CuWZRpNLAJuwhOlN1YUCVh0okobq-XSttDCkWtA9n4T-Ktro9AVzZFqnQlQvD09rnT8Jmski77zKOrgLzsdFyz-IU89rBHnD1-ycEPj0E4pudRwNe0z6kpY3DiI6UP0TujMKr4TAqjGMLuVpGCPcRn0oj5f7aKQPa4tSHbJ1WD0zNeSFqM8epGRBMhj6hEQK0kgkozaAAmXuSA4G5inu1wPbLAFCx5HRTRGwtvCuP-A69BA6NTDXw\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"3de26592d5534807aecd3c18623b0c6f\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:31:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-18T21:31:32.799Z\",\"modifiedTimeStamp\":\"2020-01-18T21:31:34.789Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"uri\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"uri\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9/contents\",\"uri\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9/variables\",\"uri\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"name\":\"sasctl_testing Scikit Model\",\"description\":\"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='multinomial', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\",\"projectId\":\"6280041f-fefa-403d-b3fb-f588854a3408\",\"projectName\":\"sasctl_testing Task Project\",\"projectVersionId\":\"c03f747c-c535-49a8-9b16-c113067c9fc6\",\"projectVersionName\":\"Version 2\",\"projectVersionNum\":\"2.0\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"indirectFolderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"function\":\"classification\",\"algorithm\":\"Logistic regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Model)"
      }
    },
    {
      "recorded_at": "2020-01-18T21:31:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2020-01-18T21:31:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-01-18T21:31:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-11-19T02:10:59.2[...]
    {
      "recorded_at": "2020-01-18T21:31:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Scikit Model\", \"notes\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='multinomial', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"modelContents\": [{\"modelName\": \"sasctl_testingScikitModel\", \"sourceUri\": \"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-18T21:31:36.395Z\",\"modifiedTimeStamp\":\"2020-01-18T21:31:36.437Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"1285cfb2-446f-41e3-9b6a-8fcad70dc260\",\"publishName\":\"sasctl_testingScikitModel\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2020-01-18T21:31:36.395Z\",\"modifiedTimeStamp\":\"2020-01-18T21:31:36.395Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"98e15997-4627-4de1-8735-646db7292818\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"modelId\":\"a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260\",\"uri\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260\",\"uri\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260/log\",\"uri\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260/log\",\"type\":\"application/json\"}],\"name\":\"sasctl_testingScikitModel\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k5k3x0mt\""
          ],
          "Last-Modified": [
            "Sat, 18 Jan 2020 21:31:36 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2020-01-18T21:31:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2020-01-18T21:31:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-18T21:31:36.522Z\",\"modifiedTimeStamp\":\"2020-01-18T21:31:41.599Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260\",\"uri\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260/log\",\"uri\":\"/modelPublish/models/1285cfb2-446f-41e3-9b6a-8fcad70dc260/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"423ed2b7-ea71-47fb-85d1-f002f77cf50e\",\"publishName\":\"sasctl_testing Scikit Model\",\"destinationName\":\"maslocal\",\"modelId\":\"a8cef867-1ab1-42e8-b24d-b0108b9393f9\",\"modelName\":\"sasctl_testingScikitModel\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/a51e384a-461a-4793-b5f2-badf7db30b5d\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/a51e384a-461a-4793-b5f2-badf7db30b5d\[...]
    {
      "recorded_at": "2020-01-18T21:31:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testingscikitmodel"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GE[...]
    {
      "recorded_at": "2020-01-18T21:31:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testingscikitmodel/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\[...]
    {
      "recorded_at": "2020-01-18T21:31:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testingscikitmodel/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links[...]
