{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:49:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODg1NDAsImlhdCI6MTY2MzE3NDE0MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMDZjNGUwMDE0ZjJmNGYxZDkzMWRiOTJkNmM5NTIxMmUiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTc0MTM4NzA1LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzQxNDB9.EvU32rqU-vpKIJ16feooJrHvGd4K05qmfS0UR2VWkeaHHchsfENYn-Q27AVUDbBhpNScGsDr3MxHJBttQISyLt_9nmbkfobAS7tmj5AMQh3QACaAtEFmUGxYwLhAtzH1x67fn811xOYd3v98rCst6g-oDmfBx3-VC-G3fwgZsIpDYjWCZhyGWXyNnZyjNBJyXBnzpuQ4KYxxfTmI9QGPl5wtp98762yT4tR0Mlc3rIQCxUQQeVyDm03jcH4xL0Zu44m0iFgkvGUobu6Xajcz_dX67vN7yvK3eX7PH1-FeVWA7uX2ZVcwn-1SC85N1Mbvv4anpd7iDS4OdxlKW-hqgQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"06c4e0014f2f4f1d931db92d6c95212e\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:49:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":11,\"items\":[{\"creationTimeStamp\":\"2022-09-14T08:53:10.675Z\",\"modifiedTimeStamp\":\"2022-09-14T09:37:39.559Z\",\"createdBy\":\"scngle\",\"modifiedBy\":\"scngle\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/55c8cf36-49c1-4f25-9b70-0c08809055a4\",\"uri\":\"/modelRepository/projects/55c8cf36-49c1-4f25-9b70-0c08809055a4\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/55c8cf36-49c1-4f25-9b70-0c08809055a4\",\"uri\":\"/modelRepository/projects/55c8cf36-49c1-4f25-9b70-0c08809055a4\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/55c8cf36-49c1-4f25-9b70-0c08809055a4\",\"uri\":\"/modelRepository/projects/55c8cf36-49c1-4f25-9b70-0c08809055a4\"}],\"version\":2,\"id\":\"55c8cf36-49c1-4f25-9b70-0c08809055a4\",\"name\":\"QS_\u6d4b\u8bd5\u9879\u76ee_HMEQ\",\"repositoryId\":\"95540da2-fe4c-4b70-9535-f72017f29108\",\"folderId\":\"913dcd78-65af-469c-8f06-27c1714c7c61\",\"championModelName\":\"QS_\u5bfc\u5165\u6a21\u578b_Tree1\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/HMEQ_TRAIN\",\"targetVariable\":\"BAD\",\"targetEventValue\":\"1\",\"eventProbabilityVariable\":\"EM_EVENTPROBABILITY\",\"challengerModels\":[],\"latestVersion\":\"\u7248\u672c 1\",\"status\":\"prototype\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2022-09-13T14:11:01.435Z\",\"modifiedTimeStamp\":\"2022-09-14T16:46:33.158Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/76181a05-940d-40bc-98c2-56a572f5b8d5\",\"uri\":\"/modelRepository/projects/76181a05-940d-40bc-98c2-56a572f5b8d5\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/76181a05-940d-40bc-98c2-56a572f5b8d5\",\"uri\":\"/modelRepository/projects/76181a05-940d-40bc-98c2-56a572f5b8d5\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/76181a05-940d-40bc-98c2-56a572f5b8d5\",\"uri\":\"/modelRepository/projects/76181a05-940d-40bc-98c2-56a572f5b8d5\"}],\"version\":2,\"id\":\"76181a05-940d-40bc-98c2-56a572f5b8d5\",\"name\":\"Iris\",\"repositoryId\":\"95540da2-fe4c-4b70-9535-f72017f29108\",\"folderId\":\"913dcd78-65af-469c-8f06-27c1714c7c61\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"eventProbabilityVariable\":\"P_Speciessetosa\",\"challengerModels\":[],\"latestVersion\":\"Version 9\",\"status\":\"prototype\",\"publishTimeStamp\":\"2022-09-13T14:40:16.345Z\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2022-09-13T14:14:40.095Z\",\"modifiedTimeStamp\":\"2022-09-13T14:40:23.423Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/2cf81746-e127-4b73-9079-8ab11bb42cce\",\"uri\":\"/modelRepository/projects/2cf81746-e127-4b73-9079-8ab11bb42cce\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"upda[...]
    {
      "recorded_at": "2022-09-14T16:49:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22SASCTL%20Basic%20Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\[...]
    {
      "recorded_at": "2022-09-14T16:49:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/c69caba5-a46a-4040-aeb6-a120f0b3f5a6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
    {
      "recorded_at": "2022-09-14T16:49:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/modelRepository/projects/c69caba5-a46a-4040-aeb6-a120f0b3f5a6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects/c69caba5-a46a-4040-aeb6-a120f0b3f5a6"
      }
    },
    {
      "recorded_at": "2022-09-14T16:49:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22SASCTL%20Basic%20Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22SASCTL%20Basic%20Test%20Project%22)"
      }
    },
[...]
