{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T12:57:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNDc0MzgsImlhdCI6MTY2MzMzMzAzOCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiYWVkODM5MGViZmZiNGVhMDg3MDk2ODUyMmEzMjBlZjYiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzMzMDE0NTgyLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzMzAzOCwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.LLlgWkgP0CxBvXsYkVxyfogFKsi2eMFGyZ6dd8-7ChdrebSwAoK6V2CBs7bfLLeoe679_ZtXpN0lYm_SvYcJcpWUE3EUpU6aRVrrskAfaxLrAOc70tJeHu-CBJbUV042wimC64DGk7YzWtdWyt6FL9tH6p6-DIx_ZsNkC-v2FusUEkVG6OEfWWttNca1oTuCBuZC6krtoW7gzkMBRhLgdlbuEDWkXFQoGV12w02jYYBw7bymp2e7_Bjh9KRenHnCSXR6qP7_QzwtwXh2xaLqep_PYSmO61VuO05JgBGd2BmF7neU0UttjXFddrT8cDgYaqv6bpoYzPcL3oAtn4Db1Q\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"aed8390ebffb4ea0870968522a320ef6\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T12:57:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Examples%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Examples%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T12:57:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":2,\"items\":[{\"creationTimeStamp\":\"2022-09-16T10:43:50.309Z\",\"modifiedTimeStamp\":\"2022-09-16T10:44:42.977Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/d52c4d89-2eac-47cd-b4e3-c79965d526fb\",\"uri\":\"/folders/folders/d52c4d89-2eac-47cd-b4e3-c79965d526fb\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"name\":\"DMRepository\",\"description\":\"\",\"folderId\":\"d52c4d89-2eac-47cd-b4e3-c79965d526fb\",\"defaultRepository\":false},{\"creationTimeStamp\":\"2022-09-16T10:44:00.741Z\",\"modifiedTimeStamp\":\"2022-09-16T10:45:16.407Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/13361dd9-e88e-4835-9890-562db461d03b\",\"uri\":\"/modelRepository/repositories/13361dd9-e88e-4835-9890-562db461d03b\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/[...]
    {
      "recorded_at": "2022-09-16T12:57:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Examples\", \"repositoryId\": \"13361dd9-e88e-4835-9890-562db461d03b\", \"folderId\": \"29334f41-a88c-4963-8652-e11a915376af\", \"variables\": [], \"targetLevel\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16T12:57:19.724Z\",\"modifiedTimeStamp\":\"2022-09-16T12:57:20.[...]
    {
      "recorded_at": "2022-09-16T12:57:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Custom Model\", \"description\": \"This model is for demonstration purposes only.\", \"scoreCodeType\": \"Python\", \"algorithm\": \"Other\", \"projectId\": \"03f2219f-6c6b-4fbe-b0bf-e485115aefd3\", \"modeler\": \"USERNAME\", \"function\": null, \"tool\": null, \"champion\": null, \"properties\": [], \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"inputVariables\": [], \"outputVariables\": [], \"version\": 2}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeSt[...]
    {
      "recorded_at": "2022-09-16T12:57:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--c6edb9a25b403f15b5013128fa1068c6\r\nContent-Disposition: form-data; name=\"files\"; filename=\"greetings.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nHello World!\r\n--c6edb9a25b403f15b5013128fa1068c6--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            [...]
    {
      "recorded_at": "2022-09-16T12:57:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--a1196e8895779d6732d17fc804a92200\r\nContent-Disposition: form-data; name=\"files\"; filename=\"C:\\\\Users\\\\sclind\\\\Documents\\\\Python Scripts\\\\GitHub\\\\sassoftware\\\\python-sasctl\\\\tests\\\\integration\\\\test_examples.py\"\r\nContent-Type: multipart/form-data\r\n\r\n#!/usr/bin/env python\n# encoding: utf-8\n#\n# Copyright \u00c2\u00a9 2019, SAS[...]
[...]
