{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T14:44:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTM4OTMsImlhdCI6MTY2MzMzOTQ5MywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiOTRiYjFmYWYyZWMxNDg1ZmI3ODA1MmQxNzQwZTM0OGEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzM5NDkyMDA2LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzOTQ5MywidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.JmIwvI-9c2W31ht_G8VFt53BbGlgWyguUvwiekiih6Oo-lGmnnw4_BVsTCXyzc6JbsJaASMvZbsjb3HsonWgskcU_ZHy7eEjsAI9TtpyDOYxpv5SMPuSSQpdkhGRvrH5QmbkcLtyi36nvfN-jXWQdcylzN11zC6SEgqcDEpwd7LjKtQ8qlEsV9MkzXAtchcWaeApBn6-LuLxNQgcv6XnIcFXj8xx8nELE-xE0geWNa80nS23n-rxa1Qk8RoG67qUD5sWe-ahs7e0ihXqZkYnce9onAKoAyEQOHRAAcnVb4Hu2crqDMdVFDgLUS2o7vSNxPYaXRm2M7UXIEfKDGtGxw\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"94bb1faf2ec1485fb78052d1740e348a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T14:44:52.800Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:52.800Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"9203e719-029c-4351-805b-0e95826fd4ac\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac/content\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac/content\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac/copy\",\"uri\":\"/files/files/9203e719-029c-4351-805b-0e95826fd4ac/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":23,\"searchable\":true,\"fileStatus\":\"unlocked\",\"fileVersion\":0,\"version\":4,\"virusDetected\":false,\"urlDetected\":false,\"quarantine\":false}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/9203e719-029c-4351-805b-0e95826fd4ac"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16[...]
