{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T14:44:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTM4ODUsImlhdCI6MTY2MzMzOTQ4NSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNGRmMjU2YTIxYzkxNDJkMjhjZWJiN2E2ZjcxNjE3MzkiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzM5NDg0NjU2LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzOTQ4NSwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.aiPNjHNLl20_tSbjv2psjdchYJqDEQHJ6g6-oyZdK7MGmdElhfAueC1oHDDI4TaMIZoXuhJhffjPGg_ZpZQtsDymBbaecdFhj-eIns-Ceg2FxaJgFIE2j9sh1jb07cI9Ne0MfHmlltMv1bIrUMrsud4DUJv8Gg63wtVrJXqomnQ_9sAiMK-FOnYtlYmIknibbkORSSOAD1OWPFllDYlNiDiT1W17h_0G0uAECvQLmerzwHhs8YtoS5g5D2ZCrGZi4lZbJ9wIT4oA0XPzSpqpuxhyCgcOG_Ck39YKlnzyO1aBlmovbFoGnYB1LNNyzviJF-qAymjFP8wxGo7NU4V_pg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"4df256a21c9142d28cebb7a6f7161739\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22dummy_file%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T14:44:44.861Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:44.861Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"5f495536-15b9-4e4a-900f-93259945e273\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/copy\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"dummy_file\",\"size\":23,\"searchable\":true,\"fileStatus\":\"unlocked\",\"fileVersion\":0,\"version\":4,\"virusDetected\":false,\"urlDetected\":false,\"quarantine\":false}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22dummy_file%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/5f495536-15b9-4e4a-900f-93259945e273"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16[...]
