{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:27:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTg4NTEsImlhdCI6MTU3OTM4Mjg1MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI3ODAyMTE3NTRiMTE0MjNjYjNhNGE4NmNkMzVhNzVhYiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODI4NTE3MDksImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4Mjg1MSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.ExVNqgADsPlt-4XwQKoBqVvT8KtgR9cbHRlqz9vR9sKcYm24sj9SXNdUXV_gM16ar6JHAWsX7MQVkoxY0fy3LHCRECq7qjfEwbl1D2-ocSG45N3ISxUzR1H7JdLxpRRkK_QyrEUXbG9bnE6UIumCQTKOf8T75xxMG7_90I9OUte_rehSnX8ro9RAKYzOU33h4TqZ1rbxn6paTuGeNlkfOJ7DjfQatn3O4X_tD-GfTkR-g975e4SUZZ30zJV2vPQVlldx5WC8po1QIlea6kpcKMwH7pt4pY2G0JNkOPFXaB5Lh4cOx_wmMJgaDzX1AOCjltxMInzY2cFbDe4mKj7N2Q\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"780211754b11423cb3a4a86cd35a75ab\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-18T21:27:31.288Z\",\"modifiedTimeStamp\":\"2020-01-18T21:27:31.288Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/copy\",\"uri\":\"/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"version\":3}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/477a03b0-dbf5-43f0-a4c5-ac561a05629e"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01[...]
[...]
    {
      "recorded_at": "2020-01-18T21:27:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":0,\"items\":[],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}