{
  "http_interactions": [
    {
      "recorded_at": "2019-10-03T19:08:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"d429d4ff8b654a44b2f1190220f7c714\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-10-03T19:08:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=10000\",\"uri\":\"/modelRepository/projects?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)&limit=10000"
      }
    },
    {
      "recorded_at": "2019-10-03T19:08:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=10000\",\"uri\":\"/modelRepository/repositories?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-08-12T16:39:04.478Z\",\"modifiedTimeStamp\":\"2019-08-12T16:39:04.739Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"uri\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/reposit[...]
    {
      "recorded_at": "2019-10-03T19:08:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[[...]
    {
      "recorded_at": "2019-10-03T19:08:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2019-10-03T19:08:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"SepalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"function\": \"Classification\", \"targetLevel\": \"Binary\", \"predictionVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-10-03T19:08:55.802Z\",\"modifiedTimeStamp\":\"2019-10-03T19[...]
    {
      "recorded_at": "2019-10-03T19:08:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2019-10-03T19:08:55.802Z\", \"modifiedTimeStamp\": \"2019-10-03T19:08:56.084Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2019-10-03T19:08:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='warn', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='warn', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Classification\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"warn\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"}, {\"nam[...]
    {
      "recorded_at": "2019-10-03T19:08:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--be576d0ea35fbf8b2494b1c36a0cc5b6\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--be576d0ea35fbf8b2494b1c36a0cc5b6\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--be576d0ea35fbf8b2494b1c36a0cc5b6\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
    {
      "recorded_at": "2019-10-03T19:08:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\[...]
    {
      "recorded_at": "2019-10-03T19:08:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-05-24T21:38:55.2[...]
    {
      "recorded_at": "2019-10-03T19:08:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Iris%20Regression)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"link[...]
    {
      "recorded_at": "2019-10-03T19:08:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/f2fff1c7-6e52-4a7e-995a-1dc2ad0306b9"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2019-10-03T19:08:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris Regression\", \"notes\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='warn', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='warn', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"modelContents\": [{\"modelName\": \"IrisRegression\", \"sourceUri\": \"/modelRepository/models/f2fff1c7-6e52-4a7e-995a-1dc2ad0306b9\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-10-03T19:09:01.405Z\",\"modifiedTimeStamp\":\"2019-10-03T19:09:01.454Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"f5eb3f9d-7200-443c-b795-9047274e2029\",\"publishName\":\"IrisRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-10-03T19:09:01.405Z\",\"modifiedTimeStamp\":\"2019-10-03T19:09:01.405Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"62c62cc1-1bab-41b4-9ce3-793da0eb516c\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"f2fff1c7-6e52-4a7e-995a-1dc2ad0306b9\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/f2fff1c7-6e52-4a7e-995a-1dc2ad0306b9\",\"modelId\":\"f2fff1c7-6e52-4a7e-995a-1dc2ad0306b9\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029\",\"uri\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029\",\"uri\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029/log\",\"uri\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029/log\",\"type\":\"application/json\"}],\"name\":\"IrisRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k1b2pi8e\""
          ],
          "Last-Modified": [
            "Thu, 03 Oct 2019 19:09:01 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2019-10-03T19:08:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2019-10-03T19:09:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-10-03T19:09:01.579Z\",\"modifiedTimeStamp\":\"2019-10-03T19:09:11.758Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029\",\"uri\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029/log\",\"uri\":\"/modelPublish/models/f5eb3f9d-7200-443c-b795-9047274e2029/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"c6b7bb27-0a30-4306-95f3-64b8690beacd\",\"publishName\":\"Iris Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"f2fff1c7-6e52-4a7e-995a-1dc2ad0306b9\",\"modelName\":\"IrisRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/7b5fd5a7-fd27-46ed-a9d6-2896b93760a4\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/7b5fd5a7-fd27-46ed-a9d6-2896b93760a4\[...]
    {
      "recorded_at": "2019-10-03T19:09:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\"[...]
    {
      "recorded_at": "2019-10-03T19:09:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"G[...]
    {
      "recorded_at": "2019-10-03T19:09:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"sepallength\", \"value\": 5.1}, {\"name\": \"sepalwidth\", \"value\": 3.5}, {\"name\": \"petallength\", \"value\": 1.4}, {\"name\": \"petalwidth\", \"value\": 0.2}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"irisregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\"},{\"name\":\"rc\",\"value\":-1958743937},{\"name\":\"msg\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/irisregression/steps/score"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}