{
  "http_interactions": [
    {
      "recorded_at": "2022-08-16T18:35:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI4NGE5NjU2ZC02MzRkLTRlYzItYjA4ZS1iNDE5YzZiODE0NTkiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjA2ODkzNDMsImlhdCI6MTY2MDY3NDk0MywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJtbWRldkB1c2VyLmZyb20ubGRhcC5jZiIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJjNTI1MDE2MDNmOTI0YjdkODIxYzkyYjIwZWM3NWQ4ZCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2NjA2NzQ5Mzc2OTcsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoibW1kZXYiLCJyZXZfc2lnIjoiNGE1N2NkZTMiLCJ1c2VyX2lkIjoiODRhOTY1NmQtNjM0ZC00ZWMyLWIwOGUtYjQxOWM2YjgxNDU5IiwiYXV0aF90aW1lIjoxNjYwNjc0OTQzfQ.cXPvLLlhuqZ304NLxCPFloJqv9UEnyOz8u2OAXeLYo5tF9plTIxO1en0rc3f_cuM6PheGaXXlz0iSANcdOWA1iYGiOT2OAiR9-gSAxEmU6WioeuVvw3GeLLyv5joLG2yhryjb8VEAXJ-ATlI2OgYgSwnYfOhGW3y15piHaG5SDdcXAPig9UT8wez0dbieiYFjUJT9c72HGJ9uOD-e8ww_kU_2em67Q7aeQN2q0IEa58UQtdAzd2WovsXQPzr6JAlZMx5zZO8uUIJgzO4-yUhoj2teiNmYjgIQZla7jYs48NwnYv91BjlqEuZSevzQOBnHyEXbSLij8cW0g_lNn9ulA\",\"expires_in\":14399,\"scope\":\"unix_r&d openid\",\"jti\":\"c52501603f924b7d821c92b20ec75d8d\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-08-16T18:35:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Boston%20Housing)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.project+json\",\"count\":5,\"start\":0,\"limit\":20,\"name\":\"projects\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T16:15:18.063821Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T16:15:18.811505Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"name\":\"Iris\",\"function\":\"classification\",\"targetLevel\":\"binary\",\"eventProbabilityVariable\":\"var1\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/eed0927a-f0d2-4902-9b2a-f8ec801c276a\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"challengerModels\":null,\"tags\":null,\"globalTags\":null,\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/projects/\",\"uri\":\"/modelRepository/projects/\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas[...]
    {
      "recorded_at": "2022-08-16T18:35:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"count\":1,\"start\":0,\"limit\":20,\"name\":\"repositories\",\"items\":[{\"creationTimeStamp\":\"2022-08-15T17:26:38.466236Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedTimeStamp\":\"2022-08-15T17:26:38.466237Z\",\"modifiedBy\":\"sas.modelRepository\",\"version\":0,\"id\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"defaultRepository\":true,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"uri\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"uri\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}]}],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"}]}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json; charset=utf-8"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelRepository/repositories"
      }
    },
    {
      "recorded_at": "2022-08-16T18:35:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Boston Housing\", \"repositoryId\": \"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\", \"folderId\": \"20d9142a-158c-4c91-a500-0eb14668454a\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"predictionVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-08-16T18:35:43.978511Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:35:44.329429Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"d876e996-b374-4392-ab43-e35044292ae6\",\"name\":\"sasctl_testing Boston Housing\",\"function\":\"prediction\",\"predictionVariable\":\"var1\",\"targetLevel\":\"interval\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/89742d5c-16c2-46ea-88ed-37e244141d38\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"location\":\"/Model Repositories/Public\",\"variables\":[{\"creationTimeStamp\":\"2022-08-16T18:35:43.985591Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:35:44.293705Z\",\"modifiedBy\":\"USERNAME\",\"name\":\"DIS\",\"description\":\"\",\"role\":\"input\",\"type\":\"decimal\",\"level\":\"\",\"format\":\"\",\"aggregation\":\"\",\"length\":0,\"id\":\"15d781a2-c5dd-4275-977f-334c11c613bc\",\"holderId\":\"d876e996-b374-4392-ab43-e35044292ae6\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/projects/d876e996-b374-4392-ab43-e35044292ae6/variables/15d781a2-c5dd-4275-977f-334c11c613bc\",\"uri\":\"/modelRepository/projects/d876e996-b374-4392-ab43-e35044292ae6/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.variable\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/d876e996-b374-4392-ab43-e35[...]
    {
      "recorded_at": "2022-08-16T18:35:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression()\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.8\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"deprecated\"}, {\"name\": \"positive\", \"value\": \"False\"}, {\"name\": \"env_sasctl\", \"value\": \"1.7.2\"}, {\"name\": \"env_wcwidth\", \"value\": \"0.2.5\"}, {\"name\": \"env_traitlets\", \"value\": \"4.3.3\"}, {\"name\": \"env_tornado\", \"value\": \"6.0.4\"}, {\"name\": \"env_six\", \"value\": \"1.15.0\"}, {\"name\": \"env_scipy\", \"value\":[...]
    {
      "recorded_at": "2022-08-16T18:35:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--084d2fefbf14f521c3b675470e3b48e8\r\nContent-Disposition: form-data; name=\"files\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-stream\r\n\r\n\ufffd\u0004\ufffd*\u0003\u0000\u0000\u0000\u0000\u0000\u0000\ufffd\u001asklearn.linear_model._base\ufffd\ufffd\u0010LinearRegression\ufffd\ufffd\ufffd)\ufffd\ufffd}\ufffd(\ufffd\rfit_intercept\ufffd\uff[...]
    {
      "recorded_at": "2022-08-16T18:35:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--c3ab5ade244368a4c8e43846f4539e65\r\nContent-Disposition: form-data; name=\"files\"; filename=\"requirements.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nsasctl==1.7.2\nwcwidth==0.2.5\ntraitlets==4.3.3\ntornado==6.0.4\nsix==1.15.0\nscipy==1.8.1\npyzmq==19.0.2\nPyYAML==6.0\npytz==2022.1\npython-dateutil==2.8.1\nPygments==2.6.1\nprompt-toolkit==3.0.5\npic[...]
    {
      "recorded_at": "2022-08-16T18:35:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--57b9183b616a6720095ff00019a289ef\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_packagescorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _5A9B99E1B61E4A0EB5E460A88DAC517 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl[...]
    {
      "recorded_at": "2022-08-16T18:35:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--2c30759c356a1a164f5b319f64f17ecd\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_epscorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _5A9B99E1B61E4A0EB5E460A88DAC517 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl int [...]
[...]
    {
      "recorded_at": "2022-08-16T18:35:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/86ee2d4f-78ca-4b61-96d2-4719fe5a5e01/contents"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":1,\"accept\":\"application/vnd.sas.models.model.content+json\",\"count\":5,\"start\":0,\"limit\":20,\"name\":\"modelFiles\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T18:35:46.193573Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:35:46.193574Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"21c18cb2-e4bb-44e7-984a-bd7e61cbd915\",\"name\":\"model.pkl\",\"role\":\"Python Pickle\",\"fileUri\":\"/files/files/b6dc1e4f-d487-4481-8243-3d9b58e94c62\",\"modelId\":\"86ee2d4f-78ca-4b61-96d2-4719fe5a5e01\",\"links\":[{\"method\":\"GET\",\"rel\":\"UP\",\"href\":\"/modelRepository/models/86ee2d4f-78ca-4b61-96d2-4719fe5a5e01\",\"uri\":\"/modelRepository/models/86ee2d4f-78ca-4b61-96d2-4719fe5a5e01\",\"itemType\":\"application/vnd.sas.models.model.content\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/86ee2d4f-78ca-4b61-96d2-4719fe5a5e01/contents/21c18cb2-e4bb-44e7-984a-bd7e61cbd915\",\"uri\":\"/modelRepository/models/86ee2d4f-78ca-4b[...]
