{
  "http_interactions": [
    {
      "recorded_at": "2019-07-10T19:29:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates esvakmcriskconsumers SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS esvakmcorionriskconsumers USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers esvakmcorionriskaccess bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"461fbc1f4dac4fed8aeefe190aeacbf6\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-07-10T19:29:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/\",\"uri\":\"/casManagement/\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"uri\":\"/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)&excludeItemLinks=false&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"}],\"name\":\"servers\",\"accept\":\"application/vnd.sas.cas.server\",\"start\":0,\"count\":1,\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"fsds-viya19w04-primary-controller.fsl.sashq-d.openstack.sas.com\",\"port\":5570,\"restPort\":8777,\"restProtocol\":\"https\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-d[...]
    {
      "recorded_at": "2019-07-10T19:29:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"name\":\"cas-shared-def[...]
    {
      "recorded_at": "2019-07-10T19:29:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs?filter=eq($primary,name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "s[...]
    {
      "recorded_at": "2019-07-10T19:29:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables?filter=eq($primary,name,%20%22COMPLAINTS%22)"
      },
      "response": {
        "body": {
          "encoding": "UT[...]
    {
      "recorded_at": "2019-07-10T19:29:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputUri\": \"/casManagement/servers/cas-shared-default/caslibs/Public/tables/COMPLAINTS\", \"documentIdVariable\": \"__uniqueid__\", \"textVariable\": \"Consumer_complaint_narrative\", \"version\": 1, \"language\": \"en\", \"enableFacts\": false}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.text.concepts.job.request+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/concepts/jobs"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":1,\"language\":\"en\",\"matchType\":\"all\",\"enableFacts\":false,\"inputUri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/COMPLAINTS\",\"documentIdVariable\":\"__uniqueid__\",\"textVariable\":\"Consumer_complaint_narrative\",\"id\":\"22e36213-80cc-4ce3-9d08-e8fff441773a\",\"state\":\"pending\",\"creationTimeStamp\":\"2019-07-10T19:29:30.355Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a\",\"uri\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a\",\"type\":\"application/vnd.sas.text.concepts.job\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a\",\"uri\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state\",\"uri\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state\",\"type\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"log\",\"href\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/log\",\"uri\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/log\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"cancel\",\"href\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state?value=canceled\",\"uri\":\"/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state?value=canceled\",\"responseType\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"caslib\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.text.concepts.job+json;charset=UTF-8"
          ],
          "Location": [
            "https://hostname.com/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs"
      }
    },
    {
      "recorded_at": "2019-07-10T19:29:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "running"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state"
      }
    },
[...]
    {
      "recorded_at": "2019-07-10T19:29:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "completed"
        },
        "headers": {
          "Content-Type": [
            "text/plain;charset=ISO-8859-1"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/concepts/jobs/22e36213-80cc-4ce3-9d08-e8fff441773a/state"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}