{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:27:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTg4NTAsImlhdCI6MTU3OTM4Mjg1MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJlY2NhYjExMmRiMDc0NTk1OGUxOGYzMzA0YjFjOGFiZCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODI4NTAxNTgsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4Mjg1MCwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.i0kn_aiMEonTW0OydhEIrZtg04XDpl8LXiK-j-R01qL7LOLX_CH3hEGV8ptNTHsDPDVXp-f_0Gbm4x_STcaH3-iSvSSeElMF_lGbYst4HsMgSJaZ2nWAHwqdIX5Q43N5d2ce0QNnlfyUEuRTDV2gPA_JL_ec-3RoXjVGn1D0AlrC8S-caykJKq3OcJ1hYWnE5SBbCG4Pk7OjNz886YibKhZVDWL61Oj4CJiF9yj_gTueqJN1TfwmJr-DMVwOlc5-8-iToJE-fFX8dA5-CJfsTo97CkFnDW7TSk_79yClaa9ameChS24yG08Rygp4WpL3wJyFRa2gU0lSi5wBRLAB4A\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"eccab112db0745958e18f3304b1c8abd\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--6162636465666768696a6b6c6d6e6f70\r\nContent-Disposition: form-data; name=\"sasctl_test_file\"; filename=\"sasctl_test_file\"\r\n\r\nSome test file content.\r\n--6162636465666768696a6b6c6d6e6f70--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=6162636465666768696a6b6c6d6e6f70"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/files/files#multipartUpload"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-18T21:27:30.516Z\",\"modifiedTimeStamp\":\"2020-01-18T21:27:30.516Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"2268e090-7eee-415c-97bd-217e9ce3de27\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27/content\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27/content\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27/copy\",\"uri\":\"/files/files/2268e090-7eee-415c-97bd-217e9ce3de27/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_file\",\"size\":23,\"version\":3}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.file+json; version=1;charset=UTF-8"
          ],
          "ETag": [
            "\"k5k3rqvo\""
          ],
          "Last-Modified": [
            "Sat, 18 Jan 2020 21:27:30 GMT"
          ],
          "Location": [
            "/files/files/2268e090-7eee-415c-97bd-217e9ce3de27"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/files/files#multipartUpload"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}