{
  "http_interactions": [
    {
      "recorded_at": "2020-02-22T04:19:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"5e1d5ef87d254522b7ba89378bd38136\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-02-22T04:19:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-08-12T20:56:28.720Z\",\"modifiedTimeStamp\":\"2019-08-14T13:13:16.289Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\"}],\"version\":2,\"id\":\"fd4bc28c-d153-46be-bf59-1302d58013ce\",\"name\":\"Fleet Maintenance\",\"repositoryId\":\"4690ad52-6e52-4cb5-b4a7-a37e75fe42bc\",\"folderId\":\"8f69aa5d-6686-4093-b1a7-96cf84a831df\",\"function\":\"classification\",\"externalProjectId\":\"9cb55b9b-bb71-4037-9b29-8effa8986ec6\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/FLEET_TRAIN\",\"targetVariable\":\"Maintenance_Flag\",\"targetEventValue\":\"1\",\"classTargetValues\":\"1,0\",\"eventProbabilityVariable\":\"P_Maintenance_flag1\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"retrainUri\":\"/dataMining/projects/9cb55b9b-bb71-4037-9b29-8effa8986ec6/retrainJobs?action=batch&dataUri={dataUri}\",\"retrainStatusUri\":\"/dataMining/projects/9cb55b9b-bb71-4037-9b29-8effa8986ec6/retrainJobs?retrainingState={retrainingState}\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-12T20:50:13.591Z\",\"modifiedTimeStamp\":\"2019-08-14T15:38:08.305Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/c3caf116-3208-4ac4-9cf3-777c7dd10504\",\"uri\":\"/modelRepository/projects/c3caf116-3208-4ac4-9cf3-777c7dd10504\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/c3caf116-3208-[...]
    {
      "recorded_at": "2020-02-22T04:19:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-08-12T16:39:04.478Z\",\"modifiedTimeStamp\":\"2019-08-12T16:39:04.739Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"uri\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/reposit[...]
    {
      "recorded_at": "2020-02-22T04:19:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2020-02-22T04:19:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2020-02-22T04:19:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Housing\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"predictionVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-22T04:19:13.642Z\",\"modifiedTimeStamp\":\"2020-02-22T04[...]
    {
      "recorded_at": "2020-02-22T04:19:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2020-02-22T04:19:13.642Z\", \"modifiedTimeStamp\": \"2020-02-22T04:19:13.778Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2020-02-22T04:19:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,\\n         normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}, {\"name\": \"env_alabaster\", \"value\": \"0.7.12\"}, {\"name\": \"env_atomicwrites\", \"value\": \"1.3.0\"}, {\"name\": \"env_attrs\", \"value\": \"19.2.0\"}, {\"name\": \"env_Babel\", \"value\": \"2.8.0\"}, {\"name\": \"env_betamax\", \"value\": \"0.8.1\"}, {\"name\": \"env_betamax-serializers\", \"value\": \"0.2.1\"}, {\"name\": \"env_ca[...]
    {
      "recorded_at": "2020-02-22T04:19:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--c124d7b42916eb076412170ebf9de262\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--c124d7b42916eb076412170ebf9de262\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--c124d7b42916eb076412170ebf9de262\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-s[...]
[...]
    {
      "recorded_at": "2020-02-22T04:19:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-02-22T04:19:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-05-24T21:38:55.2[...]
    {
      "recorded_at": "2020-02-22T04:19:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Boston%20Regression)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"me[...]
    {
      "recorded_at": "2020-02-22T04:19:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/db6acfcb-7179-40ec-a68b-e75f5e386115"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2020-02-22T04:19:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Regression\", \"notes\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,\\n         normalize=False)\", \"modelContents\": [{\"modelName\": \"BostonRegression\", \"sourceUri\": \"/modelRepository/models/db6acfcb-7179-40ec-a68b-e75f5e386115\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-22T04:19:18.682Z\",\"modifiedTimeStamp\":\"2020-02-22T04:19:18.706Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"71679c0a-841d-49f6-851d-5b5e34147e9a\",\"publishName\":\"BostonRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2020-02-22T04:19:18.683Z\",\"modifiedTimeStamp\":\"2020-02-22T04:19:18.683Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"ace62b6b-fcbe-4985-8e8d-e43d51e46704\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"db6acfcb-7179-40ec-a68b-e75f5e386115\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/db6acfcb-7179-40ec-a68b-e75f5e386115\",\"modelId\":\"db6acfcb-7179-40ec-a68b-e75f5e386115\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a\",\"uri\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a\",\"uri\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a/log\",\"uri\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a/log\",\"type\":\"application/json\"}],\"name\":\"BostonRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k6x3gaia\""
          ],
          "Last-Modified": [
            "Sat, 22 Feb 2020 04:19:18 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2020-02-22T04:19:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2020-02-22T04:19:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-22T04:19:18.745Z\",\"modifiedTimeStamp\":\"2020-02-22T04:19:25.277Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a\",\"uri\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a/log\",\"uri\":\"/modelPublish/models/71679c0a-841d-49f6-851d-5b5e34147e9a/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"88f18862-959a-4f06-ba9b-add12a58049e\",\"publishName\":\"Boston Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"db6acfcb-7179-40ec-a68b-e75f5e386115\",\"modelName\":\"BostonRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/fc07296e-ee7e-4076-a185-7c9a67ed17fd\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/fc07296e-ee7e-4076-a185-7c9a67ed17fd\[...]
    {
      "recorded_at": "2020-02-22T04:19:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel[...]
    {
      "recorded_at": "2020-02-22T04:19:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\"[...]
    {
      "recorded_at": "2020-02-22T04:19:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"crim\", \"value\": 0.10793}, {\"name\": \"zn\", \"value\": 0.0}, {\"name\": \"indus\", \"value\": 8.56}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"nox\", \"value\": 0.52}, {\"name\": \"rm\", \"value\": 6.195}, {\"name\": \"age\", \"value\": 54.4}, {\"name\": \"dis\", \"value\": 2.7778}, {\"name\": \"rad\", \"value\": 5.0}, {\"name\": \"tax\", \"value\": 384.0}, {\"name\": \"ptratio\", \"value\": 20.9}, {\"name\": \"b\", \"value\": 393.49}, {\"name\": \"lstat\", \"value\": 13.0}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"bostonregression\",\"stepId\":\"predict\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\",\"value\":20.012025203016016}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/predict"
      }
    },
[...]
    {
      "recorded_at": "2020-02-22T04:19:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\[...]
    {
      "recorded_at": "2020-02-22T04:19:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"G[...]
[...]
