{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T15:47:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2MTY4MjAsImlhdCI6MTY2MzYwMjQyMCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNWIwNDFlNDZmYzU1NDk3ZjkwYjE3ZjA0YjRlMTkwZmEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjAyNDA0MjY3LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiIzOTM2OTFiMyIsInVzZXJfaWQiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdXRoX3RpbWUiOjE2NjM2MDI0MjB9.jGtNS4g0Bcw3bxxIZ8XSj8p2sFSXyeLYER00uF2ZVDjh805IwNhMsSTi-EpxeePiv0EfdU0CoO7Uxm8E3c9FOTZHlrCeXEBMl1cf3BSen1QMd-Giz4TWFVHLsUBMyUVmbvA0z6wAFypz8eOfjk_ViIRBybV6n7XZocaE5jCbaoOhPGoFAZVGaZpfrcQ836ftqQ6KOTESathafwTlh81gCFUDX6Y_ZzXv-IBFtS96B0mc0oRHx5FjrV9kd54mKbt18mibmxT_ugH_TAfaWk4ckIDLs4phuglKWYVCdXrhAylbefnjxH3Cfpp3le9UM9NeIDyFNRj_m64VdErTy8Aj_w\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"5b041e46fc55497f90b17f04b4e190fa\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T15:47:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22maslocal%22%29\",\"uri\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22maslocal%22%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestination\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination\",\"responseType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestinationCAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.cas\",\"responseType\":\"application/vnd.sas.models.publishing.destination.cas+json\"},{\"method\":\"POST\",\"rel\":\"createDestinationMAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.[...]
    {
      "recorded_at": "2022-09-19T15:47:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2022-09-19T12:08:24.917362Z\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\",\"id\":\"f573ec94-5c34-4b0c-b915-83edb2c0bf22\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2022-09-19T12:08:24.917362Z\",\"name\":\"maslocal\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1663589304917362000\""
          ],
          "Last-Modified": [
            "Mon, 19 Sep 2022 12:08:24 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/maslocal"
      }
    },
    {
      "recorded_at": "2022-09-19T15:47:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-19T15:46:33.822Z\",\"modifiedTimeStamp\":\"2022-09-19T15:46:42.810Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/contents\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/variables\",\"uri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"name\":\"AStore Model\",\"projectId\":\"d9961d50-c0e6-4944-9c31-4965f23f0c18\",\"projectName\":\"SASCTL AStore Test Project\",\"projectVersionId\":\"10289b5f-269a-4209-9b5c-cb877dd50c7d\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"54a88443-8d88-421f-85d8-83d27da3b203\",\"repositoryId\":\"009240a4-4a95-4fbc-b01a-e1b30fbe3cc6\",\"function\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"2.1\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      }
    },
    {
      "recorded_at": "2022-09-19T15:47:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-19T15:48:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"AStore Model\", \"notes\": null, \"modelContents\": [{\"modelName\": \"AStoreModel\", \"sourceUri\": \"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=True&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-09-19T15:48:06.264306367Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-19T15:48:06.264306367Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"e0f2a8b1-ff9d-45c1-89f1-f043a140c41f\",\"name\":\"AStoreModel\",\"publishName\":\"AStoreModel\",\"publishType\":\"mas\",\"verified\":false,\"principalId\":\"fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"projectId\":\"d9961d50-c0e6-4944-9c31-4965f23f0c18\",\"projectVersionId\":\"10289b5f-269a-4209-9b5c-cb877dd50c7d\",\"modelId\":\"fceecc1b-8aa3-453a-bfbd-2ca4c2f26eae\",\"modelVersionId\":\"2.1\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f\",\"uri\":\"/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f04[...]
    {
      "recorded_at": "2022-09-19T15:48:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
    {
      "recorded_at": "2022-09-19T15:48:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f/log"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-19T15:48:06.31389Z\",\"destinationName\":\"maslocal\",\"id\":\"f7ec9b7d-4c4a-4046-8e6d-9f3e5b6f30cf\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f\",\"uri\":\"/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f/log\",\"uri\":\"/modelPublish/models/e0f2a8b1-ff9d-45c1-89f1-f043a140c41f/log\",\"type\":\"application/json\"}],\"log\":\"SUCCESS=== {{2022-09-19 15:48:06.509 +0000 UTC USERNAME 2022-09-19 15:48:13.462 +0000 UTC USERNAME} 26bfed35-63ca-4835-87ec-fe1216e97edb 1  astoremodel completed [] [Method: GET Rel: up URI: /microanalyticScore/jobs MediaType: application/vnd.sas.collection\\n Method: GET Rel: self URI: /microanalyticScore/jobs/26bfed35-63ca-4835-87ec-fe1216e97edb MediaType: application/vnd.sas.microanalytic.job\\n Method: GET Rel: source URI: /microanalyticScore/jobs/26bfed35-63ca-4835-87ec-fe1216e97edb/sourc[...]
    {
      "recorded_at": "2022-09-19T15:48:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/astoremodel"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"[...]
    {
      "recorded_at": "2022-09-19T15:48:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/astoremodel/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\[...]
