{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:48:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODg1MzcsImlhdCI6MTY2MzE3NDEzNywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiOTBlMDZiNGQ5ZTE5NGQ2OGE2ZWU1MzY3N2YwYTQyMjIiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTc0MTM1MjM5LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzQxMzZ9.h2e-VL8exNR12jOOWH9_jkN0SdcRs2SlTUy8aZxoycuxS6TudUhLCggX4P9DRtZxyhBi_Sh4in8Hx-_7DhA3T976jd6fgvXCe2QcQzBsvo53onmgOrrb2dThTLVF37s7DKusRcTpggiT8XmPJzHS6zOts0RNApq7hFDlHXqcUFCmtTyT7k49OC7qJbYghsu2BChe0wjCY6iSDDBtzpMMgF7dB7U4N9XB3PvbP2sIhKh8l7hjrhIkAR6jXkrrBWNaSci0-2io4asM5XGGe_ecznrXLiyZCxVVQ_CUTLYZqV3J2Ux1PUr8OykR2eQrUHG02oYRsHB1C5q3y0daB7LQPQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"90e06b4d9e194d68a6ee53677f0a4222\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:48:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"},{\"method\":\"GET\",\"rel\":\"next\",\"href\":\"/modelRepository/models?start=20&limit=20\",\"uri\":\"/modelRepository/models?start=20&limit=20\",\"type\":\"application/vnd.sas.collection+json\"}],\"name\":\"models\",\"start\":0,\"count\":29,\"items\":[{\"creationTimeStamp\":\"2022-09-13T14:11:30.542Z\",\"modifiedTimeStamp\":\"2022-09-13T14:11:32.386Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff\",\"uri\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff\",\"uri\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff/contents\",\"uri\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff/variables\",\"uri\":\"/modelRepository/models/7553de04-f0e0-4c65-ad40-eceb3a7b81ff/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"7553de04-f0e0-4c65-ad40-eceb3a7b81ff\",\"name\":\"Gradient Boosting\",\"projectId\":\"76181a05-940d-40bc-98c2-56a572f5b8d5\",\"projectName\":\"Iris\",\"projectVersionId\":\"bc4fe0ce-fa12-4e0a-9377-c5cffd1dd307\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"913dcd78-65af-469c-8f06-27c1714c7c61\",\"repositoryId\":\"95540da2-fe4c-4b70-9535-f72017f29108\",\"function\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2022-09-13T14:40:23.263Z\",\"modifiedTimeStamp\":\"2022-09-13T14:40:24.253Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04\",\"uri\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04\",\"uri\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04/contents\",\"uri\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04/variables\",\"uri\":\"/modelRepository/models/27a49d9a-a637-4a6d-91a2-0535335b6e04/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"27a49d9a-a637-4a6d-91a2-0535335b6e04\",\"name\":\"Custom Model\",\"description\":\"This model is for demonstration purposes only.\",\"projectId\":\"2cf81746-e127-4b73-9079-8ab11bb42cce\",\"projectName\":\"Examples\",\"projectVersionId\":\"ee8d72ab-8890-4100-b7bb-0ead2a806fe6\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"913dcd78-65af-469c-8f06-27c1714c7c61\",\"indirectFolderId\":\"913dcd78-65af-469c-8f06-27c1714c7c61\",\"repositoryId\":\"95540da2-fe4c-4b70-9535-f72017f29108\",\"algorithm\":\"Other\",\"scoreCodeType\":\"Python\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2022-09-13T14:44:14.823Z\",\"modifiedTimeStamp\":\"2022-09-13T14:44:16.376Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models[...]
    {
      "recorded_at": "2022-09-14T16:48:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?start=20&limit=20"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"s[...]
    {
      "recorded_at": "2022-09-14T16:48:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?start=40&limit=20"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=40&limit=20\",\"uri\":\"/modelRepository/models?start=40&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"},{\"method\":\"GET\",\"rel\":\"first\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection+json\"},{\"method\":\"GET\",\"rel\":\"prev\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection+json\"}],\"name\":\"models\",\"start\":40,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?start=40&limit=20"
      }
    },
[...]
    {
      "recorded_at": "2022-09-14T16:48:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22SASCTL%20Basic%20Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\[...]
    {
      "recorded_at": "2022-09-14T16:48:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/c69caba5-a46a-4040-aeb6-a120f0b3f5a6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
    {
      "recorded_at": "2022-09-14T16:48:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Basic Model\", \"projectId\": \"c69caba5-a46a-4040-aeb6-a120f0b3f5a6\", \"modeler\": \"USERNAME\", \"description\": null, \"function\": null, \"algorithm\": null, \"tool\": null, \"champion\": null, \"properties\": [], \"scoreCodeType\": null, \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"inputVariables\": [], \"outputVariables\": [], \"version\": 2}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeSt[...]
[...]
