{
  "http_interactions": [
    {
      "recorded_at": "2022-08-12T11:01:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.session.summary\",\"count\":3,\"start\":0,\"limit\":10,\"name\":\"sessions\",\"items\":[{\"version\":2,\"id\":\"ed96b43a-544e-a84b-8ccc-c8ec9e94c5f4\",\"name\":\"SessionSimulation:Fri Aug 12 10:52:17 2022\",\"state\":\"Disconnected\",\"authenticationType\":\"OAuth\",\"owner\":\"stzsil\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/ed96b43a-544e-a84b-8ccc-c8ec9e94c5f4\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/ed96b43a-544e-a84b-8ccc-c8ec9e94c5f4\",\"type\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/ed96b43a-544e-a84b-8ccc-c8ec9e94c5f4\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/ed96b43a-544e-a84b-8ccc-c8ec9e94c5f4\"},{\"method\":\"POST\",\"rel\":\"startPermissionsTransaction\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/ed96b43a-544e-a84b-8ccc-c8ec9e94c5f4?action=start\",\"uri\":\"/casManagement/servers/cas[...]
