{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"34977457d94f46f096752b9ec1fca011\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=10000\",\"uri\":\"/modelRepository/models?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-09-06T18:10:32.065Z\",\"modifiedTimeStamp\":\"2019-09-06T18:10:35.532Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/contents\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/variables\",\"uri\":\"/modelRepository/models/6dc3f774-f3a6-44a2-9a93-f8b88de14c0f/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"6dc3f774-f3a6-44a2-9a93-f8b88de14c0f\",\"name\":\"AStore Model\",\"description\":\"None\",\"projectId\":\"8c3cedad-0145-465d-9004-883551c88f03\",\"projectName\":\"SASCTL AStore Test Project\",\"projectVersionId\":\"39d23dcf-3182-4f86-bb09-8e3721461de9\",\"projectVersionName\":\"Version 2\",\"projectVersionNum\":\"2.0\",\"indirectFolderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"function\":\"\",\"algorithm\":\"\",\"tool\":\"\",\"toolVersion\":\"\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"\",\"externalModelId\":\"\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"2.1\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-09-06T18:11:52.643Z\",\"modifiedTimeStamp\":\"2019-09-06T18:11:52.643Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/2b61c2fb-dac2-4fff-82c6-1054bd83f545\",\"uri\":\"/modelRepository/models/2b61c2fb-dac2-4fff-82c6-1054bd83f545\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/2b61c2fb-dac2-4fff-[...]
    {
      "recorded_at": "2019-09-06T18:11:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Basic%20Model)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[...]
    {
      "recorded_at": "2019-09-06T18:11:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/2b61c2fb-dac2-4fff-82c6-1054bd83f545"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2019-09-06T18:11:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/2b61c2fb-dac2-4fff-82c6-1054bd83f545"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":21206,\"message\":\"The model ID \\\"2b61c2fb-dac2-4fff-82c6-1054bd83f545\\\" is invalid. Enter a valid value for the model \\\"id\\\" parameter\\\".\",\"details\":[\"correlator: 4b1de9cd-ba26-4152-a32b-4d03771426e8\",\"traceId: 6d1e7ad6570e8268\",\"path: /modelRepository/models/2b61c2fb-dac2-4fff-82c6-1054bd83f545\"],\"links\":[],\"version\":2,\"httpStatusCode\":404}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 404,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/2b61c2fb-dac2-4fff-82c6-1054bd83f545"
      }
    },
[...]
