{
  "http_interactions": [
    {
      "recorded_at": "2020-01-23T20:16:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{ \"session\": \"85580401-4652-1e4b-8339-0a7b543fdf41\" }\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.session.id+json"
          ],
          "Location": [
            "http://hostname.com/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"builtins.help\": false\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000211,\n    \"cpuUserTime\": 0.001,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 135332311040,\n    \"systemNodes\": 1,\n    \"systemCores\": 10,\n    \"memory\": 222208,\n    \"osMemory\": 8179712,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 8179712,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.queryname"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"action\": \"help\",\n        \"actionSet\": \"builtins\"\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000216,\n    \"cpuUserTime\": 0,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 135332311040,\n    \"systemNodes\": 1,\n    \"systemCores\": 10,\n    \"memory\": 224800,\n    \"osMemory\": 8179712,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 8179712,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.queryname"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\", \"showhidden\": true, \"actionset\": \"builtins\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"desc\": \"Adds a machine to the server\",\n                          \"label\": \"Add node\",\n                          \"name\": \"addNode\",\n                          \"params\":   [\n                                  {\n                                      \"allowedValues\":   [\n                                            \"controller\",\n                                            \"worker\"\n                                          ],\n                                      \"desc\": \"specifies the role for the machine. Controllers are added as backup controllers. Only two controllers are supported.\",\n                                      \"label\": \"Role\",\n                                      \"name\": \"role\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"default\": [ ],\n                                      \"desc\": \"specifies the host names of the machines to add to the server.\",\n                                      \"hasInclMin\": true,\n                                      \"label\": \"Node\",\n                                      \"name\": \"node\",\n                                      \"parmType\": \"value_list\",\n                                      \"type\": 11,\n                                      \"valueMin\": 1\n                                    }\n                              ]\n                        },\n                      {\n                          \"desc\": \"Remove one or more machines from the server\",\n                          \"label\": \"Remove node\",\n                          \"name\": \"removeNode\",\n                          \"params\":   [\n                                  {\n                                      \"default\": [ ],\n                                      \"[...]
    {
      "recorded_at": "2020-01-23T20:16:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"showhidden\": true, \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.help"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"accessControl\": \n          {\n            \"_ctb\": true,\n            \"label\": \"\",\n            \"title\": \"\",\n            \"name\": \"accessControl\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Name\",\"format\": \"\",\"type\": \"string\",\"width\": 64,\"attributes\": \n              {}\n               },\n              { \"name\": \"description\",\"label\": \"Description\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"help\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1895411791.05456 }\n            },\n            \"rows\": [\n              [ \"accessPersonalCaslibs\", \"Provides administrative access to all personal caslibs (CASUSER and CASUSERHDFS)\" ],\n              [ \"assumeRole\", \"Assumes a role\" ],\n              [ \"dropRole\", \"Relinquishes a role\" ],\n              [ \"showRolesIn\", \"Shows the currently active role\" ],\n              [ \"showRolesAllowed\", \"Shows the roles that a user is a member of\" ],\n              [ \"isInRole\", \"Shows whether a role is assumed\" ],\n              [ \"i[...]
    {
      "recorded_at": "2020-01-23T20:16:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"py-session-1\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/se[...]
    {
      "recorded_at": "2020-01-23T20:16:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.serverstatus"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"About\":   {\n              \"CAS\": \"Cloud Analytic Services\",\n              \"Copyright\": \"Copyright \u00a9 2014-2018 SAS Institute Inc. All Rights Reserved.\",\n              \"ServerTime\": \"2020-01-23T20:16:32Z\",\n              \"System\":   {\n                    \"Hostname\": \"sasserver\",\n                    \"Linux Distribution\": \"CentOS release 6.9 (Final)\",\n                    \"Model Number\": \"x86_64\",\n                    \"OS Family\": \"LIN X64\",\n                    \"OS Name\": \"Linux\",\n                    \"OS Release\": \"2.6.32-696.18.7.el6.x86_64\",\n                    \"OS Version\": \"#1 SMP Thu Jan 4 17:31:22 UTC 2018\"\n                  },\n              \"Version\": \"3.04\",\n              \"VersionLong\": \"V.03.04M0P07122018\",\n              \"license\":   {\n                    \"expires\": \"24May2020:00:00:00\",\n                    \"gracePeriod\": 45,\n                    \"maxCPUs\": 9999,\n                    \"site\": \"DEMOCENTER - Production 19W21\",\n                    \"siteNum\": 70180938,\n                    \"warningPeriod\": 46\n                  }\n            },\n        \"nodestatus\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Node Status\",\n            \"title\": \"\",\n            \"name\": \"nodes\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Node Name\",\"format\": \"\",\"type\": \"string\",\"width\": 64,\"attributes\": \n              {}\n               },\n              { \"name\": \"role\",\"label\": \"Role\",\"format\": \"\",\"type\": \"string\",\"width\": 10,\"attributes\": \n              {}\n               },\n              { \"name\": \"uptime\",\"label\": \"Uptime (Sec)\",\"format\": \"\",\"type\": \"double\",\"width\": 8,\"attributes\": \n              {}\n               },\n              { \"name\": \"running\",\"label\": \"Running\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"stalled\",\"label\": \"Stalled\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"serverStatus\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1895411791.76339 }\n            },\n            \"rows\": [\n              [ \"sasserver.demo.sas.com\", \"controller\", 5.364, 0, 0 ]\n            ]\n          }\n,\n        \"server\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Server Status\",\n            \"title\": \"\",\n            \"name\": \"server\",\n            \"schema\": [\n              { \"name\": \"nodes\",\"label\": \"Node Count\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"actions\",\"label\": \"Total Actions\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n    [...]
    {
      "recorded_at": "2020-01-23T20:16:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price\n0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98,24.0\n0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6\n0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7\n0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.6[...]
    {
      "recorded_at": "2020-01-23T20:16:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"regression\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.loadactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"NOTE: Added action set 'regression'.\\n\",\n  \"results\":   {\n        \"actionset\": \"regression\"\n      },\n  \"logEntries\": [\n    { \"message\": \"NOTE: Added action set 'regression'.\", \"level\": \"info\" }\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [\n    \"actionsets\"  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.003544,\n    \"cpuUserTime\": 0.002999,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 135332311040,\n    \"systemNodes\": 1,\n    \"systemCores\": 10,\n    \"memory\": 247936,\n    \"osMemory\": 10014720,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 20541440,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.loadactionset"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"regression\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"regression\": true\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000205,\n    \"cpuUserTime\": 0,\n    \"cpuSystemTime\": 0.001,\n    \"systemTotalMemory\": 135332311040,\n    \"systemNodes\": 1,\n    \"systemCores\": 10,\n    \"memory\": 222208,\n    \"osMemory\": 10014720,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 20541440,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\", \"showhidden\": true, \"actionset\": \"regression\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/85580401-4652-1e4b-8339-0a7b543fdf41/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"autoRetry\": true,\n                          \"desc\": \"Fits linear regression models using the method of least squares\",\n                          \"label\": \"Linear Regression\",\n                          \"name\": \"glm\",\n                          \"params\":   [\n                                  {\n                                      \"desc\": \"specifies the input data table.\",\n                                      \"isRequired\": true,\n                                      \"isTableDef\": true,\n                                      \"label\": \"Table\",\n                                      \"name\": \"table\",\n                                      \"parmList\":   [\n                                              {\n                                                  \"desc\": \"specifies the name of the table to use.\",\n                                                  \"isRequired\": true,\n                                                  \"isTableName\": true,\n                                                  \"label\": \"Name\",\n                                                  \"name\": \"name\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies the caslib that contains the table that you want to use with the action. By default, the active caslib is used. Specify a value only if you need to access a table from a different caslib.\",\n                                                  \"isCasLib\": true,\n                                                  \"label\": \"Caslib\",\n                                                  \"name\": \"caslib\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies an expression for subsetting the input data.\",\n                                                  \"isWhere\": true,\n                                                  \"label\": \"Filter\",\n                                                  \"name\": \"where\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies the names of the variables to use for grouping results.\",\n                                                  \"exemplar\":   [\n                                                          {\n                                                              \"desc\": \"specifies the name for the variable.\",\n                                                              \"isRequired\": true,\n                                                              \"isVar\": true,\n                                                              \"label\": \"Name\",\n                                                              \"name\": \"name\",\n                                                              \"parmType\": \"string\",\n                                                              \"type\": 4\n                                                            },\n                                                          {\n                                    [...]
