{
  "http_interactions": [
    {
      "recorded_at": "2019-06-13T12:52:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey GLOBALPRESALES intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"74e21a9f1b624a6d81be5b09f62afc3f\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-06-13T12:52:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":17,\"items\":[{\"creationTimeStamp\":\"2019-05-13T15:38:12.513Z\",\"modifiedTimeStamp\":\"2019-05-15T18:57:40.684Z\",\"createdBy\":\"jifwei\",\"modifiedBy\":\"jifwei\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/contents\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/variables\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"8abaf054-519e-413f-8053-f7fb75558127\",\"name\":\"Forest (Pipeline 1)\",\"description\":\"Forest\",\"projectId\":\"b3d56ff2-6275-491b-91ce-c62ea1ad1bf2\",\"projectName\":\"TS_7612761894\",\"projectVersionId\":\"00067e0f-4c5a-4921-9fae-f7db7a982e18\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"683b4062-895e-41cb-a63f-bf589a6c3a02\",\"repositoryId\":\"f2e5a28a-9d48-47cb-98dd-865ed2576e4c\",\"function\":\"classification\",\"algorithm\":\"forest\",\"tool\":\"Model Studio\",\"toolVersion\":\"8.3\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"jifwei\",\"externalModelId\":\"ca9fe361-2b76-44e0-978b-7ef6ba29d77f\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"3.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-06-12T19:23:44.969Z\",\"modifiedTimeStamp\":\"2019-06-12T19:23:46.249Z\",\"createdBy\":\"dareev\",\"modifiedBy\":\"dareev\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"cd307dac-3c5a-4327-9721-49ddc07c5912\",\"name\":\"VA_BAD_Report 1_1560367422658\",\"folderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"indirectFolderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"repositoryId\":\"e0b09e48-f1e1-40d9-9517-9aef703ad6b7\",\"function\":\"prediction\",\"algorithm\":\"tree\",\"tool\":\"SAS\u00ae Visual Analytics\",\"toolVersion\":\"8.3.1\",\"scoreCodeType\":\"dataStep\",\"modeler\":\"dareev\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTa[...]
    {
      "recorded_at": "2019-06-13T12:52:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22Basic%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"meth[...]
    {
      "recorded_at": "2019-06-13T12:52:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/c96d92fb-a3ac-4931-bddf-bad9586a55fb"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2019-06-13T12:52:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/c96d92fb-a3ac-4931-bddf-bad9586a55fb"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":21206,\"message\":\"The model ID \\\"c96d92fb-a3ac-4931-bddf-bad9586a55fb\\\" is invalid. Enter a valid value for the model \\\"id\\\" parameter\\\".\",\"details\":[\"correlator: 11b02363-ff16-4945-abfc-80248a009b9e\",\"traceId: ef1d3dc3d93bba47\",\"path: /modelRepository/models/c96d92fb-a3ac-4931-bddf-bad9586a55fb\"],\"links\":[],\"version\":2,\"httpStatusCode\":404}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 404,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/c96d92fb-a3ac-4931-bddf-bad9586a55fb"
      }
    },
[...]
