{
  "http_interactions": [
    {
      "recorded_at": "2020-01-22T00:10:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk2ODc4MDAsImlhdCI6MTU3OTY1MTgwMCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJjNmYwYmFhOTNlOTg0MGE5ODBmM2JjNGU4ZmIxYzk4YSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk2NTE4MDAzNDUsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTY1MTgwMCwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.EoNZESWkaX32ZAVeiUsoqn8V2UQVPvst85Hfk7UTg1PcXOvqh_Y2fN-D75vjdVt3GbljLZ6c3GeKFR_5yyXRzF6a6PQFoQYjcVjTOFWuAGyFbdL5nx_pH-8OS2kRiTtfY45dcxH5ch-mdLiBPpYrvbSQeyUkfHSQ3rI6HdmIk2GEyFK3YXA5cTA-L2XDNngQD6nvEU3j35G-vAFFeCwRlcciKu_cAKMtVo5OUXXb45lQ5aFQFXlf64VNYG2lx_MVNqMnq3siuL3hfTXchKe7Z9geueFdwIxBs-eZJJS1SZZl75TaI2xz1u__0mabBh2Kxxh_Bpu7_k6wPrrehGKb6A\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"c6f0baa93e9840a980f3bc4e8fb1c98a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-22T00:10:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules?start=0&limit=20\",\"uri\":\"/microanalyticScore/modules?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"POST\",\"rel\":\"createModule\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.microanalytic.module.definition\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"next\",\"href\":\"/microanalyticScore/modules?start=20&limit=20\",\"uri\":\"/microanalyticScore/modules?start=20&limit=20\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"last\",\"href\":\"/microanalyticScore/modules?start=20&limit=20\",\"uri\":\"/microanalyticScore/modules?start=20&limit=20\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"modules\",\"accept\":\"application/vnd.sas.microanalytic.module\",\"start\":0,\"count\":22,\"items\":[{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sql_executer\",\"uri\":\"/microanalyticScore/modules/sql_executer\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"source\",\"href\":\"/microanalyticScore/modules/sql_executer/source\",\"uri\":\"/microanalyticScore/modules/sql_executer/source\",\"type\":\"application/vnd.sas.microanalytic.module.source\"},{\"method\":\"GET\",\"rel\":\"steps\",\"href\":\"/microanalyticScore/modules/sql_executer/steps\",\"uri\":\"/microanalyticScore/modules/sql_executer/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"submodules\",\"href\":\"/microanalyticScore/modules/sql_executer/submodules\",\"uri\":\"/microanalyticScore/modules/sql_executer/submodules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.submodule\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/microanalyticScore/modules/sql_executer\",\"uri\":\"/microanalyticScore/modules/sql_executer\",\"type\":\"application/vnd.sas.microanalytic.module\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/microanalyticScore/modules/sql_executer\",\"uri\":\"/microanalyticScore/modules/sql_executer\"}],\"version\":2,\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2019-11-19T16:07:50.644Z\",\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2019-11-19T16:07:50.644Z\",\"id\":\"sql_executer\",\"name\":\"sql_executer\",\"revision\":0,\"scope\":\"public\",\"language\":\"ds2\",\"stepIds\":[\"addsortcriteria\",\"execute_sql_results_internal\",\"execute_sql_results\",\"execute_sql_nodata_internal\",\"execute_sql_nodata\"],\"properties\":[{\"name\":\"bootstrapId\",\"value\":\"83526f65-d9e4-45e9-aaba-fb7164778935\"}],\"warnings\":[]},{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/lbzx3kdnf4fhfzjdgdeqqxjq7fm\",\"uri\":\"/microanalyticScore/modules/lbzx3kdnf4fhfzjdgdeqqxjq7fm\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"source[...]
    {
      "recorded_at": "2020-01-22T00:10:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules?start=20&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"re[...]
