{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:43:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODgyMTYsImlhdCI6MTY2MzE3MzgxNiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMmQ5MDVkOTE4NzE3NDc4ZTkyZmZiMWNmZjZjNzhiZTciLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTczODE2NTQ0LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzM4MTZ9.JI3SsUBBwunpNH7QQK_bsy6GogWBIDUjiwpQqJS5E-8fGgAxQ1gJHprk0_OUSTbcikp1Oc2opVc4c7rzTsw4Tqk07-AbJJz5grteK2QptDNK1QdNqRy-oaOh9f4WByfsE_MauayPK2cFLzsxXFh0k_TeDMgh6IGsHO-OsQndCo6oRY0Q7iEa2vyRiNDwPLLebVghNpB5_hY51H35EzzR5ceOLljtYoXdxNbx76-do-6r5wHYavbjdkD3Y70tUineQ1kQN0GkFIuGHwpPntuln58GX1QAwW4p2GUVcSqpbC7ok60QVRoKZ1EPpAoUCw3C9iyCbAxi1z015IrZ8EpaVA\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"2d905d918717478e92ffb1cff6c78be7\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:43:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":373,\"start\":0,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-13T12:15:18.39761Z\",\"createdBy\":\"sas.iotAnalysis\",\"modifiedTimeStamp\":\"2022-09-13T12:15:18.39761Z\",\"modifiedBy\":\"sas.iotAnalysis\",\"version\":1,\"id\":\"IoTProjects\",\"name\":\"AIoT Projects\",\"description\":\"Analytics For IoT Root Folder\",\"type\":\"hiddenFolder\",\"memberCount\":3,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/IoTProjects\",\"uri\":\"/folders/folders/IoTProjects\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/folders/folders/IoTProjects\",\"uri\":\"/folders/folders/IoTProjects\",\"type\":\"application/vnd.sas.content.folder\",\"responseType\":\"application/vnd.sas.content.folder\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/folders/folders/IoTProjects\",\"uri\":\"/folders/folders/IoTProjects\"},{\"method\":\"DELETE\",\"rel\":\"deleteRecursively\",\"href\":\"/folders/folders/IoTProjects?recursive=true\",\"uri\":\"/folders/folders/IoTProjects?recursive=true\"},{\"method\":\"GET\",\"rel\":\"members\",\"href\":\"/folders/folders/IoTProjects/members\",\"uri\":\"/folders/folders/IoTProjects/members\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"addMember\",\"href\":\"/folders/folders/IoTProjects/members\",\"uri\":\"/folders/folders/IoTProjects/members\",\"type\":\"application/vnd.sas.content.folder.member\",\"responseType\":\"application/vnd.sas.content.folder.member\"},{\"method\":\"GET\",\"rel\":\"ancestors\",\"href\":\"/folders/ancestors?childUri=/folders/folders/IoTProjects\",\"uri\":\"/folders/ancestors?childUri=/folders/folders/IoTProjects\",\"type\":\"applica[...]
    {
      "recorded_at": "2022-09-14T16:43:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders?start=20&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":373,\"start\":20,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-13T12:15:34.101741Z\",\"createdBy\":\"sas.retailPricing\",\"modifiedTimeStamp\":\"2022-09-13T12:15:34.101742Z\",\"modifiedBy\":\"sas.retailPricing\",\"version\":1,\"id\":\"e23dc1c4-2aba-4265-8dc6-5e5d495a1659\",\"name\":\"RetailPricing\",\"parentFolderUri\":\"/folders/folders/bd7dba65-0be7-44c2-8c37-4af05e52a00a\",\"description\":\"Retail Pricing Folder\",\"type\":\"folder\",\"memberCount\":2,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/e23dc1c4-2aba-4265-8dc6-5e5d495a1659\",\"uri\":\"/folders/folders/e23dc1c4-2aba-4265-8dc6-5e5d495a1659\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/folders/folders/e23dc1c4-2aba-4265-8dc6-5e5d495a1659\",\"uri\":\"/folders/folders[...]
[...]
    {
      "recorded_at": "2022-09-14T16:43:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders?start=60&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":373,\"start\":60,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-13T14:04:22.676423Z\",\"createdBy\":\"emduser3\",\"modifiedTimeStamp\":\"2022-09-13T14:04:22.676424Z\",\"modifiedBy\":\"emduser3\",\"version\":1,\"id\":\"22abfce8-d544-4742-b29d-f26daf48da01\",\"name\":\"Version 1\",\"parentFolderUri\":\"/folders/folders/b255bd77-88f2-4de3-a5a8-b39ab3ba78cc\",\"type\":\"folder\",\"memberCount\":1,\"iconUri\":\"sas-icon://modelRepository/ProjectVersion\",\"properties\":{\"mmType\":\"mmProjectVersion\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/22abfce8-d544-4742-b29d-f26daf48da01\",\"uri\":\"/folders/folders/22abfce8-d544-4742-b29d-f26daf48da01\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/folders/folders/22abfce8-d544-4742-b29d-f26daf48da01\",\"uri\":\"/folders/folders/22abfce8-d544-4742-b29d-f26daf48da01\",\"type\":\"application/vnd.sas.content.folder\",\"responseType\":\"applicati[...]
[...]
    {
      "recorded_at": "2022-09-14T16:43:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders?start=160&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":373,\"start\":160,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-13T17:55:38.781388Z\",\"createdBy\":\"anwats\",\"modifiedTimeStamp\":\"2022-09-13T17:55:38.781388Z\",\"modifiedBy\":\"anwats\",\"version\":1,\"id\":\"2acf7bd6-46c3-4ffd-8932-3b50e6eef2e3\",\"name\":\"My Folder\",\"parentFolderUri\":\"/folders/folders/8676e1fb-7698-4a27-a89d-1247a117958d\",\"description\":\"My Folder for anwats\",\"type\":\"myFolder\",\"memberCount\":1,\"properties\":{\"allowMove\":\"false\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/2acf7bd6-46c3-4ffd-8932-3b50e6eef2e3\",\"uri\":\"/folders/folders/2acf7bd6-46c3-4ffd-8932-3b50e6eef2e3\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/folders/folders/2acf7bd6-46c3-4ffd-8932-3b50e6eef2e3\",\"uri\":\"/folders/folders/2acf7bd6-46c3-4ffd-8932-3b50e6eef2e3\"},{\"method\":\"DELETE\",\"rel\":\"deleteRecursively\",\"href\":\"/folders/folders/2a[...]
[...]
    {
      "recorded_at": "2022-09-14T16:43:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders?start=200&limit=20"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.content.folder\",\"count\":373,\"start\":200,\"limit\":20,\"name\":\"folders\",\"items\":[{\"creationTimeStamp\":\"2022-09-13T13:56:18.548815Z\",\"createdBy\":\"emduser3\",\"modifiedTimeStamp\":\"2022-09-13T13:56:18.548816Z\",\"modifiedBy\":\"emduser3\",\"version\":1,\"id\":\"cb7501d8-23dc-49e7-8144-636c7a60a61d\",\"name\":\"DMSmoke_20220913015554789-2f09bba3-f530-4fa4-b31f-cdff7da35e7d\",\"parentFolderUri\":\"/folders/folders/d1d3cade-0902-423d-9468-edd5256e3747\",\"description\":\"Test Project\",\"type\":\"hiddenFolder\",\"memberCount\":5,\"properties\":{\"containerMediaType\":\"application/vnd.sas.analytics.project\",\"folderLifecycleStatus\":\"CREATED\",\"projectId\":\"660ec2f4-9f17-4550-9371-beee23b9fb82\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/cb7501d8-23dc-49e7-8144-636c7a60a61d\",\"uri\":\"/folders/folders/cb7501d8-23dc-49e7-8144-636c7a60a61d\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/folders/folders/cb7501d8-23dc-49e7-8144-636c7a60a61d\",\"uri\":\"/folders/folders/cb7501d8-23dc-49e7-8144-636c7a60a61d\",\"type\":\"application/vnd.sas.content.folder\",\"respon[...]
[...]
