{
  "http_interactions": [
    {
      "recorded_at": "2020-01-20T20:03:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{ \"session\": \"57cc4653-fe75-014c-97a8-b706f63e4ac5\" }\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.session.id+json"
          ],
          "Location": [
            "httphttp%3A//sasserver%2Edemo%2Esas%2Ecom%3A8777/cas/sessions/57cc4653%2Dfe75%2D014c%2D97a8%2Db706f63e4ac5"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"builtins.help\": false\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000296,\n    \"cpuUserTime\": 0,\n    \"cpuSystemTime\": 0.000257,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 212768,\n    \"osMemory\": 9228288,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 9228288,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryname"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"action\": \"help\",\n        \"actionSet\": \"builtins\"\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000235,\n    \"cpuUserTime\": 0.000173,\n    \"cpuSystemTime\": 0.000026,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 215360,\n    \"osMemory\": 9228288,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 9228288,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryname"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\", \"showhidden\": true, \"actionset\": \"builtins\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"desc\": \"Shows the parameters for an action or lists all available actions\",\n                          \"label\": \"Help\",\n                          \"name\": \"help\",\n                          \"params\":   [\n                                  {\n                                      \"desc\": \"specifies the name of the action for which you want help. The name can be in the form 'actionSetName.actionName' or just 'actionName.\",\n                                      \"label\": \"Action\",\n                                      \"name\": \"action\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"desc\": \"specifies the name of the action set for which you want help. This parameter is ignored if the action parameter is specified.\",\n                                      \"label\": \"Action set\",\n                                      \"name\": \"actionSet\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"default\": true,\n                                      \"desc\": \"when set to True, provides more detail for each parameter.\",\n                                      \"label\": \"Verbose\",\n                                      \"name\": \"verbose\",\n                                      \"parmType\": \"boolean\",\n                                      \"type\": 5\n                                    }\n                              ]\n                        },\n                      {\n            [...]
    {
      "recorded_at": "2020-01-20T20:03:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"showhidden\": true, \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.help"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"accessControl\": \n          {\n            \"_ctb\": true,\n            \"label\": \"\",\n            \"title\": \"\",\n            \"name\": \"accessControl\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Name\",\"format\": \"\",\"type\": \"string\",\"width\": 64,\"attributes\": \n              {}\n               },\n              { \"name\": \"description\",\"label\": \"Description\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"help\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1895151814.44475 }\n            },\n            \"rows\": [\n              [ \"accessPersonalCaslibs\", \"Provides administrative access to all personal caslibs (CASUSER and CASUSERHDFS)\" ],\n              [ \"assumeRole\", \"Assumes a role\" ],\n              [ \"dropRole\", \"Relinquishes a role\" ],\n              [ \"showRolesIn\", \"Shows the currently active role\" ],\n              [ \"showRolesAllowed\", \"Shows the roles that a user is a member of\" ],\n              [ \"isInRole\", \"Shows whether a role is assumed\" ],\n              [ \"i[...]
    {
      "recorded_at": "2020-01-20T20:03:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"py-session-2\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/se[...]
    {
      "recorded_at": "2020-01-20T20:03:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.serverstatus"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"About\":   {\n              \"CAS\": \"Cloud Analytic Services\",\n              \"Copyright\": \"Copyright \u00a9 2014-2018 SAS Institute Inc. All Rights Reserved.\",\n              \"ServerTime\": \"2020-01-20T20:03:35Z\",\n              \"System\":   {\n                    \"Hostname\": \"sasserver.demo.sas.com\",\n                    \"Linux Distribution\": \"CentOS Linux release 7.6.1810 (Core)\",\n                    \"Model Number\": \"x86_64\",\n                    \"OS Family\": \"LIN X64\",\n                    \"OS Name\": \"Linux\",\n                    \"OS Release\": \"3.10.0-957.27.2.el7.x86_64\",\n                    \"OS Version\": \"#1 SMP Mon Jul 29 17:46:05 UTC 2019\"\n                  },\n              \"Version\": \"3.05\",\n              \"VersionLong\": \"V.03.05M0P11062019\",\n              \"license\":   {\n                    \"expires\": \"02Dec2020:00:00:00\",\n                    \"gracePeriod\": 45,\n                    \"maxCPUs\": 9999,\n                    \"site\": \"DEMOCENTER - Prod 19w47 19Nov2019 : Kitchen v5\",\n                    \"siteNum\": 70180938,\n                    \"warningPeriod\": 45\n                  }\n            },\n        \"nodestatus\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Node Status\",\n            \"title\": \"\",\n            \"name\": \"nodes\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Node Name\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               },\n              { \"name\": \"role\",\"label\": \"Role\",\"format\": \"\",\"type\": \"string\",\"width\": 10,\"attributes\": \n              {}\n               },\n              { \"name\": \"uptime\",\"label\": \"Uptime (Sec)\",\"format\": \"\",\"type\": \"double\",\"width\": 8,\"attributes\": \n              {}\n               },\n              { \"name\": \"running\",\"label\": \"Running\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"stalled\",\"label\": \"Stalled\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"serverStatus\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1895151814.66143 }\n            },\n            \"rows\": [\n              [ \"sasserver.demo.sas.com\", \"controller\", 1.024, 0, 0 ]\n            ]\n          }\n,\n        \"server\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Server Status\",\n            \"title\": \"\",\n            \"name\": \"server\",\n            \"schema\": [\n              { \"name\": \"nodes\",\"label\": \"Node Count\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"actions\",\"label\": \"Total Actions\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n    [...]
    {
      "recorded_at": "2020-01-20T20:03:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"setsessopt\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"setsessopt\": false\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000246,\n    \"cpuUserTime\": 0.000209,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 231584,\n    \"osMemory\": 11063296,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 16306176,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryactionset"
      }
    },
[...]
    {
      "recorded_at": "2020-01-20T20:03:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"messagelevel\": \"warning\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/sessionprop.setsessopt"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \[...]
    {
      "recorded_at": "2020-01-20T20:03:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"table\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"table\": true\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000228,\n    \"cpuUserTime\": 0.00019,\n    \"cpuSystemTime\": 0,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 231584,\n    \"osMemory\": 11063296,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 16306176,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\", \"showhidden\": true, \"actionset\": \"table\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/57cc4653-fe75-014c-97a8-b706f63e4ac5/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"autoRetry\": true,\n                          \"desc\": \"Creates a view from files or tables\",\n                          \"label\": \"Create view\",\n                          \"name\": \"view\",\n                          \"params\":   [\n                                  {\n                                      \"aliases\":   [\n                                            \"input\",\n                                            \"components\"\n                                          ],\n                                      \"desc\": \"specifies the input tables to use for the view.\",\n                                      \"exemplar\":   [\n                                              {\n                                                  \"desc\": \"specifies the name for the view to create.\",\n                                                  \"isRequired\": true,\n                                                  \"isTableName\": true,\n                                                  \"label\": \"Name\",\n                                                  \"name\": \"name\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies a table alias for the table.\",\n                                                  \"label\": \"As\",\n                                                  \"name\": \"as\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies the caslib that is used by the input table.\",\n                                                  \"isCasLib\": true,\n                                                  \"label\": \"Caslib\",\n                                                  \"name\": \"caslib\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies an expression for subsetting the input data.\",\n                                                  \"isWhere\": true,\n                                                  \"label\": \"Filter\",\n                                                  \"name\": \"where\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"aliases\":   [\n                                     [...]
