{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T16:13:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTkxOTUsImlhdCI6MTY2MzM0NDc5NSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiZTg5YjkyNDY0ODRiNDExZWEwZGRiMDU2ODIxMDk2ZWEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzQ0NzkzNTk2LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM0NDc5NSwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.cFKeJo7y3ADN3iaAZXqi4aFu5-ns_6Gc0KZZ4lQDZrtmXNXVADMEmYilTSKv4J0QW3TebH61h0VxmGNlQ8D2QimvxLGNRdVnArTJAscDlgMLc73vzwk0IshOpRuOQ18fNZ4O2cqvqvoOg0Oxie4TgNrrdfw6pRLpFU_ScpmRMa5k9ObvXKe5Ho6phLQNXcNK2YSC9dhWsjtVr9-YsqmelOvAlDQOWaGOjbdyZZamcWwIjUBLbGo3RFRI6rY_W3IpmuPeRqqhasTLK0NtmUba5Is4Qn8w0Z64wI73C5sfPmLZIVSI-YOoRCssLUatfCsw5C5Xh8q1GPBKyEoe7b0LwA\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"e89b9246484b411ea0ddb056821096ea\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T16:13:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22maslocal%22%29\",\"uri\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22maslocal%22%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestination\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination\",\"responseType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestinationCAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.cas\",\"responseType\":\"application/vnd.sas.models.publishing.destination.cas+json\"},{\"method\":\"POST\",\"rel\":\"createDestinationMAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.[...]
    {
      "recorded_at": "2022-09-16T16:13:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2022-09-16T10:45:04.12493Z\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\",\"id\":\"f1b8dd19-ef71-4e01-ad0b-0e6aced45a23\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2022-09-16T10:45:04.12493Z\",\"name\":\"maslocal\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1663325104124930000\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 10:45:04 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/maslocal"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}