{
  "http_interactions": [
    {
      "recorded_at": "2019-07-23T13:38:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":43199,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"7d9e6d7f5a8248b1ae39f6b22cc3cc18\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-07-23T13:38:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":6,\"items\":[{\"creationTimeStamp\":\"2019-07-18T20:54:29.810Z\",\"modifiedTimeStamp\":\"2019-07-18T20:54:31.249Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/contents\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/variables\",\"uri\":\"/modelRepository/models/83c116e9-3fd1-4c4f-96e2-bea33aa17cd3/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"83c116e9-3fd1-4c4f-96e2-bea33aa17cd3\",\"name\":\"Linear Regression\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\",\"projectId\":\"32cdda16-1532-4db2-99de-9a79d811557b\",\"projectName\":\"sasctl_full\",\"projectVersionId\":\"2eac0078-6d2c-4d5d-8989-dd78d611fc68\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"88365cfa-8f77-4f47-a14f-3b97a79d22c1\",\"indirectFolderId\":\"88365cfa-8f77-4f47-a14f-3b97a79d22c1\",\"repositoryId\":\"26cc88db-6a25-4066-a15d-6c5aff1dc58b\",\"function\":\"Prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"challenger\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-07-09T13:34:37.192Z\",\"modifiedTimeStamp\":\"2019-07-09T13:34:37.192Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cfc173d3-9fe5-48ef-8dd7-0c2b55fc75d2\",\"uri\":\"/modelRepository/models/cfc173d3-9fe5-48ef-8dd7-0c2b55fc75d2\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cfc173d3-9fe5-48ef-[...]
    {
      "recorded_at": "2019-07-23T13:38:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2019-07-23T13:38:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore\",\"uri\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2\",\"uri\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2\"}],\"name\":\"items\",\"items\":[{\"name\":\"_45dbf11892244784b52c8adec\",\"uri\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~ModelStore/tables/_45dbf11892244784b52c8adec\",\"key\":\"AD3F7DED938A902F9E9789FC0DBE87F6E6DF09F8\",\"caslib\":\"ModelStore\",\"location\":\"file:///models/astores/viya/_45dbf11892244784b52c8adec.astore\",\"host\":\"sasserver.demo.sas.com\",\"fullPath\":\"/opt/sas/viya/config/data/modelsvr/astore/_45dbf11892244784b52c8adec.astore\",\"state\":\"pending\",\"version\":1,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore/_45dbf11892244784b52c8adec\",\"uri\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore/_45dbf11892244784b52c8adec\"},{\"method\":\"PUT\",\"rel\":\"copy\",\"href\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore/_45dbf11892244784b52c8adec\",\"uri\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore/_45dbf11892244784b52c8adec\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore\",\"uri\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore\"},{\"method\":\"GET\",\"rel\":\"model\",\"href\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2\",\"uri\":\"/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2\"}]}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/34bd7814-1d38-4370-8b5c-4626ac982cf2/analyticStore"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}