{
  "http_interactions": [
    {
      "recorded_at": "2019-12-13T20:46:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1NzYzMDU5NzIsImlhdCI6MTU3NjI2OTk3MiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJlNDQ1NTljNWE1YzI0ZGQ4YmZjNzNlYmZlODRjY2E4NyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzYyNjk4OTcyNTksImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE1NzYyNjk5NzJ9.Nj3zSAcIWvqmjBEYHolJDc6hMlZfGWoPy6Y9qSGgLQ23rgGfWFgiUWLN9wpvEEOoEwGUivsAf0OjYnQrSlfXGMHvHQyxY_RNK7w83jAyJ5mcwvY0YS5PmwCAPG3wQBAmHihAhluhSuPLkdAmrarzUFLwJ6h8cgi1NxsAUoYoeafYGgMcWctA8PWUfQQEtXD7LatiDs5FdntkNTReyIF3PusAlos8jcOr1qwNSijVDOaVvqvHISIG1IKvQ9t8nD-VUdAUs0Yx1zEoTCbONXyh-AH3P1IB6L-EI2Gn43dRGtbmGLrFxu2zy3gc1fJGFx1-xHLe-9HdAnO9zImcTEsZXg\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"e44559c5a5c24dd8bfc73ebfe84cca87\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-12-13T20:46:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-12-13T20:44:56.738Z\",\"modifiedTimeStamp\":\"2019-12-13T20:44:56.738Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"f81433e8-0407-462e-ab9f-2091abce3d8a\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/copy\",\"uri\":\"/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"version\":3}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      }
    },
    {
      "recorded_at": "2019-12-13T20:46:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-12[...]
    {
      "recorded_at": "2019-12-13T20:46:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\ufffd\u0003X\u0017\u0000\u0000\u0000Some test file content.q\u0000."
        },
        "headers": {
          "Content-Range": [
            "bytes 0-32/33"
          ],
          "Content-Type": [
            "application/octet-stream"
          ],
          "ETag": [
            "\"k44mecde\""
          ],
          "Last-Modified": [
            "Fri, 13 Dec 2019 20:44:56 GMT"
          ],
          "Location": [
            "/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files/f81433e8-0407-462e-ab9f-2091abce3d8a/content"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}