{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T15:48:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2MTY5MDAsImlhdCI6MTY2MzYwMjUwMCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNmZiYjU2ZWFjNGQ4NDIzOGI1NWQ4YmZhYjZiMThhNTUiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjAyNDk3MDc0LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiIzOTM2OTFiMyIsInVzZXJfaWQiOiI5Mjc2MDU3Zi05NTg5LTRiNjUtYjJkMC0zN2E0YWU3NDUzZjAiLCJhdXRoX3RpbWUiOjE2NjM2MDI1MDB9.dYpb8zCyOIBwK_UugLvo8ffTOE6LfPsGVC3H-77H9N4v9Cn4Mo5hiXHiq0MAkr0qdOekg2-lrToZvR75JHOSwHrPemJqZo8DKCQH1BI4yjZ9_LxmGQkHG88YGdJeQK51nRGdCL4gv--CMJ-cxC5FRBqEBiP1o_-c_AXVwMIU_T6rCQpTX0cZGBfLZvflvnBm7fI7iDM-z01g_GA8WWNDmvOXybIN6KZ456t-mKLXHjKwE0ynTFVru6_Nnn-zEBQMAFUh36c15n_Z35SWKegnsk8mraAscdvYdZaQ0Re_ph62Tar3oLtnnWFZwN6WXoRa9EnbI2BSPXxFn2T4wdlPGg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"6fbb56eac4d84238b55d8bfab6b18a55\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T15:48:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":10,\"items\":[{\"creationTimeStamp\":\"2022-09-19T12:21:46.088Z\",\"modifiedTimeStamp\":\"2022-09-19T12:21:46.088Z\",\"createdBy\":\"sas.riskCirrusObjects\",\"modifiedBy\":\"sas.riskCirrusObjects\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/bad82071-bb63-4bb5-a2bc-7e5cac16981d\",\"uri\":\"/modelRepository/projects/bad82071-bb63-4bb5-a2bc-7e5cac16981d\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/bad82071-bb63-4bb5-a2bc-7e5cac16981d\",\"uri\":\"/modelRepository/projects/bad82071-bb63-4bb5-a2bc-7e5cac16981d\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/bad82071-bb63-4bb5-a2bc-7e5cac16981d\",\"uri\":\"/modelRepository/projects/bad82071-bb63-4bb5-a2bc-7e5cac16981d\"}],\"version\":2,\"id\":\"bad82071-bb63-4bb5-a2bc-7e5cac16981d\",\"name\":\"Own_Damage_Freq_Model (By MLPA 8wyNP)\",\"description\":\"Own Damage Frequency Model\",\"repositoryId\":\"009240a4-4a95-4fbc-b01a-e1b30fbe3cc6\",\"folderId\":\"54a88443-8d88-421f-85d8-83d27da3b203\",\"championModelName\":\"Ratemaking - Frequency Model (Pipeline 1)\",\"function\":\"prediction\",\"externalProjectId\":\"4c152884-ea39-4f29-bf38-7777afa124b5\",\"candidateChampionHonored\":true,\"targetVariable\":\"CLAIMS_CNT\",\"targetEventValue\":\"\",\"eventProbabilityVariable\":\"P_CLAIMS_CNT\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"retrainUri\":\"/dataMining/projects/4c152884-ea39-4f29-bf38-7777afa124b5/retrainJobs?action=batch&dataUri={dataUri}\",\"retrainStatusUri\":\"/dataMining/projects/4c152884-ea39-4f29-bf38-7777afa124b5/retrainJobs?retrainingState={retrainingState}\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2022-09-19T12:21:48.630Z\",\"modifiedTimeStamp\":\"2022-09-19T12:21:48.630Z\",\"createdBy\":\"sas.riskCirrusObjects\",\"modifiedBy\":\"sas.riskCirrusObjects\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/e74a27b6-bb51-44c8-9ec7-5c2c8cc86517\",\"uri\":\"/modelRepository/projects/e74a27b6-bb51-44c8-9ec7-5c2c8cc86517\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelReposito[...]
    {
      "recorded_at": "2022-09-19T15:48:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22SASCTL%20AStore%20Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{[...]
    {
      "recorded_at": "2022-09-19T15:48:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/d9961d50-c0e6-4944-9c31-4965f23f0c18"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
    {
      "recorded_at": "2022-09-19T15:48:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/modelRepository/projects/d9961d50-c0e6-4944-9c31-4965f23f0c18"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects/d9961d50-c0e6-4944-9c31-4965f23f0c18"
      }
    },
    {
      "recorded_at": "2022-09-19T15:48:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22SASCTL%20AStore%20Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22SASCTL%20AStore%20Test%20Project%22)"
      }
    },
[...]
