{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T14:44:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTM4ODcsImlhdCI6MTY2MzMzOTQ4NywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNjM4ZmFmYWI1YWExNDgwNWI4M2QyYjE4ZGY2ZTFkMWEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzM5NDg2OTM1LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzOTQ4NywidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.CIIS2hIc9RGgEPyMoiuYvKDoH7Uf_SRg-VCyNAX4m3B47Y-rqbCRiu01-SBlvNrYL7Wv4hNYvZhr8e_vRDSytnKCjSiNWatcSgqUq3Zl6lu2sVfv1bHOitUCijtmKLjHMY8TncO9DvLe11Mu1dx_2uOnE7QvAw4Dd9Ckb3oyN50QwKTdGLehZEQd-bqj98_U4rGClfuIH0hBAcplUMi-Obou_xX7knf7kfuxKaS6b7tbnOWFYwHR6xzujSunXgMSRWoou-8sIO6xpzc6n0MkI6GIWpiQeWu7NU-uhchBpkQkW7nFk6gyEoq3Datk2q_JEhWmh8B7rvUs3p1ZKsFlTA\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"638fafab5aa14805b83d2b18df6e1d1a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--6162636465666768696a6b6c6d6e6f70\r\nContent-Disposition: form-data; name=\"sasctl_test_pickle_file\"; filename=\"sasctl_test_pickle_file\"\r\n\r\n\ufffd\u0003X\u0017\u0000\u0000\u0000Some test file content.q\u0000.\r\n--6162636465666768696a6b6c6d6e6f70--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=6162636465666768696a6b6c6d6e6f70"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/files/files#multipartUpload"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16T14:44:47.674Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:47.674Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/copy\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"searchable\":true,\"fileStatus\":\"unlocked\",\"fileVersion\":0,\"version\":4,\"virusDetected\":false,\"urlDetected\":false,\"quarantine\":false}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.file+json;version=1"
          ],
          "ETag": [
            "\"l84ldupm\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 14:44:47 GMT"
          ],
          "Location": [
            "/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/files/files#multipartUpload"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}