{
  "http_interactions": [
    {
      "recorded_at": "2022-09-01T13:57:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"authenticationType\": \"OAuth\", \"name\": \"SessionSimulation\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"id\":\"61abf3b8-d44e-3248-aa86-8040b8e8413e\",\"name\":\"SessionSimulation:Thu Sep  1 13:57:02 2022\",\"state\":\"Connected\",\"transactionState\":\"none\",\"authenticationType\":\"OAuth\",\"owner\":\"X1064007\",\"locale\":\"en\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e\",\"type\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e\"},{\"method\":\"POST\",\"rel\":\"startPermissionsTransaction\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e?action=start\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e?action=start\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.session+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      }
    },
    {
      "recorded_at": "2022-09-01T13:57:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--fec753bb5334db95d39cb391dc334921\r\nContent-Disposition: form-data; name=\"tableName\"\r\n\r\nTEST_TABLE\r\n--fec753bb5334db95d39cb391dc334921\r\nContent-Disposition: form-data; name=\"containsHeaderRow\"\r\n\r\nTrue\r\n--fec753bb5334db95d39cb391dc334921\r\nContent-Disposition: form-data; name=\"format\"\r\n\r\ncsv\r\n--fec753bb5334db95d39cb391dc334921\r\nContent-Disposition: form-data; name=\"sessionId\"\r\n\r\n61abf3b8-d44e-3248-aa86-8040b8e8413e\r\n--fec753bb5334db95d39cb391dc334921\r\nContent-Disposition: form-data; name=\"delimiter\"\r\n\r\n;\r\n--fec753bb5334db95d39cb391dc334921\r\nContent-Disposition: form-data; name=\"scope\"\r\n\r\nsession\r\n--fec753bb5334db95d39cb391dc334921\r\nContent-Disposition: form-data; name=\"file\"; filename=\"TEST_TABLE\"\r\n\r\nA;B\nentry1;entry2\nentry3;entry4\r\n--fec753bb5334db95d39cb391dc334921--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=fec753bb5334db95d39cb391dc334921"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibName\":\"CASUSER(X1064007)\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-01T13:57:02.812Z\",\"createdBy\":\"X1064007\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-01T13:57:02.812Z\",\"lastModified\":\"2022-09-01T13:57:02.812Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\",\"type\":\"application/vnd.sas.cas.table\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\"},{\"method\":\"PUT\",\"rel\":\"updateState\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state\",\"responseType\":\"application/json,text/plain\"},{\"method\":\"GET\",\"rel\":\"columns\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/columns\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/columns\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.column\"},{\"method\":\"GET\",\"rel\":\"dataTable\",\"href\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~CASUSER(X106400[...]
    {
      "recorded_at": "2022-09-01T13:57:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/scope?value=global&sessionId=61abf3b8-d44e-3248-aa86-8040b8e8413e"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "global"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/scope?value=global&sessionId=61abf3b8-d44e-3248-aa86-8040b8e8413e"
      }
    },
    {
      "recorded_at": "2022-09-01T13:57:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state?value=unloaded"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "unloaded"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state?value=unloaded"
      }
    },
    {
      "recorded_at": "2022-09-01T13:57:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/61abf3b8-d44e-3248-aa86-8040b8e8413e"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}