{
  "http_interactions": [
    {
      "recorded_at": "2020-01-20T20:03:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk1ODY2MTMsImlhdCI6MTU3OTU1MDYxMywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIxMjI4ZTRmMmY1ZDY0Nzg5OWU5OGJjNDkwNzAzZGVlZCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk1NTA2MTExMzIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTU1MDYxMywidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.qhtmiMP0ZiIP-sz6ImXSV_hTHWA8PEgvL_P-Eka0JKMEEEmg2HW4gqY3aoKZ9Z2p7M1VQNX72wSepPUmk04UqxScUGxZwmJGbr11wxkiUAOmrXezoqWH_uywycFhXa4Hl7Uu1aeUElhelqzvUopEVw3JBQWFfaPjweYEwhsC1oCX9Wjxk6F_CDMmZosmoJl9lX33WIN28T5mzbnmGkC22o_K-eFZX_f4sn2hpNd8Ds7skKsOQf0uw5Xuf4LfCz6rcwCTPXfo_sKk46kxvC8OXYvU5O_ieW4UP2tRqyLo4MyiAjz8IDu6ZXbDITw-oJQRkpB7UYzESh7k4CNrxKH84w\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"1228e4f2f5d647899e98bc490703deed\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-20T20:03:29.157Z\",\"modifiedTimeStamp\":\"2020-01-20T20:03:30.865Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/contents\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/variables\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"08616563-d38a-437d-be3e-20f75ad17d46\",\"name\":\"sasctl_testing Scikit Linear Model\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\",\"projectId\":\"56958139-8ecf-4851-b8e0-af63a0a4a329\",\"projectName\":\"sasctl_testing Boston Housing\",\"projectVersionId\":\"171c4528-5a2a-41d0-ae14-3f92a2f16b19\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"indirectFolderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"function\":\"prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2020-01-20T20:03:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2020-01-20T20:03:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelManagement/performanceTasks"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelManagement/performanceTasks\",\"uri\":\"/modelManagement/performanceTasks\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.performance.task+json\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks?start=0&limit=10\",\"uri\":\"/modelManagement/performanceTasks?start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.summary\"}],\"name\":\"items\",\"accept\":\"application/vnd.sas.models.performance.task+json\",\"items\":[{\"creationTimeStamp\":\"2019-12-03T21:36:30.643Z\",\"modifiedTimeStamp\":\"2019-12-04T14:26:53.873Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/6ac2f6c5-c41e-4a3f-94d2-e32ec6ca4424\",\"uri\":\"/modelManagement/performanceTasks/6ac2f6c5-c41e-4a3f-94d2-e32ec6ca4424\"}],\"version\":2,\"id\":\"6ac2f6c5-c41e-4a3f-94d2-e32ec6ca4424\",\"projectId\":\"65548ca1-13d7-4f40-88d6-31bea984761b\",\"modelIds\":[\"27a637b3-e55a-4f8e-9307-0a0a0836b4a8\"],\"name\":\"MonthlyReport\",\"description\":\"Run monthly performance report\",\"outputVariables\":[\"EM_EVENTPROBABILITY\"],\"inputVariables\":[\"Accel_Pedal_Pos_D\",\"Engine_RPM\",\"Intake_Air_Temp\",\"Intake_Manifold_Pressure\",\"Mass_Air_Flow_Rate\",\"Throttle_Pos_Manifold\",\"Trip_Distance\",\"Trip_Time_journey\",\"Vibration\"],\"scoreExecutionRequired\":true,\"performanceResultSaved\":true,\"traceOn\":false,\"maxBins\":10,\"characteristicAlert\":\"char_p1>2\",\"characteristicWarn\":\"char_p1>5 or char_p25>0\",\"stabilityAlert\":\"outputDeviation > 0.03\",\"stabilityWarn\":\"outputDeviation > 0.01\",\"assessAlert\":\"(lift5Decay>0.15 and lift10Decay>0.12) or giniDecay>0.1 or ksDecay>0.1\",\"assessWarn\":\"lift5Decay>0.05 or MCE > 0.1\",\"resultLibrary\":\"ModelPerformanceData\",\"casServerId\":\"cas-shared-default\",\"dataLibrary\":\"Public\",\"dataPrefix\":\"fleetmonitornotscored\",\"includeAllData\":false,\"loadPerformanceResult\":true,\"championMonitored\":false,\"challengerMonitored\":false},{\"creationTimeStamp\":\"2019-12-04T22:23:55.256Z\",\"modifiedTimeStamp\":\"2019-12-04T22:24:03.445Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/40a33510-5985-43d2-aea9-cf39413abb08\",\"uri\":\"/modelManagement/performanceTasks/40a33510-5985-43d2-aea9-cf39413abb08\"}],\"version\":2,\"id\":\"40a33510-5985-43d2-aea9-cf39413abb08\",\"projectId\":\"feeca4bd-9d54-4a0d-9bfe-d738fbe75d2b\",\[...]
    {
      "recorded_at": "2020-01-20T20:03:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks/eaf0fd3a-3d8f-4ede-b331-c34dac192e65"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"items\",\"accept\":\"application/vnd.sas.models.performance.job+json\",\"items\":[{\"creationTimeStamp\":\"2020-01-20T20:03:32.972Z\",\"modifiedTimeStamp\":\"2020-01-20T20:03:33.227Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/eaf0fd3a-3d8f-4ede-b331-c34dac192e65/performanceJobs/a4ef8bc4-5bc8-412e-bb1e-8ceb4b046e56\",\"uri\":\"/modelManagement/performanceTasks/eaf0fd3a-3d8f-4ede-b331-c34dac192e65/performanceJobs/a4ef8bc4-5bc8-412e-bb1e-8ceb4b046e56\"}],\"version\":2,\"id\":\"a4ef8bc4-5bc8-412e-bb1e-8ceb4b046e56\",\"taskId\":\"eaf0fd3a-3d8f-4ede-b331-c34dac192e65\",\"task\":\"sasctl_testing Scikit Linear Model Performance\",\"code\":\"options cashost='sasserver.demo.sas.com' casport=5570;\\ncas _mmcas_;\\ncaslib _all_ assign;\\n%let _MM_PerfExecutor = 1;\\n%let _MM_ProjectUUID = %nrstr(56958139-8ecf-4851-b8e0-af63a0a4a329);\\n%let _MM_TargetVar = Price;\\n%let _MM_TargetLevel = INTERVAL;\\n%let _MM_PredictedVar = var1;\\n%let _MM_TargetEvent = ;\\n%let _MM_EventProbVar = ;\\n%let _MM_KeepVars = var1;\\n%let _MM_CAKeepVars = AGE B CHAS CRIM DIS INDUS LSTAT NOX PTRATIO RAD RM TAX ZN;\\n%let _MM_Trace = OFF;\\n%let _MM_Max_Bins = 10;\\n%let _MM_PerfOutCaslib = ModelPerformanceData;\\n%let _MM_PerfInCaslib = Public;\\n%let _MM_Perf_InTablePrefix = boston;\\n%let _MM_TableNameLevel = 4;\\n%let _MM_PerfStaticTable = ;\\n%let _MM_ForceRunAllData = N;\\n%let _MM_RunScore = N;\\n%let _MM_SAVEPERFRESULT = Y;\\n%let _MM_JobID = %nrstr(a4ef8bc4-5bc8-412e-bb1e-8ceb4b046e56);\\n%let _MM_ModelID = %nrstr(08616563-d38a-437d-be3e-20f75ad17d46);\\n%let _MM_ModelName = %nrstr(sasctl_testing Scikit Linear Model);\\n%let _MM_ModelFlag = -1;\\n%let _MM_ScoreCodeType = DS2EP;\\n%let _MM_ScoreCodeURI = ;%let _MM_ScoreAstURI = ;\\n%mm_performance_monitor(\\nperfLib=&_MM_PerfInCaslib,\\nperfDataNamePrefix=&_MM_Perf_InTablePrefix,\\nmm_mart=&_MM_PerfOutCaslib,\\nrunScore=&_MM_RunScore,\\nscorecodeURI=&_MM_ScoreCodeURI,\\ndebug=OFF\\n);\\n%put &syserr;\\n%put &syscc;\",\"state\":\"pending\",\"prefix\":\"boston\",\"model\":\"sasctl_testing Scikit Linear Model\",\"dataLibrary\":\"Public\",\"resultLibrary\":\"ModelPerformanceData\",\"modelId\":\"08616563-d38a-437d-be3e-20f75ad17d46\",\"dataTable\":\"\",\"projectVersion\":\"Version 1\",\"projectId\":\"56958139-8ecf-4851-b8e0-af63a0a4a329\",\"jobReqId\":\"12b10abd-393f-415d-a7bd-733616312053\"}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/performanceTasks/eaf0fd3a-3d8f-4ede-b331-c34dac192e65"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}