{
  "http_interactions": [
    {
      "recorded_at": "2019-08-15T00:24:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"1be99569125e4f8f967f49f98c868fa4\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-15T00:24:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-08-15T00:17:28.200Z\",\"modifiedTimeStamp\":\"2019-08-15T00:17:47.622Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"uri\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"uri\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8/contents\",\"uri\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8/variables\",\"uri\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"name\":\"Boston Regression\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\",\"projectId\":\"2c9b145a-0828-42cc-b62e-a059657a90d1\",\"projectName\":\"Boston Housing\",\"projectVersionId\":\"4ff6a2ce-ed8d-49b9-8324-7a25e6318012\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"indirectFolderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"function\":\"Prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"2.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-15T00:17:43.717Z\",\"modifiedTimeStamp\":\"2019-08-15T00:17:57.049Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/adaf1a20-96a8-49e2-aac1-3f32e07e149a\",\"uri\":\"/modelRepository/models/adaf1a20-96a8-49e2-aac1-3f32e07e149a\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/adaf1a20-96a8-49e2-[...]
    {
      "recorded_at": "2019-08-15T00:24:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20SASCTL%20Basic%20Test%20Project)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"[...]
    {
      "recorded_at": "2019-08-15T00:24:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/4bb08b59-97ef-48ad-a937-6ad65dd1a4f3"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2019-08-15T00:24:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Basic Model\", \"projectId\": \"4bb08b59-97ef-48ad-a937-6ad65dd1a4f3\", \"modeler\": \"USERNAME\", \"description\": null, \"function\": null, \"algorithm\": null, \"tool\": null, \"champion\": null, \"properties\": [], \"scoreCodeType\": null, \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"inputVariables\": [], \"outputVariables\": [], \"version\": \"2\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creatio[...]
[...]
