{
  "http_interactions": [
    {
      "recorded_at": "2020-01-20T19:45:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk1ODU1NTgsImlhdCI6MTU3OTU0OTU1OCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI2MDZhMDQ5ODJiZmY0YzVlOTcwNjBhNzY4NzAzZDY3YSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk1NDk1NTg0OTUsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTU0OTU1OCwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.JwUAR92PBhnIjV8ooAboDU-2CMGHFCdONhaSiIUAHv7S9JgE8B_7vMqaK-cP6XNK9dMkT3AEMhpvhBoBhiHlJuThy1o_pJs6U9MA41FiNL-ogiK4p4LGukmX6vWpau2sUakWK2hDtpbAeMgNLciztpGeVqgFT8JZa29NKyzaKV4nMsIE8i9X__L9q88p4f5hV9ZUCLRj5o3hV8qOvKAFkitTENDVN2TtrQGTnvLndRRDL5jTjGyBwUDzMALKHmO9FNWH2BCIAEXgzu80dbItPgCi9c4R0lScsBZ0L3jRUbC4-7U5omCPbqW_BQU0HfPQDgjUqT1FUtFIOsPUJ8UjGA\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"606a04982bff4c5e97060a768703d67a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-20T19:45:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":8,\"items\":[{\"creationTimeStamp\":\"2019-12-03T19:12:30.686Z\",\"modifiedTimeStamp\":\"2019-12-04T22:03:06.464Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"uri\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"uri\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\",\"uri\":\"/modelRepository/projects/65548ca1-13d7-4f40-88d6-31bea984761b\"}],\"version\":2,\"id\":\"65548ca1-13d7-4f40-88d6-31bea984761b\",\"name\":\"Fleet Management Report\",\"description\":\"predict trucks with Maintenance_Flag=1\\n\",\"repositoryId\":\"09948ca7-c4da-4b8a-8032-896929a33bb1\",\"folderId\":\"3d55d356-6b50-4d6a-8c71-49bfa4932286\",\"function\":\"classification\",\"externalProjectId\":\"7de5848c-bb54-4280-a305-7501c8cb5dd2\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/FLEET_TEST\",\"targetVariable\":\"Maintenance_Flag\",\"targetEventValue\":\"1\",\"classTargetValues\":\"1,0\",\"eventProbabilityVariable\":\"EM_EVENTPROBABILITY\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"retrainUri\":\"/dataMining/projects/7de5848c-bb54-4280-a305-7501c8cb5dd2/retrainJobs?action=batch&dataUri={dataUri}\",\"retrainStatusUri\":\"/dataMining/projects/7de5848c-bb54-4280-a305-7501c8cb5dd2/retrainJobs?retrainingState={retrainingState}\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-12-04T16:29:40.663Z\",\"modifiedTimeStamp\":\"2019-12-04T23:12:31.730Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/c4e24bf6-3eea-4e37-a610-2093a7cdc3e9\",\"uri\":\"/modelRepository/projects/c4e24bf6-3eea-4e37-a610-2093a7cdc3e9\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/c4e24bf6-3eea-[...]
    {
      "recorded_at": "2020-01-20T19:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\"[...]
    {
      "recorded_at": "2020-01-20T19:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2020-01-20T19:45:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
[...]
