{
  "http_interactions": [
    {
      "recorded_at": "2019-06-13T12:50:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey GLOBALPRESALES intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"9c3770ca82934c06b234b02b606a9f54\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-06-13T12:50:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22AStore%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":16,\"items\":[{\"creationTimeStamp\":\"2019-05-13T15:38:12.513Z\",\"modifiedTimeStamp\":\"2019-05-15T18:57:40.684Z\",\"createdBy\":\"jifwei\",\"modifiedBy\":\"jifwei\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/contents\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/variables\",\"uri\":\"/modelRepository/models/8abaf054-519e-413f-8053-f7fb75558127/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"8abaf054-519e-413f-8053-f7fb75558127\",\"name\":\"Forest (Pipeline 1)\",\"description\":\"Forest\",\"projectId\":\"b3d56ff2-6275-491b-91ce-c62ea1ad1bf2\",\"projectName\":\"TS_7612761894\",\"projectVersionId\":\"00067e0f-4c5a-4921-9fae-f7db7a982e18\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"683b4062-895e-41cb-a63f-bf589a6c3a02\",\"repositoryId\":\"f2e5a28a-9d48-47cb-98dd-865ed2576e4c\",\"function\":\"classification\",\"algorithm\":\"forest\",\"tool\":\"Model Studio\",\"toolVersion\":\"8.3\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"jifwei\",\"externalModelId\":\"ca9fe361-2b76-44e0-978b-7ef6ba29d77f\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"3.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-06-12T19:23:44.969Z\",\"modifiedTimeStamp\":\"2019-06-12T19:23:46.249Z\",\"createdBy\":\"dareev\",\"modifiedBy\":\"dareev\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"cd307dac-3c5a-4327-9721-49ddc07c5912\",\"name\":\"VA_BAD_Report 1_1560367422658\",\"folderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"indirectFolderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"repositoryId\":\"e0b09e48-f1e1-40d9-9517-9aef703ad6b7\",\"function\":\"prediction\",\"algorithm\":\"tree\",\"tool\":\"SAS\u00ae Visual Analytics\",\"toolVersion\":\"8.3.1\",\"scoreCodeType\":\"dataStep\",\"modeler\":\"dareev\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTa[...]
    {
      "recorded_at": "2019-06-13T12:50:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/a82149f9-e1ad-4e01-808b-c1d0da7347a3"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2019-06-13T12:51:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"AStore Model\", \"notes\": \"None\", \"modelContents\": [{\"modelName\": \"AStoreModel\", \"sourceUri\": \"/modelRepository/models/a82149f9-e1ad-4e01-808b-c1d0da7347a3\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-06-13T12:51:12.818Z\",\"modifiedTimeStamp\":\"2019-06-13T12:51:13.031Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"968cfe84-4fd7-478b-81bc-2b8dbcc06bcc\",\"publishName\":\"AStoreModel\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-06-13T12:51:12.820Z\",\"modifiedTimeStamp\":\"2019-06-13T12:51:12.820Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"2d8c0a8d-dcc1-4049-84bb-fe13c0115431\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"a82149f9-e1ad-4e01-808b-c1d0da7347a3\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/a82149f9-e1ad-4e01-808b-c1d0da7347a3\",\"modelId\":\"a82149f9-e1ad-4e01-808b-c1d0da7347a3\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc\",\"uri\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc\",\"uri\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc/log\",\"uri\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc/log\",\"type\":\"application/json\"}],\"name\":\"AStoreModel\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jwunw8hz\""
          ],
          "Last-Modified": [
            "Thu, 13 Jun 2019 12:51:13 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False"
      }
    },
    {
      "recorded_at": "2019-06-13T12:51:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":1}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc/log"
      }
    },
    {
      "recorded_at": "2019-06-13T12:51:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-06-13T12:51:13.401Z\",\"modifiedTimeStamp\":\"2019-06-13T12:51:13.401Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc\",\"uri\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc/log\",\"uri\":\"/modelPublish/models/968cfe84-4fd7-478b-81bc-2b8dbcc06bcc/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"83170df1-7e56-4ee8-9c33-e5944453576c\",\"publishName\":\"AStore Model\",\"destinationName\":\"maslocal\",\"modelId\":\"a82149f9-e1ad-4e01-808b-c1d0da7347a3\",\"modelName\":\"AStoreModel\",\"log\":\"PENDING==={links=[{method=GET, rel=up, href=/microanalyticScore/jobs, uri=/microanalyticScore/jobs, type=application/vnd.sas.collection, itemType=application/vnd.sas.microanalytic.job}, {method=GET, rel=self, href=/microanalyticScore/jobs/627e7f96-6771-4af5-9c20-66fa1cd9107a, uri=/microanalyticScore/jobs/627e7f96-6771-4af5-9c20-66fa1cd9107a, type=application/vnd.sas.microanalytic.job}, {method=GET, rel=source, href=/microanalyticScore/jobs/627e7f96-6771-4af5-9c20-66fa1cd9107a/source, uri=/micr[...]
[...]
