{
  "http_interactions": [
    {
      "recorded_at": "2019-08-14T10:42:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"175bc68191184c6ebcc8d2bdc67edc9b\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-14T10:42:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/folders/folders"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/folders/folders\",\"uri\":\"/folders/folders\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders?start=0&limit=20\",\"uri\":\"/folders/folders?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"POST\",\"rel\":\"createFolder\",\"href\":\"/folders/folders\",\"uri\":\"/folders/folders\",\"type\":\"application/vnd.sas.content.folder\",\"responseType\":\"application/vnd.sas.content.folder\"},{\"method\":\"GET\",\"rel\":\"next\",\"href\":\"/folders/folders?start=20&limit=20\",\"uri\":\"/folders/folders?start=20&limit=20\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"folders\",\"accept\":\"application/vnd.sas.content.folder\",\"start\":0,\"count\":87,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:33:48.826Z\",\"modifiedTimeStamp\":\"2019-05-31T17:58:18.248Z\",\"createdBy\":\"anonymousUser\",\"modifiedBy\":\"sasboot\",\"id\":\"9fb20b2c-90b7-49d7-95e6-f6367844fe71\",\"name\":\"Public\",\"description\":\"Public folder for general access.\",\"type\":\"folder\",\"memberCount\":4,\"properties\":{\"allowMove\":\"false\",\"uuid\":\"935842da-9ba0-479c-99e3-6a4e489322fc\"},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/folders/folders/9fb20b2c-90b7-49d7-95e6-f6367844fe71\",\"uri\":\"/folders/folders/9fb20b2c-90b7-49d7-95e6-f6367844fe71\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"PUT\",\"rel\":\"validateNewMemberName\",\"href\":\"/folders/commons/validations/folders/9fb20b2c-90b7-49d7-95e6-f6367844fe71/members/@new/name?value={newname}&type={newtype}\",\"uri\":\"/folders/commons/validations[...]
