{
  "http_interactions": [
    {
      "recorded_at": "2019-08-10T01:09:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint gelupdates scim.read esvakmcriskconsumers SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us esvakmcorionconsultforecastconsumers intcawebcertreq ANALYSIS esvakmcorionriskconsumers USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers SIMSEdit midena rdtcaccess uscompresales Safari_list DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion salessupportcredittech DomainEmployees AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers esvakmcorionriskaccess bareosdeploy KSA_mail_list revegyusercommunity EsriUsers uaa.admin clients.admin AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter SalesXchange EMINERS sas92_install ApplicationAdministrators techoffice COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS birdrace KSA_ADGroup ITatSAS HADOOP-L democenterusers RE_PYTHON clients.write scim.write\",\"jti\":\"50a4de83d5604a93a3cdbf98effa0ec4\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-10T01:09:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":17,\"items\":[{\"creationTimeStamp\":\"2019-06-12T19:23:44.969Z\",\"modifiedTimeStamp\":\"2019-06-12T19:23:46.249Z\",\"createdBy\":\"dareev\",\"modifiedBy\":\"dareev\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"cd307dac-3c5a-4327-9721-49ddc07c5912\",\"name\":\"VA_BAD_Report 1_1560367422658\",\"folderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"indirectFolderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"repositoryId\":\"e0b09e48-f1e1-40d9-9517-9aef703ad6b7\",\"function\":\"prediction\",\"algorithm\":\"tree\",\"tool\":\"SAS\u00ae Visual Analytics\",\"toolVersion\":\"8.3.1\",\"scoreCodeType\":\"dataStep\",\"modeler\":\"dareev\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-08T14:54:50.547Z\",\"modifiedTimeStamp\":\"2019-08-08T14:54:50.547Z\",\"createdBy\":\"jakoch\",\"modifiedBy\":\"jakoch\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/b5df65bf-2551-452b-b455-58d42939f6c1\",\"uri\":\"/modelRepository/models/b5df65bf-2551-452b-b455-58d42939f6c1\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/b5df65bf-2551-452b-b455[...]
    {
      "recorded_at": "2019-08-10T01:09:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Basic%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\"[...]
    {
      "recorded_at": "2019-08-10T01:09:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/4900f6e5-e5b4-4df4-9eab-0196a4d38445"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2019-08-10T01:09:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/4900f6e5-e5b4-4df4-9eab-0196a4d38445"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":21206,\"message\":\"The model ID \\\"4900f6e5-e5b4-4df4-9eab-0196a4d38445\\\" is invalid. Enter a valid value for the model \\\"id\\\" parameter\\\".\",\"details\":[\"correlator: 3bbc7551-57ed-410e-8630-e2505d38b59e\",\"traceId: 01b61a227cb35840\",\"path: /modelRepository/models/4900f6e5-e5b4-4df4-9eab-0196a4d38445\"],\"links\":[],\"version\":2,\"httpStatusCode\":404}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 404,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/4900f6e5-e5b4-4df4-9eab-0196a4d38445"
      }
    },
[...]
