{
  "http_interactions": [
    {
      "recorded_at": "2022-08-16T13:20:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJmNmMyZjA1OC1kYjM0LTRhMzUtYTlmYy0zNzFlNzI4MmE2MDQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjA2NzA0MzYsImlhdCI6MTY2MDY1NjAzNiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJtbWRldkB1c2VyLmZyb20ubGRhcC5jZiIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI3MmE1MzhkNTZhYWU0N2JmYjUzODM4ZDAwMzEwZjU4MCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2NjA2NTUzNjQ0MzgsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoibW1kZXYiLCJyZXZfc2lnIjoiOGVkZWZhZDMiLCJ1c2VyX2lkIjoiZjZjMmYwNTgtZGIzNC00YTM1LWE5ZmMtMzcxZTcyODJhNjA0IiwiYXV0aF90aW1lIjoxNjYwNjU2MDM2fQ.EWqs3TI8Jdz3ObRsC5p70PwLYBig9_CDWu8AWYvl2W8Yid2J21exYWSInbqyv__m07pRwjAOmP24DiTE4hz1P3MFRYSJHQQKP6FEHoDQDJ4Og4CvWjZu4eN-KvgWQG73et1Sy5xLVvPt_j1bvDEfHcRp3IebeoM3r86AP999rpKbSBy_M2fUy5k-0YfLssHr0FNFvaUTRVOD2mn4_BvtkIXL97_DWC8IhYHX9qLcCSVfERDr4qhTjCnUCcTa0ALakgnV1IElHVCzhC4TlkBWal_p68L_Od6b88NzD92xEkbnCtE6fNB397yCb6yzUb8OLAijoZYKKKDMuPDbYcQlQg\",\"expires_in\":14399,\"scope\":\"unix_r&d openid\",\"jti\":\"72a538d56aae47bfb53838d00310f580\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-08-16T13:20:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)"
      }
    },
    {
      "recorded_at": "2022-08-16T13:20:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":2,\"items\":[{\"creationTimeStamp\":\"2022-08-16T11:05:18.656Z\",\"modifiedTimeStamp\":\"2022-08-16T11:05:19.171Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/cba4b836-3ea5-4e8f-a8da-6bbab523e447\",\"uri\":\"/modelRepository/repositories/cba4b836-3ea5-4e8f-a8da-6bbab523e447\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/225c4dac-e5d2-42df-bf0c-a502cfa1e602\",\"uri\":\"/folders/folders/225c4dac-e5d2-42df-bf0c-a502cfa1e602\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"cba4b836-3ea5-4e8f-a8da-6bbab523e447\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"225c4dac-e5d2-42df-bf0c-a502cfa1e602\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2022-08-16T11:06:06.905Z\",\"modifiedTimeStamp\":\"2022-08-16T11:06:07.495Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/8a8259f0-47d8-448d-99fa-5c67365495dd\",\"uri\":\"/modelRepository/repositories/8a8259f0-47d8-448d-99fa-5c67365495dd\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folder[...]
    {
      "recorded_at": "2022-08-16T13:20:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris\", \"repositoryId\": \"cba4b836-3ea5-4e8f-a8da-6bbab523e447\", \"folderId\": \"225c4dac-e5d2-42df-bf0c-a502cfa1e602\", \"variables\": [{\"name\": \"SepalLength\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"targetLevel\": \"Binary\", \"function\": \"classification\", \"eventProbabilityVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-08-16T13:20:39.500Z\",\"modifiedTimeStamp\":\"2022-08-16T13:20[...]
    {
      "recorded_at": "2022-08-16T13:20:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression()\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Binary\", \"function\": \"classification\", \"tool\": \"Python 3.8\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"auto\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"}, {\"nam[...]
    {
      "recorded_at": "2022-08-16T13:20:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--4f8a273529b69734248ad42964e375bc\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--4f8a273529b69734248ad42964e375bc\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--4f8a273529b69734248ad42964e375bc\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-s[...]
[...]
    {
      "recorded_at": "2022-08-16T13:20:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"m[...]
    {
      "recorded_at": "2022-08-16T13:20:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2022-08-16T11:04:03.544982Z\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\",\"id\":\"67027ee8-eb72-441a-9886-d1ebe012e7d3\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2022-08-16T11:04:03.544982Z\",\"name\":\"maslocal\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1660647843544982000\""
          ],
          "Last-Modified": [
            "Tue, 16 Aug 2022 11:04:03 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/maslocal"
      }
    },
    {
      "recorded_at": "2022-08-16T13:20:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Iris%20Regression)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\[...]
    {
      "recorded_at": "2022-08-16T13:20:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/887a5258-7dd4-4c7a-8eaf-87013e3baa8d"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-08-16T13:20:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris Regression\", \"notes\": \"LogisticRegression()\", \"modelContents\": [{\"modelName\": \"IrisRegression\", \"sourceUri\": \"/modelRepository/models/887a5258-7dd4-4c7a-8eaf-87013e3baa8d\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-08-16T13:20:49.828218292Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T13:20:49.828218292Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"eb4d45ad-008a-4c5b-8842-45a71b9bbf9e\",\"name\":\"IrisRegression\",\"publishName\":\"IrisRegression\",\"publishType\":\"mas\",\"verified\":false,\"principalId\":\"887a5258-7dd4-4c7a-8eaf-87013e3baa8d\",\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/887a5258-7dd4-4c7a-8eaf-87013e3baa8d\",\"projectId\":\"bb03aaaa-44c6-48ac-83d3-726cf7492fab\",\"projectVersionId\":\"3c5fea7b-a7b4-43b0-b454-24c46c481998\",\"modelId\":\"887a5258-7dd4-4c7a-8eaf-87013e3baa8d\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e\",\"uri\":\"/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/[...]
    {
      "recorded_at": "2022-08-16T13:20:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
    {
      "recorded_at": "2022-08-16T13:20:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e/log"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-08-16T13:20:49.893711Z\",\"destinationName\":\"maslocal\",\"id\":\"f378a907-31aa-4744-988b-03a8dc158df1\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e\",\"uri\":\"/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e/log\",\"uri\":\"/modelPublish/models/eb4d45ad-008a-4c5b-8842-45a71b9bbf9e/log\",\"type\":\"application/json\"}],\"log\":\"SUCCESS=== {{2022-08-16 13:20:50.829 +0000 UTC USERNAME 2022-08-16 13:20:57.528 +0000 UTC USERNAME} d1bad389-5306-4e32-bf31-837559655326 1  irisregression completed [] [Method: GET Rel: up URI: /microanalyticScore/jobs MediaType: application/vnd.sas.collection\\n Method: GET Rel: self URI: /microanalyticScore/jobs/d1bad389-5306-4e32-bf31-837559655326 MediaType: application/vnd.sas.microanalytic.job\\n Method: GET Rel: source URI: /microanalyticScore/jobs/d1bad389-5306-4e32-bf31-837559655326/so[...]
    {
      "recorded_at": "2022-08-16T13:20:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\"[...]
    {
      "recorded_at": "2022-08-16T13:21:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2022-08-16T13:21:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"meth[...]
    {
      "recorded_at": "2022-08-16T13:21:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"sepallength\", \"value\": 5.1}, {\"name\": \"sepalwidth\", \"value\": 3.5}, {\"name\": \"petallength\", \"value\": 1.4}, {\"name\": \"petalwidth\", \"value\": 0.2}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"irisregression\",\"stepId\":\"predict\",\"executionState\":\"completed\",\"metadata\":{\"module_id\":\"irisregression\",\"step_id\":\"predict\"},\"outputs\":[{\"name\":\"var1\",\"value\":\"setosa\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}