{
  "http_interactions": [
    {
      "recorded_at": "2020-02-06T23:48:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1ODEwNjg5MjMsImlhdCI6MTU4MTAzMjkyMywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJiNjY4MGIwOGZlMDc0Y2VlYmNiNmJjNzdlZGUzODJmOSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1ODEwMzI3MzgyNjAsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE1ODEwMzI5MjN9.Ys9faJIw4xTW0F5auIJXb7fRYkBhq6CmZZZztTuQgSSGaeRzum2TGY5fSj56rRrnLq1UAGEm-w4Trsrm__O244cOFQ_whu8-po-4mcvZ9PdJ8rnG8m0GeoNfG6J-zFm2uv7Ep8nkNWOKii7fic-UlDmUDgamDSeysqBdK-E393wnmtPsVBV7YZzpMy_KCWfVGGvJ8Y4pfAKIHeIEbltwFuDoGGLxQRBLANWfGRw3jUg8atCXh4utl-ifP6V0oNIxYVJulH9HHtZt0CDbExlLNNyg6Zd28XY4HkPBbuPmBz5OxsoXgSF28KiUgeTTFWOhLOwWkrL_oxAiX_bPlEvhRQ\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"b6680b08fe074ceebcb6bc77ede382f9\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-02-06T23:48:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-02-06T22:29:19.807Z\",\"modifiedTimeStamp\":\"2020-02-06T22:29:25.672Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/ca717448-a393-4f11-838f-1224dc8ec76b\",\"uri\":\"/modelRepository/projects/ca717448-a393-4f11-838f-1224dc8ec76b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/ca717448-a393-4f11-838f-1224dc8ec76b\",\"uri\":\"/modelRepository/projects/ca717448-a393-4f11-838f-1224dc8ec76b\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/ca717448-a393-4f11-838f-1224dc8ec76b\",\"uri\":\"/modelRepository/projects/ca717448-a393-4f11-838f-1224dc8ec76b\"}],\"version\":2,\"id\":\"ca717448-a393-4f11-838f-1224dc8ec76b\",\"name\":\"Test Iris Project\",\"repositoryId\":\"09948ca7-c4da-4b8a-8032-896929a33bb1\",\"folderId\":\"3d55d356-6b50-4d6a-8c71-49bfa4932286\",\"function\":\"classification\",\"externalProjectId\":\"662e76b1-30ec-4bd5-997e-af0a1c0c44df\",\"candidateChampionHonored\":true,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"retrainUri\":\"/dataMining/projects/662e76b1-30ec-4bd5-997e-af0a1c0c44df/retrainJobs?action=batch&dataUri={dataUri}\",\"retrainStatusUri\":\"/dataMining/projects/662e76b1-30ec-4bd5-997e-af0a1c0c44df/retrainJobs?retrainingState={retrainingState}\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)"
      }
    },
    {
      "recorded_at": "2020-02-06T23:48:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\"[...]
    {
      "recorded_at": "2020-02-06T23:48:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2020-02-06T23:48:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2020-02-06T23:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris\", \"repositoryId\": \"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\", \"folderId\": \"9e8bb64e-f359-4c37-ab42-167ebabd564c\", \"variables\": [{\"name\": \"SepalLength\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"targetLevel\": \"Binary\", \"function\": \"classification\", \"eventProbabilityVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-06T23:48:45.324Z\",\"modifiedTimeStamp\":\"2020-02-06T23[...]
    {
      "recorded_at": "2020-02-06T23:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2020-02-06T23:48:45.324Z\", \"modifiedTimeStamp\": \"2020-02-06T23:48:45.505Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2020-02-06T23:48:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='auto', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Binary\", \"function\": \"classification\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"auto\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"}, {\"nam[...]
    {
      "recorded_at": "2020-02-06T23:48:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--b1dd1a900ec4fffca0a915612eb709b2\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--b1dd1a900ec4fffca0a915612eb709b2\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--b1dd1a900ec4fffca0a915612eb709b2\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-s[...]
[...]
    {
      "recorded_at": "2020-02-06T23:48:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-02-06T23:48:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-11-19T02:10:59.2[...]
    {
      "recorded_at": "2020-02-06T23:48:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Iris%20Regression)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"meth[...]
    {
      "recorded_at": "2020-02-06T23:48:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/3dff9361-d6f6-4019-8e98-38248e88446f"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2020-02-06T23:48:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris Regression\", \"notes\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='auto', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"modelContents\": [{\"modelName\": \"IrisRegression\", \"sourceUri\": \"/modelRepository/models/3dff9361-d6f6-4019-8e98-38248e88446f\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-06T23:48:56.181Z\",\"modifiedTimeStamp\":\"2020-02-06T23:48:56.223Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"17e13d36-fb2d-44ed-a92a-bf48493d113c\",\"publishName\":\"IrisRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2020-02-06T23:48:56.181Z\",\"modifiedTimeStamp\":\"2020-02-06T23:48:56.181Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"746dd9df-7c1a-40ef-a70f-741271ee40ed\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"3dff9361-d6f6-4019-8e98-38248e88446f\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/3dff9361-d6f6-4019-8e98-38248e88446f\",\"modelId\":\"3dff9361-d6f6-4019-8e98-38248e88446f\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c\",\"uri\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c\",\"uri\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c/log\",\"uri\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c/log\",\"type\":\"application/json\"}],\"name\":\"IrisRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k6be6t5r\""
          ],
          "Last-Modified": [
            "Thu, 06 Feb 2020 23:48:56 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2020-02-06T23:48:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2020-02-06T23:49:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-06T23:48:56.294Z\",\"modifiedTimeStamp\":\"2020-02-06T23:49:05.776Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c\",\"uri\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c/log\",\"uri\":\"/modelPublish/models/17e13d36-fb2d-44ed-a92a-bf48493d113c/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"8009301d-0ad3-4dbc-8532-4c4012454728\",\"publishName\":\"Iris Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"3dff9361-d6f6-4019-8e98-38248e88446f\",\"modelName\":\"IrisRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/cffa99ca-a197-4ccf-b3d3-1cb1d104cd17\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/cffa99ca-a197-4ccf-b3d3-1cb1d104cd17\[...]
    {
      "recorded_at": "2020-02-06T23:49:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\"[...]
    {
      "recorded_at": "2020-02-06T23:49:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/_6cb5eb94cd5f40e082230349ab4ef26"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[...]
    {
      "recorded_at": "2020-02-06T23:49:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2020-02-06T23:49:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"meth[...]
    {
      "recorded_at": "2020-02-06T23:49:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"sepallength\", \"value\": 5.1}, {\"name\": \"sepalwidth\", \"value\": 3.5}, {\"name\": \"petallength\", \"value\": 1.4}, {\"name\": \"petalwidth\", \"value\": 0.2}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":-1958743950,\"message\":\"Error 8b3ff072 received when executing the step \\\"predict\\\" of the module \\\"irisregression\\\".\",\"details\":[\"traceId: 628d110e5f4cbd21\",\"path: /microanalyticScore/modules/irisregression/steps/predict\"],\"links\":[],\"version\":2,\"httpStatusCode\":500}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 500,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}