{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T19:55:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxOTk3MzQsImlhdCI6MTY2MzE4NTMzNCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiM2I5NzAxOWI2NGZhNDkwMTg4Yzk1ZjA3ZjRlNmFjYjIiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTg1MzI5MTE3LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxODUzMzR9.ZCiQBmZmoYSVA6qE1n-0iSVONlrXZeT5Qz9xagj-lTFRwnxxp6ZXbZQ2Ui6jFGwf59c77kCi_hsEVGmF2r_8G4n83PhSqcIxOVTFGOXJlrBNRiZ7wdYlCnPonBVj_0cbphOsaOYzu4bIIgERTQ1jphtMKDEQ6LAxxbVT9N9W45iPZYl7aZWeMDf2AhaoWhQJlT5zcOCeIZNHsxXyh5qN0h9GZKEmx43A_9iM0TcaehDHL-3BtnzYGC_YsMUKkhkCYURJjao1pr3bt2KGas0ER2yPmj9S6l_h8W9fBAOhuyO6aTNShPfIXjdxcdoMm3sXSU1LxnPgKghQRRWp5-n41Q\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"3b97019b64fa490188c95f07f4e6acb2\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T19:55:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"authenticationType\": \"OAuth\", \"name\": \"SessionSimulation\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"id\":\"df963244-fcc9-1944-b1db-d0140661a337\",\"name\":\"SessionSimulation:Wed Sep 14 19:55:34 2022\",\"state\":\"Connected\",\"transactionState\":\"none\",\"authenticationType\":\"OAuth\",\"owner\":\"USERNAME\",\"locale\":\"en\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337\",\"type\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337\"},{\"method\":\"POST\",\"rel\":\"startPermissionsTransaction\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337?action=start\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337?action=start\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.session+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      }
    },
    {
      "recorded_at": "2022-09-14T19:55:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--e65a748a50448ccf752a17cf0513673b\r\nContent-Disposition: form-data; name=\"tableName\"\r\n\r\nTEST_TABLE\r\n--e65a748a50448ccf752a17cf0513673b\r\nContent-Disposition: form-data; name=\"containsHeaderRow\"\r\n\r\nTrue\r\n--e65a748a50448ccf752a17cf0513673b\r\nContent-Disposition: form-data; name=\"format\"\r\n\r\ncsv\r\n--e65a748a50448ccf752a17cf0513673b\r\nContent-Disposition: form-data; name=\"sessionId\"\r\n\r\ndf963244-fcc9-1944-b1db-d0140661a337\r\n--e65a748a50448ccf752a17cf0513673b\r\nContent-Disposition: form-data; name=\"delimiter\"\r\n\r\n;\r\n--e65a748a50448ccf752a17cf0513673b\r\nContent-Disposition: form-data; name=\"scope\"\r\n\r\nsession\r\n--e65a748a50448ccf752a17cf0513673b\r\nContent-Disposition: form-data; name=\"file\"; filename=\"TEST_TABLE\"\r\n\r\nA;B\n\nentry1;entry2\n\nentry3;entry4\r\n--e65a748a50448ccf752a17cf0513673b--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=e65a748a50448ccf752a17cf0513673b"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibName\":\"Public\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-14T19:55:35.772Z\",\"createdBy\":\"USERNAME\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-14T19:55:35.772Z\",\"lastModified\":\"2022-09-14T19:55:35.772Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"type\":\"application/vnd.sas.cas.table\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\"},{\"method\":\"PUT\",\"rel\":\"updateState\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state\",\"responseType\":\"application/json,text/plain\"},{\"method\":\"GET\",\"rel\":\"columns\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/columns\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/columns\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.column\"},{\"method\":\"GET\",\"rel\":\"dataTable\",\"href\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~Public/tables/TEST_TABLE\",\"uri\":\"[...]
    {
      "recorded_at": "2022-09-14T19:55:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/scope?value=global&sessionId=df963244-fcc9-1944-b1db-d0140661a337"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "global"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/scope?value=global&sessionId=df963244-fcc9-1944-b1db-d0140661a337"
      }
    },
    {
      "recorded_at": "2022-09-14T19:55:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state?value=unloaded"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "unloaded"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state?value=unloaded"
      }
    },
    {
      "recorded_at": "2022-09-14T19:55:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/df963244-fcc9-1944-b1db-d0140661a337"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}