{
  "http_interactions": [
    {
      "recorded_at": "2021-06-25T16:27:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2MjQ2NzQ0MjAsImlhdCI6MTYyNDYzODQyMCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJmZmIxMmI2OTE3ZTg0Y2Y0OTU0ZmRhMWE2M2I4MmI2OSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2MjQ2Mzg0MTU2MTUsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE2MjQ2Mzg0MjB9.DR45jbm75eomphEktTkwEzaJID_j6tXREMGNeStwHtnVBl5-YsT-IuhmGpCSlKyTNxuzmFdKTFzauzSy86PrSCmUn3sHWKAjOegH5oNkArNmJVi2SOkoblCTUYsrWyPnxMHg7d_TKRhpUr1qwGl605DXJn5gClcb4LMrj8UzZ1N3n9-ie9dXTvz5zgvflfHqPEsYQ9yGEEcs2ZuW18ztrk5IfcHpiGo2essHDQO5CaetumntSJ8BT1zZBOD9lF0ePk4jt6Vr1gqa2d7d39Fk0J9fQ_5JaQAgcNiCAfMz8VZslao55-4vaMdH0DX3UgdMF1SZLdcPvX231hPhbdCIXA\",\"expires_in\":35999,\"scope\":\"DataBuilders HealthMapperManager szpkAdministrator riskDataAdmin qasDataAdmin qasFQAAnalyst riskModelValidator qasAPAAnalyst DemandPlanningForecastAnalyst AdaptiveLearningUsers szpfViewer roBusinessSuperUser HealthCohortAdministrators uaa.resource openid EsriUsers uaa.admin clients.admin scim.read SASAdministrators HealthMapper szpfAnalyst CASHostAccountRequired HealthMapperAdministrator szpkViewer ApplicationAdministrators riskDataAnalyst roBusinessUser SASScoreUsers qasInfoConsumer szpfAdministrator clients.read roBusinessAdministrator clients.secret PlanningAdministrators riskModeler riskDataConfigUsers HealthCohortAnalysts qasPQAAnalyst PlanningUsers clients.write qasAppAdmin scim.write szpkAnalyst roTechnicalAdministrator\",\"jti\":\"ffb12b6917e84cf4954fda1a63b82b69\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2021-06-25T16:27:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2021-06-25T16:26:51.514Z\",\"modifiedTimeStamp\":\"2021-06-25T16:26:54.729Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1\",\"uri\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1\",\"uri\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1/contents\",\"uri\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1/variables\",\"uri\":\"/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"e72de22f-14fa-4602-85d7-4971355f1ca1\",\"name\":\"sasctl_testing Scikit Linear Model\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,\\n         normalize=False)\",\"projectId\":\"2f389409-5e02-432a-8de0-c34868e9cfcf\",\"projectName\":\"sasctl_testing Boston Housing\",\"projectVersionId\":\"e82eb54a-1da1-4986-869c-814fdf0c67f3\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"indirectFolderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"function\":\"prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)"
      }
    },
    {
      "recorded_at": "2021-06-25T16:27:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/e72de22f-14fa-4602-85d7-4971355f1ca1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2021-06-25T16:27:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/2f389409-5e02-432a-8de0-c34868e9cfcf"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2021-06-25T16:27:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelManagement/performanceTasks"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelManagement/performanceTasks\",\"uri\":\"/modelManagement/performanceTasks\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.performance.task+json\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks?start=0&limit=10\",\"uri\":\"/modelManagement/performanceTasks?start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.summary\"}],\"name\":\"items\",\"accept\":\"application/vnd.sas.models.performance.task+json\",\"items\":[{\"creationTimeStamp\":\"2021-06-25T16:26:57.930Z\",\"modifiedTimeStamp\":\"2021-06-25T16:26:57.931Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4\",\"uri\":\"/modelManagement/performanceTasks/282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4\"}],\"version\":2,\"id\":\"282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4\",\"projectId\":\"2f389409-5e02-432a-8de0-c34868e9cfcf\",\"modelIds\":[\"e72de22f-14fa-4602-85d7-4971355f1ca1\"],\"name\":\"sasctl_testing Scikit Linear Model Performance\",\"description\":\"Performance definition for model sasctl_testing Scikit Linear Model\",\"outputVariables\":[\"var1\"],\"inputVariables\":[\"AGE\",\"B\",\"CHAS\",\"CRIM\",\"DIS\",\"INDUS\",\"LSTAT\",\"NOX\",\"PTRATIO\",\"RAD\",\"RM\",\"TAX\",\"ZN\"],\"scoreExecutionRequired\":false,\"performanceResultSaved\":true,\"traceOn\":false,\"maxBins\":10,\"resultLibrary\":\"ModelPerformanceData\",\"casServerId\":\"cas-shared-default\",\"dataLibrary\":\"Public\",\"dataPrefix\":\"boston\",\"includeAllData\":false,\"loadPerformanceResult\":false,\"championMonitored\":false,\"challengerMonitored\":false}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/performanceTasks"
      }
    },
    {
      "recorded_at": "2021-06-25T16:27:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks/282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"items\",\"accept\":\"application/vnd.sas.models.performance.job+json\",\"items\":[{\"creationTimeStamp\":\"2021-06-25T16:26:59.222Z\",\"modifiedTimeStamp\":\"2021-06-25T16:26:59.796Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4/performanceJobs/d18115a9-372d-4486-8145-22111b18b4b8\",\"uri\":\"/modelManagement/performanceTasks/282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4/performanceJobs/d18115a9-372d-4486-8145-22111b18b4b8\"}],\"version\":2,\"id\":\"d18115a9-372d-4486-8145-22111b18b4b8\",\"taskId\":\"282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4\",\"task\":\"sasctl_testing Scikit Linear Model Performance\",\"code\":\"options cashost='sasserver.demo.sas.com' casport=5570;\\ncas _mmcas_;\\ncaslib _all_ assign;\\n%let _MM_PerfExecutor = 1;\\n%let _MM_ProjectUUID = %nrstr(2f389409-5e02-432a-8de0-c34868e9cfcf);\\n%let _MM_TargetVar = Price;\\n%let _MM_TargetLevel = INTERVAL;\\n%let _MM_PredictedVar = var1;\\n%let _MM_TargetEvent = ;\\n%let _MM_EventProbVar = ;\\n%let _MM_KeepVars = var1;\\n%let _MM_CAKeepVars = AGE B CHAS CRIM DIS INDUS LSTAT NOX PTRATIO RAD RM TAX ZN;\\n%let _MM_Trace = OFF;\\n%let _MM_Max_Bins = 10;\\n%let _MM_PerfOutCaslib = ModelPerformanceData;\\n%let _MM_PerfInCaslib = Public;\\n%let _MM_Perf_InTablePrefix = boston;\\n%let _MM_TableNameLevel = 4;\\n%let _MM_PerfStaticTable = ;\\n%let _MM_ForceRunAllData = N;\\n%let _MM_RunScore = N;\\n%let _MM_SAVEPERFRESULT = Y;\\n%let _MM_JobID = %nrstr(d18115a9-372d-4486-8145-22111b18b4b8);\\n%let _MM_ModelID = %nrstr(e72de22f-14fa-4602-85d7-4971355f1ca1);\\n%let _MM_ModelName = %nrstr(sasctl_testing Scikit Linear Model);\\n%let _MM_ModelFlag = -1;\\n%let _MM_ScoreCodeType = DS2EP;\\n%let _MM_ScoreCodeURI = ;%let _MM_ScoreAstURI = ;\\n%mm_performance_monitor(\\nperfLib=&_MM_PerfInCaslib,\\nperfDataNamePrefix=&_MM_Perf_InTablePrefix,\\nmm_mart=&_MM_PerfOutCaslib,\\nrunScore=&_MM_RunScore,\\nscorecodeURI=&_MM_ScoreCodeURI,\\ndebug=OFF\\n);\\n%put &syserr;\\n%put &syscc;\",\"state\":\"pending\",\"prefix\":\"boston\",\"model\":\"sasctl_testing Scikit Linear Model\",\"dataLibrary\":\"Public\",\"resultLibrary\":\"ModelPerformanceData\",\"modelId\":\"e72de22f-14fa-4602-85d7-4971355f1ca1\",\"dataTable\":\"\",\"projectVersion\":\"Version 1\",\"projectId\":\"2f389409-5e02-432a-8de0-c34868e9cfcf\",\"jobReqId\":\"58a593ec-e916-4bf9-ab45-c5784fb23023\"}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/performanceTasks/282f1c57-fcbd-4a8a-b4b4-1fe9cdedb8b4"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}