{
  "http_interactions": [
    {
      "recorded_at": "2019-08-12T18:52:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"e02a1370c62347528a586c1b98177576\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-12T18:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Boston%20Housing%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-08-12T18:52:05.501Z\",\"modifiedTimeStamp\":\"2019-08-12T18:52:05.703Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/33cf818b-5b95-4c06-a921-3de08fdda6cf\",\"uri\":\"/modelRepository/projects/33cf818b-5b95-4c06-a921-3de08fdda6cf\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/33cf818b-5b95-4c06-a921-3de08fdda6cf\",\"uri\":\"/modelRepository/projects/33cf818b-5b95-4c06-a921-3de08fdda6cf\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/33cf818b-5b95-4c06-a921-3de08fdda6cf\",\"uri\":\"/modelRepository/projects/33cf818b-5b95-4c06-a921-3de08fdda6cf\"}],\"version\":2,\"id\":\"33cf818b-5b95-4c06-a921-3de08fdda6cf\",\"name\":\"Iris\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"candidateChampionHonored\":false,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Boston%20Housing%22)"
      }
    },
    {
      "recorded_at": "2019-08-12T18:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      }
    },
    {
      "recorded_at": "2019-08-12T18:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"metho[...]
    {
      "recorded_at": "2019-08-12T18:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2019-08-12T18:52:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Housing\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-12T18:52:15.867Z\",\"modifiedTimeStamp\":\"2019-08-12T18:52:[...]
    {
      "recorded_at": "2019-08-12T18:52:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}], \"name\": \"Boston Regression\", \"inputVariables\": [{\"name\": \"CRIM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"outputVariables\": [{\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"projectId\": \"2d2799a0-2bcf-459a-8822-4f8bfe840a39\", \"modeler\": \"USERNAME\", \"champion\": null, \"role\": \"Challenger\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\[...]
    {
      "recorded_at": "2019-08-12T18:52:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--3b621685818ee0bd1541b7a9e598f7ba\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--3b621685818ee0bd1541b7a9e598f7ba\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--3b621685818ee0bd1541b7a9e598f7ba\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
    {
      "recorded_at": "2019-08-12T18:52:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/2d2799a0-2bcf-459a-8822-4f8bfe840a39"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
[...]
    {
      "recorded_at": "2019-08-12T18:52:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22Boston%20Regression%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{[...]
    {
      "recorded_at": "2019-08-12T18:52:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/82710bd8-f22b-4e9c-888c-2196956b8ff5"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2019-08-12T18:52:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"projectId\": \"2d2799a0-2bcf-459a-8822-4f8bfe840a39\", \"name\": \"Boston Regression Performance\", \"modelIds\": [\"82710bd8-f22b-4e9c-888c-2196956b8ff5\"], \"championMonitored\": false, \"challengerMonitored\": false, \"maxBins\": 10, \"resultLibrary\": \"ModelPerformanceData\", \"includeAllData\": false, \"scoreExecutionRequired\": false, \"performanceResultSaved\": true, \"loadPerformanceResult\": false, \"dataLibrary\": \"Public\", \"description\": \"Performance definition for model Boston Regression\", \"casServerId\": \"cas-shared-default\", \"dataPrefix\": \"boston\", \"traceOn\": false, \"inputVariables\": [\"AGE\", \"B\", \"CHAS\", \"CRIM\", \"DIS\", \"INDUS\", \"LSTAT\", \"NOX\", \"PTRATIO\", \"RAD\", \"RM\", \"TAX\", \"ZN\", \"var1\"], \"outputVariables\": [\"var1\"]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.performance.task+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/perf[...]
    {
      "recorded_at": "2019-08-12T18:52:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2019-08-12T18:52:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-05-24T21:38:55.2[...]
[...]
    {
      "recorded_at": "2019-08-12T18:52:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Regression\", \"notes\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"modelContents\": [{\"modelName\": \"BostonRegression\", \"sourceUri\": \"/modelRepository/models/82710bd8-f22b-4e9c-888c-2196956b8ff5\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-12T18:52:23.395Z\",\"modifiedTimeStamp\":\"2019-08-12T18:52:23.439Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"2f9bd9c1-d957-42ee-896b-9c2ce83d55b3\",\"publishName\":\"BostonRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-08-12T18:52:23.395Z\",\"modifiedTimeStamp\":\"2019-08-12T18:52:23.395Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"55d35106-f9f6-46d7-ac4c-c98418669360\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"82710bd8-f22b-4e9c-888c-2196956b8ff5\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/82710bd8-f22b-4e9c-888c-2196956b8ff5\",\"modelId\":\"82710bd8-f22b-4e9c-888c-2196956b8ff5\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3\",\"uri\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3\",\"uri\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3/log\",\"uri\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3/log\",\"type\":\"application/json\"}],\"name\":\"BostonRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jz8r7thr\""
          ],
          "Last-Modified": [
            "Mon, 12 Aug 2019 18:52:23 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2019-08-12T18:52:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2019-08-12T18:52:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-12T18:52:23.467Z\",\"modifiedTimeStamp\":\"2019-08-12T18:52:25.268Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3\",\"uri\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3/log\",\"uri\":\"/modelPublish/models/2f9bd9c1-d957-42ee-896b-9c2ce83d55b3/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"768f175e-aa6f-4b3f-aaff-a8d9c9377f15\",\"publishName\":\"Boston Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"82710bd8-f22b-4e9c-888c-2196956b8ff5\",\"modelName\":\"BostonRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/d28a4a0b-3831-4f14-baf5-9ebcc30f5a80\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/d28a4a0b-3831-4f14-baf5-9ebcc30f5a80\[...]
    {
      "recorded_at": "2019-08-12T18:52:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel[...]
    {
      "recorded_at": "2019-08-12T18:52:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2019-08-12T18:52:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"zn\", \"value\": 18.0}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"age\", \"value\": 65.2}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"lstat\", \"value\": 4.98}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"bostonregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\",\"value\":29.93465274131305},{\"name\":\"rc\",\"value\":0},{\"name\":\"msg\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      }
    },
[...]
    {
      "recorded_at": "2019-08-12T18:52:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\[...]
    {
      "recorded_at": "2019-08-12T18:52:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET[...]
[...]
