{
  "http_interactions": [
    {
      "recorded_at": "2019-07-23T22:30:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint scim.read gelupdates esvakmcriskconsumers SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS esvakmcorionriskconsumers USCALA mercuryusers CTRYUNITEDSTATES BLDGC SASScoreUsers tisurvey intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap defsusers opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers esvakmcorionriskaccess bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin EsriUsers AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install techoffice ApplicationAdministrators COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"48437110077f4121886754298eec7a77\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-07-23T22:30:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22Scikit%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":13,\"items\":[{\"creationTimeStamp\":\"2019-06-12T19:23:44.969Z\",\"modifiedTimeStamp\":\"2019-06-12T19:23:46.249Z\",\"createdBy\":\"dareev\",\"modifiedBy\":\"dareev\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"uri\":\"/modelRepository/models/cd307dac-3c5a-4327-9721-49ddc07c5912/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"cd307dac-3c5a-4327-9721-49ddc07c5912\",\"name\":\"VA_BAD_Report 1_1560367422658\",\"folderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"indirectFolderId\":\"8a42110d-0bf4-40be-8981-52017ceac3ae\",\"repositoryId\":\"e0b09e48-f1e1-40d9-9517-9aef703ad6b7\",\"function\":\"prediction\",\"algorithm\":\"tree\",\"tool\":\"SAS\u00ae Visual Analytics\",\"toolVersion\":\"8.3.1\",\"scoreCodeType\":\"dataStep\",\"modeler\":\"dareev\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-07-19T18:04:24.712Z\",\"modifiedTimeStamp\":\"2019-07-19T18:04:24.712Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef\",\"uri\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef\",\"uri\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef/contents\",\"uri\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef/variables\",\"uri\":\"/modelRepository/models/00040dfb-74cd-446e-866e-b9aaa53de7ef/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"00040dfb-74cd-446e-866e-b9aaa53de7ef\",\"name\":\"Astore Model\",\"description\":\"None\",\"projectId\":\"b61840df-0799-4025-a5dd-8815fa9e282d\",\"projectName\":\"Test Project\",\"projectVersionId\":\"14f27451-4331-415e-bc28-16c09b901de4\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"eb66ccfa-0a62-474b-b7e0-ccfe68f7af71\",\"repositoryId\":\"6cabbbe1-680d-413e-b2c8-a5b972fdd6d8\",\"function\":\"\",\"algorithm\":\"\",\"tool\":\"\",\"toolVersion\":\"\",\"scoreCodeType\":\"ds2Package\",\"modeler\":\"\",\"externalModelId\":\"\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-06-11T18:24:02.255Z\",\"modifiedTimeStamp\":\"2019-06-11T18:42:09.567Z\",\"createdBy\":\"sorowl\",\"modifiedBy\":\"sorowl\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/bdbac9a8-ce7c-497b-aa92-40256f5b20e9\",\"uri\":\"/modelRepository/models/bdbac9a8[...]
    {
      "recorded_at": "2019-07-23T22:30:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/3936b138-3a05-4950-a731-09770b6912b0"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2019-07-23T22:30:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Scikit Model\", \"notes\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='multinomial', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"modelContents\": [{\"modelName\": \"ScikitModel\", \"sourceUri\": \"/modelRepository/models/3936b138-3a05-4950-a731-09770b6912b0\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-07-23T22:30:43.961Z\",\"modifiedTimeStamp\":\"2019-07-23T22:30:44.165Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"eb876f05-6112-4c7c-af85-0597f54733aa\",\"publishName\":\"ScikitModel\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-07-23T22:30:43.961Z\",\"modifiedTimeStamp\":\"2019-07-23T22:30:43.961Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"e612a8ef-80f1-4ffe-b31c-7dfa90b4807c\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"3936b138-3a05-4950-a731-09770b6912b0\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/3936b138-3a05-4950-a731-09770b6912b0\",\"modelId\":\"3936b138-3a05-4950-a731-09770b6912b0\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa\",\"uri\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa\",\"uri\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa/log\",\"uri\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa/log\",\"type\":\"application/json\"}],\"name\":\"ScikitModel\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jyge7kqt\""
          ],
          "Last-Modified": [
            "Tue, 23 Jul 2019 22:30:44 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False"
      }
    },
    {
      "recorded_at": "2019-07-23T22:30:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2019-07-23T22:30:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-07-23T22:30:44.335Z\",\"modifiedTimeStamp\":\"2019-07-23T22:30:50.603Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa\",\"uri\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa/log\",\"uri\":\"/modelPublish/models/eb876f05-6112-4c7c-af85-0597f54733aa/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"494e7de7-a25a-452d-a67b-4085c3e71c6f\",\"publishName\":\"Scikit Model\",\"destinationName\":\"maslocal\",\"modelId\":\"3936b138-3a05-4950-a731-09770b6912b0\",\"modelName\":\"ScikitModel\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/e280ddc3-717b-4c75-93ac-1700b5f08ddf\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/e280ddc3-717b-4c75-93ac-1700b5f08ddf\[...]
    {
      "recorded_at": "2019-07-23T22:30:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/scikitmodel"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"[...]
    {
      "recorded_at": "2019-07-23T22:30:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/scikitmodel/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\[...]
