{
  "http_interactions": [
    {
      "recorded_at": "2020-01-20T20:03:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk1ODY2MTEsImlhdCI6MTU3OTU1MDYxMSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI0MTRmODkzYjYyNGU0OWM0YWUyZDc4M2JkYTFjOTU0MiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk1NTA2MDcyODYsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTU1MDYxMSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.CTlpDLrisBjGGPc3WmCt6kVM3mPZnFZFAIkCZ8ioXp10HmheI9kD77jfpoC6sVFTcueLJdDR8qPGatBve_XzpZT2041GmcacYqV_RuEZxeDdrK4N24ER8MOJxniOo7J4AH-gpG72EB1z_OP8QDwKomSCAcqCWBFun9M4QwmN_hbjJCC3X9ZlMPhM-H6FphgTjoiWEX1Vw4c3ePcdqDCgPNVVlYMbSdz9AJORTPQYjnMseS2OvIrWHfUHSPNCu5MCnZMbDq9NyUi01r0MtZXB5xzHkbaDUOYNTCLCIrguMe-CIODLLHJD5i1x1KCsFPKlyfJntIAB2dqXdqGAknh84g\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"414f893b624e49c4ae2d783bda1c9542\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Boston%20Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-20T20:03:27.930Z\",\"modifiedTimeStamp\":\"2020-01-20T20:03:29.456Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329\",\"uri\":\"/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329\",\"uri\":\"/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329\",\"uri\":\"/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329\"}],\"version\":2,\"id\":\"56958139-8ecf-4851-b8e0-af63a0a4a329\",\"name\":\"sasctl_testing Boston Housing\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"function\":\"prediction\",\"candidateChampionHonored\":false,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Boston%20Housing)"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/56958139-8ecf-4851-b8e0-af63a0a4a329"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
[...]
    {
      "recorded_at": "2020-01-20T20:03:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-20T20:03:29.157Z\",\"modifiedTimeStamp\":\"2020-01-20T20:03:30.865Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/contents\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/variables\",\"uri\":\"/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"08616563-d38a-437d-be3e-20f75ad17d46\",\"name\":\"sasctl_testing Scikit Linear Model\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\",\"projectId\":\"56958139-8ecf-4851-b8e0-af63a0a4a329\",\"projectName\":\"sasctl_testing Boston Housing\",\"projectVersionId\":\"171c4528-5a2a-41d0-ae14-3f92a2f16b19\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"indirectFolderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"repositoryId\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"function\":\"prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Scikit%20Linear%20Model)"
      }
    },
    {
      "recorded_at": "2020-01-20T20:03:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/08616563-d38a-437d-be3e-20f75ad17d46"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2020-01-20T20:03:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"projectId\": \"56958139-8ecf-4851-b8e0-af63a0a4a329\", \"name\": \"sasctl_testing Scikit Linear Model Performance\", \"modelIds\": [\"08616563-d38a-437d-be3e-20f75ad17d46\"], \"championMonitored\": false, \"challengerMonitored\": false, \"maxBins\": 10, \"resultLibrary\": \"ModelPerformanceData\", \"includeAllData\": false, \"scoreExecutionRequired\": false, \"performanceResultSaved\": true, \"loadPerformanceResult\": false, \"dataLibrary\": \"Public\", \"description\": \"Performance definition for model sasctl_testing Scikit Linear Model\", \"casServerId\": \"cas-shared-default\", \"dataPrefix\": \"boston\", \"traceOn\": false, \"inputVariables\": [\"AGE\", \"B\", \"CHAS\", \"CRIM\", \"DIS\", \"INDUS\", \"LSTAT\", \"NOX\", \"PTRATIO\", \"RAD\", \"RM\", \"TAX\", \"ZN\"], \"outputVariables\": [\"var1\"]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.performance.task+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-20T20:03:32.223Z\",\"modifiedTimeStam[...]
