{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T17:48:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNjQ5MzYsImlhdCI6MTY2MzM1MDUzNiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiYzU5YWU2MTMzNjZkNDBiYmI5M2RkOTRkNTFlZjI5ZTEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzUwNTMyMzI2LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM1MDUzNiwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.HHRzCTeaAIh7UgRBOhNQaEvQx_wPBIIageleyVMxi90clHvG2rSeIgSJC-GSkJSNWRkiIx8Wc586e4e3KNTI76m374lPe2D9WALpsn571P-A0hRKzBYB9db0BTf76tMvcebqkfGWT7WP1bBFt_IamOg4e9XB0K9g4iZKghfJ7DyJnVGitnZxno4KR67xQOttD8RLwV2K23iZvwvLk_39Pg6s7Ul6n6DA910w-nsbVBKph70aFWGuyLjcyI8mnMfywPO-X59mK4AgMnGLNEfexmU2H7zADoWxTGDbOF76zMd6BcIrJ7G7Rt347mBS7xu_cuYu3AjTSievKon_ipPI0g\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"c59ae613366d40bbb93dd94d51ef29e1\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T17:48:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing_scikit_model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T17:48:53.537Z\",\"modifiedTimeStamp\":\"2022-09-16T17:48:55.800Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1\",\"uri\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1\",\"uri\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1/contents\",\"uri\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1/variables\",\"uri\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"4d9a62d9-6e60-426d-bfc3-00989be625e1\",\"name\":\"sasctl_testing_scikit_model\",\"description\":\"LogisticRegression(multi_class='multinomial')\",\"projectId\":\"6ae5ab2d-aef1-4675-83a2-28444f68f8f2\",\"projectName\":\"sasctl_testing_task_project\",\"projectVersionId\":\"6f1d426b-b16f-4011-ab15-4b3a27b6ab5d\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"indirectFolderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"repositoryId\":\"13361dd9-e88e-4835-9890-562db461d03b\",\"function\":\"classification\",\"algorithm\":\"Logistic regression\",\"tool\":\"Python 3.7\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing_scikit_model%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T17:48:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-16T17:48:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"m[...]
    {
      "recorded_at": "2022-09-16T17:48:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2022-09-16T10:45:04.12493Z\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\",\"id\":\"f1b8dd19-ef71-4e01-ad0b-0e6aced45a23\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2022-09-16T10:45:04.12493Z\",\"name\":\"maslocal\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1663325104124930000\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 10:45:04 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/maslocal"
      }
    },
    {
      "recorded_at": "2022-09-16T17:48:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing_scikit_model\", \"notes\": \"LogisticRegression(multi_class='multinomial')\", \"modelContents\": [{\"modelName\": \"sasctl_testing_scikit_model\", \"sourceUri\": \"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-09-16T17:48:58.922379551Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-16T17:48:58.922379551Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"f80f9351-4319-4b2d-9174-882302d56947\",\"name\":\"sasctl_testing_scikit_model\",\"publishName\":\"sasctl_testing_scikit_model\",\"publishType\":\"mas\",\"verified\":false,\"principalId\":\"4d9a62d9-6e60-426d-bfc3-00989be625e1\",\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/4d9a62d9-6e60-426d-bfc3-00989be625e1\",\"projectId\":\"6ae5ab2d-aef1-4675-83a2-28444f68f8f2\",\"projectVersionId\":\"6f1d426b-b16f-4011-ab15-4b3a27b6ab5d\",\"modelId\":\"4d9a62d9-6e60-426d-bfc3-00989be625e1\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947\",\"uri\":\"/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/f80f9351-4319-4b2d-9174-882[...]
    {
      "recorded_at": "2022-09-16T17:48:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
    {
      "recorded_at": "2022-09-16T17:49:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947/log"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-16T17:48:58.97644Z\",\"destinationName\":\"maslocal\",\"id\":\"8b2a5724-0ac3-4730-8c09-b71b04c5dcfb\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947\",\"uri\":\"/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947/log\",\"uri\":\"/modelPublish/models/f80f9351-4319-4b2d-9174-882302d56947/log\",\"type\":\"application/json\"}],\"log\":\"SUCCESS=== {{2022-09-16 17:48:59.242 +0000 UTC USERNAME 2022-09-16 17:49:08.362 +0000 UTC USERNAME} ec971dfe-4f49-45b7-91f3-af5b8ba0f0c5 1  sasctl_testing_scikit_model completed [] [Method: GET Rel: up URI: /microanalyticScore/jobs MediaType: application/vnd.sas.collection\\n Method: GET Rel: self URI: /microanalyticScore/jobs/ec971dfe-4f49-45b7-91f3-af5b8ba0f0c5 MediaType: application/vnd.sas.microanalytic.job\\n Method: GET Rel: source URI: /microanalyticScore/jobs/ec971dfe-4f49-45b7-91f3-af[...]
    {
      "recorded_at": "2022-09-16T17:49:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"[...]
    {
      "recorded_at": "2022-09-16T17:49:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[[...]
    {
      "recorded_at": "2022-09-16T17:49:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testing_scikit_model/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"lin[...]
