{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T18:14:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"0945ce0a1b5b406e8726eb58e79bbadd\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T18:14:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Test Project\", \"description\": null, \"imageUri\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/projects/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2019-09-06T18:14:41.991Z\",\"modifiedTimeStamp\":\"2019-09-06T18:14:41.991Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"ee790250-ab93-40ae-b772-fa438c52c473\",\"name\":\"Test Project\",\"imageUri\":\"/projects/blue-chart.png\",\"folderUri\":\"/folders/folders/bb4787ea-52a5-4674-bc2a-5ed30b804869\",\"userCount\":1,\"groupCount\":0,\"properties\":[],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"type\":\"application/vnd.sas.project\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"type\":\"application/vnd.sas.project.summary\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"type\":\"application/vnd.sas.project\",\"responseType\":\"application/vnd.sas.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/bb4787ea-52a5-4674-bc2a-5ed30b804869\",\"uri\":\"/folders/folders/bb4787ea-52a5-4674-bc2a-5ed30b804869\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"GET\",\"rel\":\"resources\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473/resources\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473/resources\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.project.resource\"},{\"method\":\"POST\",\"rel\":\"addResource\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473/resources\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473/resources\",\"type\":\"application/vnd.sas.project.resource\"},{\"method\":\"GET\",\"rel\":\"participants\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473/participants\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473/participants[...]
