{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T14:44:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTM4ODgsImlhdCI6MTY2MzMzOTQ4OCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiZDZiMzYxODQxMzE3NGM4ZWJlNDE4ZWY0NDExODg0MGIiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzM5NDg4MDEyLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzOTQ4OCwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.fntMxCPbh77YWeiU_ym4hVy33-s0Y9VJOFxc6ma52e36G4l-VVPlByAj8-Hu7BNirEjjLadxNxp2fk14IdWkAZQbogSL0mwV-mGcpoxevILBQMjQY7EQsjTqA7TmAoYG_aOFGNHMb0e3roWcghSSFk4MxiFvLvPdiZrP_RwOsWLTE5dONJ_IaLKlEuxiyPMfHerdZpaUi6Yg3SdszrlGhmNatVfCfj71iSirOrRQGIBtcY8crk52xaxQGoVcfZR3Qr6AO0Zq37oNrFkb8VdWiksN8sKzjwNvxodVTlEnRl825p0J68NMx25sApLUcsdopC8SFUTN2Al2Z3ItJvBvKQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"d6b3618413174c8ebe418ef44118840b\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T14:44:47.674Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:47.674Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/copy\",\"uri\":\"/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"searchable\":true,\"fileStatus\":\"unlocked\",\"fileVersion\":0,\"version\":4,\"virusDetected\":false,\"urlDetected\":false,\"quarantine\":false}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16[...]
    {
      "recorded_at": "2022-09-16T14:44:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\ufffd\u0003X\u0017\u0000\u0000\u0000Some test file content.q\u0000."
        },
        "headers": {
          "Content-Range": [
            "bytes 0-32/33"
          ],
          "Content-Type": [
            "application/octet-stream"
          ],
          "ETag": [
            "\"l84ldupm\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 14:44:47 UTC"
          ],
          "Location": [
            "/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files/fc9499b4-7b0f-459f-9dcb-93c88a26de53/content"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}