{
  "http_interactions": [
    {
      "recorded_at": "2022-09-02T07:54:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--e6ec39a87fd23866c972e7a0b5dac697\r\nContent-Disposition: form-data; name=\"tableName\"\r\n\r\nTEST_TABLE\r\n--e6ec39a87fd23866c972e7a0b5dac697\r\nContent-Disposition: form-data; name=\"containsHeaderRow\"\r\n\r\nTrue\r\n--e6ec39a87fd23866c972e7a0b5dac697\r\nContent-Disposition: form-data; name=\"format\"\r\n\r\ncsv\r\n--e6ec39a87fd23866c972e7a0b5dac697\r\nContent-Disposition: form-data; name=\"delimiter\"\r\n\r\n;\r\n--e6ec39a87fd23866c972e7a0b5dac697\r\nContent-Disposition: form-data; name=\"file\"; filename=\"TEST_TABLE\"\r\n\r\nA;B\nentry1;entry2\nentry3;entry4\r\n--e6ec39a87fd23866c972e7a0b5dac697--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=e6ec39a87fd23866c972e7a0b5dac697"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibName\":\"CASUSER(X1064007)\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-02T07:54:31.704Z\",\"createdBy\":\"X1064007\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-02T07:54:31.705Z\",\"lastModified\":\"2022-09-02T07:54:31.705Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\",\"type\":\"application/vnd.sas.cas.table\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE\"},{\"method\":\"PUT\",\"rel\":\"updateState\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state\",\"responseType\":\"application/json,text/plain\"},{\"method\":\"GET\",\"rel\":\"columns\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/columns\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/columns\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.column\"},{\"method\":\"GET\",\"rel\":\"dataTable\",\"href\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~CASUSER(X106400[...]
    {
      "recorded_at": "2022-09-02T07:54:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"attributes\":{\"encryption\":\"NONE\",\"group\":\"\",\"owner\":\"\",\"permission\":\"-rwxr-xr-x\",\"size\":8,\"time\":\"2022-09-02T07:54:32+00:00\"},\"caslibName\":\"CASUSER(X1064007)\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-02T07:54:31.704Z\",\"createdBy\":\"X1064007\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-02T07:54:32.102Z\",\"lastModified\":\"2022-09-02T07:54:31.705Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables\",\"uri\":\"/casManagement/servers/cas-shared-defau[...]
    {
      "recorded_at": "2022-09-02T07:54:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state?value=unloaded"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "unloaded"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/CASUSER(X1064007)/tables/TEST_TABLE/state?value=unloaded"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}