{
  "http_interactions": [
    {
      "recorded_at": "2020-01-24T18:43:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk5Mjc0MzEsImlhdCI6MTU3OTg5MTQzMSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIxNTg4MzdkOWY0ODg0ZmU1YTZjYzM1OTEzMmQ5MDhjNCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk4OTEzOTE5MDYsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE1Nzk4OTE0MzF9.lRKRlGa9WaeJbkzy71D_J2w-_ezoNkskxI97wSFUMLjE7ZFaLzy6j1kmU67pRegHWF969erCPRfHWQnndrJ7XZR7V7cV2IJAbHB5gCIOQjTWl_c_wo6TgoPNVcTUftpNx1Ib94cRA_UXdcTPm7fsrewNm1Ysju4LpFHUNaryavQscdv5g2KRk1O7uB0EhAJflxYjhOXfXn88qHiK0qze6ARKmOXc8cKnMCGmd3GElbZ8HpxGOrNCQRnmdZEzcnjbcApOTvLzigbtO0jiGPWKH86XY98Bu4leBxp4ZFANLvMa2iYGAP_43cMcwZ52A05aRZCZ8cZPxy4GXWzFEhodfA\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"158837d9f4884fe5a6cc359132d908c4\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-24T18:43:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"reportUri\": \"/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857\", \"layoutType\": \"normal\", \"selectionType\": \"visualElements\", \"size\": \"640x480\", \"specificVisualElements\": [{\"name\": \"ve4466\", \"size\": \"640x480\"}], \"sectionIndex\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/reportImages/jobs#requestBody"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"84794fb4-c129-47d2-91eb-eabfcd852737\",\"version\":2,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/reportImages/jobs/84794fb4-c129-47d2-91eb-eabfcd852737\",\"uri\":\"/reportImages/jobs/84794fb4-c129-47d2-91eb-eabfcd852737\",\"type\":\"application/vnd.sas.report.images.job\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/reportImages/jobs/84794fb4-c129-47d2-91eb-eabfcd852737/state\",\"uri\":\"/reportImages/jobs/84794fb4-c129-47d2-91eb-eabfcd852737/state\",\"type\":\"text/plain\"},{\"method\":\"POST\",\"rel\":\"renderAll\",\"href\":\"/reportImages/jobs?selectionType=visualElements&size=640x480&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=normal\",\"uri\":\"/reportImages/jobs?selectionType=visualElements&size=640x480&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=normal\",\"type\":\"application/vnd.sas.report.images.job\"}],\"state\":\"completed\",\"duration\":0.052,\"creationTimeStamp\":\"2020-01-24T18:43:51.889Z\",\"images\":[{\"sectionIndex\":1,\"sectionName\":\"vi4467\",\"sectionLabel\":\"CPU Usage\",\"elementName\":\"ve4466\",\"visualType\":\"timeSeries\",\"size\":\"640x480\",\"state\":\"completed\",\"modifiedTimeStamp\":\"2020-01-24T18:43:13.435Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"image\",\"href\":\"/reportImages/images/K1870020424B571845993.svg\",\"uri\":\"/reportImages/images/K1870020424B571845993.svg\",\"type\":\"image/svg+xml\"},{\"method\":\"POST\",\"rel\":\"render\",\"href\":\"/reportImages/jobs?selectionType=visualElements&size=640x480&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=normal&visualElementNames=ve4466\",\"uri\":\"/reportImages/jobs?selectionType=visualElements&size=640x480&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=normal&visualElementNames=ve4466\",\"type\":\"application/vnd.sas.report.images.job\"},{\"method\":\"POST\",\"rel\":\"resize\",\"href\":\"/reportImages/jobs?selectionType=visualElements&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=normal&visualElementNames=ve4466&size={size}\",\"uri\":\"/reportImages/jobs?selectionType=visualElements&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=normal&visualElementNames=ve4466&size={size}\",\"type\":\"application/vnd.sas.report.images.job\"}]}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.report.images.job+json; version=2;charset=UTF-8"
          ],
          "Location": [
            "/reportImages/jobs/84794fb4-c129-47d2-91eb-eabfcd852737"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/reportImages/jobs#requestBody"
      }
    },
    {
      "recorded_at": "2020-01-24T18:43:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/reportImages/images/K1870020424B571845993.svg"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"640\" height=\"480\" viewBox=\"0 0 640 480\">\n<rect x=\"0\" y=\"0\" width=\"640\" height=\"480\" fill=\"#ffffff\">\n</rect>\n<g>\n<rect x=\"0\" y=\"0\" rx=\"5\" ry=\"5\" width=\"640.0\" height=\"480.0\" fill=\"#ffffff\" opacity=\"0\">\n</rect>\n<g transform=\" translate(16.0 -442.0)\">\n<g fill=\"#1e1e1e\" stroke=\"#1e1e1e\" transform=\"translate(0 475.5) scale(0.0177 -0.0177)\">\n<defs>\n<path id=\"g67/TT0\" d=\"M425.0 -18.0Q 319.0,-18.0  235.0,30.0 T 103.5,163.0 T 56.0,354.0 Q 56.0,460.0  104.0,545.0 T 236.5,678.0 T 425.0,726.0 Q 503.0,726.0  571.5,695.5 T 677.0,614.0  L617.0 570.0Q 592.0,608.0  540.5,635.5 T 426.0,663.0 Q 337.0,663.0  270.5,621.0 T 168.0,508.0 T 132.0,354.0 Q 132.0,271.0  168.0,200.0 T 271.0,87.0 T 426.0,45.0 Q 490.0,45.0  544.5,71.0 T 634.0,150.0  L690.0 114.0Q 652.0,56.0  583.5,19.0 T 425.0,-18.0 Z\">\n</path>\n</defs>\n<use x=\"0\" y=\"0\" xlink:href=\"#g67/TT0\"/>\n<defs>\n<path id=\"g80/TT0\" d=\"M294.0 708.0Q 405.0,708.0  469.0,660.0 T 533.0,519.0 Q 533.0,426.0  468.0,377.5 T 292.0,329.0  L166.0 329.0 L166.0 0 L94.0 0 L94.0 708.0 L294.0 708.0Z M288.0 390.0Q 372.0,390.0  416.5,423.0 T 461.0,519.0 Q 461.0,583.0  416.5,614.5 T 288.0,646.0  L166.0 646.0 L166.0 390.0 L288.0 390.0Z\">\n</path>\n</defs>\n<use x=\"720.0\" y=\"0\" xlink:href=\"#g80/TT0\"/>\n<defs>\n<path id=\"g85/TT0\" d=\"M90.0 264.0 L90.0 708.0 L162.0 [...]
[...]
    {
      "recorded_at": "2020-01-24T18:43:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/reportImages/jobs/fea70814-9841-4482-ae9b-8b040a239d35"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"fea70814-9841-44[...]
[...]
