{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T17:49:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNjQ5NjYsImlhdCI6MTY2MzM1MDU2NiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiZDUxZjg2MDkxZGI1NGRkYzk2ODdhYzMyZjgyMzA0NDciLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzUwNTYxNzI4LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM1MDU2NiwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.lifmHfFcGr1CDQJUoE3h2ZUzWHlnuyajiJ5x2WY5P8WOYAOGpDMZqC1qzt7c1YrrrTBLTXik_e9wf2Ft9PfOiBqYt7CR-2IMl-hso_rG4UaBSpSgzWmbfuY5mkISr2_Z0PCLfcWOmhtu59b94M5r7Vo76JisYwZUE_5MUIKvl3OBu9rEpidFC40r8jU7QueKz1gBD1Mp3Kcqhn39bM4bedYGXnVz3N3cejzSosAtcgdVxTmQP05NChYlxPJvsvGZAIWYKqTYtTGWWA0lBW53S1gYZB2E3BNl2OnPunGZMg02pVLChopoI5eV83mJh7TCPCer0JVD6iLNBc7zFfL-Gg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"d51f86091db54ddc9687ac32f8230447\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22sasctl_testing%20Boston%20Housing%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T17:49:22.280Z\",\"modifiedTimeStamp\":\"2022-09-16T17:49:24.036Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"uri\":\"/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"uri\":\"/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"uri\":\"/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774\"}],\"version\":2,\"id\":\"c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"name\":\"sasctl_testing Boston Housing\",\"repositoryId\":\"13361dd9-e88e-4835-9890-562db461d03b\",\"folderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"function\":\"prediction\",\"candidateChampionHonored\":false,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22sasctl_testing%20Boston%20Housing%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/c46bb077-7d5e-40c2-b583-2ad741a1c774"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
[...]
    {
      "recorded_at": "2022-09-16T17:49:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Scikit%20Linear%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T17:49:23.760Z\",\"modifiedTimeStamp\":\"2022-09-16T17:49:25.881Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/contents\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/variables\",\"uri\":\"/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"02d1efe7-2bfb-4da5-a1a1-baccd2acd353\",\"name\":\"sasctl_testing Scikit Linear Model\",\"description\":\"LinearRegression()\",\"projectId\":\"c46bb077-7d5e-40c2-b583-2ad741a1c774\",\"projectName\":\"sasctl_testing Boston Housing\",\"projectVersionId\":\"d962ad7a-c54e-465d-b08f-25ae4594d638\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"indirectFolderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"repositoryId\":\"13361dd9-e88e-4835-9890-562db461d03b\",\"function\":\"prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.7\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Scikit%20Linear%20Model%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/02d1efe7-2bfb-4da5-a1a1-baccd2acd353"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2022-09-16T17:49:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"projectId\": \"c46bb077-7d5e-40c2-b583-2ad741a1c774\", \"name\": \"sasctl_testing Scikit Linear Model Performance\", \"modelIds\": [\"02d1efe7-2bfb-4da5-a1a1-baccd2acd353\"], \"championMonitored\": false, \"challengerMonitored\": false, \"maxBins\": 10, \"resultLibrary\": \"ModelPerformanceData\", \"includeAllData\": false, \"scoreExecutionRequired\": false, \"performanceResultSaved\": true, \"loadPerformanceResult\": false, \"dataLibrary\": \"Public\", \"description\": \"Performance definition for model sasctl_testing Scikit Linear Model\", \"casServerId\": \"cas-shared-default\", \"dataPrefix\": \"boston\", \"traceOn\": false, \"inputVariables\": [\"AGE\", \"B\", \"CHAS\", \"CRIM\", \"DIS\", \"INDUS\", \"LSTAT\", \"NOX\", \"PTRATIO\", \"RAD\", \"RM\", \"TAX\", \"ZN\"], \"outputVariables\": [\"var1\"]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.performance.task+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"casServerId\":\"cas-shared-default\",\"challengerMonitored\":false,[...]
