{
  "http_interactions": [
    {
      "recorded_at": "2022-08-16T17:11:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJmNmMyZjA1OC1kYjM0LTRhMzUtYTlmYy0zNzFlNzI4MmE2MDQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjA2ODQyNzYsImlhdCI6MTY2MDY2OTg3NiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJtbWRldkB1c2VyLmZyb20ubGRhcC5jZiIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIwMjRiNWU0YTQ2ZTg0ODQ3OWE1ZGVkNDlhNGQ0NWQ0NyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2NjA2Njk4MjY5MjYsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoibW1kZXYiLCJyZXZfc2lnIjoiOGVkZWZhZDMiLCJ1c2VyX2lkIjoiZjZjMmYwNTgtZGIzNC00YTM1LWE5ZmMtMzcxZTcyODJhNjA0IiwiYXV0aF90aW1lIjoxNjYwNjY5ODc2fQ.H342xYylHJZ32-r63Ot0P8sEwLGshudSN1Ysq4p33ugz0e1dRWM5HV-ZmJgPSmJfnWLiEd4htUyAabyTejDh54qEbjTqdiZcFLkJO75Q0NLtHc1QXuBakFEl-2q4V82yCP59P0jM2NEOCP1uDZGRKkU8DslJyB11BYx4HhsSb7MfN5RW0w0G1vPGqeRvOabglcFOX4oyAEDT7Oc8ExC4CYe8xsTF5TFjzJTUC9ca_z3RsZ8gsZOK3oxughUhQTkpVAAGYIo2xanbm_M658QvadTMNJqGL6AgFPFf3-VATzpLwtoPsSop2cqSQgqnJDXuejsR10fuEV9oix9OECW-Aw\",\"expires_in\":14399,\"scope\":\"unix_r&d openid\",\"jti\":\"024b5e4a46e848479a5ded49a4d45d47\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-08-16T17:11:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-08-16T16:54:04.141Z\",\"modifiedTimeStamp\":\"2022-08-16T17:03:18.898Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/db59666b-93cc-48bd-8b22-57e0f0d64dc9\",\"uri\":\"/modelRepository/projects/db59666b-93cc-48bd-8b22-57e0f0d64dc9\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/db59666b-93cc-48bd-8b22-57e0f0d64dc9\",\"uri\":\"/modelRepository/projects/db59666b-93cc-48bd-8b22-57e0f0d64dc9\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/db59666b-93cc-48bd-8b22-57e0f0d64dc9\",\"uri\":\"/modelRepository/projects/db59666b-93cc-48bd-8b22-57e0f0d64dc9\"}],\"version\":2,\"id\":\"db59666b-93cc-48bd-8b22-57e0f0d64dc9\",\"name\":\"Iris\",\"repositoryId\":\"cba4b836-3ea5-4e8f-a8da-6bbab523e447\",\"folderId\":\"225c4dac-e5d2-42df-bf0c-a502cfa1e602\",\"function\":\"classification\",\"candidateChampionHonored\":false,\"eventProbabilityVariable\":\"var1\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"publishTimeStamp\":\"2022-08-16T17:00:15.332Z\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20Iris)"
      }
    },
    {
      "recorded_at": "2022-08-16T17:11:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/db59666b-93cc-48bd-8b22-57e0f0d64dc9"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
    {
      "recorded_at": "2022-08-16T17:11:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":2,\"items\":[{\"creationTimeStamp\":\"2022-08-16T11:05:18.656Z\",\"modifiedTimeStamp\":\"2022-08-16T11:05:19.171Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/cba4b836-3ea5-4e8f-a8da-6bbab523e447\",\"uri\":\"/modelRepository/repositories/cba4b836-3ea5-4e8f-a8da-6bbab523e447\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/225c4dac-e5d2-42df-bf0c-a502cfa1e602\",\"uri\":\"/folders/folders/225c4dac-e5d2-42df-bf0c-a502cfa1e602\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"cba4b836-3ea5-4e8f-a8da-6bbab523e447\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"225c4dac-e5d2-42df-bf0c-a502cfa1e602\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2022-08-16T11:06:06.905Z\",\"modifiedTimeStamp\":\"2022-08-16T11:06:07.495Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/8a8259f0-47d8-448d-99fa-5c67365495dd\",\"uri\":\"/modelRepository/repositories/8a8259f0-47d8-448d-99fa-5c67365495dd\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folder[...]
[...]
    {
      "recorded_at": "2022-08-16T17:11:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression()\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Binary\", \"function\": \"classification\", \"tool\": \"Python 3.8\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"auto\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"}, {\"nam[...]
    {
      "recorded_at": "2022-08-16T17:11:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--593c623931bd5020902d65b7c3500d86\r\nContent-Disposition: form-data; name=\"files\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-stream\r\n\r\n\ufffd\u0004\ufffd\ufffd\u0003\u0000\u0000\u0000\u0000\u0000\u0000\ufffd\u001esklearn.linear_model._logistic\ufffd\ufffd\u0012LogisticRegression\ufffd\ufffd\ufffd)\ufffd\ufffd}\ufffd(\ufffd\u0007penalty\[...]
    {
      "recorded_at": "2022-08-16T17:11:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--5be0d58d2a041ea4e64a9a2aaa6cb3d4\r\nContent-Disposition: form-data; name=\"files\"; filename=\"requirements.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nsasctl==1.7.2\nwcwidth==0.2.5\ntraitlets==4.3.3\ntornado==6.0.4\nsix==1.15.0\nscipy==1.8.1\npyzmq==19.0.2\nPyYAML==6.0\npytz==2022.1\npython-dateutil==2.8.1\nPygments==2.6.1\nprompt-toolkit==3.0.5\npic[...]
    {
      "recorded_at": "2022-08-16T17:11:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--9b1a90e7e5a5c0619a426dcc9402912f\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_packagescorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _BC3CF85A6FA843DAA2D8A6F52BEC159 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl[...]
    {
      "recorded_at": "2022-08-16T17:11:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--ea68e3e1162994abe31f1492513206a7\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_epscorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _BC3CF85A6FA843DAA2D8A6F52BEC159 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl int [...]
[...]
    {
      "recorded_at": "2022-08-16T17:11:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"m[...]
    {
      "recorded_at": "2022-08-16T17:11:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"sas.microanalyticScore\",\"creationTimeStamp\":\"2022-08-16T11:04:03.544982Z\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\",\"id\":\"67027ee8-eb72-441a-9886-d1ebe012e7d3\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/maslocal\",\"uri\":\"/modelPublish/destinations/maslocal\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"sas.microanalyticScore\",\"modifiedTimeStamp\":\"2022-08-16T11:04:03.544982Z\",\"name\":\"maslocal\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1660647843544982000\""
          ],
          "Last-Modified": [
            "Tue, 16 Aug 2022 11:04:03 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/maslocal"
      }
    },
    {
      "recorded_at": "2022-08-16T17:11:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Iris%20Regression)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\[...]
    {
      "recorded_at": "2022-08-16T17:11:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/ff0e985f-1766-4fa7-aaf9-4a7dc306bcaf"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-08-16T17:11:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Iris Regression\", \"notes\": \"LogisticRegression()\", \"modelContents\": [{\"modelName\": \"IrisRegression\", \"sourceUri\": \"/modelRepository/models/ff0e985f-1766-4fa7-aaf9-4a7dc306bcaf\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-08-16T17:11:25.069842849Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T17:11:25.069842849Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"c69ca7e6-ff73-45e8-8ec7-6b81c214b78c\",\"name\":\"IrisRegression\",\"publishName\":\"IrisRegression\",\"publishType\":\"mas\",\"verified\":false,\"principalId\":\"ff0e985f-1766-4fa7-aaf9-4a7dc306bcaf\",\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/ff0e985f-1766-4fa7-aaf9-4a7dc306bcaf\",\"projectId\":\"db59666b-93cc-48bd-8b22-57e0f0d64dc9\",\"projectVersionId\":\"24cb3d20-4869-4942-85f4-6f93ff742ddf\",\"modelId\":\"ff0e985f-1766-4fa7-aaf9-4a7dc306bcaf\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c\",\"uri\":\"/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/[...]
    {
      "recorded_at": "2022-08-16T17:11:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
    {
      "recorded_at": "2022-08-16T17:11:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c/log"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-08-16T17:11:25.124799Z\",\"destinationName\":\"maslocal\",\"id\":\"60ed88ef-1151-4432-a5f7-0d376da9e1cb\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c\",\"uri\":\"/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c/log\",\"uri\":\"/modelPublish/models/c69ca7e6-ff73-45e8-8ec7-6b81c214b78c/log\",\"type\":\"application/json\"}],\"log\":\"SUCCESS=== {{2022-08-16 17:11:25.38 +0000 UTC USERNAME 2022-08-16 17:11:27.328 +0000 UTC USERNAME} c893ad8e-1825-444a-a0ed-a5554582f9f0 1  irisregression completed [] [Method: GET Rel: up URI: /microanalyticScore/jobs MediaType: application/vnd.sas.collection\\n Method: GET Rel: self URI: /microanalyticScore/jobs/c893ad8e-1825-444a-a0ed-a5554582f9f0 MediaType: application/vnd.sas.microanalytic.job\\n Method: GET Rel: source URI: /microanalyticScore/jobs/c893ad8e-1825-444a-a0ed-a5554582f9f0/sou[...]
    {
      "recorded_at": "2022-08-16T17:11:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\"[...]
    {
      "recorded_at": "2022-08-16T17:11:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2022-08-16T17:11:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict_proba"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"meth[...]
    {
      "recorded_at": "2022-08-16T17:11:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"sepallength\", \"value\": 5.1}, {\"name\": \"sepalwidth\", \"value\": 3.5}, {\"name\": \"petallength\", \"value\": 1.4}, {\"name\": \"petalwidth\", \"value\": 0.2}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"irisregression\",\"stepId\":\"predict\",\"executionState\":\"completed\",\"metadata\":{\"module_id\":\"irisregression\",\"step_id\":\"predict\"},\"outputs\":[{\"name\":\"var1\",\"value\":\"setosa\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/irisregression/steps/predict"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}