{
  "http_interactions": [
    {
      "recorded_at": "2020-01-11T19:12:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{ \"session\": \"0e6fb43d-4406-114c-9c4a-5bb156715f3c\" }\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.session.id+json"
          ],
          "Location": [
            "httphttp%3A//sasserver%2Edemo%2Esas%2Ecom%3A8777/cas/sessions/0e6fb43d%2D4406%2D114c%2D9c4a%2D5bb156715f3c"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions"
      }
    },
    {
      "recorded_at": "2020-01-11T19:12:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"builtins.help\": false\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000313,\n    \"cpuUserTime\": 0.000203,\n    \"cpuSystemTime\": 0.000061,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 231584,\n    \"osMemory\": 9228288,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 9228288,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2020-01-11T19:12:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"builtins.help\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.queryname"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"action\": \"help\",\n        \"actionSet\": \"builtins\"\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.000287,\n    \"cpuUserTime\": 0.000059,\n    \"cpuSystemTime\": 0.000179,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 234176,\n    \"osMemory\": 9228288,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 9228288,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.queryname"
      }
    },
    {
      "recorded_at": "2020-01-11T19:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\", \"showhidden\": true, \"actionset\": \"builtins\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"desc\": \"Shows the parameters for an action or lists all available actions\",\n                          \"label\": \"Help\",\n                          \"name\": \"help\",\n                          \"params\":   [\n                                  {\n                                      \"desc\": \"specifies the name of the action for which you want help. The name can be in the form 'actionSetName.actionName' or just 'actionName.\",\n                                      \"label\": \"Action\",\n                                      \"name\": \"action\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"desc\": \"specifies the name of the action set for which you want help. This parameter is ignored if the action parameter is specified.\",\n                                      \"label\": \"Action set\",\n                                      \"name\": \"actionSet\",\n                                      \"parmType\": \"string\",\n                                      \"type\": 4\n                                    },\n                                  {\n                                      \"default\": true,\n                                      \"desc\": \"when set to True, provides more detail for each parameter.\",\n                                      \"label\": \"Verbose\",\n                                      \"name\": \"verbose\",\n                                      \"parmType\": \"boolean\",\n                                      \"type\": 5\n                                    }\n                              ]\n                        },\n                      {\n            [...]
    {
      "recorded_at": "2020-01-11T19:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"showhidden\": true, \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.help"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"accessControl\": \n          {\n            \"_ctb\": true,\n            \"label\": \"\",\n            \"title\": \"\",\n            \"name\": \"accessControl\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Name\",\"format\": \"\",\"type\": \"string\",\"width\": 64,\"attributes\": \n              {}\n               },\n              { \"name\": \"description\",\"label\": \"Description\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"help\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1894371170.22695 }\n            },\n            \"rows\": [\n              [ \"accessPersonalCaslibs\", \"Provides administrative access to all personal caslibs (CASUSER and CASUSERHDFS)\" ],\n              [ \"assumeRole\", \"Assumes a role\" ],\n              [ \"dropRole\", \"Relinquishes a role\" ],\n              [ \"showRolesIn\", \"Shows the currently active role\" ],\n              [ \"showRolesAllowed\", \"Shows the roles that a user is a member of\" ],\n              [ \"isInRole\", \"Shows whether a role is assumed\" ],\n              [ \"i[...]
    {
      "recorded_at": "2020-01-11T19:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"py-session-13\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/s[...]
    {
      "recorded_at": "2020-01-11T19:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.serverstatus"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"About\":   {\n              \"CAS\": \"Cloud Analytic Services\",\n              \"Copyright\": \"Copyright \u00a9 2014-2018 SAS Institute Inc. All Rights Reserved.\",\n              \"ServerTime\": \"2020-01-11T19:12:51Z\",\n              \"System\":   {\n                    \"Hostname\": \"sasserver.demo.sas.com\",\n                    \"Linux Distribution\": \"CentOS Linux release 7.6.1810 (Core)\",\n                    \"Model Number\": \"x86_64\",\n                    \"OS Family\": \"LIN X64\",\n                    \"OS Name\": \"Linux\",\n                    \"OS Release\": \"3.10.0-957.27.2.el7.x86_64\",\n                    \"OS Version\": \"#1 SMP Mon Jul 29 17:46:05 UTC 2019\"\n                  },\n              \"Version\": \"3.05\",\n              \"VersionLong\": \"V.03.05M0P11062019\",\n              \"license\":   {\n                    \"expires\": \"02Dec2020:00:00:00\",\n                    \"gracePeriod\": 45,\n                    \"maxCPUs\": 9999,\n                    \"site\": \"DEMOCENTER - Prod 19w47 19Nov2019 : Kitchen v5\",\n                    \"siteNum\": 70180938,\n                    \"warningPeriod\": 45\n                  }\n            },\n        \"nodestatus\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Node Status\",\n            \"title\": \"\",\n            \"name\": \"nodes\",\n            \"schema\": [\n              { \"name\": \"name\",\"label\": \"Node Name\",\"format\": \"\",\"type\": \"string\",\"width\": 256,\"attributes\": \n              {}\n               },\n              { \"name\": \"role\",\"label\": \"Role\",\"format\": \"\",\"type\": \"string\",\"width\": 10,\"attributes\": \n              {}\n               },\n              { \"name\": \"uptime\",\"label\": \"Uptime (Sec)\",\"format\": \"\",\"type\": \"double\",\"width\": 8,\"attributes\": \n              {}\n               },\n              { \"name\": \"running\",\"label\": \"Running\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"stalled\",\"label\": \"Stalled\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               }\n            ],\n            \"attributes\": \n            {\n              \"Action\": { \"type\": \"string\", \"value\": \"serverStatus\" },\n              \"Actionset\": { \"type\": \"string\", \"value\": \"builtins\" },\n              \"CreateTime\": { \"type\": \"double\", \"value\": 1894371170.51544 }\n            },\n            \"rows\": [\n              [ \"sasserver.demo.sas.com\", \"controller\", 2.298, 0, 0 ]\n            ]\n          }\n,\n        \"server\": \n          {\n            \"_ctb\": true,\n            \"label\": \"Server Status\",\n            \"title\": \"\",\n            \"name\": \"server\",\n            \"schema\": [\n              { \"name\": \"nodes\",\"label\": \"Node Count\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n               },\n              { \"name\": \"actions\",\"label\": \"Total Actions\",\"format\": \"\",\"type\": \"int\",\"width\": 4,\"attributes\": \n              {}\n    [...]
    {
      "recorded_at": "2020-01-11T19:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"bayesianNetClassifier\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.loadactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"NOTE: Added action set 'bayesianNetClassifier'.\\n\",\n  \"results\":   {\n        \"actionset\": \"bayesianNetClassifier\"\n      },\n  \"logEntries\": [\n    { \"message\": \"NOTE: Added action set 'bayesianNetClassifier'.\", \"level\": \"info\" }\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [\n    \"actionsets\"  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.003264,\n    \"cpuUserTime\": 0.000061,\n    \"cpuSystemTime\": 0.003142,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 224032,\n    \"osMemory\": 11063296,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 16568320,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.loadactionset"
      }
    },
    {
      "recorded_at": "2020-01-11T19:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"actionset\": \"bayesiannetclassifier\", \"_messagelevel\": \"error\", \"_apptag\": \"UI\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.queryactionset"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   {\n        \"bayesianNetClassifier\": true\n      },\n  \"logEntries\": [\n  ],\n  \"disposition\": {\n    \"severity\": \"Normal\",\n    \"reason\": \"OK\",\n    \"statusCode\": 0,\n    \"formattedStatus\": null,\n    \"debugInfo\": null\n  },\n  \"changedResources\": [  ],\n  \"metrics\": {\n    \"elapsedTime\": 0.00035,\n    \"cpuUserTime\": 0.000185,\n    \"cpuSystemTime\": 0.000064,\n    \"systemTotalMemory\": 135028506624,\n    \"systemNodes\": 1,\n    \"systemCores\": 12,\n    \"memory\": 212768,\n    \"osMemory\": 11063296,\n    \"systemMemory\": 0,\n    \"memoryQuota\": 16568320,\n    \"ioPageReclaims\": 0,\n    \"ioPageFaults\": 0,\n    \"ioReadFaults\": 0,\n    \"ioReadBlocks\": 0,\n    \"ioReadCalls\": 0,\n    \"ioWriteCalls\": 0,\n    \"ioReadBytes\": 0,\n    \"ioWriteBytes\": 0,\n    \"ioWriteBytesCancelled\": 0,\n    \"voluntaryContextSwitches\": 0,\n    \"involuntaryContextSwitches\": 0,\n    \"dataMovementBytes\": 0\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.direct.action.results+json"
          ],
          "Public": [
            "GET, PUT, HEAD, POST, DELETE, TRACE, OPTIONS, PATCH"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.queryactionset"
      }
    },
    {
      "recorded_at": "2020-01-11T19:12:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"_messagelevel\": \"error\", \"_apptag\": \"UI\", \"showhidden\": true, \"actionset\": \"bayesiannetclassifier\"}"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/cas-shared-default-http/cas/sessions/0e6fb43d-4406-114c-9c4a-5bb156715f3c/actions/builtins.reflect"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"status\": 0,\n  \"log\": \"\",\n  \"results\":   [\n          {\n              \"actions\":   [\n                      {\n                          \"autoRetry\": true,\n                          \"desc\": \"Bayesian Net Classifier Action\",\n                          \"label\": \"Bayesian Net Classifier Action\",\n                          \"name\": \"bnet\",\n                          \"params\":   [\n                                  {\n                                      \"default\": true,\n                                      \"name\": \"resident\",\n                                      \"parmType\": \"boolean\",\n                                      \"type\": 5\n                                    },\n                                  {\n                                      \"desc\": \"specifies the settings for an input table.\",\n                                      \"isRequired\": true,\n                                      \"isTableDef\": true,\n                                      \"label\": \"Table\",\n                                      \"name\": \"table\",\n                                      \"parmList\":   [\n                                              {\n                                                  \"desc\": \"specifies the name of the input table.\",\n                                                  \"isRequired\": true,\n                                                  \"isTableName\": true,\n                                                  \"label\": \"Name\",\n                                                  \"name\": \"name\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies the caslib for the input table that you want to use with the action. By default, the active caslib is used. Specify a value only if you need to access a table from a different caslib.\",\n                                                  \"isCasLib\": true,\n                                                  \"label\": \"Caslib\",\n                                                  \"name\": \"caslib\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies an expression for subsetting the input data.\",\n                                                  \"isWhere\": true,\n                                                  \"label\": \"Filter\",\n                                                  \"name\": \"where\",\n                                                  \"parmType\": \"string\",\n                                                  \"type\": 4\n                                                },\n                                              {\n                                                  \"desc\": \"specifies the names of the variables to use for grouping results.\",\n                                                  \"exemplar\":   [\n                                                          {\n                                                              \"desc\": \"specifies the name for the variable.\",\n                                                              \"isRequired\": true,\n                                                              \"isVar\": true,\n                                                              \"label\": \"Name\",\n                                                              \"name\": \"name\",\n                                                              \"parmType\": \"string\",\n                                                              \"type\": 4\n                                                            },\n                                                          {\n                                    [...]
