{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:43:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODgxODgsImlhdCI6MTY2MzE3Mzc4OCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMTcyY2E2ZWUwZjkyNGMyNmEzMzFjMWMzNDA0YTMzZTAiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTczNzg2MzAyLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzM3ODh9.NSaIVNHEA2olq8dMAn6p7OnNzmLPyHAk_-5KV0t6GGD8dUWaqZ8V91RBqwElj_dliZK_eA0WzYUUzez-0r811qx44qxmUARdJSrXE94fm_T3GLxplCbmj4Acg58U65qVha1s3YkkBZ57Hj-00DUqAAZxATGgimA6bMM5G7q3bgQi74k9S54Bump_AOEebv0hYp42Kg4oWnHBAeSVuYj1RlPHnq_jisgHP1VUTqe1HOWoTxXoj4fW2tx98mE2vXyaSSTodU9jjRj84UeQQfDwk-Eu8hjJ5f0ljPY3viz-sKzt6tRaG1fMfxm9I2ARxPR12mB4AuNfkpD2GHKjE_frdA\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"172ca6ee0f924c26a331c1c3404a33e0\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:43:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.server\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"servers\",\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"sas-cas-server-default-client\",\"port\":5570,\"backupHost\":\"sas-cas-server-default-client\",\"restPort\":8777,\"restProtocol\":\"https\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-default/connection\",\"uri\":\"/casManagement/servers/cas-shared-default/connection\",\"type\":\"application/vnd.sas.cas.server.connection\"},{\"method\":\"GET\",\"rel\":\"state\",\"hre[...]
    {
      "recorded_at": "2022-09-14T16:43:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"name\":\"cas-shared-defaul[...]
    {
      "recorded_at": "2022-09-14T16:43:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs?filter=eq($primary,name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.caslib\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"caslibs\",\"items\":[{\"version\":3,\"name\":\"Public\",\"type\":\"PATH\",\"description\":\"Shared and writeable caslib, accessible to all users.\",\"scope\":\"global\",\"path\":\"/cas/data/caslibs/public/\",\"hidden\":false,\"transient\":false,\"attributes\":{\"active\":false,\"personal\":false,\"subDirs\":false},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"type\":\"application/vnd.sas.cas.caslib\",\"responseType\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public\"},{\"method\":\"GET\",\"rel\":\"tables\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"[...]
    {
      "recorded_at": "2022-09-14T16:43:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.table\",\"count\":99,\"start\":0,\"limit\":10,\"name\":\"tables\",\"items\":[{\"attributes\":{\"encryption\":\"NONE\",\"group\":\"sas\",\"owner\":\"sas\",\"size\":334576,\"time\":\"2022-09-13T13:12:14+00:00\"},\"caslibName\":\"Public\",\"characterSet\":\"UTF8\",\"columnCount\":41,\"created\":\"2022-09-13T13:12:15.447Z\",\"createdBy\":\"fsdrisk\",\"disconnected\":false,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-13T13:12:15.612Z\",\"lastModified\":\"2022-09-13T13:12:15.638Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/CATCO2_NO_TGT_FREQ_REJ\",\"uri\":\"/casManagement/servers/cas-shared[...]
    {
      "recorded_at": "2022-09-14T16:43:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22fake_caslib%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.server\",\"count\":0,\"start\":0,\"limit\":10,\"name\":\"servers\",\"items\":[],\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement\",\"uri\":\"/casManagement\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers?start=0\\u0026limit=10\\u0026filter=eq%28name%2C+%22fake_caslib%22%29\",\"uri\":\"/casManagement/servers?start=0\\u0026limit=10\\u0026filter=eq%28name%2C+%22fake_caslib%22%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22fake_caslib%22)"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}