{
  "http_interactions": [
    {
      "recorded_at": "2020-10-27T20:47:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2MDM4Njc2NzYsImlhdCI6MTYwMzgzMTY3NiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJlYzI3YmQzMjQxODY0MTM1YmNlMWExMTA4OGNiYmJkMyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2MDM4MzA5OTc1MDYsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE2MDM4MzE2NzZ9.NVHX_vHsH9hn5eLQNrm0jrIsgADb_LQSdN05kJCwsmG7ol0N9nkYVZTZqSpC5D2A9WeMAJSu3qelKA--0tgryjMJ_-BeL8MLF1jeRPi5DE5uXIP_ebiSSgub1ded9mrL9TRBT5A0WsCbr6kMV5CXTMbonR0GQL01mrn5Yif-fb143YmeWaH3aV8b69UENbXcF6xFKuh2ONsLMM8XsDUBF4Z-cmpIclloshpBMxtWeTPDEkGfF3AewklJOfu82PuUrNVXwJvuU6TW6lMWPcCV5saRMsh9b17SaKDfMVVXHzK4K0OEKRcLM5GtzhXlAjbXr9uxLr-t_8FUt-8xm1hg6w\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators SASScoreUsers clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators clients.write scim.write CASHostAccountRequired\",\"jti\":\"ec27bd3241864135bce1a11088cbbbd3\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-10-27T20:48:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)"
      }
    },
    {
      "recorded_at": "2020-10-27T20:48:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"uri\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-11-19T02:06:38.585Z\",\"modifiedTimeStamp\":\"2019-11-19T02:06:38.808Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"uri\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelReposi[...]
    {
      "recorded_at": "2020-10-27T20:48:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Housing\", \"repositoryId\": \"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\", \"folderId\": \"9e8bb64e-f359-4c37-ab42-167ebabd564c\", \"variables\": [{\"name\": \"age\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"b\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"chas\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"crim\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"dis\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"indus\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"lstat\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"nox\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"ptratio\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"rad\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"rm\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"tax\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"zn\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"P_medv\", \"length\": 8, \"type\": \"decimal\", \"role\": \"output\"}], \"function\": \"prediction\", \"targetLevel\": \"\", \"predictionVariable\": \"P_medv\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-10-27T20:48:20.451Z\",\"modifiedTimeStamp\":\"2020-10-27T[...]
    {
      "recorded_at": "2020-10-27T20:48:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2020-10-27T20:48:20.451Z\", \"modifiedTimeStamp\": \"2020-10-27T20:48:20.931Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2020-10-27T20:48:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000\t\ufffd[Q\ufffd(-\ufffd\ufffd\u0002\u0000\u0000\ufffd\u0002\u0000\u0000\u0015\u0000\u0000\u0000dmcas_epscorecode.sasdata sasep.out;\n  dcl package score sc();\n  dcl double \"age\";\n  dcl double \"b\";\n  dcl double \"chas\";\n  dcl double \"crim\";\n  dcl double \"dis\";\n  dcl double \"indus\";\n  dcl doub[...]
    {
      "recorded_at": "2020-10-27T20:48:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-10-27T20:48:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-11-19T02:10:59.2[...]
    {
      "recorded_at": "2020-10-27T20:48:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Linear Regression\", \"notes\": \"None\", \"modelContents\": [{\"modelName\": \"LinearRegression\", \"sourceUri\": \"/modelRepository/models/583f3869-0cde-4938-8668-7521ee25e0d1\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-10-27T20:48:34.849Z\",\"modifiedTimeStamp\":\"2020-10-27T20:48:34.942Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"e98800d4-2d21-4371-b7f2-85883b012dc1\",\"publishName\":\"LinearRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2020-10-27T20:48:34.849Z\",\"modifiedTimeStamp\":\"2020-10-27T20:48:34.849Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"0f9a7df6-e157-4c4f-a558-561774d5e772\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"583f3869-0cde-4938-8668-7521ee25e0d1\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/583f3869-0cde-4938-8668-7521ee25e0d1\",\"modelId\":\"583f3869-0cde-4938-8668-7521ee25e0d1\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1\",\"uri\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1\",\"uri\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1/log\",\"uri\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1/log\",\"type\":\"application/json\"}],\"name\":\"LinearRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"kgsfzrem\""
          ],
          "Last-Modified": [
            "Tue, 27 Oct 2020 20:48:34 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2020-10-27T20:48:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2020-10-27T20:48:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-10-27T20:48:35.025Z\",\"modifiedTimeStamp\":\"2020-10-27T20:48:38.822Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1\",\"uri\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1/log\",\"uri\":\"/modelPublish/models/e98800d4-2d21-4371-b7f2-85883b012dc1/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"1b9b7344-e4b7-418b-af6a-3727fc3492ce\",\"publishName\":\"Linear Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"583f3869-0cde-4938-8668-7521ee25e0d1\",\"modelName\":\"LinearRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/a1614cce-b62b-47d9-8d0f-baf2ca12ea09\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/a1614cce-b62b-47d9-8d0f-baf2ca12ea09\[...]
    {
      "recorded_at": "2020-10-27T20:48:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/linearregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel[...]
    {
      "recorded_at": "2020-10-27T20:48:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/linearregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2020-10-27T20:48:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"age\", \"value\": 65.2}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"lstat\", \"value\": 4.98}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"zn\", \"value\": 18.0}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/linearregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"linearregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"P_medv\",\"value\":30.003843377016644}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/linearregression/steps/score"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}