{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T18:14:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"f555af89693e4c0bbeec203b40ea6b7f\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T18:14:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/projects/projects?filter=eq(name,%20%22Test%20Project%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/projects/projects\",\"uri\":\"/projects/projects\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.project.summary\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/projects/projects?filter=eq(name,%20%22Test%20Project%22)&sortBy=name:ascending&start=0&limit=10000\",\"uri\":\"/projects/projects?filter=eq(name,%20%22Test%20Project%22)&sortBy=name:ascending&start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/projects/projects\",\"uri\":\"/projects/projects\",\"type\":\"application/vnd.sas.project.summary\",\"responseType\":\"application/vnd.sas.project.summary\"}],\"name\":\"projects\",\"accept\":\"application/vnd.sas.project.summary\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-09-06T18:14:41.991Z\",\"modifiedTimeStamp\":\"2019-09-06T18:14:41.991Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"ee790250-ab93-40ae-b772-fa438c52c473\",\"name\":\"Test Project\",\"imageUri\":\"/projects/blue-chart.png\",\"folderUri\":\"/folders/folders/bb4787ea-52a5-4674-bc2a-5ed30b804869\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"type\":\"application/vnd.sas.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\"}]}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/projects/projects?filter=eq(name,%20%22Test%20Project%22)&limit=10000"
      }
    },
    {
      "recorded_at": "2019-09-06T18:14:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2019-09-06T18:14:41.991Z\",\"modifiedTimeStamp\":\"2019-09-06T18:14:41.991Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"ee790250-ab93-40ae-b772-fa438c52c473\",\"name\":\"Test Project\",\"imageUri\":\"/projects/blue-chart.png\",\"folderUri\":\"/folders/folders/bb4787ea-52a5-4674-bc2a-5ed30b804869\",\"userCount\":1,\"groupCount\":0,\"properties\":[],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"type\":\"application/vnd.sas.project\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"uri\":\"/projects/projects/ee790250-ab93-40ae-b772-fa438c52c473\",\"type\":\"application/vnd.sas.project.summary\"},{\"method\":\"PUT\",\"rel\":\"update\",\"[...]
[...]
