{
  "http_interactions": [
    {
      "recorded_at": "2020-01-10T22:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzg3MzI1MjcsImlhdCI6MTU3ODY5NjUyNywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJhNzhjMWUwODQxNGQ0ZjI3OTY3Y2ZhYzE0OTU5ZDM0YyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzg2OTYxMzgwMzYsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3ODY5NjUyNywidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.S1Ttm14Skx0bEJozFx2r7FXgmYCAKs8B-I_U9oN5RhHCQnYSLiFjOeqpbM39rz_HdeUvQDuNwcmo5mKhwHMljWv_GrmMI75GLwD4e7Q-gZMcpXgkQq7FNI8CUZ34RU0gVXGBpe_v0xD6C48Se-FMCwGiMGwuga4i2dDcujzky5SQEfbwx73DaYZxwE_50pPD4VIBNAvj7TrM8eYS9yk_u1wmH541uIbsBVwpEXB3S7Q6nbd25sZWKNE0xSQH4eGsYHQVn5IDExRFNEZPPNGeg3UCjEvwhZXnNCDZiLXTA6nNDgfOkobiOBqXpO6Rn4Lx9Xyw_yVoOkYf0ARW9nwokg\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"a78c1e08414d4f27967cfac14959d34c\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-10T22:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-10T22:41:36.337Z\",\"modifiedTimeStamp\":\"2020-01-10T22:41:36.337Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"properties\":{},\"contentType\":\"application/octet-stream\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"type\":\"application/octet-stream\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/copy\",\"uri\":\"/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_pickle_file\",\"size\":33,\"version\":3}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      }
    },
    {
      "recorded_at": "2020-01-10T22:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/716bbabe-d5ae-4378-8895-3c0d5ae89d3b"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01[...]
[...]
    {
      "recorded_at": "2020-01-10T22:48:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&sortBy=name&start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":0,\"items\":[],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_pickle_file%22)&limit=10000"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}