{
  "http_interactions": [
    {
      "recorded_at": "2022-09-19T18:44:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJiZDdlMTM3Zi04MTJlLTQzOTQtOGI2Yi0yY2QxNjA0MjQ0NWEiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjM2Mjc0NjEsImlhdCI6MTY2MzYxMzA2MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiOTAzYzBkNmQ0ZjE5NGE1Njg1ZTcwNmU1MzQ1Y2I4NzEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzNjEzMDYwMjQ2LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI3ZDQ1MWIwMCIsInVzZXJfaWQiOiJiZDdlMTM3Zi04MTJlLTQzOTQtOGI2Yi0yY2QxNjA0MjQ0NWEiLCJhdXRoX3RpbWUiOjE2NjM2MTMwNjF9.HC5XZlPOQmkUaA0BjpMcxqhI9PELGHs0vw_0xVONRTC8Hqw4fmw1qtNHK4KiSd6nc1VXIHfPsFXfgJrCA6TqEbqY65bazP8AbdYSiDeI0QiKTqPdzSZmDcHG4ZeP5yIM5b98H11FMT-8J3Ub0XKGS1kAmh9yEllmmaS9DTqmfRhy5LMFkTXOTEr9vbCbiEVFucsfCqm3bGwCkNjr34_ZF0UMRkCduYsYsFpXfm-SCrrE6zNJ5P-8pJHBMYfYVnDnVzGtRBUVJyGcjhtrqJdUE9ZSzL1bUjvQsm_zbl0tnSf83AeYC4WBIj8cY24AA6jL0HHjqNfObP4anzOKbpGZXg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"903c0d6d4f194a5685e706e5345cb871\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-19T18:44:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22sasctl_test_cas%22)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.publishing.destination\",\"count\":1,\"start\":0,\"limit\":100,\"name\":\"publishDestinations\",\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22sasctl_test_cas%22%29\",\"uri\":\"/modelPublish/destinations?start=0\\u0026limit=100\\u0026filter=eq%28name%2C+%22sasctl_test_cas%22%29\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestination\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination\",\"responseType\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"POST\",\"rel\":\"createDestinationCAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.cas\",\"responseType\":\"application/vnd.sas.models.publishing.destination.cas+json\"},{\"method\":\"POST\",\"rel\":\"createDestinationMAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.[...]
    {
      "recorded_at": "2022-09-19T18:44:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/sasctl_test_cas"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"casLibrary\":\"Public\",\"casServerName\":\"cas-shared-default\",\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2022-09-19T18:41:36.731157Z\",\"destinationTable\":\"sasctl_test_model_table\",\"destinationType\":\"cas\",\"id\":\"389a1645-4604-4991-89ce-986a9158fa5b\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\",\"type\":\"application/vnd.sas.models.publishing.destination\"}],\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-19T18:41:36.731157Z\",\"name\":\"sasctl_test_cas\",\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json; charset=utf-8"
          ],
          "Etag": [
            "W/\"1663612896731157000\""
          ],
          "Last-Modified": [
            "Mon, 19 Sep 2022 18:41:36 GMT"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelPublish/destinations/sasctl_test_cas"
      }
    },
    {
      "recorded_at": "2022-09-19T18:44:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Pipeline%20Sklearn%20Model%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-19T18:44:16.725Z\",\"modifiedTimeStamp\":\"2022-09-19T18:44:19.843Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1\",\"uri\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1\",\"uri\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1/contents\",\"uri\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1/variables\",\"uri\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"9883b023-1383-4154-b37f-e27921b46ef1\",\"name\":\"sasctl_testing Pipeline Sklearn Model\",\"description\":\"GradientBoostingRegressor()\",\"projectId\":\"e060162c-90a8-42fb-9381-9114dbd59995\",\"projectName\":\"sasctl_testing Pipeline Project\",\"projectVersionId\":\"f5f3ccba-3e7f-4842-a7f1-89ccb3a047ff\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"e53c50fa-a9f2-4d32-95e7-d0d4a8a5644e\",\"indirectFolderId\":\"e53c50fa-a9f2-4d32-95e7-d0d4a8a5644e\",\"repositoryId\":\"810131b4-7113-41e8-96dc-11331678d7a3\",\"function\":\"prediction\",\"algorithm\":\"Gradient boosting\",\"tool\":\"Python 3.7\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"mrmModel\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?filter=eq(name,%20%22sasctl_testing%20Pipeline%20Sklearn%20Model%22)"
      }
    },
    {
      "recorded_at": "2022-09-19T18:44:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\[...]
    {
      "recorded_at": "2022-09-19T18:44:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Pipeline Sklearn Model\", \"notes\": \"GradientBoostingRegressor()\", \"modelContents\": [{\"modelName\": \"sasctl_testingPipelineSklearnModel\", \"sourceUri\": \"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1\", \"publishLevel\": \"model\"}], \"destinationName\": \"sasctl_test_cas\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=True&reloadModelTable=True"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-09-19T18:44:23.335362918Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-09-19T18:44:23.335362918Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"b53c7015-fdc3-47bd-8922-4319f69f038e\",\"name\":\"sasctl_testingPipelineSklearnModel\",\"publishName\":\"sasctl_testingPipelineSklearnModel\",\"publishType\":\"casModel\",\"verified\":false,\"principalId\":\"9883b023-1383-4154-b37f-e27921b46ef1\",\"destinationName\":\"sasctl_test_cas\",\"destination\":{\"creationTimeStamp\":\"0001-01-01T00:00:00Z\",\"modifiedTimeStamp\":\"0001-01-01T00:00:00Z\",\"version\":2},\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/9883b023-1383-4154-b37f-e27921b46ef1\",\"projectId\":\"e060162c-90a8-42fb-9381-9114dbd59995\",\"projectVersionId\":\"f5f3ccba-3e7f-4842-a7f1-89ccb3a047ff\",\"modelId\":\"9883b023-1383-4154-b37f-e27921b46ef1\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"pending\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/b53c7015-fdc3-47bd-8922-4319f69f038e\",\"uri\":\"/modelPublish/models/b53c7015-fdc3-47bd-8922-4319f69f038e\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/models/b53c7015-fdc3-47bd-8922-431[...]
    {
      "recorded_at": "2022-09-19T18:44:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/b53c7015-fdc3-47bd-8922-4319f69f038e"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"analyticStoreUri\":[][...]
[...]
