{
  "http_interactions": [
    {
      "recorded_at": "2020-01-24T16:24:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk5MTkwNjQsImlhdCI6MTU3OTg4MzA2NCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI2OGZhMTQ0NDI1MTA0MjNkOGJlNTRkYTQwODJjOTkxZiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk4ODI5NzY5OTMsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE1Nzk4ODMwNjR9.TJRdpJSezFzRZ1dSKsNP38ApgKCoccVKn34b2oqSdshtTmWLf0x_0HPrvubMgKduOv7X9GMBVjzNu4oLRNP-7RmrGqO8q9d1wM_-AiB2ylyIQSL8pCLrJvt5OwA5A-I_WfIbKD3iu6GWPX7GdPpRzwpKE58tXvlKBbUlRBofxpwDW1ZxZDFJcRMUmYhmlNxVk4D_vWnwNJ53Ib3TStyMGmoABfMApKGbrpyDtMhTNyWLxXq6MagpYkkLuVj_8YJZjFxmWjbs1gtLRoE8-4VA2ipwMqIyjisAr_iOyY1GWhGMMnC2kb8tHhjgsjYhMLkrToIO45LkIeVHxs0aW8FO5A\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"68fa14442510423d8be54da4082c991f\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-24T16:24:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"reportUri\": \"/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857\", \"layoutType\": \"entireSection\", \"selectionType\": \"perSection\", \"size\": \"800x600\", \"specificVisualElements\": [], \"sectionIndex\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/reportImages/jobs#requestBody"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"de37edb7-f4d0-4c4b-bd06-c08fc78df39f\",\"version\":2,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f\",\"uri\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f\",\"type\":\"application/vnd.sas.report.images.job\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f/state\",\"uri\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f/state\",\"type\":\"text/plain\"},{\"method\":\"POST\",\"rel\":\"renderAll\",\"href\":\"/reportImages/jobs?selectionType=perSection&size=800x600&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=entireSection\",\"uri\":\"/reportImages/jobs?selectionType=perSection&size=800x600&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=entireSection\",\"type\":\"application/vnd.sas.report.images.job\"}],\"state\":\"running\",\"creationTimeStamp\":\"2020-01-24T16:24:59.281Z\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.report.images.job+json; version=2;charset=UTF-8"
          ],
          "Location": [
            "/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f"
          ]
        },
        "status": {
          "code": 202,
          "message": ""
        },
        "url": "https://hostname.com/reportImages/jobs#requestBody"
      }
    },
    {
      "recorded_at": "2020-01-24T16:25:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"de37edb7-f4d0-4c[...]
    {
      "recorded_at": "2020-01-24T16:25:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"de37edb7-f4d0-4c4b-bd06-c08fc78df39f\",\"version\":2,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f\",\"uri\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f\",\"type\":\"application/vnd.sas.report.images.job\"},{\"method\":\"GET\",\"rel\":\"state\",\"href\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f/state\",\"uri\":\"/reportImages/jobs/de37edb7-f4d0-4c4b-bd06-c08fc78df39f/state\",\"type\":\"text/plain\"},{\"method\":\"POST\",\"rel\":\"renderAll\",\"href\":\"/reportImages/jobs?selectionType=perSection&size=800x600&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=entireSection\",\"uri\":\"/reportImages/jobs?selectionType=perSection&size=800x600&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=entireSection\",\"type\":\"application/vnd.sas.report.images.job\"}],\"state\":\"completed\",\"duration\":2.628,\"creationTimeStamp\":\"2020-01-24T16:24:59.281Z\",\"images\":[{\"sectionIndex\":0,\"sectionName\":\"vi5516\",\"sectionLabel\":\"Main\",\"elementName\":\"vi5516\",\"visualType\":\"Section\",\"size\":\"800x600\",\"state\":\"completed\",\"modifiedTimeStamp\":\"2020-01-24T16:25:01.880Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"image\",\"href\":\"/reportImages/images/K1870020424B555626753.svg\",\"uri\":\"/reportImages/images/K1870020424B555626753.svg\",\"type\":\"image/svg+xml\"},{\"method\":\"POST\",\"rel\":\"render\",\"href\":\"/reportImages/jobs?selectionType=visualElements&size=800x600&reportUri=/reports/reports/3318628c-0b3e-4901-b884-a4f7cbafc857&layoutType=entireSection&visualElementNames=vi5516\",\"uri\":\"/reportImages/jobs?selectionType=vis[...]
    {
      "recorded_at": "2020-01-24T16:25:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/reportImages/images/K1870020424B555626753.svg"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"800\" height=\"600\" viewBox=\"0 0 800 600\">\n<rect x=\"0\" y=\"0\" width=\"800\" height=\"600\" fill=\"#ffffff\">\n</rect>\n<g>\n<g transform=\" translate(0 -496.0)\">\n<rect x=\"0\" y=\"496.85\" rx=\"5\" ry=\"5\" width=\"800.0\" height=\"103.15\" fill=\"#ffffff\" opacity=\"0\">\n</rect>\n<rect x=\"0\" y=\"496.85\" rx=\"5\" ry=\"5\" width=\"320.0\" height=\"103.15\" fill=\"#ffffff\" opacity=\"0\">\n</rect>\n<g transform=\" translate(40.0 -40.0)\">\n<rect x=\"1.0\" y=\"577.85\" rx=\"5\" ry=\"5\" width=\"238.0\" height=\"21.15\" fill=\"#ffffff\" stroke=\"#2f2f2f\">\n</rect>\n<g fill=\"#2f2f2f\" stroke=\"#2f2f2f\" transform=\"translate(10.0 595.44) scale(0.014 -0.014)\">\n<defs>\n<path id=\"g77/TT0\" d=\"M444.0 122.0 L445.0 122.0 L682.0 708.0 L792.0 708.0 L792.0 0 L720.0 0 L720.0 615.0 L718.0 615.0 L462.0 0 L424.0 0 L168.0 615.0 L166.0 615.0 L166.0 0 L94.0 0 L94.0 708.0 L204.0 708.0 L444.0 122.0Z\">\n</path>\n</defs>\n<use x=\"0\" y=\"0\" xlink:href=\"#g77/TT0\"/>\n<defs>\n<path id=\"g97/TT0\" d=\"M260.0 423.0Q 220.0,423.0  183.0,408.0 T 121.0,368.0  L83.0 413.0Q 113.0,443.0  161.0,461.5 T 267.0,480.0 Q 347.0,480.0  398.0,436.0 T 449.0,310.0  L449.0 105.0Q 449.0,42.0  457.0,0  L396.0 0Q 389.0,40.0  389.0,76.0  L387.0 76.0Q 355.0,30.0  314.5,9.0 T 217.0,-12.0 Q 178.0,-12.0  141.0,2.5 T 79.5,49.0 T 55.0,130.0 Q 55.0,198.0  99.0,232.0 T 212.5,276.5 T 385.0,287.0  L385.0 302.0Q 385.0,362.0  353.0,392.5 T 260.0,423.0 Z[...]
[...]
