{
  "http_interactions": [
    {
      "recorded_at": "2019-09-24T12:32:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"b7ce9c26694f44c780ad9c6d67bb6d7a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-24T12:32:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Scikit%20Linear%20Model)&limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=10000\",\"uri\":\"/modelRepository/models?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-09-23T19:50:45.688Z\",\"modifiedTimeStamp\":\"2019-09-23T19:50:47.433Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4\",\"uri\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4\",\"uri\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4/contents\",\"uri\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4/variables\",\"uri\":\"/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"ddc5c203-9fae-46ac-8559-ce713bddb9b4\",\"name\":\"Scikit Linear Model\",\"description\":\"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\",\"projectId\":\"d0a944ee-3461-4955-ab4b-e0acb3050757\",\"projectName\":\"Boston Housing\",\"projectVersionId\":\"0f36ad18-fd06-41af-9fdf-82d4ef7a03a0\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"indirectFolderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"function\":\"Prediction\",\"algorithm\":\"Linear regression\",\"tool\":\"Python 3.6\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]}],\"limit\":10000,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models?properties=(name,%20Scikit%20Linear%20Model)&limit=10000"
      }
    },
    {
      "recorded_at": "2019-09-24T12:32:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/ddc5c203-9fae-46ac-8559-ce713bddb9b4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2019-09-24T12:32:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/d0a944ee-3461-4955-ab4b-e0acb3050757"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2019-09-24T12:32:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelManagement/performanceTasks?limit=10000"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/modelManagement/performanceTasks\",\"uri\":\"/modelManagement/performanceTasks\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.performance.task+json\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks?start=0&limit=10000\",\"uri\":\"/modelManagement/performanceTasks?start=0&limit=10000\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.summary\"}],\"name\":\"items\",\"accept\":\"application/vnd.sas.models.performance.task+json\",\"items\":[{\"creationTimeStamp\":\"2019-09-24T12:32:18.309Z\",\"modifiedTimeStamp\":\"2019-09-24T12:32:18.310Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/6216127c-1e22-45e4-9fe7-9a3d61b379b6\",\"uri\":\"/modelManagement/performanceTasks/6216127c-1e22-45e4-9fe7-9a3d61b379b6\"}],\"version\":2,\"id\":\"6216127c-1e22-45e4-9fe7-9a3d61b379b6\",\"projectId\":\"d0a944ee-3461-4955-ab4b-e0acb3050757\",\"modelIds\":[\"ddc5c203-9fae-46ac-8559-ce713bddb9b4\"],\"name\":\"Scikit Linear Model Performance\",\"description\":\"Performance definition for model Scikit Linear Model\",\"outputVariables\":[\"var1\"],\"inputVariables\":[\"AGE\",\"B\",\"CHAS\",\"CRIM\",\"DIS\",\"INDUS\",\"LSTAT\",\"NOX\",\"PTRATIO\",\"RAD\",\"RM\",\"TAX\",\"ZN\"],\"scoreExecutionRequired\":false,\"performanceResultSaved\":true,\"traceOn\":false,\"maxBins\":10,\"resultLibrary\":\"ModelPerformanceData\",\"casServerId\":\"cas-shared-default\",\"dataLibrary\":\"Public\",\"dataPrefix\":\"boston\",\"includeAllData\":false,\"loadPerformanceResult\":false,\"championMonitored\":false,\"challengerMonitored\":false}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/performanceTasks?limit=10000"
      }
    },
    {
      "recorded_at": "2019-09-24T12:33:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTasks/6216127c-1e22-45e4-9fe7-9a3d61b379b6"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"items\",\"accept\":\"application/vnd.sas.models.performance.job+json\",\"items\":[{\"creationTimeStamp\":\"2019-09-24T12:33:20.570Z\",\"modifiedTimeStamp\":\"2019-09-24T12:33:20.570Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelManagement/performanceTasks/6216127c-1e22-45e4-9fe7-9a3d61b379b6/performanceJobs/1b5a22f0-ea49-4dc6-b06c-875c4f1db664\",\"uri\":\"/modelManagement/performanceTasks/6216127c-1e22-45e4-9fe7-9a3d61b379b6/performanceJobs/1b5a22f0-ea49-4dc6-b06c-875c4f1db664\"}],\"version\":2,\"id\":\"1b5a22f0-ea49-4dc6-b06c-875c4f1db664\",\"taskId\":\"6216127c-1e22-45e4-9fe7-9a3d61b379b6\",\"task\":\"Scikit Linear Model Performance\",\"code\":\"options cashost='sasserver.demo.sas.com' casport=5570;\\ncas _mmcas_;\\ncaslib _all_ assign;\\n%let _MM_PerfExecutor = 1;\\n%let _MM_ProjectUUID = %nrstr(d0a944ee-3461-4955-ab4b-e0acb3050757);\\n%let _MM_TargetVar = Price;\\n%let _MM_TargetLevel = INTERVAL;\\n%let _MM_PredictedVar = var1;\\n%let _MM_TargetEvent = ;\\n%let _MM_EventProbVar = ;\\n%let _MM_KeepVars = var1;\\n%let _MM_CAKeepVars = AGE B CHAS CRIM DIS INDUS LSTAT NOX PTRATIO RAD RM TAX ZN;\\n%let _MM_Trace = OFF;\\n%let _MM_Max_Bins = 10;\\n%let _MM_PerfOutCaslib = ModelPerformanceData;\\n%let _MM_PerfInCaslib = Public;\\n%let _MM_Perf_InTablePrefix = boston;\\n%let _MM_TableNameLevel = 4;\\n%let _MM_PerfStaticTable = ;\\n%let _MM_ForceRunAllData = N;\\n%let _MM_RunScore = N;\\n%let _MM_SAVEPERFRESULT = Y;\\n%let _MM_JobID = %nrstr(1b5a22f0-ea49-4dc6-b06c-875c4f1db664);\\n%let _MM_ModelID = %nrstr(ddc5c203-9fae-46ac-8559-ce713bddb9b4);\\n%let _MM_ModelName = %nrstr(Scikit Linear Model);\\n%let _MM_ModelFlag = -1;\\n%let _MM_ScoreCodeType = DS2EP;\\n%let _MM_ScoreCodeURI = ;%let _MM_ScoreAstURI = ;\\n%mm_performance_monitor(\\nperfLib=&_MM_PerfInCaslib,\\nperfDataNamePrefix=&_MM_Perf_InTablePrefix,\\nmm_mart=&_MM_PerfOutCaslib,\\nrunScore=&_MM_RunScore,\\nscorecodeURI=&_MM_ScoreCodeURI,\\ndebug=OFF\\n);\\n%put &syserr;\\n%put &syscc;\",\"state\":\"pending\",\"prefix\":\"boston\",\"model\":\"Scikit Linear Model\",\"dataLibrary\":\"Public\",\"resultLibrary\":\"ModelPerformanceData\",\"modelId\":\"ddc5c203-9fae-46ac-8559-ce713bddb9b4\",\"startTime\":\"2019-09-24T12:33:19.619Z\",\"dataTable\":\"\",\"projectVersion\":\"Version 1\",\"projectId\":\"d0a944ee-3461-4955-ab4b-e0acb3050757\"}],\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/performanceTasks/6216127c-1e22-45e4-9fe7-9a3d61b379b6"
      }
    },
[...]
