{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T18:01:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"e20acd06533147f897b16fe929646cf3\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T18:01:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctlmas\", \"destinationType\": \"microAnalyticService\", \"description\": null, \"masUri\": \"localhost\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelPublish/destinations"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-09-06T18:01:53.395Z\",\"modifiedTimeStamp\":\"2019-09-06T18:01:53.395Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"dbfc4ebb-a08d-4151-bb3f-36805f5500c4\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/sasctlmas\",\"uri\":\"/modelPublish/destinations/sasctlmas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/sasctlmas\",\"uri\":\"/modelPublish/destinations/sasctlmas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/sasctlmas\",\"uri\":\"/modelPublish/destinations/sasctlmas\"}],\"version\":1,\"name\":\"sasctlmas\",\"destinationType\":\"microAnalyticService\",\"masUri\":\"localhost\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json;charset=UTF-8"
          ],
          "Location": [
            "/modelPublish/destinations/sasctlmas"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelPublish/destinations"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}