{
  "http_interactions": [
    {
      "recorded_at": "2021-06-25T16:26:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2MjQ2NzQ0MDgsImlhdCI6MTYyNDYzODQwOCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJlMzA4MDA4Mzk0NTY0NWZiYjMxMjU1YzQ3NjY1ZWE2YyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2MjQ2Mzc5NzMwNjcsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE2MjQ2Mzg0MDd9.Xr0rIv0zMAWik3SZ-ri-_o4tggBG3uOOoneRACeX6qStqpvVSzoz5lzFKUtH9Yz6TAi8g_0o2a3wJSlTRutA6LFSfHCQ5XlbcckcoWTZQBiy1oc3TZeK9pzJ4zTfcCS2jqzOiGMd6KcQe3hcFF78jfcxrgZgAqNVKY8tfyHVFjjptvK7uRpZ-BNb9H0dSYUTZTK6Sy1gmJZPGdHHjtHRxQVyRCjLf4Z3ITvIOHfFrsUwbm2rzQOU_m7sdAE655kanq6dV8UloSpke5dzAVRgIRT75vcj8kyPR5ZoXQJIAjT0uQp909lRGCHJgXLsEwPHLg5GM81cpUW-ovMPzI-L7g\",\"expires_in\":35999,\"scope\":\"DataBuilders HealthMapperManager szpkAdministrator riskDataAdmin qasDataAdmin qasFQAAnalyst riskModelValidator qasAPAAnalyst DemandPlanningForecastAnalyst AdaptiveLearningUsers szpfViewer roBusinessSuperUser HealthCohortAdministrators uaa.resource openid EsriUsers uaa.admin clients.admin scim.read SASAdministrators HealthMapper szpfAnalyst CASHostAccountRequired HealthMapperAdministrator szpkViewer ApplicationAdministrators riskDataAnalyst roBusinessUser SASScoreUsers qasInfoConsumer szpfAdministrator clients.read roBusinessAdministrator clients.secret PlanningAdministrators riskModeler riskDataConfigUsers HealthCohortAnalysts qasPQAAnalyst PlanningUsers clients.write qasAppAdmin scim.write szpkAnalyst roTechnicalAdministrator\",\"jti\":\"e3080083945645fbb31255c47665ea6c\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2021-06-25T16:26:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Boston%20Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Boston%20Housing)"
      }
    },
    {
      "recorded_at": "2021-06-25T16:26:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"uri\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-11-19T02:06:38.585Z\",\"modifiedTimeStamp\":\"2019-11-19T02:06:38.808Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"uri\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelReposi[...]
    {
      "recorded_at": "2021-06-25T16:26:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Boston Housing\", \"repositoryId\": \"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\", \"folderId\": \"9e8bb64e-f359-4c37-ab42-167ebabd564c\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"predictionVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2021-06-25T16:26:49.125Z\",\"modifiedTimeStamp\":\"2021-06-25T16[...]
    {
      "recorded_at": "2021-06-25T16:26:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2021-06-25T16:26:49.125Z\", \"modifiedTimeStamp\": \"2021-06-25T16:26:49.422Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2021-06-25T16:26:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,\\n         normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}, {\"name\": \"env_alabaster\", \"value\": \"0.7.12\"}, {\"name\": \"env_async-generator\", \"value\": \"1.10\"}, {\"name\": \"env_atomicwrites\", \"value\": \"1.3.0\"}, {\"name\": \"env_attrs\", \"value\": \"19.2.0\"}, {\"name\": \"env_Babel\", \"value\": \"2.8.0\"}, {\"name\": \"env_betamax\", \"value\": \"0.8.1\"}, {\"name\": \"env_betamax[...]
    {
      "recorded_at": "2021-06-25T16:26:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--a94c5c8803f700545e94457fe9b53e8d\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--a94c5c8803f700545e94457fe9b53e8d\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--a94c5c8803f700545e94457fe9b53e8d\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-s[...]
[...]
