{
  "http_interactions": [
    {
      "recorded_at": "2020-02-23T02:55:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"5b6ef47629aa4db2aa21ae870f30782a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-02-23T02:55:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_test_Iris_Species)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":5,\"items\":[{\"creationTimeStamp\":\"2019-08-12T20:56:28.720Z\",\"modifiedTimeStamp\":\"2019-08-14T13:13:16.289Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\"}],\"version\":2,\"id\":\"fd4bc28c-d153-46be-bf59-1302d58013ce\",\"name\":\"Fleet Maintenance\",\"repositoryId\":\"4690ad52-6e52-4cb5-b4a7-a37e75fe42bc\",\"folderId\":\"8f69aa5d-6686-4093-b1a7-96cf84a831df\",\"function\":\"classification\",\"externalProjectId\":\"9cb55b9b-bb71-4037-9b29-8effa8986ec6\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/FLEET_TRAIN\",\"targetVariable\":\"Maintenance_Flag\",\"targetEventValue\":\"1\",\"classTargetValues\":\"1,0\",\"eventProbabilityVariable\":\"P_Maintenance_flag1\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"retrainUri\":\"/dataMining/projects/9cb55b9b-bb71-4037-9b29-8effa8986ec6/retrainJobs?action=batch&dataUri={dataUri}\",\"retrainStatusUri\":\"/dataMining/projects/9cb55b9b-bb71-4037-9b29-8effa8986ec6/retrainJobs?retrainingState={retrainingState}\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-12T20:50:13.591Z\",\"modifiedTimeStamp\":\"2019-08-14T15:38:08.305Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/c3caf116-3208-4ac4-9cf3-777c7dd10504\",\"uri\":\"/modelRepository/projects/c3caf116-3208-4ac4-9cf3-777c7dd10504\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/c3caf116-3208-[...]
[...]
    {
      "recorded_at": "2020-02-23T02:55:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-08-12T16:39:04.478Z\",\"modifiedTimeStamp\":\"2019-08-12T16:39:04.739Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"uri\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/reposit[...]
    {
      "recorded_at": "2020-02-23T02:55:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2020-02-23T02:55:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2020-02-23T02:56:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_test_Iris_Species\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"SepalLength\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"SepalWidth\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"PetalLength\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"PetalWidth\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"Species\", \"length\": 10, \"type\": \"string\", \"role\": \"input\"}, {\"name\": \"P_Speciessetosa\", \"length\": 8, \"type\": \"decimal\", \"role\": \"output\"}, {\"name\": \"P_Speciesversicolor\", \"length\": 8, \"type\": \"decimal\", \"role\": \"output\"}, {\"name\": \"P_Speciesvirginica\", \"length\": 8, \"type\": \"decimal\", \"role\": \"output\"}, {\"name\": \"I_Species\", \"length\": 32, \"type\": \"string\", \"role\": \"output\"}, {\"name\": \"_WARN_\", \"length\": 4, \"type\": \"string\", \"role\": \"output\"}], \"function\": \"classification\", \"targetLevel\": \"\", \"eventProbabilityVariable\": \"P_Speciessetosa\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-23T02:56:[...]
    {
      "recorded_at": "2020-02-23T02:56:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2020-02-23T02:56:07.327Z\", \"modifiedTimeStamp\": \"2020-02-23T02:56:07.462Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2020-02-23T02:56:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000\u0003\ufffdVP\ufffd?{ h\u0003\u0000\u0000h\u0003\u0000\u0000\u0015\u0000\u0000\u0000dmcas_epscorecode.sasdata sasep.out;\n  dcl package score sc();\n  dcl double \"SepalLength\";\n  dcl double \"SepalWidth\";\n  dcl double \"PetalLength\";\n  dcl double \"PetalWidth\";\n  dcl nchar(10) \"Species\";\n  dcl dou[...]
[...]
    {
      "recorded_at": "2020-02-23T02:56:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"GradientBoostingClassifier(criterion='friedman_mse', init=None,\\n              learning_rate=0.1, loss='deviance', max_depth=3,\\n              max_features=None, max_leaf_nodes=None,\\n              min_impurity_decrease=0.0, min_impurity_split=None,\\n              min_samples_leaf=1, min_samples_split=2,\\n              min_weight_fraction_leaf=0.0, n_estimators=100,\\n              n_iter_no_change=None, presort='auto', random_state=None,\\n              subsample=1.0, tol=0.0001, validation_fraction=0.1,\\n              verbose=0, warm_start=False)\", \"algorithm\": \"Gradient boosting\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": null, \"function\": \"classification\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"criterion\", \"value\": \"friedman_mse\"}, {\"name\": \"init\", \"value\": \"None\"}, {\"name\": \"learning_rate\", \"value\": \"0.1\"}, {\"name\": \"loss\", \"value\": \"deviance\"}, {\"name\": \"max_depth\", \"value\": \"3\"}, {\"name\": \"max_features\", \"value\": \"None\"}, {\"name\": \"max_leaf_nodes\", \"value\": \"None\"}, {\"name\": \"min_impurity_decrease\", \"value\": \"0.0\"}, {\"name\": \"min_impurity_split\", \"value\": \"None\"}, {\"name\": \"min_samples_leaf\", \"value\": \"1\"}, {\"name\": \"min_sampl[...]
[...]
