{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T14:44:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTM4ODIsImlhdCI6MTY2MzMzOTQ4MiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMzQzZTI0ZGZjNjRmNGVlYjk4YTE5NzViNTFlZTA0NjkiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzM5NDgyMDY5LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzOTQ4MiwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.A34kFgJTy6SPlTIW5EZOAcALookAuNYHXxOANZm962pvnWnS02pxs0raY-RUeOh6plO27GCwCg-NXzyX0YSmLTjykK16zVu_5WWmyCv-b2ZxrSTVLUB2sLtBcxt2ZNKHFZUtpJvaxeJp7_FjNAqpzzQrpgI1lBitJBXGKREEpMAsiWGshtyhsMe-mG8-yfLsqSgTpNtdrrCCkMriQ4vrBA63My2Qx71qQeGYJsbegMXRxAA55_oC0atrh28h9kF8D3a6BW4jJqcRHomqu4OE8eaTGQuUHflXjGiztDetTi_YijJH6c5PZqax1Yy7BA8kf4vzsupVi6NcmRr6Lihcmw\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"343e24dfc64f4eeb98a1975b51ee0469\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_file%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22sasctl_test_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22sasctl_test_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T14:44:41.662Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:41.662Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/copy\",\"uri\":\"/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"sasctl_test_file\",\"size\":23,\"searchable\":true,\"fileStatus\":\"unlocked\",\"fileVersion\":0,\"version\":4,\"virusDetected\":false,\"urlDetected\":false,\"quarantine\":false}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files?filter=eq(name,%20%22sasctl_test_file%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16[...]
    {
      "recorded_at": "2022-09-16T14:44:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "Some test file content."
        },
        "headers": {
          "Content-Range": [
            "bytes 0-22/23"
          ],
          "Content-Type": [
            "text/plain"
          ],
          "ETag": [
            "\"l84ldq2m\""
          ],
          "Last-Modified": [
            "Fri, 16 Sep 2022 14:44:41 UTC"
          ],
          "Location": [
            "/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/files/files/1bf975ca-3abd-4a47-8218-5c1f49ede7ad/content"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}