{
  "http_interactions": [
    {
      "recorded_at": "2019-06-10T21:43:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"esvakmcorionterritoryaccess viyapython SCR CARYEMPS misvaclrcustomers esvanemeainstructorconsumers rdinformoptin esvakmcrenewalforecastconsumers esvakmcorionoppaccess AWSSandboxAccount01 GLOBALSALES FSL modelmanager testdivsna uaa.resource instltech RNDSIMSUsers openid domainemps1 demoacl-fsriskint gelupdates scim.read SASAdministrators OneDriveUsers gsopsussales openstackusers CASDiscussion scr_us intcawebcertreq esvakmcorionconsultforecastconsumers ANALYSIS USCALA mercuryusers CTRYUNITEDSTATES BLDGC tisurvey GLOBALPRESALES intcausers INSURTEAMS HADOOP-DEV clients.secret esvaallempsconsumers midena SIMSEdit uscompresales Safari_list rdtcaccess DSCIENCE SAS_TE AWSsalesenableAccount unix_marketing csatechxchange DataBuilders USemps AWS-617292774228-sandbox SIMSView Weekly_Wrap opsglobalorion DomainEmployees salessupportcredittech AWS-TAM-Call esvanemeaeduconsumers C3RD googlecloudusers bareosdeploy KSA_mail_list revegyusercommunity uaa.admin clients.admin AMTX esvakmcorionconsumers AMPSX esvanemeaeduadmins azurecloudusers lanpanfilter EMINERS sas92_install ApplicationAdministrators techoffice COOALLSTAFF ussales allamazonusers clients.read WWMGlobalBanking GuestFSBU aideas hrsb BLDALL TESSAUSERS KSA_ADGroup birdrace ITatSAS democenterusers HADOOP-L RE_PYTHON clients.write scim.write\",\"jti\":\"5da776cee5a14731ad8ca6a2a19b1d48\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-06-10T21:43:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/projects/projects?filter=eq(name,%20%22Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"collection\",\"href\":\"/projects/projects\",\"uri\":\"/projects/projects\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.project.summary\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/projects/projects?filter=eq(name,%20%22Test%20Project%22)&sortBy=name:ascending&start=0&limit=10\",\"uri\":\"/projects/projects?filter=eq(name,%20%22Test%20Project%22)&sortBy=name:ascending&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/projects/projects\",\"uri\":\"/projects/projects\",\"type\":\"application/vnd.sas.project.summary\",\"responseType\":\"application/vnd.sas.project.summary\"}],\"name\":\"projects\",\"accept\":\"application/vnd.sas.project.summary\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-06-10T21:42:59.636Z\",\"modifiedTimeStamp\":\"2019-06-10T21:42:59.636Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"name\":\"Test Project\",\"imageUri\":\"/projects/cyan-bubbles.png\",\"folderUri\":\"/folders/folders/7527040e-252b-423f-beba-932fd08fefc3\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"uri\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"type\":\"application/vnd.sas.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"uri\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\"}]}],\"limit\":10,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/projects/projects?filter=eq(name,%20%22Test%20Project%22)"
      }
    },
    {
      "recorded_at": "2019-06-10T21:43:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2019-06-10T21:42:59.636Z\",\"modifiedTimeStamp\":\"2019-06-10T21:42:59.636Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"name\":\"Test Project\",\"imageUri\":\"/projects/cyan-bubbles.png\",\"folderUri\":\"/folders/folders/7527040e-252b-423f-beba-932fd08fefc3\",\"userCount\":1,\"groupCount\":0,\"properties\":[],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"uri\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"type\":\"application/vnd.sas.project\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"uri\":\"/projects/projects/d3e4f10b-2385-4141-a403-1ed4615cc2b5\",\"type\":\"application/vnd.sas.project.summary\"},{\"method\":\"PUT\",\"rel\":\"update\",\"[...]
[...]
