{
  "http_interactions": [
    {
      "recorded_at": "2019-08-15T00:17:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"80413617c8b44469a8353b0c1e742429\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-15T00:17:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)"
      }
    },
    {
      "recorded_at": "2019-08-15T00:17:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      }
    },
    {
      "recorded_at": "2019-08-15T00:17:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2019-08-15T00:17:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2019-08-15T00:17:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Housing\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-15T00:17:27.048Z\",\"modifiedTimeStamp\":\"2019-08-15T00:17:[...]
    {
      "recorded_at": "2019-08-15T00:17:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}], \"name\": \"Boston Regression\", \"inputVariables\": [{\"name\": \"CRIM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"Input\", \"type\": \"decimal\"}], \"outputVariables\": [{\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"projectId\": \"2c9b145a-0828-42cc-b62e-a059657a90d1\", \"modeler\": \"USERNAME\", \"champion\": null, \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"version\": \"2\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creat[...]
    {
      "recorded_at": "2019-08-15T00:17:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--34208e0b0570c1c0376ec128e2286e39\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--34208e0b0570c1c0376ec128e2286e39\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--34208e0b0570c1c0376ec128e2286e39\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
    {
      "recorded_at": "2019-08-15T00:17:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/2c9b145a-0828-42cc-b62e-a059657a90d1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
[...]
    {
      "recorded_at": "2019-08-15T00:17:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20Boston%20Regression)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"me[...]
    {
      "recorded_at": "2019-08-15T00:17:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2019-08-15T00:17:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"projectId\": \"2c9b145a-0828-42cc-b62e-a059657a90d1\", \"name\": \"Boston Regression Performance\", \"modelIds\": [\"b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\"], \"championMonitored\": false, \"challengerMonitored\": false, \"maxBins\": 10, \"resultLibrary\": \"ModelPerformanceData\", \"includeAllData\": false, \"scoreExecutionRequired\": false, \"performanceResultSaved\": true, \"loadPerformanceResult\": false, \"dataLibrary\": \"Public\", \"description\": \"Performance definition for model Boston Regression\", \"casServerId\": \"cas-shared-default\", \"dataPrefix\": \"boston\", \"traceOn\": false, \"inputVariables\": [\"AGE\", \"B\", \"CHAS\", \"CRIM\", \"DIS\", \"INDUS\", \"LSTAT\", \"NOX\", \"PTRATIO\", \"RAD\", \"RM\", \"TAX\", \"ZN\"], \"outputVariables\": [\"var1\"]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.performance.task+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/performanceTas[...]
    {
      "recorded_at": "2019-08-15T00:17:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2019-08-15T00:17:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-05-24T21:38:55.2[...]
[...]
    {
      "recorded_at": "2019-08-15T00:17:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Boston Regression\", \"notes\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)\", \"modelContents\": [{\"modelName\": \"BostonRegression\", \"sourceUri\": \"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-15T00:17:31.880Z\",\"modifiedTimeStamp\":\"2019-08-15T00:17:31.919Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"2bb06e66-c407-435c-a997-821e80a15b13\",\"publishName\":\"BostonRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2019-08-15T00:17:31.880Z\",\"modifiedTimeStamp\":\"2019-08-15T00:17:31.880Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"e2880452-3b1d-4f3c-a309-ec6806b317e4\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"modelId\":\"b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13\",\"uri\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13\",\"uri\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13/log\",\"uri\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13/log\",\"type\":\"application/json\"}],\"name\":\"BostonRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"jzbxpnnz\""
          ],
          "Last-Modified": [
            "Thu, 15 Aug 2019 00:17:31 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2019-08-15T00:17:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2019-08-15T00:17:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-15T00:17:31.958Z\",\"modifiedTimeStamp\":\"2019-08-15T00:17:42.842Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13\",\"uri\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13/log\",\"uri\":\"/modelPublish/models/2bb06e66-c407-435c-a997-821e80a15b13/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"a6f1ddd3-7af1-4b35-9bc9-8b14384033a0\",\"publishName\":\"Boston Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"b6ab1a27-49a3-44a3-b0d7-9b79da3e4cd8\",\"modelName\":\"BostonRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/e34f81c2-cb7a-4ba1-aae9-1ae561cfadfb\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/e34f81c2-cb7a-4ba1-aae9-1ae561cfadfb\[...]
    {
      "recorded_at": "2019-08-15T00:17:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel[...]
    {
      "recorded_at": "2019-08-15T00:17:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2019-08-15T00:17:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"zn\", \"value\": 18.0}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"age\", \"value\": 65.2}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"lstat\", \"value\": 4.98}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"bostonregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"var1\",\"value\":29.962639411888304},{\"name\":\"rc\",\"value\":0},{\"name\":\"msg\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/bostonregression/steps/score"
      }
    },
[...]
    {
      "recorded_at": "2019-08-15T00:17:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\[...]
    {
      "recorded_at": "2019-08-15T00:17:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/decisiontree/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET[...]
[...]
