{
  "http_interactions": [
    {
      "recorded_at": "2020-02-22T16:34:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"2c930da32dfa4e35b7ef6f5181dbab34\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-02-22T16:35:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Boston%20Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":7,\"items\":[{\"creationTimeStamp\":\"2019-08-12T20:56:28.720Z\",\"modifiedTimeStamp\":\"2019-08-14T13:13:16.289Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\",\"uri\":\"/modelRepository/projects/fd4bc28c-d153-46be-bf59-1302d58013ce\"}],\"version\":2,\"id\":\"fd4bc28c-d153-46be-bf59-1302d58013ce\",\"name\":\"Fleet Maintenance\",\"repositoryId\":\"4690ad52-6e52-4cb5-b4a7-a37e75fe42bc\",\"folderId\":\"8f69aa5d-6686-4093-b1a7-96cf84a831df\",\"function\":\"classification\",\"externalProjectId\":\"9cb55b9b-bb71-4037-9b29-8effa8986ec6\",\"candidateChampionHonored\":false,\"trainTable\":\"cas-shared-default/Public/FLEET_TRAIN\",\"targetVariable\":\"Maintenance_Flag\",\"targetEventValue\":\"1\",\"classTargetValues\":\"1,0\",\"eventProbabilityVariable\":\"P_Maintenance_flag1\",\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"retrainUri\":\"/dataMining/projects/9cb55b9b-bb71-4037-9b29-8effa8986ec6/retrainJobs?action=batch&dataUri={dataUri}\",\"retrainStatusUri\":\"/dataMining/projects/9cb55b9b-bb71-4037-9b29-8effa8986ec6/retrainJobs?retrainingState={retrainingState}\",\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-12T20:50:13.591Z\",\"modifiedTimeStamp\":\"2019-08-14T15:38:08.305Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/c3caf116-3208-4ac4-9cf3-777c7dd10504\",\"uri\":\"/modelRepository/projects/c3caf116-3208-4ac4-9cf3-777c7dd10504\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/c3caf116-3208-[...]
    {
      "recorded_at": "2020-02-22T16:35:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/597c311b-db8d-4484-b044-acfda7f5063e"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2020-02-22T16:35:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2019-05-24T21:47:16.151Z\",\"modifiedTimeStamp\":\"2019-05-24T21:47:17.829Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"uri\":\"/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"uri\":\"/folders/folders/1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"type\":\"application/vnd.sas.content.folder\"}],\"version\":2,\"id\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-08-12T16:39:04.478Z\",\"modifiedTimeStamp\":\"2019-08-12T16:39:04.739Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"uri\":\"/modelRepository/repositories/f483a23c-6fe4-44f5-b611-649d051423c7\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/reposit[...]
    {
      "recorded_at": "2020-02-22T16:35:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2020-02-22T16:35:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
[...]
    {
      "recorded_at": "2020-02-22T16:35:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000f\\VP\ufffd`\ufffd\ufffd\u0002\u0000\u0000\ufffd\u0002\u0000\u0000\u0015\u0000\u0000\u0000dmcas_epscorecode.sasdata sasep.out;\n  dcl package score sc();\n  dcl double \"ptratio\";\n  dcl double \"age\";\n  dcl double \"indus\";\n  dcl double \"b\";\n  dcl double \"dis\";\n  dcl double \"chas\";\n  dcl double \"lstat\";\n  dcl double \"rad\";\n  dcl double \"nox\";\n  dcl double \"crim\";\n  dcl double \"tax\";\n  dcl double \"rm\";\n  dcl double \"zn\";\n  dcl double \"P_medv\" having label n'Predicted: medv';\n  \n  varlist allvars[_all_];\n  method init();\n    sc.setvars(allvars);\n    sc.setKey(n'DADAEAC7CD5F707E22EE2F9E093E81FCA369499A');\n  end;\n  method preScoreRecord();\n  end;\n  method postScoreRecord();\n  end;\n  method term();\n  end;\n  method run();\n    set sasep.in;\n    preScoreRecord();\n    sc.scoreRecord();\n    postScoreRecord();\n  end;\nenddata;\nPK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000f\\VP\ufffdm\ufffd\ufffdm\u0000\u0000\u0000m\u0000\u0000\u0000\u0011\u0000\u0000\u0000fileMetadata.json[\n {\n  \"role\": \"analyticStore\",\n  \"name\": \"\"\n },\n {\n  \"role\": \"score\",\n  \"name\": \"dmcas_epscorecode.sas\"\n }\n]PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000f\\VP\ufffd\ufffd-\ufffd\ufffd\u0003\u0000\u0000\ufffd\u0003\u0000\u0000\r\u0000\u0000\u0000inputVar.json[\n {\n  \"name\": \"ptratio\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"age\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"indus\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"b\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"dis\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"chas\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"lstat\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"rad\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"nox\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"crim\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"tax\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"rm\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n },\n {\n  \"name\": \"zn\",\n  \"length\": 8,\n  \"type\": \"decimal\",\n  \"role\": \"INPUT\"\n }\n]PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000f\\VP\ufffd\f\u036b\ufffd\u0000\u0000\u0000\ufffd\u0000\u0000\u0000\u0013\u0000\u0000\u0000AstoreMetadata.json[\n {\n  \"name\": \"_F4FF8CFAA56F4B168D05E7BDF\",\n  \"caslib\": \"ModelStore\",\n  \"uri\": \"/dataTables/dataSources/cas~fs~cas-shared-default~fs~ModelStore/tables/_F4FF8CFAA56F4B168D05E7BDF\",\n  \"key\": \"DADAEAC7CD5F707E22EE2F9E093E81FCA369499A\"\n }\n]PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000f\\VP\ufffd\ufffd\ufffd\ufffd\ufffd\u0005\u0000\u0000\ufffd\u0005\u0000\u0000\u001a\u0000\u0000\u0000dmcas_packagescorecode.saspackage ds2score / overwrite=yes;\n    dcl package score _004ed02fc69f4baa8eddf48bf655a6e9();\n  dcl double \"ptratio\";\n  dcl double \"age\";\n  dcl double \"indus\";\n  dcl double \"b\";\n  dcl double \"dis\";\n  dcl double \"chas\";\n  dcl double \"lstat\";\n  dcl do[...]
    {
      "recorded_at": "2020-02-22T16:35:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-02-22T16:35:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-05-24T21:38:55.2[...]
    {
      "recorded_at": "2020-02-22T16:35:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Linear Regression\", \"notes\": \"None\", \"modelContents\": [{\"modelName\": \"LinearRegression\", \"sourceUri\": \"/modelRepository/models/c1954f3c-6a6d-4b66-bc4d-ff47cc9d3b61\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-22T16:35:22.857Z\",\"modifiedTimeStamp\":\"2020-02-22T16:35:22.883Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"c51fc668-6eba-4356-a275-d8b40bbb75c8\",\"publishName\":\"LinearRegression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2020-02-22T16:35:22.857Z\",\"modifiedTimeStamp\":\"2020-02-22T16:35:22.857Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"92daad28-2984-4440-b4f0-57b7a1a2d2b2\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"c1954f3c-6a6d-4b66-bc4d-ff47cc9d3b61\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/c1954f3c-6a6d-4b66-bc4d-ff47cc9d3b61\",\"modelId\":\"c1954f3c-6a6d-4b66-bc4d-ff47cc9d3b61\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{\"masModules\":null},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8\",\"uri\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8\",\"uri\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8/log\",\"uri\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8/log\",\"type\":\"application/json\"}],\"name\":\"LinearRegression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k6xtqvsz\""
          ],
          "Last-Modified": [
            "Sat, 22 Feb 2020 16:35:22 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2020-02-22T16:35:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2020-02-22T16:35:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-22T16:35:22.929Z\",\"modifiedTimeStamp\":\"2020-02-22T16:35:29.825Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8\",\"uri\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8/log\",\"uri\":\"/modelPublish/models/c51fc668-6eba-4356-a275-d8b40bbb75c8/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"cd11af9a-2e33-4fce-ba76-8621f8826423\",\"publishName\":\"Linear Regression\",\"destinationName\":\"maslocal\",\"modelId\":\"c1954f3c-6a6d-4b66-bc4d-ff47cc9d3b61\",\"modelName\":\"LinearRegression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/aa87bb78-1d26-4724-be99-03382c52b407\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/aa87bb78-1d26-4724-be99-03382c52b407\[...]
    {
      "recorded_at": "2020-02-22T16:35:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/linearregression"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel[...]
    {
      "recorded_at": "2020-02-22T16:35:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/linearregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\[...]
    {
      "recorded_at": "2020-02-22T16:35:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"age\", \"value\": 65.2}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"lstat\", \"value\": 4.98}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"zn\", \"value\": 18.0}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/linearregression/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"linearregression\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"P_medv\",\"value\":30.00384337701668}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/linearregression/steps/score"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}