{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T13:03:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNDc4MzYsImlhdCI6MTY2MzMzMzQzNiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiMTVlMmYyMTkzOWMxNDcwZWI2NzU2NjdiNmYzN2NiZDAiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzMzMDUxMjk1LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzMzQzNCwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.VYB8YY98UjdAeBWEFG_oP3GCn1nBTdBLRWqWB7q5KTpspBZIdo6CYMiuGnTXUpHgHKfuJLr9ALx8yZAP7D21etqRPH9OWj4XO-1NKVCuhMjo4Ika7kYFO1doxtDYITuG8NAAkFAbh-OV3CtSiUi7fEnAQxJ_MQ0p414yJEmM0Hoctv5_firOqu2y95fErPHh--nh64TU-7P8j726tI8j_i7vOa0W-U51xdLMail8o1fCsgPstKhU5n-RxkvuFTMxIWm5Au5f_92mJYZ_OghmDIMcRYDPDOvIH1NDiutKJXxx4URRqVNwxZMeRBxsRLKbAwFVyyyRgMnliPn3pay3KA\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"15e2f21939c1470eb675667b6f37cbd0\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T13:03:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"authenticationType\": \"OAuth\", \"name\": \"SessionSimulation\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"id\":\"dd26abc0-3bfe-4442-b537-0b68b2b0e082\",\"name\":\"SessionSimulation:Fri Sep 16 13:03:56 2022\",\"state\":\"Connected\",\"transactionState\":\"none\",\"authenticationType\":\"OAuth\",\"owner\":\"USERNAME\",\"locale\":\"en\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082\",\"type\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/sessions\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.session.summary\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082\"},{\"method\":\"POST\",\"rel\":\"startPermissionsTransaction\",\"href\":\"/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082?action=start\",\"uri\":\"/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082?action=start\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.cas.session+json"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions"
      }
    },
    {
      "recorded_at": "2022-09-16T13:03:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--4b5ed059fd10b33b84eefb7130f87a1a\r\nContent-Disposition: form-data; name=\"tableName\"\r\n\r\nTEST_TABLE\r\n--4b5ed059fd10b33b84eefb7130f87a1a\r\nContent-Disposition: form-data; name=\"containsHeaderRow\"\r\n\r\nTrue\r\n--4b5ed059fd10b33b84eefb7130f87a1a\r\nContent-Disposition: form-data; name=\"format\"\r\n\r\ncsv\r\n--4b5ed059fd10b33b84eefb7130f87a1a\r\nContent-Disposition: form-data; name=\"sessionId\"\r\n\r\ndd26abc0-3bfe-4442-b537-0b68b2b0e082\r\n--4b5ed059fd10b33b84eefb7130f87a1a\r\nContent-Disposition: form-data; name=\"delimiter\"\r\n\r\n;\r\n--4b5ed059fd10b33b84eefb7130f87a1a\r\nContent-Disposition: form-data; name=\"scope\"\r\n\r\nsession\r\n--4b5ed059fd10b33b84eefb7130f87a1a\r\nContent-Disposition: form-data; name=\"file\"; filename=\"TEST_TABLE\"\r\n\r\nA;B\n\nentry1;entry2\n\nentry3;entry4\r\n--4b5ed059fd10b33b84eefb7130f87a1a--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=4b5ed059fd10b33b84eefb7130f87a1a"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"caslibName\":\"Public\",\"characterSet\":\"UTF8\",\"columnCount\":2,\"created\":\"2022-09-16T13:03:58.402Z\",\"createdBy\":\"USERNAME\",\"disconnected\":true,\"encoding\":\"utf-8\",\"lastAccessed\":\"2022-09-16T13:03:58.402Z\",\"lastModified\":\"2022-09-16T13:03:58.402Z\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.table\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"type\":\"application/vnd.sas.cas.table\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE\"},{\"method\":\"PUT\",\"rel\":\"updateState\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state\",\"responseType\":\"application/json,text/plain\"},{\"method\":\"GET\",\"rel\":\"columns\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/columns\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/columns\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.column\"},{\"method\":\"GET\",\"rel\":\"dataTable\",\"href\":\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~Public/tables/TEST_TABLE\",\"uri\":\"[...]
    {
      "recorded_at": "2022-09-16T13:03:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state?value=unloaded&sessionId=dd26abc0-3bfe-4442-b537-0b68b2b0e082"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "unloaded"
        },
        "headers": {
          "Content-Type": [
            "text/plain"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs/Public/tables/TEST_TABLE/state?value=unloaded&sessionId=dd26abc0-3bfe-4442-b537-0b68b2b0e082"
      }
    },
    {
      "recorded_at": "2022-09-16T13:03:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://hostname.com/casManagement/servers/cas-shared-default/sessions/dd26abc0-3bfe-4442-b537-0b68b2b0e082"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}