{
  "http_interactions": [
    {
      "recorded_at": "2022-09-14T16:43:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMxODgxODQsImlhdCI6MTY2MzE3Mzc4NCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNDIxN2M1MmU2MTk3NGQ2YWFmZjVlMGQyODZhYmVjMjEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMTczNzgzODE2LCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiI5ZjhlYjY2ZSIsInVzZXJfaWQiOiJjMjA0MDRhZi1iYTZlLTRlMWQtYTc5MS00NWNkNmU0MTk2ODQiLCJhdXRoX3RpbWUiOjE2NjMxNzM3ODR9.L0BN2n8Rco1691Ybmh2Ubg3nBdDDXqY2y5lW1hmOobQF-ZR1OsdS-6Pz6dcpd4JowQun2e6E2lO0D2mA5fq5-99HPay1XchrHv4VK_fCgNcRuDCfAqOIkZ_6MUdpLHtYCuzmCNi1MsLaCffU3dhSPFG1lwpxhkvvtfhhCwR8R1jF_N7ERT8U8_mEmb_ZBhrVF9N2k5exZtTv8QRuQSdZs0p3C7h_eE9U6gezWMdPiNhTZcWRGaN-53GSwrwZPUVVtbyxXj25-k4tfHV-cjlSHNRCUmDQh8tYeKj_Fjo_fz4yDJEQGlYeUc2eybSz1t-M2Sy1h2oCmbOy2KOcsVGV4A\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins DataBuilders FSDev s2m_singlestore_secure clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter scim.write\",\"jti\":\"4217c52e61974d6aaff5e0d286abec21\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-14T16:43:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers?filter=eq(name,%20%22cas-shared-default%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.server\",\"count\":1,\"start\":0,\"limit\":10,\"name\":\"servers\",\"items\":[{\"version\":2,\"name\":\"cas-shared-default\",\"description\":\"controller\",\"host\":\"sas-cas-server-default-client\",\"port\":5570,\"backupHost\":\"sas-cas-server-default-client\",\"restPort\":8777,\"restProtocol\":\"https\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers\",\"uri\":\"/casManagement/servers\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default\",\"uri\":\"/casManagement/servers/cas-shared-default\",\"type\":\"application/vnd.sas.cas.server\"},{\"method\":\"GET\",\"rel\":\"connection\",\"href\":\"/casManagement/servers/cas-shared-default/connection\",\"uri\":\"/casManagement/servers/cas-shared-default/connection\",\"type\":\"application/vnd.sas.cas.server.connection\"},{\"method\":\"GET\",\"rel\":\"state\",\"hre[...]
    {
      "recorded_at": "2022-09-14T16:43:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"name\":\"cas-shared-defaul[...]
    {
      "recorded_at": "2022-09-14T16:43:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/casManagement/servers/cas-shared-default/caslibs"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.cas.caslib\",\"count\":17,\"start\":0,\"limit\":10,\"name\":\"caslibs\",\"items\":[{\"version\":3,\"name\":\"CASTestTmp\",\"type\":\"PATH\",\"description\":\"DDT created caslib\",\"scope\":\"global\",\"path\":\"/bigdisk/lax/castest/\",\"hidden\":false,\"transient\":false,\"attributes\":{\"active\":false,\"personal\":false,\"subDirs\":true},\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp\",\"type\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp\",\"type\":\"application/vnd.sas.cas.caslib\",\"responseType\":\"application/vnd.sas.cas.caslib\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp\"},{\"method\":\"GET\",\"rel\":\"tables\",\"href\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp/tables\",\"uri\":\"/casManagement/servers/cas-shared-default/caslibs/CASTestTmp/tables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd[...]
