{
  "http_interactions": [
    {
      "recorded_at": "2022-08-16T18:14:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiI4NGE5NjU2ZC02MzRkLTRlYzItYjA4ZS1iNDE5YzZiODE0NTkiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjA2ODgwODAsImlhdCI6MTY2MDY3MzY4MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJtbWRldkB1c2VyLmZyb20ubGRhcC5jZiIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJmNjgwY2Y1OGNlMGM0Y2Y3YmJiYjZmY2YwNDA1NDFlMyIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2NjA2NzI1NjU3NTEsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoibW1kZXYiLCJyZXZfc2lnIjoiNGE1N2NkZTMiLCJ1c2VyX2lkIjoiODRhOTY1NmQtNjM0ZC00ZWMyLWIwOGUtYjQxOWM2YjgxNDU5IiwiYXV0aF90aW1lIjoxNjYwNjczNjgwfQ.h3xfUpF435KgoUm3an5vODxxHGFBdL0niYTSW-N_CZYmE9C54tK15e4b0gJr131758cuVLRztCt6mq1HC_ctwHoD5B780a4JzYu8JgK2gWaXNTF_I0hBv-GFpyU-IFustyh0rAHmEBg_vkZi66xFa8pMHZ5pEFmDW1ICubU7OG_OhHSt4K2dKqLmwD0cKLNrroFC-Z59lkTAQm1XposM8Xpn2E4kqqq842NST3nKdEhCx3z3FtKkTnGl0glxvDcXTA9zw0KijO8JPze019FbMnOqW4Cl2OOCY3H0cnPTH5qoO8lTQhyvDZzkPJkq9bQKG07RVnx0JgKEPJU8G2wIIQ\",\"expires_in\":14399,\"scope\":\"unix_r&d openid\",\"jti\":\"f680cf58ce0c4cf7bbbb6fcf040541e3\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-08-16T18:14:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20Examples)"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"accept\":\"application/vnd.sas.models.project+json\",\"count\":2,\"start\":0,\"limit\":20,\"name\":\"projects\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T16:15:18.063821Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T16:15:18.811505Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"name\":\"Iris\",\"function\":\"classification\",\"targetLevel\":\"binary\",\"eventProbabilityVariable\":\"var1\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/eed0927a-f0d2-4902-9b2a-f8ec801c276a\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"challengerModels\":null,\"tags\":null,\"globalTags\":null,\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/projects/\",\"uri\":\"/modelRepository/projects/\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"uri\":\"/modelRepository/projects/fae79109-7ef0-4fed-971b-80f33ec9c9bd\",\"type\":\"application/vnd.sas[...]
    {
      "recorded_at": "2022-08-16T18:14:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/3aaa7d03-8cae-4eba-8099-d29fbc0bc40e"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\":\"2022-08-16T17:23:40.994415Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T17:23:41.434029Z\",\"modifiedBy\":\"USERNAME\",\"version\":0,\"id\":\"3aaa7d03-8cae-4eba-8099-d29fbc0bc40e\",\"name\":\"Examples\",\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"folderReferenceUri\":\"/folders/folders/8cfe8f2d-b8e8-4284-bc5e-4a48237b9b43\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"location\":\"/Model Repositories/Public\",\"files\":[{\"creationTimeStamp\":\"2022-08-16T17:23:41.922865Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T17:23:41.922866Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"9eda8be2-38a8-4e68-9aa5-d6819e7ec530\",\"name\":\"ProjectKPI.sas\",\"role\":\"standardKPI\",\"fileUri\":\"/files/files/10ac3ee7-b0d8-441f-9587-0649a1d76411\",\"projectId\":\"3aaa7d03-8cae-4eba-8099-d29fbc0bc40e\",\"links\":[{\"method\":\"GET\",\"rel\":\"UP\",\"href\":\"/modelRepository/projects/3aaa7d03-8cae-4eba-8099-d29fbc0bc40e\",\"uri\":\"/modelRepository/projects/3aaa7d03-8cae-4eba-8099-d29fbc0bc40e\",\"itemType\":\"application/vnd.sas.models.model.content\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/3aaa7d03-8cae-4eba-8099-d29fbc0bc40e/contents/9eda8be2-38a8-4e68-9aa5-d6819e7ec530\",\"uri\":\"/modelRepository/projects/3aaa7d03[...]
    {
      "recorded_at": "2022-08-16T18:14:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"version\":2,\"count\":1,\"start\":0,\"limit\":20,\"name\":\"repositories\",\"items\":[{\"creationTimeStamp\":\"2022-08-15T17:26:38.466236Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedTimeStamp\":\"2022-08-15T17:26:38.466237Z\",\"modifiedBy\":\"sas.modelRepository\",\"version\":0,\"id\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"defaultRepository\":true,\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"uri\":\"/modelRepository/repositories/a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"uri\":\"/folders/folders/20d9142a-158c-4c91-a500-0eb14668454a\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}]}],\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"}]}\n"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json; charset=utf-8"
          ],
          "Sas-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://hostname.com/modelRepository/repositories"
      }
    },
[...]
    {
      "recorded_at": "2022-08-16T18:14:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Custom Model\", \"description\": \"This model is for demonstration purposes only.\", \"scoreCodeType\": \"Python\", \"algorithm\": \"Other\", \"projectId\": \"3aaa7d03-8cae-4eba-8099-d29fbc0bc40e\", \"modeler\": \"USERNAME\", \"function\": null, \"tool\": null, \"champion\": null, \"properties\": [], \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"inputVariables\": [], \"outputVariables\": [], \"version\": 2}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"accept\":\"application/vnd.sas.models.model\",\"count\":1,\"start\":0,\"limit\":20,\"name\":\"models\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T18:14:42.704Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:14:42.704Z\",\"modifiedBy\":\"USERNAME\",\"id\":\"3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"name\":\"Custom Model\",\"description\":\"This model is for demonstration purposes only.\",\"role\":\"plain\",\"scoreCodeType\":\"Python\",\"algorithm\":\"Other\",\"modeler\":\"USERNAME\",\"version\":2,\"indirectFolderId\":\"20d9142a-158c-4c91-a500-0eb14668454a\",\"repositoryId\":\"a3ec17a2-8d76-4633-95c6-f7bcacc0fb17\",\"projectId\":\"3aaa7d03-8cae-4eba-8099-d29fbc0bc40e\",\"projectVersionId\":\"d1983ef3-f26b-4cf9-b9b1-25b4f03349f8\",\"immutable\":false,\"folderRef\":\"/folders/folders/483c3f90-fea0-4f51-9b1c-082799a043a8\",\"location\":\"/Model Repositories/Public/Examples/Version 1\",\"modelVersionName\":\"1.0\",\"projectName\":\"Examples\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"inputVariables\":[],\"outputVariables\":[],\"modelVersions\":[],\"modelLocks\":null,\"globalTags\":null,\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"uri\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"uri\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"type\":\"application/vnd.sas.models.model\",\"responseItemType\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"uri\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\"},{\"method\":\"GET\",\"rel\":\"scoreCode\",\"href\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979/code\",\"uri\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979/code\",\"type\":\"text/plain\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\[...]
    {
      "recorded_at": "2022-08-16T18:14:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--4661b66cc4870986775eba94156f0336\r\nContent-Disposition: form-data; name=\"files\"; filename=\"greetings.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nHello World!\r\n--4661b66cc4870986775eba94156f0336--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=4661b66cc4870986775eba94156f0336"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979/contents"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"accept\":\"application/vnd.sas.collection+json\",\"count\":1,\"start\":0,\"limit\":1,\"name\":\"addModelContents\",\"items\":[{\"creationTimeStamp\":\"2022-08-16T18:14:43.544864Z\",\"createdBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2022-08-16T18:14:43.544865Z\",\"modifiedBy\":\"USERNAME\",\"version\":2,\"id\":\"0d7a7667-4220-4f22-ac16-20f4d80e6f8f\",\"name\":\"greetings.txt\",\"fileUri\":\"/files/files/d9266ab7-c1c4-43ff-b96a-31c534c72f36\",\"modelId\":\"3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"links\":[{\"method\":\"GET\",\"rel\":\"UP\",\"href\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"uri\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979\",\"itemType\":\"application/vnd.sas.models.model.content\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/3097ec2b-b3aa-4285-8ee1-1003a485e979/contents/0d7a7667-4220-4f22-ac16-20f4d80e6f8f\",\"uri\":\"/modelRepository/models/3097ec2b-b3aa-42[...]
    {
      "recorded_at": "2022-08-16T18:14:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--3db31a7de86f76a3ca1a59aef226e0b1\r\nContent-Disposition: form-data; name=\"files\"; filename=\"C:\\\\Users\\\\sclind\\\\Documents\\\\Python Scripts\\\\GitHub\\\\sassoftware\\\\python-sasctl\\\\tests\\\\integration\\\\test_examples.py\"\r\nContent-Type: multipart/form-data\r\n\r\n#!/usr/bin/env python\n# encoding: utf-8\n#\n# Copyright \u00c2\u00a9 2019, SAS[...]
[...]
