{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T18:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNjYzNzAsImlhdCI6MTY2MzM1MTk3MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiYzA1ZWFiYmRlYTMwNDE0Yzg0NTFiODI2ZDJiYThkNzYiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzUxOTU0NDUxLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM1MTk2OSwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.mR-sJtZhyHeJaCZ3MMZv10nwcJVMh5gkOKv5VvFwTnEzCk5cTtE3QgbKn6_MjvkERCbMelm_85WocBgA4unA1OFLBBuMGMG95lsycd0WHUiOSEHdFNi5FOnmcfMfd3OAbMTe2Hj19oViQYqcWzMWNwJ6HIlYSErPNL6NMblSosc2qpXxMzqTT2kpDfTJaE_z7y00JtQ8n7TSb7MQ2uiSSTtfo9YVRKc_2CTWZEBNjz9PoWqg0eYcKSYoLvzKJGzotEZgKShsSl7I-NoaydHKeE1MY9o9y1UmvcPgEA6jt-z2A3-WITzj3j8RBjgeSQDL_NWEWVAwACKxQHLnmHIS1A\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"c05eabbdea30414c8451b826d2ba8d76\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T18:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Boston%20Housing%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2022-09-16T13:33:19.970Z\",\"modifiedTimeStamp\":\"2022-09-16T13:35:13.906Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/6b5adc17-5ae7-4f36-a27d-e1ad65551209\",\"uri\":\"/modelRepository/projects/6b5adc17-5ae7-4f36-a27d-e1ad65551209\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/6b5adc17-5ae7-4f36-a27d-e1ad65551209\",\"uri\":\"/modelRepository/projects/6b5adc17-5ae7-4f36-a27d-e1ad65551209\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/6b5adc17-5ae7-4f36-a27d-e1ad65551209\",\"uri\":\"/modelRepository/projects/6b5adc17-5ae7-4f36-a27d-e1ad65551209\"}],\"version\":2,\"id\":\"6b5adc17-5ae7-4f36-a27d-e1ad65551209\",\"name\":\"Boston Housing\",\"repositoryId\":\"13361dd9-e88e-4835-9890-562db461d03b\",\"folderId\":\"29334f41-a88c-4963-8652-e11a915376af\",\"function\":\"prediction\",\"candidateChampionHonored\":false,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"status\":\"prototype\",\"publishTimeStamp\":\"2022-09-16T13:35:13.851Z\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Boston%20Housing%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T18:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/6b5adc17-5ae7-4f36-a27d-e1ad65551209"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\"[...]
    {
      "recorded_at": "2022-09-16T18:12:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2022-09-16T10:43:50.309Z\",\"modifiedTimeStamp\":\"2022-09-16T10:44:42.977Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"type\":\"applica[...]
[...]
    {
      "recorded_at": "2022-09-16T18:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"GradientBoostingRegressor()\", \"algorithm\": \"Gradient boosting\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.7\", \"properties\": [{\"name\": \"alpha\", \"value\": \"0.9\"}, {\"name\": \"ccp_alpha\", \"value\": \"0.0\"}, {\"name\": \"criterion\", \"value\": \"friedman_mse\"}, {\"name\": \"init\", \"value\": \"None\"}, {\"name\": \"learning_rate\", \"value\": \"0.1\"}, {\"name\": \"loss\", \"value\": \"squared_error\"}, {\"name\": \"max_depth\", \"value\": \"3\"}, {\"name\": \"max_features\", \"value\": \"None\"}, {\"name\": \"max_leaf_nodes\", \"value\": \"None\"}, {\"name\": \"min_impurity_decrease\", \"value\": \"0.0\"}, {\"name\": \"min_samples_leaf\",[...]
    {
      "recorded_at": "2022-09-16T18:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--af82326747e01fd90bcba333bfc89b79\r\nContent-Disposition: form-data; name=\"files\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-stream\r\n\r\n\ufffd\u0003csklearn.ensemble._gb\nGradientBoostingRegressor\nq\u0000)\ufffdq\u0001}q\u0002(X\f\u0000\u0000\u0000n_estimatorsq\u0003KdX\r\u0000\u0000\u0000learning_rateq\u0004G?\ufffd\ufffd\ufffd\ufffd\u[...]
    {
      "recorded_at": "2022-09-16T18:12:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--c2f92a3d9fcb1be54e7146bb806a9f87\r\nContent-Disposition: form-data; name=\"files\"; filename=\"requirements.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nsasctl==1.7.2\nblack==22.8.0\nclick==8.1.3\nisort==4.3.21\nlightgbm==3.3.2\npylint==2.5.3\nplatformdirs==2.5.2\nastroid==2.4.2\nsix==1.15.0\nwrapt==1.12.1\ntyped-ast==1.5.4\nlazy-object-proxy==1.4.3\np[...]
    {
      "recorded_at": "2022-09-16T18:12:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--f95606bfeaa3c755418542a3b1ddf7fb\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_packagescorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _C36A4FA463DA4A3CB002C47DC832C9B / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl[...]
[...]
