{
  "http_interactions": [
    {
      "recorded_at": "2020-02-24T02:57:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"e6ff875796824e2cb64000595c73850c\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-02-24T02:57:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":13,\"items\":[{\"creationTimeStamp\":\"2019-08-12T20:50:16.103Z\",\"modifiedTimeStamp\":\"2019-08-14T16:39:55.712Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529\",\"uri\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529\",\"uri\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529/contents\",\"uri\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529/variables\",\"uri\":\"/modelRepository/models/13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"13a5ca02-de7b-4f1e-9c97-6b8f0fb4f529\",\"name\":\"Decision Tree\",\"projectId\":\"c3caf116-3208-4ac4-9cf3-777c7dd10504\",\"projectName\":\"Home Loan Default Demo\",\"projectVersionId\":\"0d05a279-73ba-4e52-bf87-6b49ff8c7de4\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"8f69aa5d-6686-4093-b1a7-96cf84a831df\",\"repositoryId\":\"4690ad52-6e52-4cb5-b4a7-a37e75fe42bc\",\"function\":\"classification\",\"algorithm\":\"tree\",\"tool\":\"Model Studio\",\"toolVersion\":\"8.4\",\"scoreCodeType\":\"dataStep\",\"modeler\":\"USERNAME\",\"externalModelId\":\"e14ad13c-ca6d-43b4-9c21-c3d5f479c95b\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"challenger\",\"immutable\":false,\"modelVersionName\":\"2.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-08-14T13:16:12.559Z\",\"modifiedTimeStamp\":\"2019-08-14T13:16:12.559Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/acd41555-e5f5-464b-9970-17b73d27621a\",\"uri\":\"/modelRepository/models/acd41555-e5f5-464b-9970-17b73d27621a\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/acd41555-e5f5-464b-[...]
    {
      "recorded_at": "2020-02-24T02:57:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20AStore%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\[...]
    {
      "recorded_at": "2020-02-24T02:57:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
[...]
    {
      "recorded_at": "2020-02-24T02:57:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":21206,\"message\":\"The model ID \\\"5c956ddc-48ec-41fe-820c-9eb6eab03204\\\" is invalid. Enter a valid value for the model \\\"id\\\" parameter\\\".\",\"details\":[\"correlator: 1238121a-5317-4229-a5e6-a59967d6aba0\",\"traceId: 21c5ae947330873e\",\"path: /modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204\"],\"links\":[],\"version\":2,\"httpStatusCode\":404}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 404,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/models/5c956ddc-48ec-41fe-820c-9eb6eab03204"
      }
    },
[...]
