{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T17:49:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNjQ5NjEsImlhdCI6MTY2MzM1MDU2MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiOWQ1MjM4OTRjMWZjNGNhNDk2Mzk4ZTY2OTU1MDlkNTciLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzUwNTYxMTkwLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzM1MDU2MSwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.XK76stj31cQJTdjO9LT65-dp1bHBSc2tcrD_DiRlZmhYlcCPaYUUHxbNPfr4Nm6YSYe42DXp5RR2YUijCK3lBY64ciP90QoA-3S78c7wDH_rRXYs8d7igKpOhU6gZEH7tEPj4Q7lw6O_YUx2NOcWGbL-MFWCFNdEm4lPqG2kyihbZ7zm7hn4eSUX3gclknvGGePjvjIFqMMu2tQaEckAVi-QFKSo7r6NZRtsPiFNXYyBaLch3cMX1c_SVT4Ym9_bKr_r3i4N3kX3g_C1DhBaamCF5Cw_inn3sbFaos4K-siIcP8HbrNCJ22xsybFSeAtNm9elfLBvaZYG9gptZdECQ\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"9d523894c1fc4ca496398e6695509d57\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22sasctl_testing%20Boston%20Housing%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22sasctl_testing%20Boston%20Housing%22)"
      }
    },
    {
      "recorded_at": "2022-09-16T17:49:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":3,\"items\":[{\"creationTimeStamp\":\"2022-09-16T10:43:50.309Z\",\"modifiedTimeStamp\":\"2022-09-16T10:44:42.977Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"uri\":\"/modelRepository/repositories/3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/d52c4d89-2eac-47cd-b4e3-c79965d526fb\",\"uri\":\"/folders/folders/d52c4d89-2eac-47cd-b4e3-c79965d526fb\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"3f4a541a-2d2b-411e-95e1-3b079b5eef21\",\"name\":\"DMRepository\",\"description\":\"\",\"folderId\":\"d52c4d89-2eac-47cd-b4e3-c79965d526fb\",\"defaultRepository\":false},{\"creationTimeStamp\":\"2022-09-16T10:44:00.741Z\",\"modifiedTimeStamp\":\"2022-09-16T10:45:16.407Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/13361dd9-e88e-4835-9890-562db461d03b\",\"uri\":\"/modelRepository/repositories/13361dd9-e88e-4835-9890-562db461d03b\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/[...]
    {
      "recorded_at": "2022-09-16T17:49:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Boston Housing\", \"repositoryId\": \"13361dd9-e88e-4835-9890-562db461d03b\", \"folderId\": \"29334f41-a88c-4963-8652-e11a915376af\", \"variables\": [{\"name\": \"CRIM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"ZN\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"INDUS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"CHAS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"NOX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RM\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"AGE\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"DIS\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"RAD\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"TAX\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"PTRATIO\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"B\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"LSTAT\", \"role\": \"input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"decimal\"}], \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"predictionVariable\": \"var1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16T17:49:22.280Z\",\"modifiedTimeStamp\":\"2022-09-16T17:49[...]
    {
      "recorded_at": "2022-09-16T17:49:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression()\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.7\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"deprecated\"}, {\"name\": \"positive\", \"value\": \"False\"}, {\"name\": \"env_sasctl\", \"value\": \"1.7.2\"}, {\"name\": \"env_black\", \"value\": \"22.8.0\"}, {\"name\": \"env_click\", \"value\": \"8.1.3\"}, {\"name\": \"env_isort\", \"value\": \"4.3.21\"}, {\"name\": \"env_lightgbm\", \"value\": \"3.3.2\"}, {\"name\": \"env_pylint\", \"value\": [...]
    {
      "recorded_at": "2022-09-16T17:49:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--02e429d101243210c0ee44111aa2a984\r\nContent-Disposition: form-data; name=\"files\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-stream\r\n\r\n\ufffd\u0003csklearn.linear_model._base\nLinearRegression\nq\u0000)\ufffdq\u0001}q\u0002(X\r\u0000\u0000\u0000fit_interceptq\u0003\ufffdX\t\u0000\u0000\u0000normalizeq\u0004X\n\u0000\u0000\u0000deprecate[...]
    {
      "recorded_at": "2022-09-16T17:49:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--c54478f0ecc8af6752e816cd14807279\r\nContent-Disposition: form-data; name=\"files\"; filename=\"requirements.txt\"\r\nContent-Type: multipart/form-data\r\n\r\nsasctl==1.7.2\nblack==22.8.0\nclick==8.1.3\nisort==4.3.21\nlightgbm==3.3.2\npylint==2.5.3\nplatformdirs==2.5.2\nastroid==2.4.2\nsix==1.15.0\nwrapt==1.12.1\ntyped-ast==1.5.4\nlazy-object-proxy==1.4.3\np[...]
    {
      "recorded_at": "2022-09-16T17:49:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--e494bbb6c8a7e07103b6575b9920d058\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_packagescorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _293AB630004247B9BF0E90F477CBA28 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl[...]
    {
      "recorded_at": "2022-09-16T17:49:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--a39bf07b84f86660d182bf017ff23230\r\nContent-Disposition: form-data; name=\"files\"; filename=\"dmcas_epscorecode.sas\"\r\nContent-Type: multipart/form-data\r\n\r\npackage _293AB630004247B9BF0E90F477CBA28 / overwrite=yes;\n    dcl package pymas py;\n    dcl package logger logr('App.tk.MAS');\n    dcl varchar(67108864) character set utf8 pycode;\n    dcl int [...]
[...]
