{
  "http_interactions": [
    {
      "recorded_at": "2019-08-14T18:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"9654823990704940a50293d821d0ce63\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-08-14T18:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Test%20Project%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2019-08-14T17:29:34.924Z\",\"modifiedTimeStamp\":\"2019-08-14T17:29:35.089Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects/fe94b25b-4d10-401e-a612-8fdd1c87e4dc\",\"uri\":\"/modelRepository/projects/fe94b25b-4d10-401e-a612-8fdd1c87e4dc\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/projects/fe94b25b-4d10-401e-a612-8fdd1c87e4dc\",\"uri\":\"/modelRepository/projects/fe94b25b-4d10-401e-a612-8fdd1c87e4dc\",\"type\":\"application/vnd.sas.models.project\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/projects/fe94b25b-4d10-401e-a612-8fdd1c87e4dc\",\"uri\":\"/modelRepository/projects/fe94b25b-4d10-401e-a612-8fdd1c87e4dc\"}],\"version\":2,\"id\":\"fe94b25b-4d10-401e-a612-8fdd1c87e4dc\",\"name\":\"TEST Boston Housing\",\"repositoryId\":\"5eed7522-d60b-4018-a3eb-3bf31f4c4679\",\"folderId\":\"1c0f9216-001e-43d4-9f49-3e9aef6af36f\",\"candidateChampionHonored\":false,\"challengerModels\":[],\"latestVersion\":\"Version 1\",\"tags\":[],\"globalTags\":[]}],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?filter=eq(name,%20%22Test%20Project%22)"
      }
    },
    {
      "recorded_at": "2019-08-14T18:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Repository%201%22)"
      }
    },
    {
      "recorded_at": "2019-08-14T18:12:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?filter=eq(name,%20%22Public%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"metho[...]
    {
      "recorded_at": "2019-08-14T18:12:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/5eed7522-d60b-4018-a3eb-3bf31f4c4679"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2019-08-14T18:12:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Test Project\", \"repositoryId\": \"5eed7522-d60b-4018-a3eb-3bf31f4c4679\", \"folderId\": \"1c0f9216-001e-43d4-9f49-3e9aef6af36f\", \"variables\": [{\"name\": \"SepalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"targetLevel\": null}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-08-14T18:12:54.449Z\",\"modifiedTimeStamp\":\"2019-08-14T18:12:[...]
    {
      "recorded_at": "2019-08-14T18:12:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,\\n                   intercept_scaling=1, l1_ratio=None, max_iter=100,\\n                   multi_class='multinomial', n_jobs=None, penalty='l2',\\n                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,\\n                   warm_start=False)\", \"algorithm\": \"Logistic regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"function\": \"Classification\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"C\", \"value\": \"1.0\"}, {\"name\": \"class_weight\", \"value\": \"None\"}, {\"name\": \"dual\", \"value\": \"False\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"intercept_scaling\", \"value\": \"1\"}, {\"name\": \"l1_ratio\", \"value\": \"None\"}, {\"name\": \"max_iter\", \"value\": \"100\"}, {\"name\": \"multi_class\", \"value\": \"multinomial\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"penalty\", \"value\": \"l2\"}, {\"name\": \"random_state\", \"value\": \"None\"}, {\"name\": \"solver\", \"value\": \"lbfgs\"}, {\"name\": \"tol\", \"value\": \"0.0001\"}, {\"name\": \"verbose\", \"value\": \"0\"}, {\"name\": \"warm_start\", \"value\": \"False\"}], \"name\": \"Scikit Model\", \"inputVariables\": [{\"name\": \"SepalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"SepalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalLength\", \"role\": \"Input\", \"type\": \"decimal\"}, {\"name\": \"PetalWidth\", \"role\": \"Input\", \"type\": \"decimal\"}], \"outputVariables\": [{\"name\": \"var1\", \"role\": \"Output\", \"type\": \"string\"}], \"projectId\": \"f12d02a2-b6e9-431b-8db6-4fcad9693ab2\", \"modeler\": \"USERNAME\", \"champion\": null, \"role\": \"Challenger\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\[...]
    {
      "recorded_at": "2019-08-14T18:12:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--9267ade98e462186e675c19cccfd7f08\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--9267ade98e462186e675c19cccfd7f08\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--9267ade98e462186e675c19cccfd7f08\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\n\r\n\ufffd\u0003csklearn.linear_m[...]
[...]
