{
  "http_interactions": [
    {
      "recorded_at": "2020-02-06T23:42:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1ODEwNjg1NjcsImlhdCI6MTU4MTAzMjU2NywiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIwZmNhNmJkZDljOGM0MGU1YTk1NmE2ZTZlYmQyMDJkZiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1ODEwMjgwMTE0NjAsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE1ODEwMzI1Njd9.IlO61GY4oKCR5fLo2GwqbrubYSZVQQilpQQCeEVnU3MZG6RFWAI6hbLsBZcVpjuDR8rHTloTU2kcFenX9LDoJVWerVrhmACY_B1Q4GHW34p9BQc2wdRK7h0ppm6OFjv8nFKScvq5jh-hAb0FkwUAb1Cyn83it9ujcMFSR7mKIqcnK-hNo8Jkh7o12oP0mn7ZEfYhKV8T193-2bfMvyb4eluxNbNHv3OPhfl4wsS3uszDOdCqOb3uVtX057JPmjJdEOUVbnRWI86u3Jyat3MBqbRZ8JNOXUJ7c5LqhMx-aQ2aLeflAB0UNAeN0uFwIj8Lep56FsFcPUA8C7Z7_VHE_g\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"0fca6bdd9c8c40e5a956a6e6ebd202df\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-02-06T23:42:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Pipeline%20Project)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_testing%20Pipeline%20Project)"
      }
    },
    {
      "recorded_at": "2020-02-06T23:42:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Repository%201)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"uri\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-11-19T02:06:38.585Z\",\"modifiedTimeStamp\":\"2019-11-19T02:06:38.808Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"uri\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelReposi[...]
    {
      "recorded_at": "2020-02-06T23:42:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories?properties=(name,%20Public)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":[...]
    {
      "recorded_at": "2020-02-06T23:42:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTime[...]
    {
      "recorded_at": "2020-02-06T23:42:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Pipeline Project\", \"repositoryId\": \"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\", \"folderId\": \"9e8bb64e-f359-4c37-ab42-167ebabd564c\", \"variables\": [{\"name\": \"PTRATIO\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"AGE\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"INDUS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"B\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"DIS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"CHAS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"LSTAT\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"RAD\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"NOX\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"CRIM\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"TAX\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"RM\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"ZN\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"P_Price\", \"length\": 8, \"type\": \"decimal\", \"role\": \"output\"}], \"function\": \"prediction\", \"targetLevel\": \"\", \"predictionVariable\": \"P_Price\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-02-06T23:42:48.713Z\",\"modifiedTimeStamp\":\"2020-02-06[...]
    {
      "recorded_at": "2020-02-06T23:42:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2020-02-06T23:42:48.713Z\", \"modifiedTimeStamp\": \"2020-02-06T23:42:48.879Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2020-02-06T23:42:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000X\ufffdFP%\ufffdu\ufffd\ufffd\u0002\u0000\u0000\ufffd\u0002\u0000\u0000\u0015\u0000\u0000\u0000dmcas_epscorecode.sasdata sasep.out;\n  dcl package score sc();\n  dcl double \"PTRATIO\";\n  dcl double \"AGE\";\n  dcl double \"INDUS\";\n  dcl double \"B\";\n  dcl double \"DIS\";\n  dcl double \"CHAS\";\n  dcl do[...]
