{
  "http_interactions": [
    {
      "recorded_at": "2020-01-23T20:16:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"99f84e01d6eb47debe7b103a0f5688f0\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22sasctl_test_cas%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations?start=0&limit=100\",\"uri\":\"/modelPublish/destinations?start=0&limit=100\",\"type\":\"application/vnd.sas.collection+json\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish\",\"uri\":\"/modelPublish\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"destinations\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"responseType\":\"application/vnd.sas.collection+json\"},{\"method\":\"POST\",\"rel\":\"createDestination\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination\",\"responseType\":\"application/vnd.sas.models.publishing.destination+json\"},{\"method\":\"POST\",\"rel\":\"destinationCAS\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.cas\",\"responseType\":\"application/vnd.sas.models.publishing.destination.cas+json\"},{\"method\":\"POST\",\"rel\":\"destinationTeradata\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.teradata\",\"responseType\":\"application/vnd.sas.models.publishing.destination.teradata+json\"},{\"method\":\"POST\",\"rel\":\"destinationHadoop\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.models.publishing.destination.hadoop\",\"responseType\":\"application/vnd.sas.models.publishing.destination.hadoop+json\"}],\"name\":\"items\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-23T20:16:43.067Z\",\"modifiedTimeStamp\":\"2020-01-23T20:16:43.067Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"98159e21-5225-4d7c-a5ef-3bd41a767ed5\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/sasctl_test_cas\",\"uri\":\"/modelPublish/destinations/sasctl_test_cas\"}],\"version\":1,\"name\":\"sasctl_test_cas\",\"destinationType\":\"cas\",\"destinationTable\":\"sasctl_test_model_table\",\"casServerName\":\"cas-shared-default\",\"casLibrary\":\"Public\"}],\"limit\":100,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22sasctl_test_cas%22)"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/sasctl_test_cas"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-23T20:[...]
    {
      "recorded_at": "2020-01-23T20:16:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models?properties=(name,%20sasctl_testing%20Pipeline%20ASTORE%20Model)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"}],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creationTimeStamp\":\"2020-01-23T20:16:41.674Z\",\"modifiedTimeStamp\":\"2020-01-23T20:16:41.674Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\[...]
    {
      "recorded_at": "2020-01-23T20:16:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models/165a8b94-5326-4bba-a8b5-ca7534d9592f"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\[...]
    {
      "recorded_at": "2020-01-23T20:16:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_testing Pipeline ASTORE Model\", \"notes\": \"None\", \"modelContents\": [{\"modelName\": \"sasctl_testingPipelineASTOREModel\", \"sourceUri\": \"/modelRepository/models/165a8b94-5326-4bba-a8b5-ca7534d9592f\", \"publishLevel\": \"model\"}], \"destinationName\": \"sasctl_test_cas\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-23T20:16:44.279Z\",\"modifiedTimeStamp\":\"2020-01-23T20:16:44.279Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"eb087d87-7c42-4178-8c5d-476834bb3a48\",\"publishName\":\"sasctl_testingPipelineASTOREModel\",\"publishType\":\"casModel\",\"verified\":false,\"destinationName\":\"sasctl_test_cas\",\"destination\":{\"creationTimeStamp\":\"2020-01-23T20:16:44.279Z\",\"modifiedTimeStamp\":\"2020-01-23T20:16:44.279Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"678b4044-cf14-4c81-a380-0a54561937e9\",\"links\":[],\"version\":1,\"name\":\"sasctl_test_cas\",\"destinationType\":\"cas\",\"destinationTable\":\"sasctl_test_model_table\",\"casServerName\":\"cas-shared-default\",\"casLibrary\":\"Public\"},\"principalId\":\"165a8b94-5326-4bba-a8b5-ca7534d9592f\",\"codeType\":\"astore\",\"analyticStoreUri\":[\"/dataTables/dataSources/cas~fs~cas-shared-default~fs~ModelStore/tables/_8F8539B02B6743F8AE09D2638\"],\"sourceUri\":\"/modelRepository/models/165a8b94-5326-4bba-a8b5-ca7534d9592f\",\"modelId\":\"165a8b94-5326-4bba-a8b5-ca7534d9592f\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/eb087d87-7c42-4178-8c5d-476834bb3a48\",\"uri\":\"/modelPublish/models/eb087d87-7c42-4178-8c5d-476834bb3a48\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/eb087d87-7c42-4178-8c5d-476834bb3a48/log\",\"uri\":\"/modelPublish/models/eb087d87-7c42-4178-8c5d-476834bb3a48/log\",\"type\":\"application/json\"}],\"name\":\"sasctl_testingPipelineASTOREModel\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k5r6fzsn\""
          ],
          "Last-Modified": [
            "Thu, 23 Jan 2020 20:16:44 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=False&reloadModelTable=True"
      }
    },
    {
      "recorded_at": "2020-01-23T20:16:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/eb087d87-7c42-4178-8c5d-476834bb3a48"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
