{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T13:46:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"e673c3ce3d484bb29078308051f1f93a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T13:46:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/dataSources/apiMeta"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"build\":{\"timeStamp\":\"2018-06-05T01:12:54Z\",\"buildVersion\":\"3.4.60\",\"sourceTimeStamp\":\"2018-06-04T08:54:15Z\",\"sourceId\":\"b52d3502ffc5a1dc8ab2cb52b8cbdf0308dfc21f\"},\"apiVersion\":3,\"serviceId\":\"dataSources\",\"developmentStartYear\":2015,\"developmentEndYear\":2018}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/dataSources/apiMeta"
      }
    },
[...]
    {
      "recorded_at": "2019-09-06T14:23:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/dataSources/apiMeta"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"build\":{\"timeStamp\":\"2018-06-05T01:12:54Z\",\"buildVersion\":\"3.4.60\",\"sourceTimeStamp\":\"2018-06-04T08:54:15Z\",\"sourceId\":\"b52d3502ffc5a1dc8ab2cb52b8cbdf0308dfc21f\"},\"apiVersion\":3,\"serviceId\":\"dataSources\",\"developmentStartYear\":2015,\"developmentEndYear\":2018}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/dataSources/apiMeta"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}