{
  "http_interactions": [
    {
      "recorded_at": "2019-09-06T18:04:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"c1da19c909a84f3a8358234cbe8a2c3d\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2019-09-06T18:04:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--6162636465666768696a6b6c6d6e6f70\r\nContent-Disposition: form-data; name=\"dummy_file\"; filename=\"dummy_file\"\r\n\r\nSome test file content.\r\n--6162636465666768696a6b6c6d6e6f70--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=6162636465666768696a6b6c6d6e6f70"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/files/files#multipartUpload"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-09-06T18:04:19.112Z\",\"modifiedTimeStamp\":\"2019-09-06T18:04:19.112Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"acfa0339-c94a-40db-8bea-b168b22cb174\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174/content\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174/content\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174/copy\",\"uri\":\"/files/files/acfa0339-c94a-40db-8bea-b168b22cb174/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"dummy_file\",\"size\":23,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.file+json; version=1;charset=UTF-8"
          ],
          "ETag": [
            "\"k08fialk\""
          ],
          "Last-Modified": [
            "Fri, 06 Sep 2019 18:04:19 GMT"
          ],
          "Location": [
            "/files/files/acfa0339-c94a-40db-8bea-b168b22cb174"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/files/files#multipartUpload"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}