{
  "http_interactions": [
    {
      "recorded_at": "2020-10-28T17:20:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2MDM5NDE2MjUsImlhdCI6MTYwMzkwNTYyNSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiI0MTUxOGRjMjNlNzc0YTVhOTQ4ODkxNjI4MzRkZTlmOSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE2MDM5MDU2MTc1MzgsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsInVzZXJfaWQiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdXRoX3RpbWUiOjE2MDM5MDU2MjV9.hje159nEx1e7vQ2kXKftG9e8Oz5JO2Ap2nPgHVI3U4BR5T0_A3vm1ZlaEaFK5ezQnLeeeU6ISkcXBGx6jT8rSosux53oGCuVQa-qXR5BPMJ2KH4U_GooJ6Li-fZrOnQV0wFwB9TNGAV8NHE-_SN-xaOZUUqtkeRMT4kCThpodkELB42ydU8JUzS_ghd-dM3dX6z78YxxrRVxjsHLrC_ia1JDyXA3ZSc8XCJLm-sKyX-VV1NNA0yEcfO21zI8-H3PQokqq-asoXuB7rqWy4FX3NnubUjoXk5nth5aLwft35s735DzYppHe2FxPchdu1LI5_iCTk9DD0bK9DWE11ALIA\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators SASScoreUsers clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators clients.write scim.write CASHostAccountRequired\",\"jti\":\"41518dc23e774a5a94889162834de9f9\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-10-28T17:20:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_test_Boston_Housing)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/projects?start=0&limit=20\",\"uri\":\"/modelRepository/projects?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.project.summary\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/modelRepository/projects\",\"uri\":\"/modelRepository/projects\",\"type\":\"application/vnd.sas.models.project\"}],\"name\":\"projects\",\"start\":0,\"count\":0,\"items\":[],\"limit\":20,\"version\":2}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.collection+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects?properties=(name,%20sasctl_test_Boston_Housing)"
      }
    },
[...]
    {
      "recorded_at": "2020-10-28T17:21:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/repositories"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelRepository\",\"uri\":\"/modelRepository\",\"type\":\"application/vnd.sas.api\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories?start=0&limit=20\",\"uri\":\"/modelRepository/repositories?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.repository.summary\"},{\"method\":\"POST\",\"rel\":\"createRepository\",\"href\":\"/modelRepository/repositories\",\"uri\":\"/modelRepository/repositories\",\"type\":\"application/vnd.sas.models.repository\",\"responseType\":\"application/vnd.sas.models.repository\"}],\"name\":\"repositories\",\"start\":0,\"count\":4,\"items\":[{\"creationTimeStamp\":\"2019-11-19T01:57:47.399Z\",\"modifiedTimeStamp\":\"2019-11-19T01:57:47.785Z\",\"createdBy\":\"sas.modelRepository\",\"modifiedBy\":\"sas.modelRepository\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"uri\":\"/modelRepository/repositories/35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"GET\",\"rel\":\"folder\",\"href\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"uri\":\"/folders/folders/9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"type\":\"application/vnd.sas.content.folder\"},{\"method\":\"POST\",\"rel\":\"createModelProject\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.project.request\",\"responseType\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"}],\"version\":2,\"id\":\"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\",\"name\":\"Public\",\"description\":\"This is the default model repository.\",\"folderId\":\"9e8bb64e-f359-4c37-ab42-167ebabd564c\",\"defaultRepository\":true},{\"creationTimeStamp\":\"2019-11-19T02:06:38.585Z\",\"modifiedTimeStamp\":\"2019-11-19T02:06:38.808Z\",\"createdBy\":\"sas.dataMining\",\"modifiedBy\":\"sas.dataMining\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"uri\":\"/modelRepository/repositories/09948ca7-c4da-4b8a-8032-896929a33bb1\",\"type\":\"application/vnd.sas.models.repository\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelReposi[...]
    {
      "recorded_at": "2020-10-28T17:21:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_test_Boston_Housing\", \"repositoryId\": \"35f711e8-48aa-4f7f-9f24-7e70d7bc5681\", \"folderId\": \"9e8bb64e-f359-4c37-ab42-167ebabd564c\", \"variables\": [{\"name\": \"AGE\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"B\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"CHAS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"CRIM\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"DIS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"INDUS\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"LSTAT\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"NOX\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"PTRATIO\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"RAD\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"RM\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"TAX\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"ZN\", \"length\": 8, \"type\": \"decimal\", \"role\": \"input\"}, {\"name\": \"P_Price\", \"length\": 8, \"type\": \"decimal\", \"role\": \"output\"}], \"function\": \"prediction\", \"targetLevel\": \"\", \"predictionVariable\": \"P_Price\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.project+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/projects"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-10-28T17:21:07.870Z\",\"modifiedTimeStamp\":\"2020-10-28[...]
    {
      "recorded_at": "2020-10-28T17:21:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"creationTimeStamp\": \"2020-10-28T17:21:07.870Z\", \"modifiedTimeStamp\": \"2020-10-28T17:21:08.325Z\", \"createdBy\": \"USERNAME\", \"modifiedBy\": \"USERNAME\", \"links\": [{\"method\": \"GET\", \"rel\": \"up\", \"href\": \"/modelRepository/projects\", \"uri\": \"/modelRepository/projects\", \"type\": \"application/vnd.sas.collection\", \"itemType\": \"a[...]
    {
      "recorded_at": "2020-10-28T17:21:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\u0000\u0000\ufffdj\\Q\ufffd\ufffd\t\ufffd\ufffd\u0002\u0000\u0000\ufffd\u0002\u0000\u0000\u0015\u0000\u0000\u0000dmcas_epscorecode.sasdata sasep.out;\n  dcl package score sc();\n  dcl double \"AGE\";\n  dcl double \"B\";\n  dcl double \"CHAS\";\n  dcl double \"CRIM\";\n  dcl double \"DIS\";\n  dcl double \"INDUS\";\n  dc[...]
[...]
    {
      "recorded_at": "2020-10-28T17:21:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,\\n         normalize=False)\", \"algorithm\": \"Linear regression\", \"scoreCodeType\": \"ds2MultiType\", \"trainCodeType\": \"Python\", \"targetLevel\": \"Interval\", \"function\": \"prediction\", \"tool\": \"Python 3.6\", \"properties\": [{\"name\": \"copy_X\", \"value\": \"True\"}, {\"name\": \"fit_intercept\", \"value\": \"True\"}, {\"name\": \"n_jobs\", \"value\": \"None\"}, {\"name\": \"normalize\", \"value\": \"False\"}, {\"name\": \"env_alabaster\", \"value\": \"0.7.12\"}, {\"name\": \"env_atomicwrites\", \"value\": \"1.3.0\"}, {\"name\": \"env_attrs\", \"value\": \"19.2.0\"}, {\"name\": \"env_Babel\", \"value\": \"2.8.0\"}, {\"name\": \"env_betamax\", \"value\": \"0.8.1\"}, {\"name\": \"env_betamax-serializers\", \"value\": \"0.2.1\"}, {\"name\": \"env_ca[...]
    {
      "recorded_at": "2020-10-28T17:21:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--a2841945a7194b5f2dea4806fa0321f4\r\nContent-Disposition: form-data; name=\"role\"\r\n\r\nPython Pickle\r\n--a2841945a7194b5f2dea4806fa0321f4\r\nContent-Disposition: form-data; name=\"name\"\r\n\r\nmodel.pkl\r\n--a2841945a7194b5f2dea4806fa0321f4\r\nContent-Disposition: form-data; name=\"model.pkl\"; filename=\"model.pkl\"\r\nContent-Type: application/octet-s[...]
[...]
    {
      "recorded_at": "2020-10-28T17:21:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations?filter=eq(name,%20%22maslocal%22)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-10-28T17:21:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/destinations/maslocal"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2019-11-19T02:10:59.2[...]
    {
      "recorded_at": "2020-10-28T17:21:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_test_SAS_Boston_regression\", \"notes\": \"None\", \"modelContents\": [{\"modelName\": \"sasctl_test_SAS_Boston_regression\", \"sourceUri\": \"/modelRepository/models/f1a389c9-e095-4457-b6e8-b6834b5c9d39\", \"publishLevel\": \"model\"}], \"destinationName\": \"maslocal\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.request.asynchronous+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelManagement/publish?force=True&reloadModelTable=False"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-10-28T17:21:28.623Z\",\"modifiedTimeStamp\":\"2020-10-28T17:21:28.736Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"version\":1,\"id\":\"5f6c53fd-ef47-48f6-83d7-cfd8d156d10f\",\"publishName\":\"sasctl_test_SAS_Boston_regression\",\"publishType\":\"mas\",\"verified\":false,\"destinationName\":\"maslocal\",\"destination\":{\"creationTimeStamp\":\"2020-10-28T17:21:28.624Z\",\"modifiedTimeStamp\":\"2020-10-28T17:21:28.624Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"acb16737-fa7b-4c43-8ab3-0a250d3e5d81\",\"links\":[],\"version\":1,\"name\":\"maslocal\",\"description\":\"The default publishing destination for the Micro Analytic Score service.\",\"destinationType\":\"microAnalyticService\"},\"principalId\":\"f1a389c9-e095-4457-b6e8-b6834b5c9d39\",\"codeType\":\"ds2\",\"analyticStoreUri\":[],\"sourceUri\":\"/modelRepository/models/f1a389c9-e095-4457-b6e8-b6834b5c9d39\",\"modelId\":\"f1a389c9-e095-4457-b6e8-b6834b5c9d39\",\"modelVersionId\":\"1.0\",\"publishLevel\":\"model\",\"state\":\"running\",\"properties\":{},\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f\",\"uri\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models\",\"uri\":\"/modelPublish/models\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f\",\"uri\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"publishingLog\",\"href\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f/log\",\"uri\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f/log\",\"type\":\"application/json\"}],\"name\":\"sasctl_test_SAS_Boston_regression\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.publish+json;charset=UTF-8"
          ],
          "ETag": [
            "\"kgto19y8\""
          ],
          "Last-Modified": [
            "Wed, 28 Oct 2020 17:21:28 GMT"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelManagement/publish?force=True&reloadModelTable=False"
      }
    },
    {
      "recorded_at": "2020-10-28T17:21:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\[...]
[...]
    {
      "recorded_at": "2020-10-28T17:21:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f/log"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-10-28T17:21:28.855Z\",\"modifiedTimeStamp\":\"2020-10-28T17:21:37.294Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f\",\"uri\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f\",\"type\":\"application/vnd.sas.models.publishing.publish\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f/log\",\"uri\":\"/modelPublish/models/5f6c53fd-ef47-48f6-83d7-cfd8d156d10f/log\",\"type\":\"application/json\"}],\"version\":1,\"id\":\"00487658-7e62-4c73-a275-fd016c4f1c4f\",\"publishName\":\"sasctl_test_SAS_Boston_regression\",\"destinationName\":\"maslocal\",\"modelId\":\"f1a389c9-e095-4457-b6e8-b6834b5c9d39\",\"modelName\":\"sasctl_test_SAS_Boston_regression\",\"log\":\"SUCCESS==={\\\"links\\\":[{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"up\\\",\\\"href\\\":\\\"/microanalyticScore/jobs\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs\\\",\\\"type\\\":\\\"application/vnd.sas.collection\\\",\\\"itemType\\\":\\\"application/vnd.sas.microanalytic.job\\\"},{\\\"method\\\":\\\"GET\\\",\\\"rel\\\":\\\"self\\\",\\\"href\\\":\\\"/microanalyticScore/jobs/470804df-1fa2-465f-afe8-1c817d0e1b34\\\",\\\"uri\\\":\\\"/microanalyticScore/jobs/470804df-1fa2-465f-afe8-1c817d0e1b34\[...]
    {
      "recorded_at": "2020-10-28T17:21:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-10-28T17:21:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\[...]
[...]
    {
      "recorded_at": "2020-10-28T17:21:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_scikit_boston_regres"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method[...]
    {
      "recorded_at": "2020-10-28T17:21:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_scikit_boston_regres/steps/predict"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"link[...]
    {
      "recorded_at": "2020-10-28T17:21:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"inputs\": [{\"name\": \"age\", \"value\": 65.2}, {\"name\": \"b\", \"value\": 396.9}, {\"name\": \"chas\", \"value\": 0.0}, {\"name\": \"crim\", \"value\": 0.00632}, {\"name\": \"dis\", \"value\": 4.09}, {\"name\": \"indus\", \"value\": 2.31}, {\"name\": \"lstat\", \"value\": 4.98}, {\"name\": \"nox\", \"value\": 0.538}, {\"name\": \"ptratio\", \"value\": 15.3}, {\"name\": \"rad\", \"value\": 1.0}, {\"name\": \"rm\", \"value\": 6.575}, {\"name\": \"tax\", \"value\": 296.0}, {\"name\": \"zn\", \"value\": 18.0}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio/steps/score"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"version\":2,\"moduleId\":\"sasctl_test_sas_boston_regressio\",\"stepId\":\"score\",\"executionState\":\"completed\",\"outputs\":[{\"name\":\"P_Price\",\"value\":30.003843377016644}]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module.step.output+json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_test_sas_boston_regressio/steps/score"
      }
    },
[...]
    {
      "recorded_at": "2020-10-28T17:22:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "DELETE",
        "uri": "https://hostname.com/modelRepository/projects/833f1d9f-4ed7-4b22-b9e5-b06b02a07782"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
        },
        "status": {
          "code": 204,
          "message": ""
        },
        "url": "https://hostname.com/modelRepository/projects/833f1d9f-4ed7-4b22-b9e5-b06b02a07782"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}