{
  "http_interactions": [
    {
      "recorded_at": "2020-01-22T00:18:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk2ODgyODUsImlhdCI6MTU3OTY1MjI4NSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiIwZGRiNDQyNDdmOTQ0MDE1OGZjNmFiMWRjZmFiM2E5OCIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk2NTIyNjA1MTIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTY1MjI4NSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.ikLFaRvp1vErDKMM6fv0y2OqZfz_vAoy7d9rb-Rn5owxFRf0al9ygPP8Cmnq12JgKzVTdR6NjqtmIiAwp_juXhBjEBOPEP9JDVpU_X4ibvtrUxwh6updbDwJzXFNVAnatJFqrjs4u0eWeMdEKc3B_CfuxUwb6XNgjiMATiu7aXcMO84G69Ivx5ZRPUXeDPeIFNinbfMntYTp8SNDcQG6zN09Hfo31iJ53anR66aZ4C-bjsz7X_Yr6Jk4ar_i-mUl3zdyg0GRwe2N9ywMprN1-JmtxmtqpAc7fLGk_ouoLJU6IoicWs_YH4ldE_MX0bc_gBPlzoxkvTlqk-5WexfN0A\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"0ddb44247f9440158fc6ab1dcfab3a98\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-22T00:18:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testmodule"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/microanalyticScore/modules\",\"uri\":\"/microanalyticScore/modules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule\",\"type\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"GET\",\"rel\":\"steps\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/steps\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.module.step\"},{\"method\":\"GET\",\"rel\":\"submodules\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule/submodules\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule/submodules\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.microanalytic.submodule\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule\",\"type\":\"application/vnd.sas.microanalytic.module\",\"responseType\":\"application/vnd.sas.microanalytic.module\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/microanalyticScore/modules/sasctl_testmodule\",\"uri\":\"/microanalyticScore/modules/sasctl_testmodule\"}],\"version\":2,\"createdBy\":\"USERNAME\",\"creationTimeStamp\":\"2020-01-21T23:58:44.404Z\",\"modifiedBy\":\"USERNAME\",\"modifiedTimeStamp\":\"2020-01-21T23:58:44.404Z\",\"id\":\"sasctl_testmodule\",\"name\":\"myfunction\",\"revision\":0,\"scope\":\"public\",\"language\":\"python\",\"stepIds\":[\"myfunction\",\"myfunction2\"],\"warnings\":[]}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.microanalytic.module+json;charset=UTF-8"
          ],
          "ETag": [
            "\"k5ojhsc4\""
          ],
          "Last-Modified": [
            "Tue, 21 Jan 2020 23:58:44 GMT"
          ],
          "Location": [
            "/microanalyticScore/modules/sasctl_testmodule"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_testmodule"
      }
    },
[...]
    {
      "recorded_at": "2020-01-22T00:18:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/microanalyticScore/modules/sasctl_testmodule"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errorCode\":0,\"message\":\"The module \\\"sasctl_testmodule\\\" was not found.\",\"details\":[\"traceId: f4eb66c60addf857\",\"path: /microanalyticScore/modules/sasctl_testmodule\"],\"links\":[],\"version\":2,\"httpStatusCode\":404}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.error+json; version=2;charset=UTF-8"
          ],
          "SAS-Service-Response-Flag": [
            "true"
          ]
        },
        "status": {
          "code": 404,
          "message": ""
        },
        "url": "https://hostname.com/microanalyticScore/modules/sasctl_testmodule"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}