{
  "http_interactions": [
    {
      "recorded_at": "2020-01-23T20:57:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"expires_in\":35999,\"scope\":\"DataBuilders ApplicationAdministrators qasDataAdmin qasFQAAnalyst SASScoreUsers qasAPAAnalyst qasInfoConsumer clients.read clients.secret uaa.resource openid uaa.admin clients.admin EsriUsers scim.read SASAdministrators qasPQAAnalyst clients.write scim.write qasAppAdmin CASHostAccountRequired\",\"jti\":\"1e7e43e030e141279d3c6161ed1d2d68\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-23T20:57:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"sasctl_test_mas\", \"destinationType\": \"microAnalyticService\", \"description\": null, \"masUri\": \"localhost\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelPublish/destinations"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-23T20:57:37.036Z\",\"modifiedTimeStamp\":\"2020-01-23T20:57:37.036Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"bd644806-a05c-498d-a3d3-4af295762091\",\"links\":[{\"method\":\"GET\",\"rel\":\"up\",\"href\":\"/modelPublish/destinations\",\"uri\":\"/modelPublish/destinations\",\"type\":\"application/vnd.sas.collection\"},{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelPublish/destinations/sasctl_test_mas\",\"uri\":\"/modelPublish/destinations/sasctl_test_mas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/modelPublish/destinations/sasctl_test_mas\",\"uri\":\"/modelPublish/destinations/sasctl_test_mas\",\"type\":\"application/vnd.sas.models.publishing.destination\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelPublish/destinations/sasctl_test_mas\",\"uri\":\"/modelPublish/destinations/sasctl_test_mas\"}],\"version\":1,\"name\":\"sasctl_test_mas\",\"destinationType\":\"microAnalyticService\",\"masUri\":\"localhost\"}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.models.publishing.destination+json;charset=UTF-8"
          ],
          "Location": [
            "/modelPublish/destinations/sasctl_test_mas"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/modelPublish/destinations"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}