{
  "http_interactions": [
    {
      "recorded_at": "2020-01-18T21:27:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk0MTg4NTIsImlhdCI6MTU3OTM4Mjg1MiwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJjOWJjMjQ2YTNjZGY0Y2Q2YWY0ODMzYWY3M2EzYTViYSIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1NzkzODI4NTE5ODQsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTM4Mjg1MiwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.LUJjY3dHETehK6KKmljSy3hqmo7hqTAvr6IjBB_EclLc7nQce3elYOMjuFAFE8GnxD7l3K8VwyjKd9d1WPfNJogF-NxS98-Enj2gGmTzIAQTuNOZUS0k9A-Vr8lBzwmOY7eNccAmW2d4Pl-sD3WqaesGrWupUqUwtx7l4NhKA-PzaI5cqmlrPwoXltH3lRAw4t_2nexKnkQf-q6SqYTN0RwVYsPrGFuoTqz0Wfo2jxZkEm9uA-blakk-JxxfSFy5ro6-9rMIzrcxFf6dADmg1RJvcw33lJAF6dTG59IqEXy7aYV_obE4CzXaNPwWq_n9Xxbd7MvV-zea5_1W9P3vfw\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"c9bc246a3cdf4cd6af4833af73a3a5ba\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-18T21:27:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--6162636465666768696a6b6c6d6e6f70\r\nContent-Disposition: form-data; name=\"dummy_file\"; filename=\"dummy_file\"\r\n\r\nSome test file content.\r\n--6162636465666768696a6b6c6d6e6f70--\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=6162636465666768696a6b6c6d6e6f70"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/files/files#multipartUpload"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStamp\":\"2020-01-18T21:27:32.342Z\",\"modifiedTimeStamp\":\"2020-01-18T21:27:32.342Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd/content\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd/content\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd/copy\",\"uri\":\"/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"dummy_file\",\"size\":23,\"version\":3}"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.sas.file+json; version=1;charset=UTF-8"
          ],
          "ETag": [
            "\"k5k3rsae\""
          ],
          "Last-Modified": [
            "Sat, 18 Jan 2020 21:27:32 GMT"
          ],
          "Location": [
            "/files/files/190ad438-8d9f-49ec-a315-e6c01bbd61fd"
          ]
        },
        "status": {
          "code": 201,
          "message": ""
        },
        "url": "https://hostname.com/files/files#multipartUpload"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}