{
  "http_interactions": [
    {
      "recorded_at": "2020-01-20T19:46:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIwODU0ZGEyMC1jZGVlLTRkZWEtOGRlNC04YTZhMDc2OTg0MDciLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE1Nzk1ODU1NjEsImlhdCI6MTU3OTU0OTU2MSwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJzYXNkZW1vQG5vbmUuc2FzLmNvbSIsInppZCI6InVhYSIsIm9yaWdpbiI6ImxkYXAiLCJqdGkiOiJjZGI5YTZhMGYyZmE0YjBlOWIwNTU0NWJjNThlZDhiNiIsInByZXZpb3VzX2xvZ29uX3RpbWUiOjE1Nzk1NDk1NTg3MTMsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiY2xpZW50X2lkIjoic2FzLmVjIiwiY2lkIjoic2FzLmVjIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIiwidXNlcl9uYW1lIjoic2FzZGVtbyIsInJldl9zaWciOiI5ZjAwNjhmYSIsImF1dGhfdGltZSI6MTU3OTU0OTU2MSwidXNlcl9pZCI6IjA4NTRkYTIwLWNkZWUtNGRlYS04ZGU0LThhNmEwNzY5ODQwNyJ9.l-HwYDq-2j0tffCSn76rzhkOiTLzFJyXmqATxXo03H_QLxm0Qz6bzBW7qceH2OiFWjifP2dq38OLoBY4ScU4gQ_VpEHYPOKBirPrZYpu_ImVWyivC7gIoP3jZ522SUP43PVIdoWNP7LJa26pPXkMCfsN1I63OXusU6q9qe1hOz85CM3YpDDm9s-d3bvNF00kfnbY7Ppvl1OYxqrGQHKisR1_dcQEmbbNMs7MuQbX32XSFrQFKs65XXqITPhAASMrjp7O4ubR5tIHrLspy4EPpN0hyxANyPWQNErCMLDPZ-FjXshMANUcA5-_ye4UwsgRFdRSLtDyqhARTEaXY88itw\",\"expires_in\":35999,\"scope\":\"clients.read clients.secret DataBuilders uaa.resource openid ApplicationAdministrators uaa.admin clients.admin EsriUsers scim.read SASScoreUsers SASAdministrators clients.write scim.write\",\"jti\":\"cdb9a6a0f2fa4b0e9b05545bc58ed8b6\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2020-01-20T19:46:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models?start=0&limit=20\",\"uri\":\"/modelRepository/models?start=0&limit=20\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.summary\"},{\"method\":\"POST\",\"rel\":\"createModel\",\"href\":\"/modelRepository/models\",\"uri\":\"/modelRepository/models\",\"type\":\"application/vnd.sas.models.model\",\"responseType\":\"application/vnd.sas.models.model\"},{\"method\":\"GET\",\"rel\":\"next\",\"href\":\"/modelRepository/models?start=20&limit=20\",\"uri\":\"/modelRepository/models?start=20&limit=20\",\"type\":\"application/vnd.sas.collection+json\"}],\"name\":\"models\",\"start\":0,\"count\":26,\"items\":[{\"creationTimeStamp\":\"2019-12-03T19:14:46.330Z\",\"modifiedTimeStamp\":\"2019-12-03T19:14:49.183Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59\",\"uri\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59\",\"uri\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59\"},{\"method\":\"GET\",\"rel\":\"contents\",\"href\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59/contents\",\"uri\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59/contents\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.model.content.summary\"},{\"method\":\"GET\",\"rel\":\"variables\",\"href\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59/variables\",\"uri\":\"/modelRepository/models/2e42b71f-f529-4067-802c-b0be82fc0a59/variables\",\"type\":\"application/vnd.sas.collection\",\"itemType\":\"application/vnd.sas.models.variable\"}],\"version\":2,\"id\":\"2e42b71f-f529-4067-802c-b0be82fc0a59\",\"name\":\"GB Tune Explain (SAS and Open Source)\",\"projectId\":\"65548ca1-13d7-4f40-88d6-31bea984761b\",\"projectName\":\"Fleet Management Report\",\"projectVersionId\":\"5b9a0455-3b7a-4400-83d5-bdecdcf5165f\",\"projectVersionName\":\"Version 1\",\"projectVersionNum\":\"1.0\",\"indirectFolderId\":\"3d55d356-6b50-4d6a-8c71-49bfa4932286\",\"repositoryId\":\"09948ca7-c4da-4b8a-8032-896929a33bb1\",\"function\":\"classification\",\"algorithm\":\"gradboost\",\"tool\":\"Model Studio\",\"toolVersion\":\"V8.5\",\"scoreCodeType\":\"ds2MultiType\",\"modeler\":\"USERNAME\",\"externalModelId\":\"943e84be-d52f-4001-af60-a487f4a4fe3e\",\"suggestedChampion\":false,\"candidateChampion\":false,\"role\":\"plain\",\"immutable\":false,\"modelVersionName\":\"1.0\",\"retrainable\":false,\"tags\":[],\"globalTags\":[]},{\"creationTimeStamp\":\"2019-12-03T19:12:39.264Z\",\"modifiedTimeStamp\":\"2019-12-04T21:44:46.991Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/modelRepository/models/27a637b3-e55a-4f8e-9307-0a0a0836b4a8\",\"uri\":\"/modelRepository/models/27a637b3-e55a-4f8e-9307-0a0a0836b4a8\",\"type\":\"application/vnd.sas.models.model\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/modelRepository/models/27a637b3-e55a-4f8e-[...]
    {
      "recorded_at": "2020-01-20T19:46:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects?properties=(name,%20SASCTL%20Basic%20Test%20Project)"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"[...]
    {
      "recorded_at": "2020-01-20T19:46:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/modelRepository/projects/44e01fba-a50c-4226-92c9-2d1d212f53ca"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"creationTimeStam[...]
    {
      "recorded_at": "2020-01-20T19:46:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Basic Model\", \"projectId\": \"44e01fba-a50c-4226-92c9-2d1d212f53ca\", \"modeler\": \"USERNAME\", \"description\": null, \"function\": null, \"algorithm\": null, \"tool\": null, \"champion\": null, \"properties\": [], \"scoreCodeType\": null, \"trainTable\": null, \"classificationEventProbabilityVariableName\": null, \"classificationTargetEventValue\": null, \"location\": null, \"targetVariable\": null, \"retrainable\": null, \"immutable\": null, \"inputVariables\": [], \"outputVariables\": [], \"version\": \"2\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ],
          "Content-Type": [
            "application/vnd.sas.models.model+json"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/modelRepository/models"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"links\":[],\"name\":\"models\",\"start\":0,\"count\":1,\"items\":[{\"creatio[...]
[...]
