{
  "http_interactions": [
    {
      "recorded_at": "2022-09-16T14:44:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&username=USERNAME&password=*****"
        },
        "headers": {
          "Authorization": [
            "Basic [redacted]"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://hostname.com/SASLogon/oauth/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"[redacted]\",\"token_type\":\"bearer\",\"id_token\":\"eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vbG9jYWxob3N0L1NBU0xvZ29uL3Rva2VuX2tleXMiLCJraWQiOiJsZWdhY3ktdG9rZW4ta2V5IiwidHlwIjoiSldUIn0.eyJzdWIiOiIxNzI1ODcwYS0zMjM1LTRlNDktYjAyMy1iOTM4MDVhNzMwODUiLCJhdWQiOlsic2FzLmVjIl0sImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3QvU0FTTG9nb24vb2F1dGgvdG9rZW4iLCJleHAiOjE2NjMzNTM4OTAsImlhdCI6MTY2MzMzOTQ5MCwiYW1yIjpbImV4dCIsInB3ZCJdLCJhenAiOiJzYXMuZWMiLCJzY29wZSI6WyJvcGVuaWQiXSwiZW1haWwiOiJlZG1kZXZAdXNlci5mcm9tLmxkYXAuY2YiLCJ6aWQiOiJ1YWEiLCJvcmlnaW4iOiJsZGFwIiwianRpIjoiNzY3ZWZlYjA5YjJjNDI1Njg0NzU3MmFkZDMzNWQxMjEiLCJwcmV2aW91c19sb2dvbl90aW1lIjoxNjYzMzM5NDkwMDYzLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImNsaWVudF9pZCI6InNhcy5lYyIsImNpZCI6InNhcy5lYyIsImdyYW50X3R5cGUiOiJwYXNzd29yZCIsInVzZXJfbmFtZSI6ImVkbWRldiIsInJldl9zaWciOiJkMWRhNDY1OCIsImF1dGhfdGltZSI6MTY2MzMzOTQ5MCwidXNlcl9pZCI6IjE3MjU4NzBhLTMyMzUtNGU0OS1iMDIzLWI5MzgwNWE3MzA4NSJ9.OHWV5Iw81ebFgEH-pIxO1fPhVxYvFBKlisJz3jX3F2ynXmD7_gyhZXKSN7Ku803C2yDfX2tZmiJ0_FP4ewMreEWqktEvAdQ2rProrWh7pDhUfHIrAay0mXvjok_Dh-jbApBwicSW8gJDT9fGncJfiFlQub5uOTKIAwOIdqPrFoCfL9t-rZ70h-K7kSf8M1rh_upUcgJKKKPdr8Rx17qdJd4za1xcEoOFW-OCTnqk1Hacx0_mzuR35S4ygoN5NYSjYoUQeK6DiiCNbOnRe8tTHUXCRruyV1kgp9Ryxu3yLL_tgvhqUJC1sk6N0sL57VCOHAL2ptZAGQgJ796CR0cxyg\",\"expires_in\":14399,\"scope\":\"ViyaSASAdmins FSDev clients.read clients.secret uaa.resource decqe openid uaa.admin clients.admin scim.read unix_r&d SASAdministrators openstackusers clients.write lanpanfilter Postgres_azure_Access scim.write\",\"jti\":\"767efeb09b2c4256847572add335d121\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": ""
        },
        "url": "https://hostname.com/SASLogon/oauth/token"
      }
    },
    {
      "recorded_at": "2022-09-16T14:44:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files?filter=eq(name,%20%22dummy_file%22)"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10\",\"uri\":\"/files/files?filter=eq(name,%20%22dummy_file%22)&sortBy=name&start=0&limit=10\",\"type\":\"application/vnd.sas.collection\"}],\"name\":\"files\",\"accept\":\"application/vnd.sas.file\",\"start\":0,\"count\":2,\"items\":[{\"creationTimeStamp\":\"2022-09-16T14:44:44.861Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:44.861Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"5f495536-15b9-4e4a-900f-93259945e273\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.file\"},{\"method\":\"GET\",\"rel\":\"alternate\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.summary\"},{\"method\":\"PATCH\",\"rel\":\"patch\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"PUT\",\"rel\":\"update\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"type\":\"application/vnd.sas.file\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"DELETE\",\"rel\":\"delete\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273\"},{\"method\":\"GET\",\"rel\":\"content\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"type\":\"text/plain\"},{\"method\":\"PUT\",\"rel\":\"updateContent\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/content\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"copyFile\",\"href\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/copy\",\"uri\":\"/files/files/5f495536-15b9-4e4a-900f-93259945e273/copy\",\"responseType\":\"application/vnd.sas.file\"},{\"method\":\"POST\",\"rel\":\"create\",\"href\":\"/files/files\",\"uri\":\"/files/files\",\"type\":\"*/*\",\"responseType\":\"application/vnd.sas.file\"}],\"name\":\"dummy_file\",\"size\":23,\"searchable\":true,\"fileStatus\":\"unlocked\",\"fileVersion\":0,\"version\":4,\"virusDetected\":false,\"urlDetected\":false,\"quarantine\":false},{\"creationTimeStamp\":\"2022-09-16T14:44:50.156Z\",\"modifiedTimeStamp\":\"2022-09-16T14:44:50.156Z\",\"createdBy\":\"USERNAME\",\"modifiedBy\":\"USERNAME\",\"id\":\"42e76ec8-fcbd-4d9c-92e6-62d7088f6c00\",\"properties\":{},\"contentType\":\"text/plain\",\"encoding\":\"UTF-8\",\"links\":[{\"method\":\"GET\",\"rel\":\"self\",\"href\":\"/files/files/42e76ec8-fcbd-4d9c-92e6-62d7088f6c00\",\"uri\":\"/files/files/42e76ec8-fcbd-4d9c-92e6-62d7088f6c00\",\"type\":\"application/vnd.sas.file\"},{\"[...]
    {
      "recorded_at": "2022-09-16T14:44:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer [redacted]"
          ]
        },
        "method": "GET",
        "uri": "https://hostname.com/files/files/5f495536-15b9-4e4a-900f-93259945e273"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"creationTimeStamp\":\"2022-09-16[...]
